In [1]:
## run 1
import glob
import numpy as np
import pandas as pd
import os

pd.options.mode.chained_assignment = None

orders = pd.DataFrame()
sku_data = pd.DataFrame()
for i in os.listdir('Settlement Project/JD/JD/seller centre'):
    if 'sku_data' in i:
        true_col = ['OrderId', 'Sku Id', 'Pop Sku Id', 'Quantity', 'Pay Type', 'BookTime', 'Total Price', 'Installment Fee', 'Freight', 
                    'Order State', 'Customer Name', 'Remark', 'Delivery Time', 'Order Complete Time', 'Province', 'City', 'District', 
                    'Address', 'Phone', 'Delivery Type', 'CarrierCode', 'Express company', 'Express No', 'Promotion Amount', 'Coupon Amount', 
                    'JD Point', 'PaySubtotal', 'Tax and Import Fee', 'Self Delivery Id', 'SKU Number', 'SKU Name', 'SKU qtty ', 'EPI Price', 
                    'SKU Tax and Import Fee', 'Source']
        print(i)
        temp = pd.read_excel('Settlement Project\JD\JD/seller centre/' + str(i))
        temp['Source'] = i
        if temp.columns.to_list() == true_col :
            print('Column sama')
        else:
            print('Column beda')
            print([x for x in true_col if x not in temp.columns.to_list()])
            print([x for x in temp.columns.to_list() if x not in true_col])
        if 'OrderId' in sku_data.columns:
            temp=temp[~temp['OrderId'].isin(sku_data['OrderId'].unique())]
        sku_data = sku_data.append(temp, ignore_index = True, sort = False)
    else :
        true_col = ['OrderId', 'Sku Id', 'Pop Sku Id', 'Quantity', 'Pay Type', 'PayTime', 'BookTime', 'Total Price', 'Installment Fee', 
                'Freight', 'Order State', 'Customer Name', 'Remark', 'Delivery Time', 'Ship Time', 'Order Complete Time', 'Cancel Time', 
                'Cancel By', 'Type of Exchange Order', 'Original OrderID', 'Province', 'City', 'District', 'Address', 'Phone', 
                'Delivery Type', 'Email', 'CarrierCode', 'Zip Code', 'Express company', 'Express No', 'Promotion Amount', 'Coupon Amount', 
                'PaySubtotal', 'Tax and Import Fee', 'Self Delivery Id', 'ECLP Order', 'Printed', 'Source']
        print(i)
        temp = pd.read_excel('Settlement Project\JD\JD/seller centre/' + str(i))
        temp['Source'] = i
        if temp.columns.to_list() == true_col :
            print('Column sama')
        else:
            print('Column beda')
            print([x for x in true_col if x not in temp.columns.to_list()])
            print([x for x in temp.columns.to_list() if x not in true_col])
        if 'OrderId' in orders.columns:
            temp=temp[~temp['OrderId'].isin(orders['OrderId'].unique())]
        orders = orders.append(temp, ignore_index = True, sort = False)

44501_order_data-202101.xls
Column sama
44501_order_data-202102.xls
Column sama
44501_order_data-202103.xls
Column sama
44501_order_data-202104.xls
Column sama
44501_order_data-202105.xls
Column sama
44501_order_data-202106.xls
Column sama
44501_order_data-202107.xls
Column sama
44501_order_data-202108 1 sd 21.xls
Column sama
44501_order_data-202108 22 sd 31.xls
Column sama
44501_order_data-202110.xls
Column beda
[]
['Pre-order', 'delivery date']
44501_order_data-202111.xls
Column beda
[]
['JD Point', 'Pre-order', 'delivery date']
44501_order_data-202112.xls
Column beda
[]
['JD Point', 'Pre-order', 'delivery date']
44501_order_data202109.xls
Column sama
44501_order_data202201.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202202.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202203.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202204 part 2.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202204.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202205.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202206.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202207.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202209.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202210.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202211.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202212.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202301.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data202302.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_order_data2208.xls
Column beda
[]
['ID Type', 'ID Number', 'JD Point', 'Pre-order', 'delivery date']
44501_sku_data20206.xls
Column sama
44501_sku_data202109.xls
Column beda
['JD Point']
[]
44501_sku_data202110.xls
Column beda
['JD Point']
[]
44501_sku_data202112.xls
Column sama
44501_sku_data202201.xls
Column sama
44501_sku_data202202.xls
Column sama
44501_sku_data202203.xls
Column sama
44501_sku_data202204 part 2.xls
Column sama
44501_sku_data202204.xls
Column sama
44501_sku_data202205.xls
Column sama
44501_sku_data202206.xls
Column sama
44501_sku_data202207.xls
Column sama
44501_sku_data202209.xls
Column sama
44501_sku_data202210.xls
Column sama
44501_sku_data202211.xls
Column sama
44501_sku_data202212.xls
Column sama
44501_sku_data202301.xls
Column sama
44501_sku_data202302.xls
Column sama
44501_sku_data2208.xls
Column sama
44501_sku_data_202101.xls
Column beda
['JD Point']
[]
44501_sku_data_202102.xls
Column beda
['JD Point']
[]
44501_sku_data_202103.xls
Column beda
['JD Point']
[]
44501_sku_data_202104.xls
Column beda
['JD Point']
[]
44501_sku_data_202105.xls
Column beda
['JD Point']
[]
44501_sku_data_202106.xls
Column beda
['JD Point']
[]
44501_sku_data_202107.xls
Column beda
['JD Point']
[]
44501_sku_data_202108.xls
Column beda
['JD Point']
[]
44501_sku_data_202111.xls
Column sama

In [ ]:
sku_data #132906  #132906 
# orders #106124 #106124

In [33]:
## run 2
orders['OrderId'] = orders['OrderId'].astype(str)
orders['Sku Id'] = orders['Sku Id'].astype(str)
sku_data['OrderId'] = sku_data['OrderId'].astype(str)
sku_data['Sku Id'] = sku_data['Sku Id'].astype(str)

selcen = sku_data.merge(orders[['OrderId', 'ECLP Order']].drop_duplicates(['OrderId']), how = 'left', on = ['OrderId'])

In [3]:
## display only
pd.options.display.max_columns = 150

In [34]:
## run 3
selcen = selcen.rename(columns = {'Pop Sku Id' : 'SKU', 'Quantity' : 'Qty. Invoiced'})

selcen['Year'] = pd.to_datetime(selcen['BookTime']).dt.year.astype(int)
selcen['Month'] = pd.to_datetime(selcen['BookTime']).dt.month_name()

In [35]:
## cek bulan realisai
selcen[['Year', 'Month']].drop_duplicates()

        Year      Month
0       2022       June
4551    2021  September
16066   2021    October
28055   2021   December
37520   2022    January
44039   2022   February
54641   2022      March
62884   2022      April
67832   2022        May
72182   2022       July
76806   2022  September
82277   2022    October
84738   2022   November
89198   2022   December
91036   2023    January
91432   2023   February
91434   2022     August
98180   2021    January
105029  2021   February
115382  2021      March
120733  2021      April
127000  2021        May
130414  2021       June
139701  2021       July
146495  2021     August
158903  2021   November

In [36]:
### check duplicate
selcen[(selcen[['OrderId', 'SKU', 'Qty. Invoiced', 'BookTime']].duplicated(keep = False)) & (~(selcen[['OrderId', 'SKU', 'Qty. Invoiced', 'BookTime', 'Source']].duplicated(keep = False)))]

Empty DataFrame
Columns: [OrderId, Sku Id, SKU, Qty. Invoiced, Pay Type, BookTime, Total Price, Installment Fee, Freight, Order State, Customer Name, Remark, Delivery Time, Order Complete Time, Province, City, District, Address, Phone, Delivery Type, CarrierCode, Express company, Express No, Promotion Amount, Coupon Amount, JD Point, PaySubtotal, Tax and Import Fee, Self Delivery Id, SKU Number, SKU Name, SKU qtty , EPI Price, SKU Tax and Import Fee, Source, ECLP Order, Year, Month]
Index: []

In [48]:
### run 4
selcen_new = selcen[selcen['Year'] > 2021]

In [39]:
cek_dups = selcen_new[(selcen_new[['OrderId', 'SKU']].duplicated(keep = False)) & (selcen_new['SKU'].notnull())].groupby('SKU')['SKU Name'].unique().reset_index()
( cek_dups.join( pd.DataFrame(cek_dups['SKU Name'].to_list())
                 .add_prefix('array_') )
        .drop('SKU Name', axis = 1) ).values

array([['(B)2104148164',
        '(Free Gift) - Tropicana Slim Mint Cocoa 4 Sachet'],
       ['(B)2106323165',
        '(Free Gift) Tropicana Slim Saus Telur Asin 3 Sachet']],
      dtype=object)

In [40]:
## run 5
temp2 = selcen_new.copy()

import time
import pandas as pd
import numpy as np
import math

import smtplib 
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from smtplib import SMTP
import smtplib
import sys
import requests
import os
    
data_SKU = pd.read_excel(r"D:\Masterdata\SKU_File\data_SKU.xlsx")

s = requests.Session()
s.get("https://tatanama.pythonanywhere.com")
s.post("https://tatanama.pythonanywhere.com", data = {'username' : 'ecommerce', 'password' : 'ecommerce'})
r = s.get("https://tatanama.pythonanywhere.com/download")

with open(r"D:\Masterdata\SKU_File\Master tatanama.xlsx", 'wb') as output:
    output.write(r.content)

if os.path.isfile(r"D:\Masterdata\SKU_File\Master tatanama.xlsx") :    
    SKU_append = pd.read_excel(r"D:\Masterdata\SKU_File\Master tatanama.xlsx")
    SKU_append.columns = [x.replace('_', ' ') for x in SKU_append.columns]
    data_SKU = data_SKU[~data_SKU['SKU'].astype(str).isin(SKU_append['SKU'].astype(str))]
    data_SKU = data_SKU.append(SKU_append, ignore_index = True, sort = False)

to_excel = data_SKU.to_excel(r"D:\Masterdata\SKU_File\data_SKU.xlsx", index = False)
data_SKU#=SKU_append.copy()

,SKU,Brand,Nama Produk,Price List NFI,Harga Display,Harga Cost,Harga Organik,Kode,Alias SKU 1,Alias Nama 1,Alias SKU 2,Alias Nama 2,Alias SKU 3,Alias Nama 3,Alias SKU 4,Alias Nama 4,Produk 1,SKU Produk 1,PCS Produk 1,Price List NFI 1,Subtotal Produk 1,Harga Display 1,Harga Cost 1,Harga Organik 1,Produk 2,SKU Produk 2,PCS Produk 2,Price List NFI 2,Subtotal Produk 2,Harga Display 2,Harga Cost 2,Harga Organik 2,Produk 3,SKU Produk 3,PCS Produk 3,Price List NFI 3,Subtotal Produk 3,Harga Display 3,Harga Cost 3,Harga Organik 3,Produk 4,SKU Produk 4,PCS Produk 4,Price List NFI 4,Subtotal Produk 4,Harga Display 4,Harga Cost 4,Harga Organik 4,Produk 5,SKU Produk 5,PCS Produk 5,Price List NFI 5,Subtotal Produk 5,Harga Display 5,Harga Cost 5,Harga Organik 5,Produk 6,SKU Produk 6,PCS Produk 6,Price List NFI 6,Subtotal Produk 6,Harga Display 6,Harga Cost 6,Harga Organik 6,Produk 7,SKU Produk 7,PCS Produk 7,Price List NFI 7,Subtotal Produk 7,Harga Display 7,Harga Cost 7,Harga Organik 7,SKU Generate,Sub Brand,Parent Item,SKU Generate [0],Parent SKU,MP Tokopedia,MP Lazada,MP Blibli,MP Jdid,MP Bukalapak,MP Nutrimart,MP Eksklusif,MP Shopee,Alias Nama 5,Alias SKU 5,Alias Nama 6,Alias SKU 6,Alias Nama 7,Alias SKU 7,ID,Active,Nama Oracle,Volume,Berat,Berat 1,Volume 1,Berat 2,Volume 2,Berat 3,Volume 3,Berat 4,Volume 4,Berat 5,Volume 5,Berat 6,Volume 6,Berat 7,Volume 7,Alias Nama 8,Alias SKU 8
0,1100525104P1B3,Bundle,Nutrisari Premium Ala Jus Jambu Free Nutrisari...,9900.0,11900,9900.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NutriSari Premium ala Jus Jambu (4 sch),1100525104,1.0,9900.0,9900.0,11900.0,9900.0,0.0,(50%)NutriSari Premium ala Jus Jambu,(50%)1100525104,3.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1100525104P1E3(3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1101558017P3,Bundle,Buy 2 Get 1 FREE NutriSari Jeruk Nipis 10 Sachet,41250.0,46500,41250.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nutrisari Jeruk Nipis (10 sch),1101558017,3.0,13750.0,41250.0,46500.0,30690.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1101558017P3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1101569451B3,Bundle,Nutrisari Jeruk Peras x10sachet (Free Nutrisar...,10230.0,15500,10230.0,0.0,NaN,7.50E+11,Nutrisari Jeruk Peras 10 Sachet Free Nutrisari...,NaN,NaN,NaN,NaN,NaN,NaN,NutriSari Jeruk Peras (10 Sch),1101569451,1.0,10230.0,10230.0,15500.0,10230.0,0.0,(50%)NutriSari Premium ala Jus Jambu,(50%)1100525104,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1101569451P1E3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1101572016P2,Bundle,Nutrisari Jeruk Jeju isi 10s x2,28600.0,34400,28600.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nutrisari Jeruk Jeju (10 sch) Gusset,1101572016,2.0,14300.0,28600.0,34400.0,28600.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1101572016P2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1101572451P2G58,Bundle,NS JERUK JEJU 10S x2 Free Fridge Magnet Jeju,20460.0,36000,24535.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nutrisari Jeruk Jeju (10 sch) Renceng,1101572451,2.0,10230.0,20460.0,31000.0,20460.0,0.0,(FREE) Fridge Magnet Nutrisari Jeju Orange,(B)71210075,1.0,0.0,0.0,5000.0,4075.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1101572451P2G58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3744,(G)71310003,Gimmick,Wajan Granit Pink Merk KEEO - Jan 2023,69900.0,139000,69900.0,NaN,G278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3414.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3745,(G)71310004,Gimmick,Lunch Box Ecentio - Jan 2023,32000.0,90000,32000.0,NaN,G279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3746,(G)71310005,Gimmick,Toples Putih Kedap Udara 1000 ml - Jan 2023,14600.0,19000,14600.0,NaN,G280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3416.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3747,(G)71310006,Gimmick,Tumbler Korea Warna Warni - Jan 2023,26000.0,26000,26000.0,NaN,G281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3417.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3748,(J)71110133,NS,Paket Valentine NutriSari Squeezed Orange - Fe...,46176.0,77600,66176.0,NaN,J24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PAKET NUTRISARI,Paket Valentine NutriSari Squeezed Orange - Fe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3418.0,NaN,Paket Valentine NutriSari Squeezed Orange - Fe...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
##  backup
data_SKU_copy=data_SKU.copy()

In [51]:
## must null (to run 6 and check here again)
temp2[~temp2['SKU'].isin(data_SKU['SKU'])][['OrderId', 'SKU Name', 'SKU']].drop_duplicates('SKU').values

array([], shape=(0, 3), dtype=object)

In [50]:
### run 6 must null
indeks = selcen_new[selcen_new['SKU Name'] == 'Lokalate Kopi Kawista (10Sch) (expired 6-7 bulan)'].index.to_list()
selcen_new['SKU'][indeks] = '(E)1101686036'

selcen_new.loc[selcen_new['SKU'] == '(G)71210225P1','SKU']='(G)71210225'
selcen_new.loc[selcen_new['SKU'] == '2309005300P5','SKU']='2309005305P5'
selcen_new.loc[(selcen_new['SKU Name'] == 'Buy 1 Get 1 Free - HiLo Gold Biscuit Cereal 500g - Susu Tinggi Kalsium Lebih Rendah Lemak')&
               (selcen_new['SKU'].isnull()),'SKU']='2101524180P2'
selcen_new.loc[(selcen_new['SKU Name'] == 'NutriSari Sweet Mango (160 Sch)')&
               (selcen_new['SKU'].isnull()),'SKU']='1101534453P4'
selcen_new.loc[(selcen_new['SKU Name'] == 'Lokalate Kopi Andaliman 8 Sachet (ED Di Bawah 6 Bulan)'),'SKU']='(E)1101694108'
selcen_new.loc[selcen_new['SKU'] == '2T00802024P2','SKU']='2104148024P2'
selcen_new['SKU']=selcen_new['SKU'].astype(str)## timo feb 2023

temp2 = selcen_new.copy()

temp2[~temp2['SKU'].isin(data_SKU['SKU'])][['OrderId', 'SKU Name', 'SKU']].drop_duplicates('SKU').values

array([], shape=(0, 3), dtype=object)

In [52]:
## run 7
for i in ['Total Price', 'Freight', 'Promotion Amount', 'Coupon Amount', 'PaySubtotal']:
    selcen_new[i] = selcen_new[i].fillna(0) * selcen_new['EPI Price']/selcen_new.groupby(['OrderId'])['EPI Price'].transform('sum')

In [53]:
## run 8
temp2 = selcen_new.copy()

temp2 = temp2.rename(columns = {'SKU Name' : 'Product Name'})

data_SKU['Price List NFI'] = data_SKU['Price List NFI'].astype(float).astype('int64')

data_SKU['Real SKU'] = data_SKU['SKU'].astype(str).str.replace('(S)', '', regex = False)
data_SKU['Real Nama Produk'] = data_SKU['Nama Produk'].astype(str)

list_col = ['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand']

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(temp2.index)
for i in list_col:
    temp2[i] = temp_merge[str(i)]
    
list_col = ['SKU'] + data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()
temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['SKU']), how = 'left', left_on = 'Real SKU', right_on = 'SKU').set_index(temp2.index)
list_pcs = [x for x in temp_merge.columns if 'PCS' in x]
for i in list_pcs:
    temp_merge[i] = temp_merge[i] * temp_merge['Qty. Invoiced']

list_col = data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()    
for i in list_col:
    temp2[i] = temp_merge[str(i)]
    
list_col = ['Real SKU', 'Price List NFI', 'Harga Cost']

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(temp2.index)
for i in list_col:
    if i == 'Real SKU':
        temp2[i] = temp_merge[str(i) + '_y']
    else :
        temp2[i] = temp_merge[str(i)]
    
temp2['Price List NFI'] = pd.to_numeric(temp2['Price List NFI']).astype(int)
temp2['Harga Cost'] = pd.to_numeric(temp2['Harga Cost']).astype(int)
temp2['Qty. Invoiced'] = pd.to_numeric(temp2['Qty. Invoiced']).astype(int)

temp2['Total Net'] = temp2['Price List NFI'] * temp2['Qty. Invoiced']
temp2['Total Harga Cost'] = temp2['Harga Cost'] * temp2['Qty. Invoiced']
temp2['Total Net Before PPN'] = temp2['Total Net']/1.1

print("Unbundling")
data_bundle1 = temp2[~temp2['Produk 1'].isnull()]
data_bundle1['Bundle Name'] = data_bundle1['Product Name']
data_bundle1['Product Name'] = data_bundle1['Produk 1']
data_bundle1['SKU'] = data_bundle1['SKU Produk 1']
data_bundle1['Qty. Invoiced'] = data_bundle1['PCS Produk 1']
data_bundle1['Price List NFI'] = data_bundle1['Price List NFI 1']
data_bundle1['Total Net'] = data_bundle1['Price List NFI 1']
data_bundle1['Bundle Flag'] = np.nan

data_bundle2 = temp2[~temp2['Produk 2'].isnull()]
data_bundle2['Bundle Name'] = data_bundle2['Product Name']
data_bundle2['Product Name'] = data_bundle2['Produk 2']
data_bundle2['SKU'] = data_bundle2['SKU Produk 2']
data_bundle2['Qty. Invoiced'] = data_bundle2['PCS Produk 2']
data_bundle2['Price List NFI'] = data_bundle2['Price List NFI 2']
data_bundle2['Total Net'] = data_bundle2['Price List NFI 2'] 
data_bundle2['Bundle Flag'] = np.nan

data_bundle3 = temp2[~temp2['Produk 3'].isnull()]
data_bundle3['Bundle Name'] = data_bundle3['Product Name']
data_bundle3['Product Name'] = data_bundle3['Produk 3']
data_bundle3['SKU'] = data_bundle3['SKU Produk 3']
data_bundle3['Qty. Invoiced'] = data_bundle3['PCS Produk 3']
data_bundle3['Price List NFI'] = data_bundle3['Price List NFI 3']
data_bundle3['Total Net'] = data_bundle3['Price List NFI 3'] 
data_bundle3['Bundle Flag'] = np.nan

data_bundle4 = temp2[~temp2['Produk 4'].isnull()]
data_bundle4['Bundle Name'] = data_bundle4['Product Name']
data_bundle4['Product Name'] = data_bundle4['Produk 4']
data_bundle4['SKU'] = data_bundle4['SKU Produk 4']
data_bundle4['Qty. Invoiced'] = data_bundle4['PCS Produk 4']
data_bundle4['Price List NFI'] = data_bundle4['Price List NFI 4']
data_bundle4['Total Net'] = data_bundle4['Price List NFI 4'] 
data_bundle4['Bundle Flag'] = np.nan

data_bundle5 = temp2[~temp2['Produk 5'].isnull()]
data_bundle5['Bundle Name'] = data_bundle5['Product Name']
data_bundle5['Product Name'] = data_bundle5['Produk 5']
data_bundle5['SKU'] = data_bundle5['SKU Produk 5']
data_bundle5['Qty. Invoiced'] = data_bundle5['PCS Produk 5']
data_bundle5['Price List NFI'] = data_bundle5['Price List NFI 5']
data_bundle5['Total Net'] = data_bundle5['Price List NFI 5']
data_bundle5['Bundle Flag'] = np.nan

data_bundle6 = temp2[~temp2['Produk 6'].isnull()]
data_bundle6['Bundle Name'] = data_bundle6['Product Name']
data_bundle6['Product Name'] = data_bundle6['Produk 6']
data_bundle6['SKU'] = data_bundle6['SKU Produk 6']
data_bundle6['Qty. Invoiced'] = data_bundle6['PCS Produk 6']
data_bundle6['Price List NFI'] = data_bundle6['Price List NFI 6']
data_bundle6['Total Net'] = data_bundle6['Price List NFI 6']
data_bundle6['Bundle Flag'] = np.nan

data_bundle7 = temp2[~temp2['Produk 7'].isnull()]
data_bundle7['Bundle Name'] = data_bundle7['Product Name']
data_bundle7['Product Name'] = data_bundle7['Produk 7']
data_bundle7['SKU'] = data_bundle7['SKU Produk 7']
data_bundle7['Qty. Invoiced'] = data_bundle7['PCS Produk 7']
data_bundle7['Price List NFI'] = data_bundle7['Price List NFI 7']
data_bundle7['Total Net'] = data_bundle7['Price List NFI 7']
data_bundle7['Bundle Flag'] = np.nan

data_bundle = data_bundle1.append([data_bundle2, data_bundle3, data_bundle4, data_bundle5, data_bundle6, data_bundle7], ignore_index = True, sort = False)
data_bundle['SKU'] = data_bundle['SKU'].astype(str)
data_bundle['SKU'] = data_bundle['SKU'].str.replace('\.0$', '', regex = True)
data_bundle[['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']] = data_bundle.merge(data_SKU[['Real SKU', 'Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU')[['Real SKU_y', 'Nama Produk', 'Brand_y', 'Sub Brand_y', 'Parent Item', 'Parent SKU']]

list_col = ['Real SKU', 'Price List NFI', 'Harga Cost']

data_bundle = data_bundle.drop(['Price List NFI', 'Harga Cost'], axis = 1)

temp_merge = data_bundle.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(data_bundle.index)
for i in list_col:
    if i == 'Real SKU':
        data_bundle[i] = temp_merge[str(i) + '_y']
    else :
        data_bundle[i] = temp_merge[str(i)]

data_bundle['Price List NFI'] = pd.to_numeric(data_bundle['Price List NFI']).astype(int)
data_bundle['Harga Cost'] = pd.to_numeric(data_bundle['Harga Cost']).astype(int)
data_bundle['Qty. Invoiced'] = pd.to_numeric(data_bundle['Qty. Invoiced']).astype(int)

data_bundle['Total Net'] = data_bundle['Price List NFI'] * data_bundle['Qty. Invoiced']
data_bundle['Total Harga Cost'] = data_bundle['Harga Cost'] * data_bundle['Qty. Invoiced']
data_bundle['Total Net Before PPN'] = data_bundle['Total Net']/1.1

for i in ['Total Price', 'Freight', 'Promotion Amount', 'Coupon Amount', 'PaySubtotal', 'EPI Price']:
    data_bundle[i] = data_bundle[i].fillna(0) * data_bundle['Total Net Before PPN']/data_bundle.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

print("Pricing")
temp2 = temp2.append(data_bundle, ignore_index = True, sort = False)

temp2['Price List NFI'] = pd.to_numeric(temp2['Price List NFI']).astype(int)
temp2['Harga Cost'] = pd.to_numeric(temp2['Harga Cost']).astype(int)
temp2['Qty. Invoiced'] = pd.to_numeric(temp2['Qty. Invoiced']).astype(int)

temp2['Total Net'] = temp2['Price List NFI'] * temp2['Qty. Invoiced']
temp2['Total Harga Cost'] = temp2['Harga Cost'] * temp2['Qty. Invoiced']
temp2['Total Net Before PPN'] = temp2['Total Net']/1.11 ### bagi 1.11 28 May 2022

Unbundling
Pricing

In [54]:
## run 9
selcen_sku = temp2.copy()

In [55]:
### run 10
j_conv = pd.read_excel("Settlement Project\Rumus Realisasi.xlsx", sheet_name = 'Paket Brand')
j_conv = j_conv.iloc[:,:5]
j_conv = j_conv.rename(columns = {'SKU' : 'Real SKU', 'SKU.1' : 'SKU Produk'})
j_conv = j_conv[j_conv['Real SKU'].notnull()]
j_conv['SKU Produk'] = j_conv['SKU Produk'].astype(str).str.replace('.0', '',regex = False)

temp_all = selcen_sku.copy()

temp_all['Real SKU'] = temp_all['Real SKU'].astype(str)
j_conv['Real SKU'] = j_conv['Real SKU'].astype(str)

temp_all = temp_all.merge(j_conv, how = 'left', on = 'Real SKU')

paket_j = temp_all[temp_all['SKU Produk'].notnull()]

paket_j['Bundle Name'] = paket_j['Product Name']
paket_j['Product Name'] = paket_j['Name']
paket_j['SKU'] = paket_j['SKU Produk']
paket_j['Qty. Invoiced'] = paket_j['Qty. Invoiced'] * paket_j['Konversi ke UOM'].astype(float)
paket_j['Bundle Flag'] = np.nan

data_SKU['Real SKU'] = data_SKU['SKU'].astype(str)
data_SKU['Real Nama Produk'] = data_SKU['Nama Produk'].astype(str)
if 'Real SKU_y' in paket_j.columns:
    paket_j = paket_j.drop('Real SKU_y', axis = 1)
paket_j['SKU'] = paket_j['SKU'].astype(str)
paket_j[['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU', 'Price List NFI']] = paket_j.merge(data_SKU[['Real SKU', 'Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU', 'Price List NFI']].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(paket_j.index)[['Real SKU_y', 'Nama Produk', 'Brand_y', 'Sub Brand_y', 'Parent Item_y', 'Parent SKU_y', 'Price List NFI_y']]

paket_j['Total Net'] = paket_j['Price List NFI'] * paket_j['Qty. Invoiced']

for i in ['Total Price', 'Freight', 'Promotion Amount', 'Coupon Amount', 'PaySubtotal', 'EPI Price']:
    paket_j[i] = paket_j[i] * paket_j['Total Net']/paket_j.groupby(['OrderId', 'Bundle Name'])['Total Net'].transform('sum')

paket_j = paket_j.drop(['Nama Paket', 'SKU Produk', 'Name', 'Konversi ke UOM'], axis = 1)
selcen_sku = selcen_sku.append(paket_j, ignore_index = True, sort = False)
indeks = selcen_sku[selcen_sku['Product Name'].isin(paket_j['Bundle Name'])].index.to_list()
selcen_sku['Brand'][indeks] = 'Bundle'

In [56]:
### run 11
indeks = selcen_sku[(selcen_sku['Real SKU'].astype(str).str.contains('^\(B\)', regex = True)) &
      (~selcen_sku['Brand'].isin(['Bonus Produk', 'Gimmick']))].index.to_list()

selcen_sku['Brand'][indeks] = 'Bonus Produk'

indeks = selcen_sku[(selcen_sku['Real SKU'].astype(str).str.contains('^\(U\)', regex = True)) &
      (~selcen_sku['Brand'].isin(['Bonus Produk', 'Gimmick']))].index.to_list()

selcen_sku['Brand'][indeks] = 'Bonus Produk'

# Old NFI

In [57]:
### run 12
source = pd.read_csv("D:\settlement\Code\Settlement Project\JD\Runningan JD Jan 2021 - Jan 2022 Real.csv", sep = ';')

source['True datetime'] = pd.to_datetime(source['True datetime'])
source = source[(source['Year'] > 2021) & (source['True datetime']<'2022-02-01')]

selcen_sku['OrderId'] = selcen_sku['OrderId'].astype(str)
source['Order #'] = source['Order #'].astype(str)

selcen_old = selcen_sku[selcen_sku['OrderId'].isin(source['Order #'])]

source['Product Name'] = source['Product Name'].fillna(source['Real Nama Produk'])

selcen_old_merge = selcen_old.merge(source[['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Price List NFI', 'Qty. Invoiced']].drop_duplicates(['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced']), how = 'left', left_on = ['OrderId', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'], right_on = ['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced']) 

selcen_old_null = selcen_old_merge[selcen_old_merge['Price List NFI_y'].isnull()]

selcen_old_null = selcen_old_null.drop(['Order #', 'Price List NFI_y'], axis = 1)
selcen_old_null = selcen_old_null.rename(columns = {'Price List NFI_x' : 'Price List NFI'})

selcen_old_null = selcen_old_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Price List NFI']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name', 'Price List NFI']), how = 'left', left_on = ['OrderId', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(selcen_old_null.index) 
selcen_old_merge['Price List NFI_y'][selcen_old_null.index] = selcen_old_null['Price List NFI_y']

selcen_old_null = selcen_old_merge[selcen_old_merge['Price List NFI_y'].isnull()]

# source2 = source.copy()

# # source2['Real SKU'] = source2['Real SKU'].astype(str).str.replace('2309005305', '2309005300')

# # indeks = source2[source2['Real SKU'] == '(B)2101809250'].index.to_list()
# # source2['Real SKU'][indeks] = '(U)2101809250'

# # indeks = source2[source2['Real SKU'] == 'PH48(3)B35'].index.to_list()
# # source2['Real SKU'][indeks] = '2101941250P4'

# # indeks = source2[source2['Real SKU'] == 'PH39(3)B17'].index.to_list()
# # source2['Real SKU'][indeks] = '2101809250P4'

# selcen_old_null = selcen_old_null.drop(['Order #', 'Price List NFI_y'], axis = 1)
# selcen_old_null = selcen_old_null.rename(columns = {'Price List NFI_x' : 'Price List NFI'})

# selcen_old_null = selcen_old_null.merge(source2[['Order #', 'Real SKU', 'Bundle Name', 'Price List NFI']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', left_on = ['OrderId', 'Real SKU',  'Bundle Name'], right_on = ['Order #', 'Real SKU', 'Bundle Name']).set_index(selcen_old_null.index) 

# selcen_old_merge['Price List NFI_y'][selcen_old_null.index] = selcen_old_null['Price List NFI_y']

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (2,14,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [58]:
selcen_old_null

Empty DataFrame
Columns: [OrderId, Sku Id, SKU, Qty. Invoiced, Pay Type, BookTime, Total Price, Installment Fee, Freight, Order State, Customer Name, Remark, Delivery Time, Order Complete Time, Province, City, District, Address, Phone, Delivery Type, CarrierCode, Express company, Express No, Promotion Amount, Coupon Amount, JD Point, PaySubtotal, Tax and Import Fee, Self Delivery Id, SKU Number, Product Name, SKU qtty , EPI Price, SKU Tax and Import Fee, Source, ECLP Order, Year, Month, Real SKU, Real Nama Produk, Brand, Sub Brand, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Harga Organik 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Harga Organik 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Harga Organik 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Harga Organik 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Harga Organik 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Harga Organik 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Harga Organik 7, Price List NFI_x, Harga Cost, ...]
Index: []

In [59]:
### run 13
selcen_old_merge = selcen_old_merge.drop(['Price List NFI_x', 'Order #'], axis = 1)
selcen_old_merge = selcen_old_merge.rename(columns = {'Price List NFI_y' : 'Price List NFI'})

selcen_old_merge['Price List NFI'] = pd.to_numeric(selcen_old_merge['Price List NFI']).astype(float)
selcen_old_merge['Qty. Invoiced'] = pd.to_numeric(selcen_old_merge['Qty. Invoiced']).astype(float)

selcen_old_merge['Total Net'] = selcen_old_merge['Price List NFI'] * selcen_old_merge['Qty. Invoiced']

selcen_sku = selcen_sku[~selcen_sku['OrderId'].isin(selcen_old_merge['OrderId'])]
selcen_sku = selcen_sku.append(selcen_old_merge, ignore_index = True, sort = False)

selcen_sku['Total Net Before PPN'] = selcen_sku['Total Net']/1.11

# Fulfillment

In [60]:
## run14
wms = pd.DataFrame()
for i in os.listdir('Settlement Project\JD\JD\outbound/'):
    print(i)
    if '$' not in i:
        temp = pd.read_excel('Settlement Project\JD\JD\outbound/' + str(i))
        temp['Source'] = i
        if 'ECLP Order No.' in wms.columns:
            temp=temp[~temp['ECLP Order No.'].isin(wms['ECLP Order No.'].unique())]
        wms = wms.append(temp, ignore_index = True, sort = False)

Order_Detail_Export_2021-01 sd 02.xlsx
Order_Detail_Export_2021-03 sd 04.xlsx
Order_Detail_Export_2021-05.xlsx
Order_Detail_Export_2021-06.xlsx
Order_Detail_Export_2021-07.xlsx
Order_Detail_Export_2021-08.xlsx
Order_Detail_Export_2021-09.xlsx
Order_Detail_Export_2021-10.xlsx
Order_Detail_Export_2021-12.xlsx
Order_Detail_Export_202111.xlsx
Order_Detail_Export_202112.xlsx
Order_Detail_Export_2022-01.xlsx
Order_Detail_Export_2022-02.xlsx
Order_Detail_Export_2022-03.xlsx
Order_Detail_Export_2022-04.xlsx
Order_Detail_Export_2022-05.xlsx
Order_Detail_Export_2022-06.xlsx
Order_Detail_Export_2022-07.xlsx
Order_Detail_Export_2022-08.xlsx
Order_Detail_Export_2022-09.xlsx
Order_Detail_Export_2022-10.xlsx
Order_Detail_Export_2022-11.xlsx
Order_Detail_Export_2022-12.xlsx
Order_Detail_Export_2023-01.xlsx
Order_Detail_Export_2023-02.xlsx

In [61]:
## run 15
jd_merge = selcen_sku.copy()

In [62]:
## run 16
jd_merge['SKU Number'] = jd_merge['SKU Number'].astype(str).str.replace('.0', '', regex = False)

wms['Sales platform order No.'] = wms['Sales platform order No.'].astype(str)
wms['Seller SKU ID'] = wms['Seller SKU ID'].astype(str)

wms = wms.rename(columns = {'Order Status' : 'Outbound Status'})

wms = wms.merge(jd_merge[jd_merge['Bundle Name'].isnull()].groupby(['OrderId', 'SKU Number'])['Real SKU'].first().reset_index(), how = 'left', left_on = ['Sales platform order No.', 'Seller SKU ID'], right_on = ['OrderId', 'SKU Number'])

In [63]:
### run 17
list_col = ['SKU'] + data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()
wms = wms.merge(data_SKU[list_col].drop_duplicates(['SKU']), how = 'left', left_on = 'Real SKU', right_on = 'SKU')
list_pcs = [x for x in wms.columns if 'PCS' in x]
for i in list_pcs:
    wms[i] = wms[i] * wms['Outbound Qty']

print("Unbundling")
data_bundle1 = wms[~wms['Produk 1'].isnull()]
data_bundle1['Real SKU'] = data_bundle1['SKU Produk 1']
data_bundle1['Outbound Qty'] = data_bundle1['PCS Produk 1']

data_bundle2 = wms[~wms['Produk 2'].isnull()]
data_bundle2['Real SKU'] = data_bundle2['SKU Produk 2']
data_bundle2['Outbound Qty'] = data_bundle2['PCS Produk 2']

data_bundle3 = wms[~wms['Produk 3'].isnull()]
data_bundle3['Real SKU'] = data_bundle3['SKU Produk 3']
data_bundle3['Outbound Qty'] = data_bundle3['PCS Produk 3']

data_bundle4 = wms[~wms['Produk 4'].isnull()]
data_bundle4['Real SKU'] = data_bundle4['SKU Produk 4']
data_bundle4['Outbound Qty'] = data_bundle4['PCS Produk 4']

data_bundle5 = wms[~wms['Produk 5'].isnull()]
data_bundle5['Real SKU'] = data_bundle5['SKU Produk 5']
data_bundle5['Outbound Qty'] = data_bundle5['PCS Produk 5']

data_bundle6 = wms[~wms['Produk 6'].isnull()]
data_bundle6['Real SKU'] = data_bundle6['SKU Produk 6']
data_bundle6['Outbound Qty'] = data_bundle6['PCS Produk 6']

data_bundle7 = wms[~wms['Produk 7'].isnull()]
data_bundle7['Real SKU'] = data_bundle7['SKU Produk 7']
data_bundle7['Outbound Qty'] = data_bundle7['PCS Produk 7']

data_bundle = data_bundle1.append([data_bundle2, data_bundle3, data_bundle4, data_bundle5, data_bundle6, data_bundle7], ignore_index = True, sort = False)

Unbundling

In [64]:
## run 18
data_bundle['Bundle Name'] = data_bundle['Product Name']

In [65]:
### run 19
jd_fbj = jd_merge[jd_merge['ECLP Order'] == 'Y']
jd_telkom = jd_merge[jd_merge['ECLP Order'] == 'N']

indeks = jd_telkom[(jd_telkom['Real SKU'].isin(['(B)2309005305P3', '(B)2309005300P3']))].index.to_list()
jd_telkom['Brand'][indeks] = 'Bundle'

bundle_wms = jd_fbj[jd_fbj['Bundle Name'].notnull()]
jd_wms = jd_fbj[jd_fbj['Bundle Name'].isnull()]

jd_wms = jd_wms.merge(wms[['ECLP Order No.', 'Sales platform order No.', 'Seller SKU ID','Real SKU', 'Outbound Status', 'Outbound Qty']].drop_duplicates(['Sales platform order No.', 'Real SKU']), how = 'left', left_on = ['OrderId', 'Real SKU'], right_on = ['Sales platform order No.', 'Real SKU'])

bundle_wms_merge = bundle_wms.merge(data_bundle[['OrderId', 'Real SKU', 'Outbound Qty', 'Outbound Status', 'Seller SKU ID']].drop_duplicates(['OrderId', 'Real SKU', 'Seller SKU ID']), how = 'left', left_on = ['OrderId', 'Real SKU', 'SKU Number'], right_on = ['OrderId', 'Real SKU', 'Seller SKU ID'])
# bundle_wms_merge = bundle_wms_merge.rename(columns = {'Product Name_x' : 'Product Name'})
# bundle_wms_merge = bundle_wms_merge.drop('Product Name_y', axis = 1)

jd_wms = jd_wms.append(bundle_wms_merge, ignore_index = True, sort = False)

jd_wms = jd_wms.rename(columns = {'Seller SKU ID' : 'SKU WH'})

indeks = jd_wms[jd_wms['ECLP Order'] == 'Y'].index.to_list()

jd_wms['WH'] = np.nan
jd_wms['WH'][indeks] = 'JD Warehouse'

jd_fbj = jd_wms.copy()
del(jd_wms)

In [66]:
jd_fbj[(jd_fbj['Outbound Qty'].isnull()) & (jd_fbj['OrderId'].isin(wms['Sales platform order No.']))]
## ini knp harus null

Empty DataFrame
Columns: [OrderId, Sku Id, SKU, Qty. Invoiced, Pay Type, BookTime, Total Price, Installment Fee, Freight, Order State, Customer Name, Remark, Delivery Time, Order Complete Time, Province, City, District, Address, Phone, Delivery Type, CarrierCode, Express company, Express No, Promotion Amount, Coupon Amount, JD Point, PaySubtotal, Tax and Import Fee, Self Delivery Id, SKU Number, Product Name, SKU qtty , EPI Price, SKU Tax and Import Fee, Source, ECLP Order, Year, Month, Real SKU, Real Nama Produk, Brand, Sub Brand, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Harga Organik 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Harga Organik 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Harga Organik 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Harga Organik 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Harga Organik 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Harga Organik 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Harga Organik 7, Price List NFI, Harga Cost, ...]
Index: []

In [68]:
### run 20
import pandas as pd
import numpy as np
import pypyodbc

#### tidak bisa akses sql wms via kode 28 May 2022

conn = pypyodbc.connect('Driver={SQL Server};'
                        'Server=NFI-DB-01;'
                        'Database=gudang;'
                        # 'UID=andra.miftah;'
                        # 'PWD=24nutrifoodindonesia21;'
                       'Trusted_Connection=yes;')

cursor = conn.cursor()
wms_telkom = pd.read_sql(r"""SELECT t1.id, t1.order_id,t1.status, t1.quantity, t1.product_id, t2.id,  t2.order_number, t2.invoice_number, t2.channel, t2.order_date, t3.id, t3.sku, t3.name
                          FROM [gudang].[dbo].[outbound_items] as t1
                          left join orders as t2
                          on t1.order_id = t2.id
                          left join products as t3
                          on t1.product_id = t3.id
                          where t2.channel = 'JD Indonesia'""",conn)

In [32]:
## run 20 alternative


wms_telkom=pd.read_excel(r"D:\Downloads\Data Gudang 20221122 (1).xlsx")
wms_telkom=wms_telkom[wms_telkom['channel']=='JD Indonesia']

In [69]:
### run 21

# import pandas as pd
# import numpy as np
# import pypyodbc

# #### tidak bisa akses sql wms via kode 28 May 2022

# conn = pypyodbc.connect('Driver={SQL Server};'
#                         'Server=NFI-DB-01;'
#                         'Database=gudang;'
#                         'UID=andra.miftah;'
#                         'PWD=24nutrifoodindonesia21;')

# cursor = conn.cursor()
# wms_telkom = pd.read_sql(r"""SELECT t1.id, t1.order_id,t1.status, t1.quantity, t1.product_id, t2.id,  t2.order_number, t2.invoice_number, t2.channel, t2.order_date, t3.id, t3.sku, t3.name
#                           FROM [gudang].[dbo].[outbound_items] as t1
#                           left join orders as t2
#                           on t1.order_id = t2.id
#                           left join products as t3
#                           on t1.product_id = t3.id
#                           where t2.channel = 'JD Indonesia'""",conn)

# ### kalau lg gk bisa pake sql

# # wms_telkom=pd.read_csv("D:\Downloads\WMS Telkom 22052022.csv")

# # wms_telkom=wms_telkom[wms_telkom['channel']=='JD Indonesia']

# ### kalau lg gk bisa pake sql

# outbound_items = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/outbound_items.csv', sep = ';')
# orders = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/orders.csv', sep = ';')
# products = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/products.csv', sep = ';')

# wms_telkom2 = outbound_items[['id', 'order_id','status', 'quantity', 'product_id']].merge(
#     orders[['id',  'order_number', 'invoice_number', 'channel', 'order_date']], how = 'left', left_on = 'order_id', right_on = 'id'
# ).merge(
#     products[['id', 'sku', 'name']], how = 'left', left_on = 'product_id', right_on = 'id'
# )
# wms_telkom2 = wms_telkom2[wms_telkom2['channel'].isin(['JD Indonesia'])]
if 'STATUS' in wms_telkom.columns:
    wms_telkom = wms_telkom.rename(columns = {'STATUS':'status'})
wms_telkom = wms_telkom[['order_number', 'sku', 'status', 'quantity']].drop_duplicates()
# wms_telkom2 = wms_telkom2[['invoice_number', 'sku', 'status', 'quantity']].drop_duplicates()
wms_telkom['order_number'] = wms_telkom['order_number'].astype(str).str.replace('.0', '', regex = False)
wms_telkom['sku'] = wms_telkom['sku'].astype(str).str.replace('.0', '', regex = False)
# wms_telkom2['invoice_number'] = wms_telkom2['invoice_number'].astype(str).str.replace('.0', '', regex = False)
# wms_telkom2['sku'] = wms_telkom2['sku'].astype(str).str.replace('.0', '', regex = False)
# wms_telkom = wms_telkom.append(wms_telkom2, ignore_index = True, sort = False)

wms_telkom['WH'] = 'Telkom'
wms_telkom = wms_telkom.rename(columns = {'order_number' : 'Sales platform order No.', 'status':'Outbound Status', 'sku' : 'SKU WH', 'quantity' : 'Outbound Qty'})

colname = wms_telkom.columns.to_list()
wms_telkom_all = wms_telkom.merge(j_conv, how = 'left', left_on = ['SKU WH'], right_on = ['Real SKU'])
wms_j = wms_telkom_all[wms_telkom_all['SKU Produk'].notnull()]

wms_j['SKU WH'] = wms_j['SKU Produk']
wms_j['Outbound Qty'] = wms_j['Outbound Qty'] * wms_j['Konversi ke UOM'].astype(float)

wms_telkom = wms_telkom.append(wms_j, ignore_index = True, sort = False)
wms_telkom = wms_telkom[colname]

indeks = jd_telkom[(jd_telkom['Real SKU'].isin(['(B)2309005305P3', '(B)2309005300P3']))].index.to_list()
jd_telkom['Brand'][indeks] = 'Bundle'

temp_telkom = jd_telkom.copy()

# indeks = temp_telkom[temp_telkom['Real SKU'] == '(B)2309005305P3'].index.to_list()
# temp_telkom['Brand'][indeks] = 'Bundle'

# temp_telkom = temp_telkom.drop(['WH', 'Sales platform order No.', 'Outbound Status', 'SKU WH', 'Outbound Qty'], axis = 1)
temp_telkom['OrderId'] = temp_telkom['OrderId'].astype(str)
wms_telkom['Sales platform order No.'] = wms_telkom['Sales platform order No.'].astype(str)

wms_telkom = wms_telkom.groupby(['WH', 'Sales platform order No.', 'Outbound Status', 'SKU WH'], dropna = False)['Outbound Qty'].sum().reset_index()

temp_telkom['Real SKU'] = temp_telkom['Real SKU'].astype(str).str.replace('.0', '', regex = False)
wms_telkom['SKU WH'] = wms_telkom['SKU WH'].astype(str)

temp_telkom = temp_telkom.merge(wms_telkom.drop_duplicates(['Sales platform order No.', 'SKU WH']), how = 'left', left_on = ['OrderId', 'Real SKU'], right_on = ['Sales platform order No.', 'SKU WH'])
temp_telkom['Outbound Qty'] = temp_telkom['Outbound Qty'] * temp_telkom['Qty. Invoiced']/temp_telkom.groupby(['OrderId', 'Real SKU'])['Qty. Invoiced'].transform('sum')

temp_telkom_bundle = temp_telkom[temp_telkom['Brand'] == 'Bundle']

temp_buat_bundle = temp_telkom.groupby(['OrderId', 'Bundle Name']).agg({'WH' : 'first', 'Outbound Status' : 'first', 'Outbound Qty' : 'max', 'Qty. Invoiced' : 'max'}).reset_index()
temp_buat_bundle['Outbound Qty'] = temp_buat_bundle['Outbound Qty']/temp_buat_bundle['Qty. Invoiced']
temp_buat_bundle = temp_buat_bundle.drop('Qty. Invoiced', axis = 1)

temp_telkom_bundle = temp_telkom_bundle.merge(temp_buat_bundle.drop_duplicates(['OrderId', 'Bundle Name']), how = 'left', left_on = ['OrderId', 'Product Name'], right_on = ['OrderId', 'Bundle Name']).set_index(temp_telkom_bundle.index)
temp_telkom_bundle['Outbound Qty_y'] = temp_telkom_bundle['Outbound Qty_y']*temp_telkom_bundle['Qty. Invoiced']

temp_telkom['Outbound Status'][temp_telkom_bundle.index] = temp_telkom_bundle['Outbound Status_y']
temp_telkom['WH'][temp_telkom_bundle.index] = temp_telkom_bundle['WH_y']
temp_telkom['Outbound Qty'][temp_telkom_bundle.index] = temp_telkom_bundle['Outbound Qty_y']

jd_wms_telkom = temp_telkom.copy()
jd_null = jd_wms_telkom[jd_wms_telkom['WH'].isnull()]

indeks = wms_telkom[wms_telkom['SKU WH'] == '2309005305'].index.to_list()
wms_telkom['SKU WH'][indeks] = '2309005300'

temp_telkom = jd_null[jd_null['OrderId'].astype(str).isin(wms_telkom['Sales platform order No.'].astype(str))]

temp_telkom = temp_telkom.drop(['WH', 'Sales platform order No.', 'Outbound Status', 'SKU WH', 'Outbound Qty'], axis = 1)
temp_telkom['OrderId'] = temp_telkom['OrderId'].astype(str)
wms_telkom['Sales platform order No.'] = wms_telkom['Sales platform order No.'].astype(str)

temp_telkom['Real SKU'] = temp_telkom['Real SKU'].astype(str).str.replace('.0', '', regex = False)
wms_telkom['SKU WH'] = wms_telkom['SKU WH'].astype(str)

temp_telkom = temp_telkom.merge(wms_telkom.drop_duplicates(['Sales platform order No.', 'SKU WH']), how = 'left', left_on = ['OrderId', 'Real SKU'], right_on = ['Sales platform order No.', 'SKU WH']).set_index(temp_telkom.index)

temp_telkom_bundle = temp_telkom[temp_telkom['Brand'] == 'Bundle']

temp_buat_bundle = temp_telkom.groupby(['OrderId', 'Bundle Name']).agg({'WH' : 'first', 'Outbound Status' : 'first', 'Outbound Qty' : 'max', 'Qty. Invoiced' : 'max'}).reset_index()
temp_buat_bundle['Outbound Qty'] = temp_buat_bundle['Outbound Qty']/temp_buat_bundle['Qty. Invoiced']
temp_buat_bundle = temp_buat_bundle.drop('Qty. Invoiced', axis = 1)

temp_telkom_bundle = temp_telkom_bundle.merge(temp_buat_bundle.drop_duplicates(['OrderId', 'Bundle Name']), how = 'left', left_on = ['OrderId', 'Product Name'], right_on = ['OrderId', 'Bundle Name']).set_index(temp_telkom_bundle.index)
temp_telkom_bundle['Outbound Qty_y'] = temp_telkom_bundle['Outbound Qty_y']*temp_telkom_bundle['Qty. Invoiced']

temp_telkom['Outbound Status'][temp_telkom_bundle.index] = temp_telkom_bundle['Outbound Status_y']
temp_telkom['WH'][temp_telkom_bundle.index] = temp_telkom_bundle['WH_y']
temp_telkom['Outbound Qty'][temp_telkom_bundle.index] = temp_telkom_bundle['Outbound Qty_y']

jd_wms_telkom['Outbound Status'][temp_telkom.index] = temp_telkom['Outbound Status']
jd_wms_telkom['WH'][temp_telkom.index] = temp_telkom['WH']
jd_wms_telkom['Outbound Qty'][temp_telkom.index] = temp_telkom['Outbound Qty']

# unavail = orders[(orders['channel'] == 'JD Indonesia') & (orders['status'] == 'unavailable')]['invoice_number'].astype(str).str.replace('.0', '', regex = False).unique()
# indeks = jd_wms_telkom[(jd_wms_telkom['Outbound Status'].isnull()) & (jd_wms_telkom['OrderId'].astype(str).isin(unavail))].index.to_list()
# jd_wms_telkom['Outbound Status'][indeks] = 'unavailable'
# jd_wms_telkom['WH'][indeks] = 'Telkom'

In [30]:
jd_wms_telkom[(jd_wms_telkom['Outbound Status'].isnull()) & (jd_wms_telkom['OrderId'].astype(str).isin(wms_telkom['Sales platform order No.'].astype(str)))].groupby(['Brand','SKU', 'Real Nama Produk', 'Bundle Name'], dropna = False)['OrderId'].first().reset_index()

,Brand,SKU,Real Nama Produk,Bundle Name,OrderId
0,Bundle,(E)2101478180P2,HiLo Active Caramel Latte 500g Near ED x 2 pcs,NaN,1119482345
1,Gimmick,(G)71210222,Gift - Kartu Pantun by HiLo Teen,Buy 1 Get 1 - HiLo Teen Biscuit Caramel 500g &...,1089446924
2,Gimmick,(G)71210222,Gift - Kartu Pantun by HiLo Teen,Buy 1 Get 1 - HiLo Teen Biscuit Caramel 500g -...,1089908129
3,Gimmick,(G)71210222,Gift - Kartu Pantun by HiLo Teen,HiLo Teen Biscuit Caramel 500g - Susu Tinggi K...,1094558345
4,HiLo,(E)2101478180,(Near ED) HiLo Active Caramel Latte 500g,[Buy 1 Get 1 Free] HiLo Active Caramel Latte 5...,1119482345

In [70]:
### run 22
jd_wms = jd_fbj.append(jd_wms_telkom, ignore_index = True, sort = False)

# Settlement

In [78]:
### run 23
import os
import pandas as pd

settlement = pd.DataFrame()
refund = pd.DataFrame()
for i in os.listdir('Settlement Project\JD\JD\settlement/'):
    print(i)
    sheet_name = pd.ExcelFile('Settlement Project\JD\JD\settlement/' + str(i)).sheet_names
    if 'Completed Order' in sheet_name:
        temp = pd.read_excel('Settlement Project\JD\JD\settlement/' + str(i), sheet_name = 'Completed Order')
    elif 'Pesanan Selesai' in  sheet_name:
        temp = pd.read_excel('Settlement Project\JD\JD\settlement/' + str(i), sheet_name = 'Pesanan Selesai')
        temp.columns = ['Order ID',
                         'Complete Time',
                         'SKU ID',
                         'SKU Name',
                         'Seller SKU',
                         'Qty',
                         'Original Price',
                         'Seller Price Discount',
                         'Seller Voucher Discount',
                         'Seller Other Discounts',
                         'Original Delivery Fee',
                         'Seller Shipping Subsidy',
                         'Commision',
                         'JD Promo Subsidy',
                         'COD Fee',
                         'Import Fee Received from Customer',
                         'Import Fee Paid to Courier',
                         'Delivery Paid to Courrier',
                         'Courier Name',
                         'Final Amount',
                         'Commision Ratio']
    # else: 
    #     temp=pd.read_excel('Settlement Project\JD\JD\settlement/' + str(i), sheet_name = 'CompletedOrderList')
    #     print(len(temp))
    #     if len(temp)>0:
    #         print('ada isi nya woi!')
    if 'Total Price Discount' in temp.columns:
        temp = temp.rename(columns = {'Total Price Discount' : 'Seller Price Discount'})
    temp['Source'] = i
    temp_null = temp[temp['SKU ID'].isnull()]
    temp_null = temp_null.groupby('Order ID')['Delivery Paid to Courrier'].sum().reset_index()
    temp_notnull = temp[temp['SKU ID'].notnull()]
    temp_notnull = temp_notnull.drop('Delivery Paid to Courrier', axis = 1)
    temp_notnull = temp_notnull.merge(temp_null[['Order ID', 'Delivery Paid to Courrier']].drop_duplicates('Order ID'), how = 'left', on = 'Order ID')
    temp_notnull['Bi Bahan Produk'] = temp_notnull['Original Price'] + temp_notnull['Seller Price Discount'] + temp_notnull['Seller Voucher Discount'] + temp_notnull['Seller Other Discounts']
    temp_notnull.loc[temp_notnull['Bi Bahan Produk']==0,'Bi Bahan Produk']=1  # tambahan timo nov 2022
    temp_notnull['Delivery Paid to Courrier'] = temp_notnull['Delivery Paid to Courrier'].fillna(0) * temp_notnull['Bi Bahan Produk']/temp_notnull.groupby(['Order ID'])['Bi Bahan Produk'].transform('sum')
#     temp_notnull = temp_notnull.drop('Bi Bahan Produk', axis = 1)
    true_col = ['Order ID', 'Complete Time', 'SKU ID', 'SKU Name', 'Seller SKU', 'Qty', 'Original Price', 'Seller Price Discount', 'Seller Voucher Discount', 
                'Seller Other Discounts', 'Original Delivery Fee', 'Seller Shipping Subsidy', 'Commision', 'JD Promo Subsidy', 'COD Fee', 'Import Fee Received from Customer', 
                'Import Fee Paid to Courier', 'Courier Name', 'Final Amount', 'Commision Ratio', 'Source', 'Delivery Paid to Courrier', 'Bi Bahan Produk']
    if temp_notnull.columns.to_list() == true_col:
        print('Column Sama')
    else :
        print('Column Beda')
        print([x for x in true_col if x not in temp_notnull.columns.to_list()])
        print([x for x in temp_notnull.columns.to_list() if x not in true_col])
    if 'Order ID' in settlement.columns:
        temp_notnull=temp_notnull[~temp_notnull['Order ID'].isin(settlement['Order ID'].unique())]
    settlement = settlement.append(temp_notnull, ignore_index = True, sort = False)
    
    
    if 'Refund Order' in sheet_name:
        temp2 = pd.read_excel('Settlement Project\JD\JD\settlement/' + str(i), sheet_name = 'Refund Order')
    else :
        temp2 = pd.read_excel('Settlement Project\JD\JD\settlement/' + str(i), sheet_name = 'Pengembalian Pesanan')
        temp2.columns = ['Refund ID',
             'Order ID',
             'SKU ID',
             'SKU Name',
             'Seller SKU',
             'Qty',
             'Refund Amount',
             'Refund JD Promo Subsidy',
             'Returned Comission',
             'Refund Delivery Fee',
             'Import Fee Received from Customer',
             'Final Amount',
             'Commission Ratio',
             'Refund Applied Date',
             'Refund Success Date']
    temp2['Source'] = i
    true_col2 = ['Refund ID', 'Order ID', 'SKU ID', 'SKU Name', 'Seller SKU', 'Qty', 'Refund Amount', 'Refund JD Promo Subsidy', 'Returned Comission', 'Refund Delivery Fee', 
                 'Import Fee Received from Customer', 'Final Amount', 'Commission Ratio', 'Refund Applied Date', 'Refund Success Date', 'Source']
    if temp2.columns.to_list() == true_col2:
        print('Column Sama')
    else :
        print('Column Beda')
        print([x for x in true_col2 if x not in temp2.columns.to_list()])
        print([x for x in temp2.columns.to_list() if x not in true_col2])
    if 'Refund ID' in refund.columns:
        temp2=temp2[~temp2['Refund ID'].isin(refund['Refund ID'].unique())]
    refund = refund.append(temp2, ignore_index = True, sort = False)

Settlement Sheet Details(10103331).xls
Column Sama
Column Sama
Settlement Sheet Details(10222119).xls
Column Sama
Column Sama
Settlement Sheet Details(10342664).xls
Column Sama
Column Sama
Settlement Sheet Details(10464955).xls
Column Sama
Column Sama
Settlement Sheet Details(10588909).xls
Column Sama
Column Sama
Settlement Sheet Details(10714292).xls
Column Sama
Column Sama
Settlement Sheet Details(10841491).xls
Column Sama
Column Sama
Settlement Sheet Details(10970085).xls
Column Sama
Column Sama
Settlement Sheet Details(11100455).xls
Column Sama
Column Sama
Settlement Sheet Details(11232291).xls
Column Sama
Column Sama
Settlement Sheet Details(11365579).xls
Column Sama
Column Sama
Settlement Sheet Details(11500142).xls
Column Sama
Column Sama
Settlement Sheet Details(11635877).xls
Column Sama
Column Sama
Settlement Sheet Details(11773463).xls
Column Sama
Column Sama
Settlement Sheet Details(11911971).xls
Column Sama
Column Sama
Settlement Sheet Details(12052351).xls
Column Sama
Column Sama
Settlement Sheet Details(12193571).xls
Column Sama
Column Sama
Settlement Sheet Details(12336123).xls
Column Sama
Column Sama
Settlement Sheet Details(12479830).xls
Column Sama
Column Sama
Settlement Sheet Details(12624612).xls
Column Sama
Column Sama
Settlement Sheet Details(12770433).xls
Column Sama
Column Sama
Settlement Sheet Details(12917376).xls
Column Sama
Column Sama
Settlement Sheet Details(13065447).xls
Column Sama
Column Sama
Settlement Sheet Details(13214249).xls
Column Sama
Column Sama
Settlement Sheet Details(13364046).xls
Column Sama
Column Sama
Settlement Sheet Details(13515127).xls
Column Sama
Column Sama
Settlement Sheet Details(13667306).xls
Column Sama
Column Sama
Settlement Sheet Details(13820722).xls
Column Sama
Column Sama
Settlement Sheet Details(13975303).xls
Column Sama
Column Sama
Settlement Sheet Details(14130472).xls
Column Sama
Column Sama
Settlement Sheet Details(14355618).xls
Column Sama
Column Sama
Settlement Sheet Details(14444137).xls
Column Sama
Column Sama
Settlement Sheet Details(14544770).xls
Column Sama
Column Sama
Settlement Sheet Details(14659624).xls
Column Sama
Column Sama
Settlement Sheet Details(14794386).xls
Column Sama
Column Sama
Settlement Sheet Details(14929143).xls
Column Sama
Column Sama
Settlement Sheet Details(15063322).xls
Column Sama
Column Sama
Settlement Sheet Details(15197389).xls
Column Sama
Column Sama
Settlement Sheet Details(15331076).xls
Column Sama
Column Sama
Settlement Sheet Details(15462570).xls
Column Sama
Column Sama
Settlement Sheet Details(15595402).xls
Column Sama
Column Sama
Settlement Sheet Details(15730419).xls
Column Sama
Column Sama
Settlement Sheet Details(15865412).xls
Column Sama
Column Sama
Settlement Sheet Details(15999838).xls
Column Sama
Column Sama
Settlement Sheet Details(16134127).xls
Column Sama
Column Sama
Settlement Sheet Details(16267943).xls
Column Sama
Column Sama
Settlement Sheet Details(16399589).xls
Column Sama
Column Sama
Settlement Sheet Details(16532520).xls
Column Sama
Column Sama
Settlement Sheet Details(16668322).xls
Column Sama
Column Sama
Settlement Sheet Details(16803481).xls
Column Sama
Column Sama
Settlement Sheet Details(16938110).xls
Column Sama
Column Sama
Settlement Sheet Details(17072542).xls
Column Sama
Column Sama
Settlement Sheet Details(17206698).xls
Column Sama
Column Sama
Settlement Sheet Details(17338589).xls
Column Sama
Column Sama
Settlement Sheet Details(17471671).xls
Column Sama
Column Sama
Settlement Sheet Details(17607065).xls
Column Sama
Column Sama
Settlement Sheet Details(17742508).xls
Column Sama
Column Sama
Settlement Sheet Details(17877417).xls
Column Sama
Column Sama
Settlement Sheet Details(18012065).xls
Column Sama
Column Sama
Settlement Sheet Details(18146399).xls
Column Sama
Column Sama
Settlement Sheet Details(18278305).xls
Column Sama
Column Sama
Settlement Sheet Details(18411458).xls
Column Sama
Column Sama
Settlement Sheet Details(18547127).xls
Column Sama
Column Sama
Settlement Sheet Details(18682820).xls
Column Sama
Column Sama
Settlement Sheet Details(18817947).xls
Column Sama
Column Sama
Settlement Sheet Details(18952869).xls
Column Sama
Column Sama
Settlement Sheet Details(19087512).xls
Column Sama
Column Sama
Settlement Sheet Details(19219606).xls
Column Sama
Column Sama
Settlement Sheet Details(19352902).xls
Column Sama
Column Sama
Settlement Sheet Details(19488772).xls
Column Sama
Column Sama
Settlement Sheet Details(19624658).xls
Column Sama
Column Sama
Settlement Sheet Details(19760016).xls
Column Sama
Column Sama
Settlement Sheet Details(19895127).xls
Column Sama
Column Sama
Settlement Sheet Details(20029951).xls
Column Sama
Column Sama
Settlement Sheet Details(20162110).xls
Column Sama
Column Sama
Settlement Sheet Details(20295485).xls
Column Sama
Column Sama
Settlement Sheet Details(20432534).xls
Column Sama
Column Sama
Settlement Sheet Details(20569570).xls
Column Sama
Column Sama
Settlement Sheet Details(20705182).xls
Column Sama
Column Sama
Settlement Sheet Details(20840538).xls
Column Sama
Column Sama
Settlement Sheet Details(20975555).xls
Column Sama
Column Sama
Settlement Sheet Details(21107832).xls
Column Sama
Column Sama
Settlement Sheet Details(21241308).xls
Column Sama
Column Sama
Settlement Sheet Details(21377612).xls
Column Sama
Column Sama
Settlement Sheet Details(21513955).xls
Column Sama
Column Sama
Settlement Sheet Details(21649777).xls
Column Sama
Column Sama
Settlement Sheet Details(21785384).xls
Column Sama
Column Sama
Settlement Sheet Details(21920746).xls
Column Sama
Column Sama
Settlement Sheet Details(22053208).xls
Column Sama
Column Sama
Settlement Sheet Details(22186896).xls
Column Sama
Column Sama
Settlement Sheet Details(22323405).xls
Column Sama
Column Sama
Settlement Sheet Details(22459963).xls
Column Sama
Column Sama
Settlement Sheet Details(22596056).xls
Column Sama
Column Sama
Settlement Sheet Details(22731923).xls
Column Sama
Column Sama
Settlement Sheet Details(22867388).xls
Column Sama
Column Sama
Settlement Sheet Details(22999972).xls
Column Sama
Column Sama
Settlement Sheet Details(23134264).xls
Column Sama
Column Sama
Settlement Sheet Details(23272108).xls
Column Sama
Column Sama
Settlement Sheet Details(23409032).xls
Column Sama
Column Sama
Settlement Sheet Details(23545335).xls
Column Sama
Column Sama
Settlement Sheet Details(23681962).xls
Column Sama
Column Sama
Settlement Sheet Details(23817738).xls
Column Sama
Column Sama
Settlement Sheet Details(23950514).xls
Column Sama
Column Sama
Settlement Sheet Details(24084393).xls
Column Beda
[]
[]
Column Sama
Settlement Sheet Details(24358825).xls
Column Sama
Column Sama
Settlement Sheet Details(24495615).xls
Column Sama
Column Sama
Settlement Sheet Details(24632128).xls
Column Sama
Column Sama
Settlement Sheet Details(24768279).xls
Column Sama
Column Sama
Settlement Sheet Details(24901272).xls
Column Sama
Column Sama
Settlement Sheet Details(25035556).xls
Column Sama
Column Sama
Settlement Sheet Details(25173056).xls
Column Sama
Column Sama
Settlement Sheet Details(25310905).xls
Column Sama
Column Sama
Settlement Sheet Details(25448118).xls
Column Sama
Column Sama
Settlement Sheet Details(25585285).xls
Column Sama
Column Sama
Settlement Sheet Details(25722606).xls
Column Sama
Column Sama
Settlement Sheet Details(25857002).xls
Column Sama
Column Sama
Settlement Sheet Details(25992661).xls
Column Sama
Column Sama
Settlement Sheet Details(26131702).xls
Column Sama
Column Sama
Settlement Sheet Details(26270846).xls
Column Sama
Column Sama
Settlement Sheet Details(26409128).xls
Column Sama
Column Sama
Settlement Sheet Details(26547314).xls
Column Sama
Column Sama
Settlement Sheet Details(26686157).xls
Column Sama
Column Sama
Settlement Sheet Details(26821392).xls
Column Sama
Column Sama
Settlement Sheet Details(26958092).xls
Column Sama
Column Sama
Settlement Sheet Details(27098279).xls
Column Sama
Column Sama
Settlement Sheet Details(27238739).xls
Column Sama
Column Sama
Settlement Sheet Details(27378329).xls
Column Sama
Column Sama
Settlement Sheet Details(27517837).xls
Column Sama
Column Sama
Settlement Sheet Details(27657770).xls
Column Sama
Column Sama
Settlement Sheet Details(27794590).xls
Column Sama
Column Sama
Settlement Sheet Details(27932460).xls
Column Sama
Column Sama
Settlement Sheet Details(28073641).xls
Column Sama
Column Sama
Settlement Sheet Details(28215383).xls
Column Sama
Column Sama
Settlement Sheet Details(28356279).xls
Column Sama
Column Sama
Settlement Sheet Details(28497020).xls
Column Sama
Column Sama
Settlement Sheet Details(28637970).xls
Column Sama
Column Sama
Settlement Sheet Details(28775917).xls
Column Sama
Column Sama
Settlement Sheet Details(28915004).xls
Column Sama
Column Sama
Settlement Sheet Details(29057683).xls
Column Sama
Column Sama
Settlement Sheet Details(29200316).xls
Column Sama
Column Sama
Settlement Sheet Details(29342386).xls
Column Sama
Column Sama
Settlement Sheet Details(29484342).xls
Column Sama
Column Sama
Settlement Sheet Details(29626603).xls
Column Sama
Column Sama
Settlement Sheet Details(29766018).xls
Column Sama
Column Sama
Settlement Sheet Details(29906523).xls
Column Sama
Column Sama
Settlement Sheet Details(30050667).xls
Column Sama
Column Sama
Settlement Sheet Details(30195000).xls
Column Sama
Column Sama
Settlement Sheet Details(30338432).xls
Column Sama
Column Sama
Settlement Sheet Details(30481704).xls
Column Sama
Column Sama
Settlement Sheet Details(30625222).xls
Column Sama
Column Sama
Settlement Sheet Details(30765723).xls
Column Sama
Column Sama
Settlement Sheet Details(30907495).xls
Column Sama
Column Sama
Settlement Sheet Details(31052848).xls
Column Sama
Column Sama
Settlement Sheet Details(31198159).xls
Column Sama
Column Sama
Settlement Sheet Details(31342615).xls
Column Sama
Column Sama
Settlement Sheet Details(31487190).xls
Column Sama
Column Sama
Settlement Sheet Details(31631781).xls
Column Sama
Column Sama
Settlement Sheet Details(31773379).xls
Column Sama
Column Sama
Settlement Sheet Details(31916273).xls
Column Sama
Column Sama
Settlement Sheet Details(32062866).xls
Column Sama
Column Sama
Settlement Sheet Details(32209244).xls
Column Sama
Column Sama
Settlement Sheet Details(32355175).xls
Column Sama
Column Sama
Settlement Sheet Details(32500891).xls
Column Sama
Column Sama
Settlement Sheet Details(32646571).xls
Column Sama
Column Sama
Settlement Sheet Details(32789416).xls
Column Sama
Column Sama
Settlement Sheet Details(32933289).xls
Column Sama
Column Sama
Settlement Sheet Details(33080691).xls
Column Sama
Column Sama
Settlement Sheet Details(33228100).xls
Column Sama
Column Sama
Settlement Sheet Details(33374809).xls
Column Sama
Column Sama
Settlement Sheet Details(33521544).xls
Column Sama
Column Sama
Settlement Sheet Details(33668320).xls
Column Sama
Column Sama
Settlement Sheet Details(33812086).xls
Column Sama
Column Sama
Settlement Sheet Details(33957171).xls
Column Sama
Column Sama
Settlement Sheet Details(34105610).xls
Column Sama
Column Sama
Settlement Sheet Details(34253997).xls
Column Sama
Column Sama
Settlement Sheet Details(34401766).xls
Column Sama
Column Sama
Settlement Sheet Details(34549575).xls
Column Sama
Column Sama
Settlement Sheet Details(34697264).xls
Column Sama
Column Sama
Settlement Sheet Details(34842048).xls
Column Sama
Column Sama
Settlement Sheet Details(34988118).xls
Column Sama
Column Sama
Settlement Sheet Details(35137671).xls
Column Sama
Column Sama
Settlement Sheet Details(35287419).xls
Column Sama
Column Sama
Settlement Sheet Details(35436284).xls
Column Sama
Column Sama
Settlement Sheet Details(35585227).xls
Column Sama
Column Sama
Settlement Sheet Details(35734121).xls
Column Sama
Column Sama
Settlement Sheet Details(35879938).xls
Column Sama
Column Sama
Settlement Sheet Details(36027103).xls
Column Sama
Column Sama
Settlement Sheet Details(36177787).xls
Column Sama
Column Sama
Settlement Sheet Details(36328416).xls
Column Sama
Column Sama
Settlement Sheet Details(36478358).xls
Column Sama
Column Sama
Settlement Sheet Details(36628267).xls
Column Sama
Column Sama
Settlement Sheet Details(36778052).xls
Column Sama
Column Sama
Settlement Sheet Details(36924788).xls
Column Sama
Column Sama
Settlement Sheet Details(37072890).xls
Column Sama
Column Sama
Settlement Sheet Details(37224396).xls
Column Sama
Column Sama
Settlement Sheet Details(37375888).xls
Column Sama
Column Sama
Settlement Sheet Details(37526749).xls
Column Sama
Column Sama
Settlement Sheet Details(37677496).xls
Column Sama
Column Sama
Settlement Sheet Details(37828205).xls
Column Sama
Column Sama
Settlement Sheet Details(37975877).xls
Column Sama
Column Sama
Settlement Sheet Details(38124739).xls
Column Sama
Column Sama
Settlement Sheet Details(38277100).xls
Column Sama
Column Sama
Settlement Sheet Details(38429506).xls
Column Sama
Column Sama
Settlement Sheet Details(38581290).xls
Column Sama
Column Sama
Settlement Sheet Details(38732914).xls
Column Sama
Column Sama
Settlement Sheet Details(38884537).xls
Column Sama
Column Sama
Settlement Sheet Details(39033053).xls
Column Sama
Column Sama
Settlement Sheet Details(39182874).xls
Column Sama
Column Sama
Settlement Sheet Details(39336213).xls
Column Sama
Column Sama
Settlement Sheet Details(39489458).xls
Column Sama
Column Sama
Settlement Sheet Details(39642143).xls
Column Sama
Column Sama
Settlement Sheet Details(39794698).xls
Column Sama
Column Sama
Settlement Sheet Details(39947211).xls
Column Sama
Column Sama
Settlement Sheet Details(40096371).xls
Column Sama
Column Sama
Settlement Sheet Details(40246822).xls
Column Sama
Column Sama
Settlement Sheet Details(40400947).xls
Column Sama
Column Sama
Settlement Sheet Details(40555106).xls
Column Sama
Column Sama
Settlement Sheet Details(40708665).xls
Column Sama
Column Sama
Settlement Sheet Details(40862124).xls
Column Sama
Column Sama
Settlement Sheet Details(41015597).xls
Column Sama
Column Sama
Settlement Sheet Details(41165940).xls
Column Sama
Column Sama
Settlement Sheet Details(41317496).xls
Column Sama
Column Sama
Settlement Sheet Details(41472485).xls
Column Sama
Column Sama
Settlement Sheet Details(41627540).xls
Column Sama
Column Sama
Settlement Sheet Details(41781990).xls
Column Sama
Column Sama
Settlement Sheet Details(41936295).xls
Column Sama
Column Sama
Settlement Sheet Details(42090566).xls
Column Sama
Column Sama
Settlement Sheet Details(42241696).xls
Column Sama
Column Sama
Settlement Sheet Details(42394057).xls
Column Sama
Column Sama
Settlement Sheet Details(42550020).xls
Column Sama
Column Sama
Settlement Sheet Details(42705832).xls
Column Sama
Column Sama
Settlement Sheet Details(42861206).xls
Column Sama
Column Sama
Settlement Sheet Details(43016311).xls
Column Sama
Column Sama
Settlement Sheet Details(43171425).xls
Column Sama
Column Sama
Settlement Sheet Details(43323319).xls
Column Sama
Column Sama
Settlement Sheet Details(43476512).xls
Column Sama
Column Sama
Settlement Sheet Details(43633293).xls
Column Sama
Column Sama
Settlement Sheet Details(43789897).xls
Column Sama
Column Sama
Settlement Sheet Details(43946036).xls
Column Sama
Column Sama
Settlement Sheet Details(44101947).xls
Column Sama
Column Sama
Settlement Sheet Details(44257854).xls
Column Sama
Column Sama
Settlement Sheet Details(44410474).xls
Column Sama
Column Sama
Settlement Sheet Details(44564511).xls
Column Sama
Column Sama
Settlement Sheet Details(44721983).xls
Column Sama
Column Sama
Settlement Sheet Details(44879403).xls
Column Sama
Column Sama
Settlement Sheet Details(45036293).xls
Column Sama
Column Sama
Settlement Sheet Details(45192931).xls
Column Sama
Column Sama
Settlement Sheet Details(45349747).xls
Column Sama
Column Sama
Settlement Sheet Details(45503230).xls
Column Sama
Column Sama
Settlement Sheet Details(45658257).xls
Column Sama
Column Sama
Settlement Sheet Details(45816638).xls
Column Sama
Column Sama
Settlement Sheet Details(45975048).xls
Column Sama
Column Sama
Settlement Sheet Details(46132832).xls
Column Sama
Column Sama
Settlement Sheet Details(46290394).xls
Column Sama
Column Sama
Settlement Sheet Details(46447986).xls
Column Sama
Column Sama
Settlement Sheet Details(46602391).xls
Column Sama
Column Sama
Settlement Sheet Details(46758092).xls
Column Sama
Column Sama
Settlement Sheet Details(46917275).xls
Column Sama
Column Sama
Settlement Sheet Details(47076328).xls
Column Sama
Column Sama
Settlement Sheet Details(47234977).xls
Column Sama
Column Sama
Settlement Sheet Details(47393285).xls
Column Sama
Column Sama
Settlement Sheet Details(47551698).xls
Column Sama
Column Sama
Settlement Sheet Details(47706859).xls
Column Sama
Column Sama
Settlement Sheet Details(47863096).xls
Column Sama
Column Sama
Settlement Sheet Details(48023066).xls
Column Sama
Column Sama
Settlement Sheet Details(48183051).xls
Column Sama
Column Sama
Settlement Sheet Details(48342402).xls
Column Sama
Column Sama
Settlement Sheet Details(48501520).xls
Column Sama
Column Sama
Settlement Sheet Details(48660657).xls
Column Sama
Column Sama
Settlement Sheet Details(48816663).xls
Column Sama
Column Sama
Settlement Sheet Details(48974535).xls
Column Sama
Column Sama
Settlement Sheet Details(49135518).xls
Column Sama
Column Sama
Settlement Sheet Details(4922520).xls
Column Beda
['JD Promo Subsidy', 'Import Fee Received from Customer', 'Import Fee Paid to Courier']
[]
Column Beda
['Refund JD Promo Subsidy', 'Import Fee Received from Customer']
[]
Settlement Sheet Details(49296319).xls
Column Sama
Column Sama
Settlement Sheet Details(49456538).xls
Column Sama
Column Sama
Settlement Sheet Details(49616535).xls
Column Sama
Column Sama
Settlement Sheet Details(49776681).xls
Column Sama
Column Sama
Settlement Sheet Details(49933539).xls
Column Sama
Column Sama
Settlement Sheet Details(50091793).xls
Column Sama
Column Sama
Settlement Sheet Details(50253509).xls
Column Sama
Column Sama
Settlement Sheet Details(50415130).xls
Column Sama
Column Sama
Settlement Sheet Details(50576176).xls
Column Sama
Column Sama
Settlement Sheet Details(50737099).xls
Column Sama
Column Sama
Settlement Sheet Details(50897978).xls
Column Sama
Column Sama
Settlement Sheet Details(51055623).xls
Column Sama
Column Sama
Settlement Sheet Details(51214566).xls
Column Sama
Column Sama
Settlement Sheet Details(51377048).xls
Column Sama
Column Sama
Settlement Sheet Details(51539561).xls
Column Sama
Column Sama
Settlement Sheet Details(51701496).xls
Column Sama
Column Sama
Settlement Sheet Details(51863268).xls
Column Sama
Column Sama
Settlement Sheet Details(52024935).xls
Column Sama
Column Sama
Settlement Sheet Details(52183373).xls
Column Sama
Column Sama
Settlement Sheet Details(52343176).xls
Column Sama
Column Sama
Settlement Sheet Details(52506530).xls
Column Sama
Column Sama
Settlement Sheet Details(52669766).xls
Column Sama
Column Sama
Settlement Sheet Details(52832480).xls
Column Sama
Column Sama
Settlement Sheet Details(52995005).xls
Column Sama
Column Sama
Settlement Sheet Details(53157485).xls
Column Sama
Column Sama
Settlement Sheet Details(53316757).xls
Column Sama
Column Sama
Settlement Sheet Details(53477409).xls
Column Sama
Column Sama
Settlement Sheet Details(53641705).xls
Column Sama
Column Sama
Settlement Sheet Details(53805796).xls
Column Sama
Column Sama
Settlement Sheet Details(53969409).xls
Column Sama
Column Sama
Settlement Sheet Details(54132720).xls
Column Sama
Column Sama
Settlement Sheet Details(54296028).xls
Column Sama
Column Sama
Settlement Sheet Details(54456014).xls
Column Sama
Column Sama
Settlement Sheet Details(54617342).xls
Column Sama
Column Sama
Settlement Sheet Details(54782203).xls
Column Sama
Column Sama
Settlement Sheet Details(54946934).xls
Column Sama
Column Sama
Settlement Sheet Details(55111182).xls
Column Sama
Column Sama
Settlement Sheet Details(55275193).xls
Column Sama
Column Sama
Settlement Sheet Details(55439207).xls
Column Sama
Column Sama
Settlement Sheet Details(55599942).xls
Column Sama
Column Sama
Settlement Sheet Details(55761906).xls
Column Sama
Column Sama
Settlement Sheet Details(55927507).xls
Column Sama

In [ ]:
settlement[settlement['Complete Time'].astype(str).str.contains('2022')][['JD Promo Subsidy', 'Import Fee Received from Customer', 'Import Fee Paid to Courier']].drop_duplicates()

In [126]:
settlement[(settlement[['Order ID', 'Complete Time', 'SKU ID', 'SKU Name', 'Seller SKU', 'Qty', 'Original Price']].duplicated(keep = False)) 
           & (~(settlement[['Order ID', 'Complete Time', 'SKU ID', 'SKU Name', 'Seller SKU', 'Qty', 'Original Price', 'Source']].duplicated(keep = False)))]

Empty DataFrame
Columns: [Order ID, Complete Time, SKU ID, SKU Name, Seller SKU, Qty, Original Price, Seller Price Discount, Seller Voucher Discount, Seller Other Discounts, Original Delivery Fee, Seller Shipping Subsidy, Commision, JD Promo Subsidy, COD Fee, Import Fee Received from Customer, Import Fee Paid to Courier, Courier Name, Final Amount, Commision Ratio, Source, Delivery Paid to Courrier, Bi Bahan Produk, Selisih Ongkir, Base For Fullfee]
Index: []

In [79]:
### run 24

settlement = settlement[~settlement['SKU Name'].isnull()]

# indeks = settlement[settlement['Seller SKU'] == 'PE17(12)H43(12)'].index.to_list()
# settlement['Seller SKU'][indeks] = '(E)2101947250P24'

# indeks = settlement[settlement['Seller SKU'] == 'PE17(3)H43(3)'].index.to_list()
# settlement['Seller SKU'][indeks] = 'PXH43(3)B24(3)'

settlement['Selisih Ongkir'] = settlement['Original Delivery Fee'] + settlement['Delivery Paid to Courrier']
indeks = settlement[settlement['Selisih Ongkir'] > 0].index.to_list()
settlement['Selisih Ongkir'][indeks] = 0

settlement['Bi Bahan Produk'] = settlement['Original Price'] + settlement['Seller Price Discount'] + settlement['Seller Voucher Discount'] + settlement['Seller Other Discounts']
settlement['Base For Fullfee'] = settlement['Original Price'] + settlement['Seller Price Discount'] 

settlement['Seller SKU'] = settlement['Seller SKU'].astype(str)
settlement['Order ID'] = settlement['Order ID'].astype(str)
jd_wms['Real SKU'] = jd_wms['Real SKU'].astype(str)
jd_wms['OrderId'] = jd_wms['OrderId'].astype(str)

no_prop = jd_wms[jd_wms['Brand'].isin(['Bonus Produk', 'Gimmick'])]
jd_prop = jd_wms[~jd_wms['Brand'].isin(['Bonus Produk', 'Gimmick'])]

bundle_wms = jd_prop[jd_prop['Bundle Name'].notnull()]
jd_set = jd_prop[jd_prop['Bundle Name'].isnull()]

### isu gk bisa groupby beda data type 28 MEi 2022
settlement['Selisih Ongkir']=settlement['Selisih Ongkir'].astype(int)
settlement['Bi Bahan Produk']=settlement['Bi Bahan Produk'].astype(int)
settlement['Base For Fullfee']=settlement['Base For Fullfee'].astype(int)
###

jd_set = jd_set.merge(settlement.groupby(['Order ID', 'Seller SKU'])[['Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']].sum().reset_index().drop_duplicates(['Order ID', 'Seller SKU']), how = 'left', left_on = ['OrderId', 'Real SKU'], right_on = ['Order ID', 'Seller SKU'])

jd_set['Bi Bahan Produk'] = jd_set['Bi Bahan Produk'].fillna(0) * jd_set['Total Net Before PPN']/jd_set.groupby(['OrderId', 'Real SKU'])['Total Net Before PPN'].transform('sum')
jd_set['Commision'] = jd_set['Commision'].fillna(0) * jd_set['Total Net Before PPN']/jd_set.groupby(['OrderId', 'Real SKU'])['Total Net Before PPN'].transform('sum')
jd_set['Selisih Ongkir'] = jd_set['Selisih Ongkir'].fillna(0) * jd_set['Total Net Before PPN']/jd_set.groupby(['OrderId', 'Real SKU'])['Total Net Before PPN'].transform('sum')
jd_set['Base For Fullfee'] = jd_set['Base For Fullfee'].fillna(0) * jd_set['Total Net Before PPN']/jd_set.groupby(['OrderId', 'Real SKU'])['Total Net Before PPN'].transform('sum')

bundle_set = bundle_wms.merge(jd_set.groupby(['OrderId', 'Product Name'])[['Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']].sum().reset_index(), how = 'left', left_on = ['OrderId', 'Bundle Name'], right_on = ['OrderId', 'Product Name'])
bundle_set = bundle_set.rename(columns = {'Product Name_x' : 'Product Name'})
bundle_set = bundle_set.drop('Product Name_y', axis = 1)

bundle_set['Bi Bahan Produk'] = bundle_set['Bi Bahan Produk'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Commision'] = bundle_set['Commision'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Selisih Ongkir'] = bundle_set['Selisih Ongkir'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Base For Fullfee'] = bundle_set['Base For Fullfee'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

jd_set = jd_set.append(bundle_set, ignore_index = True, sort = False)

no_set = settlement[settlement['Seller SKU'].astype(str).str.contains('^\(B\)', regex = True)]

bundle_noprop = no_prop[no_prop['Bundle Name'].notnull()]
no_prop_set = no_prop[no_prop['Bundle Name'].isnull()]

no_prop_set = no_prop_set.merge(no_set.groupby(['Order ID', 'Seller SKU'])[['Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']].sum().reset_index().drop_duplicates(['Order ID', 'Seller SKU']), how = 'left', left_on = ['OrderId', 'Real SKU'], right_on = ['Order ID', 'Seller SKU'])

no_prop_set['Bi Bahan Produk'] = no_prop_set['Bi Bahan Produk'].fillna(0) * no_prop_set['Qty. Invoiced']/no_prop_set.groupby(['OrderId', 'Real SKU'])['Qty. Invoiced'].transform('sum')
no_prop_set['Commision'] = no_prop_set['Commision'].fillna(0) * no_prop_set['Qty. Invoiced']/no_prop_set.groupby(['OrderId', 'Real SKU'])['Qty. Invoiced'].transform('sum')
no_prop_set['Selisih Ongkir'] = no_prop_set['Selisih Ongkir'].fillna(0) * no_prop_set['Qty. Invoiced']/no_prop_set.groupby(['OrderId', 'Real SKU'])['Qty. Invoiced'].transform('sum')
no_prop_set['Base For Fullfee'] = no_prop_set['Base For Fullfee'].fillna(0) * no_prop_set['Qty. Invoiced']/no_prop_set.groupby(['OrderId', 'Real SKU'])['Qty. Invoiced'].transform('sum')

no_prop = no_prop_set.append(bundle_noprop, ignore_index = True, sort = False)

jd_set = jd_set.append(no_prop, ignore_index = True, sort = False)

In [80]:
## run 25
jd_null = jd_set[(jd_set['OrderId'].astype(str).isin(settlement['Order ID'].astype(str).unique())) & ((jd_set['Bi Bahan Produk'].isnull()) | (jd_set['Bi Bahan Produk'] == 0))]

temp = jd_null[(jd_null['Bundle Name'].isnull())].groupby(['Real SKU', 'Product Name'])['OrderId'].first().reset_index()
cek=temp.copy()
temp = temp.merge(settlement[['Order ID', 'SKU Name', 'Seller SKU', 'Bi Bahan Produk', 'Base For Fullfee']].drop_duplicates(['Order ID', 'SKU Name']), how = 'left', left_on = ['OrderId', 'Product Name'], right_on = ['Order ID', 'SKU Name'])
temp = temp[temp['Seller SKU'] != 'nan']

for i in temp.index:
    indeks = settlement[settlement['Seller SKU'] == str(temp['Seller SKU'][i])].index.to_list()
    settlement['Seller SKU'][indeks] = temp['Real SKU'][i]

indeks = settlement[settlement['SKU Name'] == 'Buy 1 Get 1 Free - HiLo School Chocolate Ready To Drink [200ml/2pcs] - ED dibawah 6 bulan'].index.to_list()
settlement['Seller SKU'][indeks] = '(E)2101492'

indeks = settlement[settlement['SKU Name'] == 'Buy 1 Get 1 - HiLo Chocolate Taro Ready to Drink 200ml (Exp Juni 2022)'].index.to_list()
settlement['Seller SKU'][indeks] = '(E)2101809250'
 
jd_null = jd_null.drop(['Order ID', 'Seller SKU', 'Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee'], axis = 1)
 
no_prop = jd_null[jd_null['Brand'].isin(['Bonus Produk', 'Gimmick'])]
jd_prop = jd_null[~jd_null['Brand'].isin(['Bonus Produk', 'Gimmick'])]

bundle_wms = jd_prop[jd_prop['Bundle Name'].notnull()]
jd_null = jd_prop[jd_prop['Bundle Name'].isnull()]

jd_null = jd_null.merge(settlement[['Order ID', 'Seller SKU', 'Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']].drop_duplicates(['Order ID', 'Seller SKU']), how = 'left', left_on = ['OrderId', 'Real SKU'], right_on = ['Order ID', 'Seller SKU']).set_index(jd_null.index)

bundle_set = bundle_wms.merge(jd_null.groupby(['OrderId', 'Product Name'])[['Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']].sum().reset_index(), how = 'left', left_on = ['OrderId', 'Bundle Name'], right_on = ['OrderId', 'Product Name']).set_index(bundle_wms.index)
bundle_set = bundle_set.rename(columns = {'Product Name_x' : 'Product Name'})
bundle_set = bundle_set.drop('Product Name_y', axis = 1)

bundle_set['Bi Bahan Produk'] = bundle_set['Bi Bahan Produk'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Commision'] = bundle_set['Commision'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Selisih Ongkir'] = bundle_set['Selisih Ongkir'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Base For Fullfee'] = bundle_set['Base For Fullfee'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

jd_null = jd_null.append(bundle_set, sort = False)
for i in ['Order ID', 'Seller SKU', 'Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']:
    print(i)
    jd_set[i][jd_null.index] = jd_null[i]
    
jd_null = jd_set[(jd_set['OrderId'].astype(str).isin(settlement['Order ID'].astype(str).unique())) & ((jd_set['Bi Bahan Produk'].isnull()) | (jd_set['Bi Bahan Produk'] == 0))]

temp = jd_null[(jd_null['Bundle Name'].isnull())].groupby(['Real SKU', 'Product Name'])['OrderId'].first().reset_index()
temp = temp.merge(settlement[['Order ID', 'SKU Name', 'Seller SKU', 'Bi Bahan Produk', 'Base For Fullfee']].drop_duplicates(['Order ID', 'SKU Name']), how = 'left', left_on = ['OrderId', 'Product Name'], right_on = ['Order ID', 'SKU Name'])
temp = temp[temp['Seller SKU'] != 'nan']

for i in temp.index:
    indeks = settlement[settlement['Seller SKU'] == str(temp['Seller SKU'][i])].index.to_list()
    settlement['Seller SKU'][indeks] = temp['Real SKU'][i]

indeks = settlement[settlement['Seller SKU'] == '(E)2101809250'].index.to_list()
settlement['Seller SKU'][indeks] = 'PH39U8'

indeks = settlement[settlement['Seller SKU'] == '(E)2101947250P2'].index.to_list()
settlement['Seller SKU'][indeks] = 'PH43U10'
 
jd_null = jd_null.drop(['Order ID', 'Seller SKU', 'Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee'], axis = 1)
 
no_prop = jd_null[jd_null['Brand'].isin(['Bonus Produk', 'Gimmick'])]
jd_prop = jd_null[~jd_null['Brand'].isin(['Bonus Produk', 'Gimmick'])]

bundle_wms = jd_prop[jd_prop['Bundle Name'].notnull()]
jd_null = jd_prop[jd_prop['Bundle Name'].isnull()]

jd_null = jd_null.merge(settlement[['Order ID', 'Seller SKU', 'Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']].drop_duplicates(['Order ID', 'Seller SKU']), how = 'left', left_on = ['OrderId', 'Real SKU'], right_on = ['Order ID', 'Seller SKU']).set_index(jd_null.index)

bundle_set = bundle_wms.merge(jd_null.groupby(['OrderId', 'Product Name'])[['Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']].sum().reset_index(), how = 'left', left_on = ['OrderId', 'Bundle Name'], right_on = ['OrderId', 'Product Name']).set_index(bundle_wms.index)
bundle_set = bundle_set.rename(columns = {'Product Name_x' : 'Product Name'})
bundle_set = bundle_set.drop('Product Name_y', axis = 1)

bundle_set['Bi Bahan Produk'] = bundle_set['Bi Bahan Produk'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Commision'] = bundle_set['Commision'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Selisih Ongkir'] = bundle_set['Selisih Ongkir'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundle_set['Base For Fullfee'] = bundle_set['Base For Fullfee'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

jd_null = jd_null.append(bundle_set, sort = False)
for i in ['Order ID', 'Seller SKU', 'Commision', 'Selisih Ongkir', 'Bi Bahan Produk', 'Base For Fullfee']:
    print(i)
    jd_set[i][jd_null.index] = jd_null[i]

Order ID
Seller SKU
Commision
Selisih Ongkir
Bi Bahan Produk
Base For Fullfee
Order ID
Seller SKU
Commision
Selisih Ongkir
Bi Bahan Produk
Base For Fullfee

In [35]:
jd_set[(jd_set['OrderId'].astype(str).isin(settlement['Order ID'].astype(str).unique())) & ((jd_set['Bi Bahan Produk'].isnull()) | (jd_set['Bi Bahan Produk'] == 0))].groupby('SKU')['OrderId'].first().reset_index().sort_values('OrderId')

                SKU     OrderId
15      (B)71210187  1082538437
31    (U)2101809250  1082575914
32    (U)2101947250  1082625091
19      (G)71210207  1082627630
18       (E)2101492  1084304710
10  (B)2309005305P3  1085297054
9     (B)2309005305  1085297054
20      (G)71210209  1085328327
0        (B)2101492  1085378868
8     (B)2307061250  1085390249
21      (G)71210210  1085582914
24      (G)71210222  1089443518
4     (B)2104115163  1089642117
25      (G)71210223  1094749900
14      (B)71210167  1097200173
23      (G)71210215  1099218443
27      (G)71210225  1100956592
26      (G)71210224  1101617508
28      (G)71210241  1101741330
30      (G)71210260  1103048644
29      (G)71210258  1103604221
3     (B)2102526125  1106154366
35         PH79G233  1107414783
34       2101479180  1107414783
33       1101656318  1110251003
13      (B)71210026  1113690782
7     (B)2106323165  1114042663
2     (B)2101816250  1114113324
11    (B)2HF1403250  1114334666
12    (B)2HH1407250  1114388700
16      (B)71210295  1114410172
1     (B)2101710110  1116577301
5     (B)2104148164  1116907321
6     (B)2104589105  1116922555
17    (E)2101481443  1117353137
22      (G)71210214  1119573612

In [81]:
### run 26
jd_refund = jd_set[jd_set['OrderId'].astype(str).isin(refund['Order ID'].astype(str))]
jd_notrefund = jd_set[~jd_set['OrderId'].astype(str).isin(refund['Order ID'].astype(str))]
refund = refund[refund['Seller SKU'].notnull()]
refund['Order ID Refund'] = refund['Order ID'].astype(str)
refund['Seller SKU Refund'] = refund['Seller SKU'].astype(str)

no_prop = jd_refund[jd_refund['Brand'].isin(['Bonus Produk', 'Gimmick'])]
jd_prop = jd_refund[~jd_refund['Brand'].isin(['Bonus Produk', 'Gimmick'])]

bundle_wms = jd_refund[jd_refund['Bundle Name'].notnull()]
jd_refund = jd_refund[jd_refund['Bundle Name'].isnull()]

jd_refund = jd_refund.merge(refund.groupby(['Order ID Refund', 'Seller SKU Refund'])[['Final Amount']].sum().reset_index().drop_duplicates(['Order ID Refund', 'Seller SKU Refund']), how = 'left', left_on = ['OrderId', 'Real SKU'], right_on = ['Order ID Refund', 'Seller SKU Refund'])

jd_refund['Final Amount'] = jd_refund['Final Amount'].fillna(0) * jd_refund['Total Net Before PPN']/jd_refund.groupby(['OrderId', 'Real SKU'])['Total Net Before PPN'].transform('sum')

bundle_set = bundle_wms.merge(jd_refund.groupby(['OrderId', 'Product Name'])[['Final Amount']].sum().reset_index(), how = 'left', left_on = ['OrderId', 'Bundle Name'], right_on = ['OrderId', 'Product Name'])
bundle_set = bundle_set.rename(columns = {'Product Name_x' : 'Product Name'})
bundle_set = bundle_set.drop('Product Name_y', axis = 1)

bundle_set['Final Amount'] = bundle_set['Final Amount'].fillna(0) * bundle_set['Total Net Before PPN']/bundle_set.groupby(['OrderId', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

jd_refund = jd_refund.append(bundle_set, ignore_index = True, sort = False)
jd_refund = jd_refund.append(no_prop, ignore_index = True, sort = False)

jd_refund['Bi Bahan Produk Final'] = jd_refund['Bi Bahan Produk'] + jd_refund['Final Amount'].fillna(0)

jd_set = jd_notrefund.append(jd_refund, ignore_index = True, sort = False)
jd_set['Bi Bahan Produk Final'] = jd_set['Bi Bahan Produk Final'].fillna(jd_set['Bi Bahan Produk'])

In [82]:
### run 27
jd_set['True datetime'] = pd.to_datetime(jd_set['BookTime'])

In [83]:
### run 28
jd_set['True datetime'].dt.month_name().unique()

array(['June', 'January', 'February', 'March', 'April', 'May', 'July',
       'September', 'October', 'November', 'December', 'August'],
      dtype=object)

In [84]:
## run 29
from datetime import datetime

jd_set['Paid'] = np.nan

indeks = jd_set[jd_set['OrderId'].astype(str).isin(settlement['Order ID'].astype(str).unique())].index.to_list()
jd_set['Paid'][indeks] = 'Paid'
jd_set['Paid'] = jd_set['Paid'].fillna('Unpaid')

indeks = jd_set[(jd_set['Paid'] == 'Paid') & (jd_set['Bi Bahan Produk Final'] <= 0)].index.to_list()
jd_set['Paid'][indeks] = 'Refund'

indeks = jd_set[(jd_set['Final Amount'].notnull()) & (jd_set['Bi Bahan Produk Final'] > 0)].index.to_list()
jd_set['Paid'][indeks] = 'Half Paid'

indeks = jd_set[
    (jd_set['Paid'] == 'Unpaid') &
    (jd_set['Order State'] == 'Waiting Acceptance') &
    ((datetime.today() - pd.to_datetime(jd_set['True datetime'])).dt.days >= 90)
].index.to_list()

jd_set['Paid'][indeks] = 'Refund'

indeks = jd_set[
    (jd_set['Paid'] == 'Unpaid') &
    (jd_set['Order State'] == 'Canceled') &
    (jd_set['WH'] == 'JD Warehouse')
].index.to_list()

jd_set['Paid'][indeks] = 'Cancel'

indeks = jd_set[
    (jd_set['Paid'] == 'Unpaid') &
    (jd_set['Order State'] == 'Batal') &
    (jd_set['WH'] == 'JD Warehouse')
].index.to_list()

jd_set['Paid'][indeks] = 'Cancel'

indeks = jd_set[
    (jd_set['Paid'] == 'Unpaid') &
    (jd_set['Order State'] == 'Canceled') &
    (jd_set['WH'] == 'Telkom')
].index.to_list()

jd_set['Paid'][indeks] = 'Refund'

indeks = jd_set[
    (jd_set['Paid'] == 'Unpaid') &
    (jd_set['Order State'] == 'Batal') &
    (jd_set['WH'] == 'Telkom')
].index.to_list()

jd_set['Paid'][indeks] = 'Refund'

indeks = jd_set[jd_set['Bi Bahan Produk Final'] < 0].index.to_list()
jd_set['Selisih Ongkir'][indeks] = jd_set['Bi Bahan Produk Final'][indeks]
jd_set['Bi Bahan Produk Final'][indeks] = 0

indeks = jd_set[(jd_set['Paid'] == 'Paid') &
      (jd_set['ECLP Order'] == 'N') &
      (jd_set['Outbound Status'].isnull()) &
      (jd_set['True datetime'] > '2021-07-28') &
       (jd_set['True datetime'] < '2021-09-06')
      ].index.to_list()
jd_set['Outbound Status'][indeks] = 'confirmed'
jd_set['Outbound Qty'][indeks] = jd_set['Qty. Invoiced'][indeks]

jd_set_gimmick = jd_set[jd_set['Brand'].isin(['Gimmick', 'Bonus Produk'])]
paid = jd_set[jd_set['Paid'] == 'Paid']['OrderId'].unique()

indeks = jd_set_gimmick[jd_set_gimmick['OrderId'].isin(paid)].index.to_list()
jd_set['Paid'][indeks] = 'Paid'

In [85]:
## run 29
tambah_unpaid = pd.read_excel(r'Settlement Project/unpaid order to Andra.xlsx', sheet_name = 'Unpaid to cancel or not found')

tambah_unpaid['Order #'] = tambah_unpaid['Order #'].astype(str)
indeks = jd_set[jd_set['OrderId'].isin(tambah_unpaid['Order #'])].index.to_list()
print(len(indeks))
jd_set['Order State'][indeks] = 'Cancel'
jd_set['Paid'][indeks] = 'Cancel'

tambah_unpaid = pd.read_excel(r'Settlement Project/unpaid order to Andra.xlsx', sheet_name = 'case JD')

tambah_unpaid['Order #'] = tambah_unpaid['Order #'].astype(str)
indeks = jd_set[jd_set['OrderId'].isin(tambah_unpaid['Order #'])].index.to_list()
print(len(indeks))
jd_set['Order State'][indeks] = 'Completed'
jd_set['Paid'][indeks] = 'Paid'

0
0

In [86]:
### run 30
unpaid = jd_set[jd_set['Paid'] == 'Unpaid']
paid = jd_set[jd_set['Paid'] != 'Unpaid']

unpaid['Bi Bahan Produk Final'] = unpaid['PaySubtotal']

no_prop = unpaid[unpaid['Brand'].isin(['Bonus Produk', 'Gimmick'])]
unpaid_prop = unpaid[~unpaid['Brand'].isin(['Bonus Produk', 'Gimmick'])]

unpaid_real = unpaid_prop[unpaid_prop['Bundle Name'].isnull()]
unpaid_bundle = unpaid_prop[unpaid_prop['Bundle Name'].notnull()]

comm = pd.read_excel(r'Settlement Project/JD/JD/Cost per Item.xlsx')
comm['After'] = comm['After'].fillna(comm['Now'])

unpaid_real = unpaid_real.merge(comm[['Real Nama Produk', 'After']], how = 'left', on = 'Real Nama Produk')
unpaid_real['After'] = unpaid_real['After'].fillna(-0.05)
unpaid_real['Commision'] = unpaid_real['Bi Bahan Produk Final'] * unpaid_real['After']

unpaid_bundle['Commision'] = unpaid_bundle.merge(unpaid_real[['OrderId', 'Product Name', 'Commision']].drop_duplicates(['OrderId', 'Product Name']), how = 'left', left_on = ['OrderId', 'Bundle Name'], right_on = ['OrderId', 'Product Name']).set_index(unpaid_bundle.index)['Commision_y']
unpaid_bundle['Commision'] = unpaid_bundle['Commision'].fillna(0) * unpaid_bundle['Qty. Invoiced']/unpaid_bundle.groupby(['OrderId', 'Bundle Name'])['Qty. Invoiced'].transform('sum')

unpaid = unpaid_real.append(unpaid_bundle, ignore_index = True, sort = False).append(no_prop, ignore_index = True, sort = False)

total_trx = paid.append(unpaid, ignore_index = True, sort = False)

no_prop = total_trx[total_trx['Brand'].isin(['Bonus Produk', 'Gimmick'])]
total_trx_prop = total_trx[~total_trx['Brand'].isin(['Bonus Produk', 'Gimmick'])]

In [87]:
## run 31
total_trx_prop['FullFee'] = np.nan

total_trx_real = total_trx_prop[total_trx_prop['Bundle Name'].isnull()]
total_trx_bundle = total_trx_prop[total_trx_prop['Bundle Name'].notnull()]

indeks = total_trx_real[(total_trx_real['Base For Fullfee']/total_trx_real['Qty. Invoiced'] < 20001)].index.to_list()
total_trx_real['FullFee'][indeks] = total_trx_real['Qty. Invoiced'][indeks] * 1500

indeks = total_trx_real[(total_trx_real['Base For Fullfee']/total_trx_real['Qty. Invoiced'] >= 20001) & (total_trx_real['Base For Fullfee']/total_trx_real['Qty. Invoiced'] <= 40000)].index.to_list()
total_trx_real['FullFee'][indeks] = total_trx_real['Qty. Invoiced'][indeks] * 2000

indeks = total_trx_real[(total_trx_real['Base For Fullfee']/total_trx_real['Qty. Invoiced'] >= 40001) & (total_trx_real['Base For Fullfee']/total_trx_real['Qty. Invoiced'] <= 60000)].index.to_list()
total_trx_real['FullFee'][indeks] = total_trx_real['Qty. Invoiced'][indeks] * 2500

indeks = total_trx_real[(total_trx_real['Base For Fullfee']/total_trx_real['Qty. Invoiced'] > 60000)].index.to_list()
total_trx_real['FullFee'][indeks] = total_trx_real['Qty. Invoiced'][indeks] * 3000

indeks = total_trx_real[(total_trx_real['Brand'] == 'Bundle')].index.to_list()
total_trx_real['FullFee'][indeks] = total_trx_real['FullFee'][indeks] + 1300

total_trx_bundle['FullFee'] = total_trx_bundle.merge(total_trx_real[['OrderId', 'Product Name', 'FullFee']].drop_duplicates(['OrderId', 'Product Name']), how = 'left', left_on = ['OrderId', 'Bundle Name'], right_on = ['OrderId', 'Product Name']).set_index(total_trx_bundle.index)['FullFee_y']
total_trx_bundle['FullFee'] = total_trx_bundle['FullFee'].fillna(0) * total_trx_bundle['Qty. Invoiced']/total_trx_bundle.groupby(['OrderId', 'Bundle Name'])['Qty. Invoiced'].transform('sum')

total_trx_final = total_trx_real.append(total_trx_bundle, ignore_index = True, sort = False)

no_prop['FullFee'] = np.nan

no_prop_value = no_prop[no_prop['Bundle Name'].isnull()]
no_prop_novalue = no_prop[no_prop['Bundle Name'].notnull()]

no_prop_value['FullFee'] = no_prop_value['Qty. Invoiced'] * 1500

no_prop = no_prop_value.append(no_prop_novalue, ignore_index = True, sort = False)

total_trx_final = total_trx_final.append(no_prop, ignore_index = True, sort = False)

indeks = total_trx_final[(total_trx_final['WH'] == 'Telkom')].index.to_list()
total_trx_final['FullFee'][indeks] = np.nan

In [88]:
### run 32
total_trx_final['Total Net'] = total_trx_final['Price List NFI'] * total_trx_final['Qty. Invoiced']
total_trx_final['Total Net Before PPN'] = total_trx_final['Total Net']/1.11

total_trx_final['Bi Bahan Produk Final'] = total_trx_final['Bi Bahan Produk Final'].fillna(0)
total_trx_final['Bi Bahan Produk Final Adj'] = total_trx_final['Bi Bahan Produk Final']/1.11
total_trx_final['BTL Cost'] = total_trx_final['Bi Bahan Produk Final Adj'] - total_trx_final['Total Net Before PPN']
total_trx_final['ComFee Final'] = total_trx_final['Commision']
total_trx_final['FullFee Final'] = total_trx_final['FullFee'] * (-1)
total_trx_final['Shipment Fee'] = total_trx_final['Selisih Ongkir']

indeks = total_trx_final[(total_trx_final['WH'] == 'Telkom')].index.to_list()
total_trx_final['FullFee Final'][indeks] = 0

indeks = total_trx_final[(total_trx_final['ECLP Order'] == 'N')].index.to_list()
total_trx_final['FullFee Final'][indeks] = 0

In [89]:
## run 33

total_trx_full = total_trx_final.rename(columns = {
    'SKU Number' : 'Product ID',
    'PaySubtotal' : 'Total Selcen',
    'Order State' : 'Order Status_y',
    'ECLP Order' : 'Warehouse Origin',
    'Outbound Status' : 'SO STATUS',
    'Bi Bahan Produk Final' : 'Total Produk Prop',
    'FullFee Final' : 'Fullfee Prop',
    'ComFee Final' : 'Comfee Prop',
    'BookTime' : 'Order Date Seller Centre',
    'Outbound Qty' : 'Warehouse Quantity'
})

total_trx_full = total_trx_full.rename(columns = {
    'Total Selcen' : 'Total Seller Centre', 
    'Order Status_y' : 'Order Status Seller Centre',
    'SO STATUS' : 'Status Gudang',
    'Shipment Fee' : 'Shipping Fee', 
    'Bi Bahan Produk Final Adj' : 'Total Produk Prop Adj'
})

In [44]:
##### kyknya sampai sini perlu export trus bandingin sama realisasi sebelumnya

In [90]:
## run 34
total_trx_full = total_trx_full.rename(columns = {'Total Produk Prop' : 'Total Produk Prop', 
                                                   'Total Net' : 'Total Net', 
                                                   'Fullfee Prop' : 'Fullfee Prop', 
                                                   'Comfee Prop' : 'Comfee Prop'})


source = pd.read_csv(r"D:\settlement\Code\Settlement Project\Backup\Realisasi Jan 2023\Final Result\Raw Unpivoted\CSV\Running JD By Selcen Jan 2022 - Jan 2023.csv", sep = ';')
# source = source.rename(columns = {'Paid' : 'Paid February'})

total_trx_full['No. Pesanan'] = total_trx_full['OrderId'].astype(str)
source['Order #'] = source['OrderId']#.astype(str)
source['Order #'] = source['Order #'].astype(str)

total_trx_merge = total_trx_full.merge(source[['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced', 'Paid January', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced']), how = 'left', left_on = ['OrderId', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'], right_on = ['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'])

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

total_trx_null = total_trx_null.drop(['Order #', 'Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y', 'Paid January',], axis = 1)
total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net', 
                                                  'Total Produk Prop_x' : 'Total Produk Prop',
                                                  'Comfee Prop_x' : 'Comfee Prop'})

total_trx_null = total_trx_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Paid January','Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name']), how = 'left', left_on = ['OrderId', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(total_trx_null.index) 
total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']
total_trx_merge['Paid January'][total_trx_null.index] = total_trx_null['Paid January']

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

total_trx_null = total_trx_null.drop(['Order #', 'Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y', 'Paid January',], axis = 1)
total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net',
                                                  'Total Produk Prop_x' : 'Total Produk Prop',
                                                  'Comfee Prop_x' : 'Comfee Prop'})

total_trx_null = total_trx_null.merge(source[['Order #', 'Real SKU', 'Bundle Name', 'Paid January','Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', left_on = ['OrderId', 'Real SKU',  'Bundle Name'], right_on = ['Order #', 'Real SKU', 'Bundle Name']).set_index(total_trx_null.index) 
total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']
total_trx_merge['Paid January'][total_trx_null.index] = total_trx_null['Paid January']

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

# source2 = source.copy()

# source2['Real SKU'] = source2['Real SKU'].astype(str).str.replace('2309005305', '2309005300')

# # indeks = source2[source2['Real SKU'] == '(B)2101809250'].index.to_list()
# # source2['Real SKU'][indeks] = '(U)2101809250'

# # indeks = source2[source2['Real SKU'] == 'PH48(3)B35'].index.to_list()
# # source2['Real SKU'][indeks] = '2101941250P4'

# # indeks = source2[source2['Real SKU'] == 'PH39(3)B17'].index.to_list()
# # source2['Real SKU'][indeks] = '2101809250P4'

# total_trx_null = total_trx_null.drop(['Order #', 'Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
# total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net', 
#                                                   'Total Produk Prop_x' : 'Total Produk Prop',
#                                                   'Comfee Prop_x' : 'Comfee Prop'})

# total_trx_null = total_trx_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name']), how = 'left', left_on = ['OrderId', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(total_trx_null.index) 
# total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
# total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
# total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (2,12,18,21,22,66,71,79,86,87,94,102,110,111,131,133,135,137,142,148) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
total_trx_null[total_trx_null['OrderId'].isin(source['Order #'])][['OrderId', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Paid', 'Total Net_x', 'Total Net_y']]

Empty DataFrame
Columns: [OrderId, Real SKU, Real Nama Produk, Bundle Name, Paid, Total Net_x, Total Net_y]
Index: []

In [91]:
### run 35
total_trx_merge['Paid Beda'] = np.nan
# total_trx_merge.loc[(total_trx_merge['Paid']=='Unpaid')&((total_trx_merge['Paid September']=='Cancel')),'Paid']='Cancel'
indeks = total_trx_merge[total_trx_merge['Paid'] != total_trx_merge['Paid January']].index.to_list()
total_trx_merge['Paid Beda'][indeks] = 'Beda'

total_trx_merge['Paid Beda'] = total_trx_merge['Paid Beda'].fillna('Sama')
# total_trx_merge[total_trx_merge['Paid Beda'] == 'Beda'][['Order #','Brand','Real SKU','Month', 'Paid_x', 'Paid_y', 'Paid Beda']]
total_trx_merge[total_trx_merge['Paid Beda'] == 'Beda'].groupby(['Month', 'Paid', 'Paid January'], dropna = False)['OrderId'].nunique()

Month     Paid    Paid January
February  Paid    NaN              1
January   Paid    Unpaid           6
                  NaN             29
          Unpaid  NaN              1
Name: OrderId, dtype: int64

In [92]:
## run 36
total_trx_merge = total_trx_merge.rename(columns = {'Paid' : 'Paid January 2'})

In [93]:
## run 37
total_trx_merge = total_trx_merge.rename(columns = {'Total Produk Prop_x' : 'Total Produk Prop by Selcen', 
                                                   'Total Produk Prop_y' : 'Total Produk Prop Real Jan',
                                                   'Total Net_x' : 'Total Net by Selcen', 
                                                   'Total Net_y' : 'Total Net Real Jan',
                                                   'Fullfee Prop_x' : 'Fullfee Prop by Selcen', 
                                                   'Fullfee Prop_y' : 'Fullfee Prop Real Jan',
                                                   'Comfee Prop_x' : 'Comfee Prop by Selcen', 
                                                   'Comfee Prop_y' : 'Comfee Prop Real Jan'})

total_trx_merge['Delta Total Net'] = total_trx_merge['Total Net by Selcen'] - total_trx_merge['Total Net Real Jan']
total_trx_merge['Delta Total Produk Prop'] = total_trx_merge['Total Produk Prop by Selcen'] - total_trx_merge['Total Produk Prop Real Jan']
total_trx_merge['Delta Comfee Prop'] = total_trx_merge['Comfee Prop by Selcen'] - total_trx_merge['Comfee Prop Real Jan']

In [94]:
## run 38
total_trx_merge = total_trx_merge.rename(columns = {'Total Produk Prop by Selcen': 'Total Produk Prop', 
                                                   'Total Net by Selcen' : 'Total Net', 
                                                   'Fullfee Prop by Selcen' : 'Fullfee Prop', 
                                                   'Comfee Prop by Selcen' : 'Comfee Prop'})


total_trx_merge = total_trx_merge.drop(['Order #', 'Total Net Real Jan', 'Total Produk Prop Real Jan',
       'Comfee Prop Real Jan', 'Delta Total Net', 'Delta Total Produk Prop',
       'Delta Comfee Prop'], axis = 1)

total_trx_merge['OrderId'] = total_trx_merge['OrderId'].astype(str)

In [95]:
## run 39
hasilakhir=pd.read_excel(r"D:\settlement\Code\Settlement Project\Backup\Realisasi Oct 2022\Final Result\Raw Unpivoted\Excel\Running JD By Selcen Jan 2022 - Oct 2022.xlsx")

In [96]:
### run 40
from datetime import date
# hasilakhir=hasilakhir.rename(columns={'Paid February':'Paid March 1'})
hasilakhir=hasilakhir.rename(columns={'Paid October':'Paid January 2'})
hasilakhir=hasilakhir.rename(columns={'Paid September':'Paid January'})
hasilakhir=hasilakhir.head(0)

In [97]:
#### run 41
hasilakhir=hasilakhir.append(total_trx_merge)

In [98]:
### run 42 - ganti nama bulan ya
hasilakhir.to_excel(r'D:\settlement\Code\Settlement Project\Backup\Realisasi Jan 2023\Final Result\Raw Unpivoted\Excel/Running JD By Selcen Jan 2022 - Jan 2023 closed.xlsx', index = False)
hasilakhir.to_csv(r'D:\settlement\Code\Settlement Project\Backup\Realisasi Jan 2023\Final Result\Raw Unpivoted\CSV/Running JD By Selcen Jan 2022 - Jan 2023 closed.csv',sep=';', index = False)

In [55]:
##### selesai :) #####

,OrderId,Sku Id,SKU,Qty. Invoiced,Pay Type,Order Date Seller Centre,Total Price,Installment Fee,Freight,Order Status Seller Centre,Customer Name,Remark,Delivery Time,Order Complete Time,Province,City,District,Address,Phone,Delivery Type,CarrierCode,Express company,Express No,Promotion Amount,Coupon Amount,JD Point,Total Seller Centre,Tax and Import Fee,Self Delivery Id,Product ID,Product Name,SKU qtty,EPI Price,SKU Tax and Import Fee,Source,Warehouse Origin,Year,Month,Real SKU,Real Nama Produk,Brand,Sub Brand,Produk 1,SKU Produk 1,PCS Produk 1,Price List NFI 1,Subtotal Produk 1,Harga Display 1,Harga Cost 1,Harga Organik 1,Produk 2,SKU Produk 2,PCS Produk 2,Price List NFI 2,Subtotal Produk 2,Harga Display 2,Harga Cost 2,Harga Organik 2,Produk 3,SKU Produk 3,PCS Produk 3,Price List NFI 3,Subtotal Produk 3,Harga Display 3,Harga Cost 3,Harga Organik 3,Produk 4,SKU Produk 4,PCS Produk 4,Price List NFI 4,Subtotal Produk 4,Harga Display 4,Harga Cost 4,Harga Organik 4,Produk 5,SKU Produk 5,PCS Produk 5,Price List NFI 5,Subtotal Produk 5,Harga Display 5,Harga Cost 5,Harga Organik 5,Produk 6,SKU Produk 6,PCS Produk 6,Price List NFI 6,Subtotal Produk 6,Harga Display 6,Harga Cost 6,Harga Organik 6,Produk 7,SKU Produk 7,PCS Produk 7,Price List NFI 7,Subtotal Produk 7,Harga Display 7,Harga Cost 7,Harga Organik 7,Price List NFI,Harga Cost,Total Net,Total Harga Cost,Total Net Before PPN,Bundle Name,Bundle Flag,Parent Item,Parent SKU,ECLP Order No.,Sales platform order No.,SKU WH,Status Gudang,Warehouse Quantity,WH,Order ID,Seller SKU,Commision,Selisih Ongkir,Bi Bahan Produk,Base For Fullfee,Order ID Refund,Seller SKU Refund,Final Amount,Total Produk Prop,True datetime,Paid December,After,FullFee,Total Produk Prop Adj,BTL Cost,Comfee Prop,Fullfee Prop,Shipping Fee,No. Pesanan,Paid November,Paid Beda
56768,1118836703,697600592,2T00803164P2,2.0,Online Payment,2022/12/10 19:39,80000.000000,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,36153.418566,4446.914953,0.0,39399.666481,0,NaN,697600592,BUY 1 GET 1 - Tropicana Slim Orange Cocoa 4 Sa...,2,80000.000000,0,44501_sku_data202212.xls,N,2022,December,2T00803164P2,BUY 1 GET 1 - Tropicana Slim Orange Cocoa 4 Sa...,Bundle,NaN,Tropicana Slim Orange Cocoa 4 sachet,2T00803164,4.0,16650.0,33300.0,40000.0,33300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33300.0,33300,66600.0,66600,60000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,confirmed,2.0,Telkom,1118836703,2T00803164P2,-1779.200000,0.0,35584.000000,39600.000000,NaN,NaN,NaN,35584.000000,2022-12-10 19:39:00,Paid,NaN,NaN,32057.657658,-27942.342342,-1779.200000,0.0,0.0,1118836703,NaN,Beda
56769,1118836703,704212710,(J)71110130,1.0,Online Payment,2022/12/10 19:39,99900.000000,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,45146.581434,5553.085047,0.0,49200.333519,0,NaN,704212710,Tropicana Slim Chill Out Kit - Paket Hampers,1,99900.000000,0,44501_sku_data202212.xls,N,2022,December,(J)71110130,Parsel Tropicana Slim Chill Out Kit - 2022,Bundle,Tropicana Slim Kuning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66066.0,87066,66066.0,87066,59518.918919,NaN,NaN,NaN,NaN,NaN,1118836703,(J)71110130,confirmed,1.0,Telkom,1118836703,(J)71110130,-2650.800000,0.0,53016.000000,59000.000000,NaN,NaN,NaN,53016.000000,2022-12-10 19:39:00,Paid,NaN,NaN,47762.162162,-11756.756757,-2650.800000,0.0,0.0,1118836703,NaN,Beda
84273,1118836703,697600592,2T00803164,4.0,Online Payment,2022/12/10 19:39,80000.000000,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,36153.418566,4446.914953,0.0,39399.666481,0,NaN,697600592,Tropicana Slim Orange Cocoa 4 sachet,2,80000.000000,0,44501_sku_data202212.xls,N,2022,December,2T00803164,Tropicana Slim Orange Cocoa 4 sachet,TS,Tropicana Slim Kuning,Tropicana Slim Orange Cocoa 4 sachet,2T00803164,4.0,16650.0,33300.0,40000.0,33300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16650.0,16650,66600.0,66600,60000.000000,BUY 1 GET 1 - Tropicana Slim Orange Cocoa 4 Sa...,NaN,Tropicana Slim Orange Cocoa 4 sachet,NaN,NaN,1118836703,2T00803164,confirmed,4.0,Telkom,NaN,NaN,-1779.200000,0.0,35584.000000,39600.000000,NaN,NaN,NaN,35584.000000,2022-12-10 19:39:00,Paid,NaN,NaN,32057.657658,-27942.342342,-1779.200000,0.0,0.0,1118836703,NaN,Beda
88454,1118836703,704212710,2102546125,0.1,Online Payment,2022/12/10 19:39,7699.802372,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,3479.677225,428.004579,0.0,3792.120568,0,NaN,704212710,TS SWT JAHE 24DX50SX2.5G,1,7699.802372,0,44501_sku_data202212.xls,N,2022,December,2102546125,Tropicana Slim Sweetener Jahe 50 sch,TS,Tropicana Slim Kuning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43290.0,87066,4329.0,87066,3900.000000,Tropicana Slim Chill Out Kit - Paket Hampers,NaN,Tropicana Slim Sweetener Jahe 50 sch,NaN,NaN,1118836703,2102546125,confirmed,0.1,Telkom,NaN,NaN,-204.310672,0.0,4086.213439,4547.430830,NaN,NaN,NaN,4086.213439,2022-12-10 19:39:00,Paid,NaN,NaN,3681.273368,-218.726632,-204.310672,0.0,0.0,1118836703,NaN,Beda
88455,1118836703,704212710,2102526125,0.1,Online Payment,2022/12/10 19:39,7699.802372,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,3479.677225,428.004579,0.0,3792.120568,0,NaN,704212710,TS SWT LEMONGRASS PANDAN 24DX50SX2G,1,7699.802372,0,44501_sku_data202212.xls,N,2022,December,2102526125,Tropicana Slim Sweetener Lemongrass Pandan 50 sch,TS,Tropicana Slim Kuning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43290.0,87066,4329.0,87066,3900.000000,Tropicana Slim Chill Out Kit - Paket Hampers,NaN,Tropicana Slim Sweetener Lemongrass Pandan 50 sch,NaN,NaN,1118836703,2102526125,confirmed,0.1,Telkom,NaN,NaN,-204.310672,0.0,4086.213439,4547.430830,NaN,NaN,NaN,4086.213439,2022-12-10 19:39:00,Paid,NaN,NaN,3681.273368,-218.726632,-204.310672,0.0,0.0,1118836703,NaN,Beda
88456,1118836703,704212710,2102501125,0.1,Online Payment,2022/12/10 19:39,7699.802372,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,3479.677225,428.004579,0.0,3792.120568,0,NaN,704212710,TS SWT HONEY 24DX50SX2.5G,1,7699.802372,0,44501_sku_data202212.xls,N,2022,December,2102501125,Tropicana Slim Sweetener Honey 50 sachet,TS,Tropicana Slim Kuning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43290.0,87066,4329.0,87066,3900.000000,Tropicana Slim Chill Out Kit - Paket Hampers,NaN,Tropicana Slim Sweetener Honey (50 Sch),NaN,NaN,1118836703,2102501125,confirmed,0.1,Telkom,NaN,NaN,-204.310672,0.0,4086.213439,4547.430830,NaN,NaN,NaN,4086.213439,2022-12-10 19:39:00,Paid,NaN,NaN,3681.273368,-218.726632,-204.310672,0.0,0.0,1118836703,NaN,Beda
88457,1118836703,704212710,2102584125,0.1,Online Payment,2022/12/10 19:39,7699.802372,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,3479.677225,428.004579,0.0,3792.120568,0,NaN,704212710,TS SWT ROSE VANILLA 24DX50SX2G,1,7699.802372,0,44501_sku_data202212.xls,N,2022,December,2102584125,Tropicana Slim Sweetener Rose Vanilla 50 sch,TS,Tropicana Slim Kuning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43290.0,87066,4329.0,87066,3900.000000,Tropicana Slim Chill Out Kit - Paket Hampers,NaN,Tropicana Slim Sweetener Rose Vanilla 50 sch,NaN,NaN,1118836703,2102584125,confirmed,0.1,Telkom,NaN,NaN,-204.310672,0.0,4086.213439,4547.430830,NaN,NaN,NaN,4086.213439,2022-12-10 19:39:00,Paid,NaN,NaN,3681.273368,-218.726632,-204.310672,0.0,0.0,1118836703,NaN,Beda
88458,1118836703,704212710,2104523105,1.0,Online Payment,2022/12/10 19:39,39486.166008,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,17844.498591,2194.895276,0.0,19446.772142,0,NaN,704212710,TS HOKKAIDO CHEESE COOKIES 12DX5SX20G,1,39486.166008,0,44501_sku_data202212.xls,N,2022,December,2104523105,Tropicana Slim Hokkaido Cheese Cookies,TS,Tropicana Slim Kuning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22200.0,87066,22200.0,87066,20000.000000,Tropicana Slim Chill Out Kit - Paket Hampers,NaN,Tropicana Slim Hokkaido Cheese Cookies,NaN,NaN,1118836703,2104523105,confirmed,1.0,Telkom,NaN,NaN,-1047.747036,0.0,20954.940711,23320.158103,NaN,NaN,NaN,20954.940711,2022-12-10 19:39:00,Paid,NaN,NaN,18878.324965,-1121.675035,-1047.747036,0.0,0.0,1118836703,NaN,Beda
88459,1118836703,704212710,2104148164,1.0,Online Payment,2022/12/10 19:39,29614.624506,0,0.0,Selesai,Bisyri Yuliatina,NaN,2022/12/12 11:27,NaN,Jawa Barat,Kabupaten Bekasi,Cikarang Utara,"Jln Kasuari XIX AA 90 mekar mukti Blok Aa,Jl. ...",085211144878,JDL Express ID,10000101.0,JDL Express ID,JXPOP02049053860,13383.373943,1646.171457,0.0,14585.079106,0,NaN,704212710,TS MINT COCOA 12DX4SX15G,1,29614.624506,0,44501_sku_data202212.xls,N,2022,December,2104148164,Tropicana Slim Mint Cocoa 4 Sachet,TS,Tropicana Slim Kuning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16650.0,87066,16650.0,87066,15000.000000,Tropicana Slim Chill Out Kit - Paket Hampers,NaN,Tropicana Slim Mint Cocoa 4 Sachet,NaN,NaN,1118836703,2104148164,confirmed,1.0,Telkom,NaN,NaN,-785.810277,0.0,15716.205534,17490.118577,NaN,NaN,NaN,15716.205534,2022-12-10 19:39:00,Paid,NaN,NaN,14158.743724,-841.256276,-785.810277,0.0,0.0,1118836703,NaN,Beda

In [16]:
total_trx_merge['Paid Beda'] = np.nan

indeks = total_trx_merge[total_trx_merge['Paid'] != total_trx_merge['Paid March']].index.to_list()
total_trx_merge['Paid Beda'][indeks] = 'Beda'

total_trx_merge['Paid Beda'] = total_trx_merge['Paid Beda'].fillna('Sama')
# total_trx_merge[total_trx_merge['Paid Beda'] == 'Beda'][['Order #','Brand','Real SKU','Month', 'Paid_x', 'Paid_y', 'Paid Beda']]
total_trx_merge[total_trx_merge['Paid Beda'] == 'Beda'].groupby(['Month', 'Paid', 'Paid Mar'])['OrderId'].nunique()

C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Month    Paid    Paid January
January  Paid    Unpaid          1044
         Refund  Unpaid             1
Name: OrderId, dtype: int64

In [77]:
total_trx_merge[total_trx_merge['Paid Beda'] == 'Beda'].groupby(['Month', 'Paid', 'Paid January'], dropna = False)['OrderId'].nunique()

KeyError: 'Paid Beda'

In [19]:
total_trx_merge = total_trx_merge.rename(columns = {'Paid' : 'Paid February'})

In [21]:
total_trx_merge = total_trx_merge.rename(columns = {'Total Produk Prop_x' : 'Total Produk Prop by Selcen', 
                                                   'Total Produk Prop_y' : 'Total Produk Prop Real Jan',
                                                   'Total Net_x' : 'Total Net by Selcen', 
                                                   'Total Net_y' : 'Total Net Real Jan',
                                                   'Fullfee Prop_x' : 'Fullfee Prop by Selcen', 
                                                   'Fullfee Prop_y' : 'Fullfee Prop Real Jan',
                                                   'Comfee Prop_x' : 'Comfee Prop by Selcen', 
                                                   'Comfee Prop_y' : 'Comfee Prop Real Jan'})

total_trx_merge['Delta Total Net'] = total_trx_merge['Total Net by Selcen'] - total_trx_merge['Total Net Real Jan']
total_trx_merge['Delta Total Produk Prop'] = total_trx_merge['Total Produk Prop by Selcen'] - total_trx_merge['Total Produk Prop Real Jan']
total_trx_merge['Delta Comfee Prop'] = total_trx_merge['Comfee Prop by Selcen'] - total_trx_merge['Comfee Prop Real Jan']

In [22]:
total_trx_merge = total_trx_merge.rename(columns = {'Total Produk Prop by Selcen': 'Total Produk Prop', 
                                                   'Total Net by Selcen' : 'Total Net', 
                                                   'Fullfee Prop by Selcen' : 'Fullfee Prop', 
                                                   'Comfee Prop by Selcen' : 'Comfee Prop'})


total_trx_merge = total_trx_merge.drop(['Order #', 'Total Net Real Jan', 'Total Produk Prop Real Jan',
       'Comfee Prop Real Jan', 'Delta Total Net', 'Delta Total Produk Prop',
       'Delta Comfee Prop'], axis = 1)

total_trx_merge['OrderId'] = total_trx_merge['OrderId'].astype(str)

In [18]:
total_trx_merge[total_trx_merge['OrderId'].isin(source[source['Paid January'] == 'Paid']['Order #'])].to_csv(r'D:\Backup\Backup 26 Mei\Settlement Project Backup/JD Testing by Selcen Compare.csv', sep = ';', index = False)

In [74]:
total_trx_merge.to_csv(r'D:\Backup\Backup 26 Mei\Settlement Project Backup/JD Testing by Selcen Compare vPaid Beda 2.csv', sep = ';', index = False)

NameError: name 'total_trx_merge' is not defined

In [116]:
total_trx_merge[total_trx_merge['OrderId'] == '1085636396'][['OrderId', 'Order Date Seller Centre','Product Name','Real SKU', 'Real Nama Produk', 'Bundle Name', 'Paid', 'Total Produk Prop by Selcen', 'Total Produk Prop Real Jan', 'Delta Total Produk Prop', 'Paid February']]

,OrderId,Order Date Seller Centre,Product Name,Real SKU,Real Nama Produk,Bundle Name,Paid,Total Produk Prop by Selcen,Total Produk Prop Real Jan,Delta Total Produk Prop,Paid February
19526,1085636396,2022/01/28 18:43,Free Gift - Thank You Card Valentine Edition (...,(G)71210210,(FREE) Thank You Card Edisi Valentine,NaN,Unpaid,0.0,NaN,NaN,NaN

In [29]:
source

,Order #,Sales Order ID,AWB,Paid Date,Order date,Week,Date,Month,Quarter,Year,...,WH,Warehouse Quantity,Total Produk Prop,Fullfee Prop,Comfee Prop,BTL Cost,Shipping Fee,Total Produk Prop Adj,Paid January,Paid Beda
70308,1082531299,#SO-115807497,NaN,2022-01-01 08:36:00,2022-01-01 08:36:00,52,1.0,January,1.0,2022.0,...,JD Warehouse,1.0,166000.0,-4300.0,-8300.0,-9090.909091,0.0,150909.090909,Paid,Sama
70309,1082533255,#SO-115808866,NaN,2022-01-01 09:14:00,2022-01-01 09:14:00,52,1.0,January,1.0,2022.0,...,JD Warehouse,1.0,42500.0,-2500.0,-2125.0,1436.363636,0.0,38636.363636,Paid,Sama
70310,1082538001,#SO-115809624,NaN,2022-01-01 09:28:00,2022-01-01 09:28:00,52,1.0,January,1.0,2022.0,...,JD Warehouse,2.0,27000.0,-3000.0,-1350.0,545.454545,0.0,24545.454545,Paid,Sama
70311,1082538001,#SO-115809624,NaN,2022-01-01 09:28:00,2022-01-01 09:28:00,52,1.0,January,1.0,2022.0,...,JD Warehouse,2.0,199500.0,-4300.0,-9975.0,-12636.363636,0.0,181363.636364,Paid,Sama
70312,1082521112,#SO-115808865,NaN,2022-01-01 09:29:00,2022-01-01 09:29:00,52,1.0,January,1.0,2022.0,...,JD Warehouse,3.0,305700.0,-9000.0,-15285.0,-13090.909091,0.0,277909.090909,Paid,Sama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172713,1088732688,#SO-117497537,JXPOP01846300864,2022-02-19 00:02:00,2022-02-19 00:02:00,7,19.0,February,1.0,2022.0,...,Telkom,3.0,0.0,0.0,NaN,0.000000,NaN,0.000000,NaN,Beda
172714,1088735440,#SO-117497533,JXPOP01846300901,2022-02-19 00:10:00,2022-02-19 00:10:00,7,19.0,February,1.0,2022.0,...,Telkom,3.0,0.0,0.0,NaN,0.000000,NaN,0.000000,NaN,Beda
172715,1088912387,#SO-117549776,JXPOP01847679665,2022-02-20 18:19:00,2022-02-20 18:19:00,7,20.0,February,1.0,2022.0,...,Telkom,3.0,0.0,0.0,NaN,0.000000,NaN,0.000000,NaN,Beda
172716,1089161003,#SO-117610515,JXPOP01848995643,2022-02-23 05:29:00,2022-02-23 05:29:00,8,23.0,February,1.0,2022.0,...,Telkom,3.0,0.0,0.0,NaN,0.000000,NaN,0.000000,NaN,Beda
172717,1089210417,#SO-117621288,JXPOP01849927553,2022-02-23 14:25:00,2022-02-23 14:25:00,8,23.0,February,1.0,2022.0,...,Telkom,3.0,0.0,0.0,NaN,0.000000,NaN,0.000000,NaN,Beda