In [1]:
#run1
import pandas as pd
import numpy as np
import os
import re
import csv

selcen = pd.DataFrame()
for i in os.listdir('Settlement Project\Bukalapak\Seller Centre'):
    print(i)
    if '$' not in i:
        if 'xlsx' in i:
            temp = pd.read_excel('Settlement Project\Bukalapak\Seller Centre/' + str(i))
            temp['Source'] = i
            if 'ID Transaksi' in selcen.columns:
                temp=temp[~temp['ID Transaksi'].isin(selcen['ID Transaksi'].unique())]
            selcen = selcen.append(temp, ignore_index = True, sort = False)

1 Apr 2021 - 30 Apr 2021.xlsx
1 Feb 2021 - 28 Feb 2021.xlsx
1 Jan 2021 - 30 Jan 2021.xlsx
1 Jun 2021 - 30 Jun 2021.xlsx
1 Mar 2021 - 31 Mar 2021.xlsx
1 Mei 2021 - 31 Mei 2021.xlsx
BL DEC.xlsx
BL Jan 2022.xlsx
BL Transaction Nov 21.xlsx
Bukalapak 202202.xlsx
Bukalapak 202203.xlsx
Bukalapak 202204.xlsx
Bukalapak 202205.xlsx
Bukalapak 202206.xlsx
Bukalapak 202207.xlsx
Bukalapak 202208.xlsx
Bukalapak 202209.xlsx
Bukalapak 202210.xlsx
Bukalapak 202211.xlsx
Bukalapak 202212.xlsx
Bukalapak 202301.xlsx
Bukalapak 202302.xlsx
Bukalapak 202303.xlsx
Bukalapak 202304.xlsx
Bukalapak 202305.xlsx
SO Bukalapak 202107 01-10.xlsx
SO Bukalapak 202107 11-20.xlsx
SO Bukalapak 202107 21-25.xlsx
SO Bukalapak 202107 26-31.xlsx
SO Bukalapak 202108 01-02.xlsx
SO Bukalapak 202108 03.xlsx
SO Bukalapak 202108 04.xlsx
SO Bukalapak 202108 05-10.xlsx
SO Bukalapak 202108 11-20.xlsx
SO Bukalapak 202108 21-31.xlsx
Transaction BL Sep 21.xlsx
Transaksi BL Oktober.xlsx

In [2]:
#for backup
selcen_copy=selcen.copy()

In [50]:
# for backup
selcen=selcen_copy.copy()

In [3]:
## run 2
selcen = selcen.rename(columns = {'Jumlah Produk' : 'Qty. Invoiced'})

selcen['Year'] = pd.to_datetime(selcen['Tanggal']).dt.year.astype(int)
selcen['Month'] = pd.to_datetime(selcen['Tanggal']).dt.month_name()

## tambahan timo 25 April 
selcen['true datetime']=pd.to_datetime(pd.to_datetime(selcen['Tanggal']).dt.strftime('%Y-%m-%d %H:%M'))


selcen[(selcen[['ID Transaksi', 'SKU', 'Qty. Invoiced', 'Tanggal']].duplicated(keep = False)) & (~(selcen[['ID Transaksi', 'SKU', 'Qty. Invoiced', 'Tanggal', 'Source']].duplicated(keep = False)))]

Empty DataFrame
Columns: [Tanggal, ID Transaksi, Transaksi Dropshipper, Nama Dropshipper, Detail Dropshipper, Penjual, Pembeli, Username Pembeli, HP Pembeli, Alamat Pembeli, Kecamatan Pembeli, Kota Pembeli, Propinsi Pembeli, Kode Pos Pembeli, Nama Produk, Harga Produk, Biaya Pengiriman, Biaya Asuransi, Total Terbayar, Qty. Invoiced, SKU, Berat Per SKU, Varian, Kurir, Kode Tracking, Status, Source, Year, Month, true datetime]
Index: []

[0 rows x 30 columns]

In [4]:
# for diplay
pd.options.display.max_columns = 150

In [5]:
## check bulan realsasi
selcen[['Month', 'Year']].drop_duplicates()

           Month  Year
0          April  2021
807     February  2021
2084     January  2021
2970        June  2021
4031       March  2021
5032         May  2021
6229    December  2021
9818     January  2022
11939   November  2021
14109   February  2022
15855      March  2022
17250      April  2022
18733        May  2022
21041       June  2022
22726       July  2022
23820     August  2022
25322  September  2022
26641    October  2022
27947   November  2022
28985   December  2022
30091    January  2023
30443   February  2023
30873      March  2023
31079      April  2023
31138        May  2023
31279       July  2021
32320     August  2021
33874  September  2021
34600    October  2021

In [6]:
## run 3
selcen_new = selcen[selcen['Year'] > 2021]

In [7]:
cek_dups = selcen_new[(selcen_new[['ID Transaksi', 'SKU']].duplicated(keep = False)) & (selcen_new['SKU'].notnull())].groupby('SKU')['Nama Produk'].unique().reset_index()
( cek_dups.join( pd.DataFrame(cek_dups['Nama Produk'].to_list())
                 .add_prefix('array_') )
        .drop('Nama Produk', axis = 1) ).values

array([], shape=(0, 1), dtype=object)

In [24]:
## run 3.1 sementara, to do buat flow yang proper untuk ganti sku
selcen_new.loc[selcen_new['SKU']=='2HF1401250P4','SKU']='21014281P4'

In [25]:
## run 4

temp2 = selcen_new.copy()

import time
import pandas as pd
import numpy as np
import math

import smtplib 
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from smtplib import SMTP
import smtplib
import sys
import requests
import os
    
data_SKU = pd.read_excel(r"D:\1. Masterdata\SKU_File\data_SKU.xlsx")

s = requests.Session()
s.get("https://tatanama.pythonanywhere.com")
s.post("https://tatanama.pythonanywhere.com", data = {'username' : 'ecommerce', 'password' : 'ecommerce'})
r = s.get("https://tatanama.pythonanywhere.com/download")

with open(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx", 'wb') as output:
    output.write(r.content)

if os.path.isfile(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx") :    
    SKU_append = pd.read_excel(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx")
    SKU_append.columns = [x.replace('_', ' ') for x in SKU_append.columns]
    data_SKU = data_SKU[~data_SKU['SKU'].astype(str).isin(SKU_append['SKU'].astype(str))]
    data_SKU = data_SKU.append(SKU_append, ignore_index = True, sort = False)

to_excel = data_SKU.to_excel(r"D:\1. Masterdata\SKU_File\data_SKU.xlsx", index = False)
# data_SKU=SKU_append.copy()

In [26]:
## run 5
SKU_lama=data_SKU[data_SKU['SKU'].isin(temp2[~temp2['SKU'].isin(SKU_append['SKU'])]['SKU'].unique())].append(data_SKU[data_SKU['SKU']=='(U)2307061250'])

data_SKU = SKU_append.append(SKU_lama).reset_index(drop=True)#.append(SKU_append, ignore_index = True, sort = False)

In [27]:
## for backup
data_sku_copy=data_SKU.copy()

In [44]:
## for backup
data_SKU=data_sku_copy.copy()

In [28]:
temp2[~temp2['SKU'].isin(SKU_append['SKU'])][['Tanggal','ID Transaksi', 'Nama Produk', 'SKU']].drop_duplicates('SKU')#.values
temp2[~temp2['SKU'].isin(data_SKU['SKU'])][['Tanggal','ID Transaksi', 'Nama Produk', 'SKU']].drop_duplicates('SKU')#.values

Empty DataFrame
Columns: [Tanggal, ID Transaksi, Nama Produk, SKU]
Index: []

In [29]:
## run 6
for i in ['Biaya Pengiriman', 'Total Terbayar']:
    selcen_new[i] = selcen_new[i].fillna(0) * selcen_new['Harga Produk']/selcen_new.groupby(['ID Transaksi'])['Harga Produk'].transform('sum')

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
#### run 6.1
# selcen_new
from datetime import datetime,timedelta
listjanjian=requests.get('http://event.l-men.com/apiv1?type=janjian')
for i in listjanjian.json():
    sku=i['realsku']
    print(sku)
    start=datetime.fromtimestamp(int(i['startdate']/1000)).replace(hour=0)
    end=datetime.fromtimestamp(int(i['enddate']/1000)).replace(hour=23)
    print(i['notes'])
    selcen_new.loc[(selcen_new['SKU']==sku)&(selcen_new['true datetime']>=start)&(selcen_new['true datetime']<end),'Pemilik Budget']=i['notes']
    print('=====')

2T00803164
Launching tahap 2
=====
2T00803164P3
Launching tahap 2
=====
2T02703229P2
Launching
=====
PT25T74
Launching
=====
2T02703229
Launching tahap 2
=====
2104115110
Launching tahap 2
=====
2104115110P2
Launching tahap 2
=====
2104148024
Launching tahap 2
=====
2104148024P2
Launching tahap 2
=====
1N01402250P24
Marketing
=====
1N01402250P4
Marketing
=====
2104010270
Marketing
=====
1101909331
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
2HF0114021
Launching tahap 2
=====
2101751112
Marketing
=====
2101751112P2
Marketing
=====
2101700166P2
Marketing
=====
2101700166
Marketing
=====
2101384106
Internal
=====
2101384106P3
Internal
=====
2105055180P2
Internal
=====
2104523105P3
Internal
=====
2104508105P3
Internal
=====
2104543105P3
Internal
=====
2104589105P3
Internal
=====
2104241210P2
Internal
=====
2106386249P24
Internal

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

=====
2101000195
Internal
=====
2101151180
Internal
=====
2101150180
Internal
=====
2101200180
Internal
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102500125P2
Internal
=====
2102500130P2
Internal
=====
2102900125
Internal
=====
2102900130
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2309005305P20
Marketing
=====
2T01813126P2
Launching
=====
PH22T17
Marketing
=====
PH22T41
Marketing
=====
PH19H22
Launching
=====
PH22H95G277
Marketing
=====
1101685360
Marketing
=====
1101656360
Marketing
=====
2101847360
Marketing
=====
2101845360
Marketing
=====
2101819360
Marketing
=====
2101888360
Marketing
=====
PH19H103
Launching
=====
PH35H103
Launching
=====
2305551028
Launching
=====
2HF0113021
Launching tahap 2
=====
2HF0112021
Launching tahap 2
=====
1N01402250P4
Internal
=====
1N01402250P24
Internal
=====
2T00803164
Internal
=====
2T00803164P2
Internal
=====
2T00803164P3
Internal
=====
1101686318
Marketing
=====
1101694318
Marketing
=====
1N01402250P4
Marketing
=====
2T00803164
Marketing
=====
1N01402250P24
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
1101618318P2
Marketing
=====
1101618318
Marketing
=====
2309005305
Marketing
=====
2309005305P5
Marketing
=====
2309005305P10
Marketing
=====
2101700166
Marketing
=====
2101700166
Marketing
=====
2101700166P2
Marketing
=====
2101700166P2
Marketing
=====
2309005305P20
Marketing
=====
2309005305P20
Marketing
=====
(E)2101469180
Marketing
=====
1N01402250P4
Marketing
=====
1N01402250P24
Marketing
=====
2T01402249P4
Launching
=====
2T01402249P24
Launching
=====
1100534034
Launching
=====
2HC0109021
Launching tahap 2
=====
2305551028
Launching tahap 2
=====
PH19H22
Marketing
=====
PH22T41
Marketing
=====
PH22T17
Marketing
=====
(E)2101487148
Marketing
=====
(E)2101487148
Marketing
=====
2T01813126
Launching tahap 2
=====
2T01813126P2
Launching tahap 2
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102500125P2
Internal
=====
2102900125
Internal
=====
2102500130P2
Internal
=====
2102900130
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2101150180
Internal
=====
2101151180
Internal
=====
2101200180
Internal
=====
2101000195
Internal
=====
2101000195P2
Internal
=====
2101150180P2
Internal
=====
2101151180P2
Internal
=====
2101200180P2
Internal
=====
2304097159
Internal
=====
2104394210P2
Internal
=====
2104394210
Internal
=====
PT26T54
Internal
=====
2T01705164P2
Launching
=====
2305551028
Launching tahap 2
=====
PH22H95G277
Marketing
=====
1101665318
Marketing
=====
1101677318
Marketing
=====
1101653318
Marketing
=====
1101618318
Marketing
=====
2HH0813443P2
Launching
=====
2HF0114021P2
Marketing
=====
2LL1402249P4
Launching
=====
2LL1402249P24
Launching
=====
2LM0801029
Launching
=====
PL32L33
Launching
=====
2HF0114021
Marketing
=====
2101651195
Marketing
=====
2101651195P2
Marketing
=====
2101453195
Marketing
=====
2305551028
Internal
=====
2101453195P2
Marketing
=====
2101486195
Marketing
=====
2101486195P2
Marketing
=====
2309005305P20
Marketing
=====
(E)1101505453
Internal
=====
2304051180
Internal
=====
2LD0905181
Internal
=====
2304008180
Internal
=====
2TA0102180
Launching tahap 2
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102900125
Internal
=====
2102000180
Internal
=====
2102500125P2
Internal
=====
2102500130P2
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2102000180P2
Internal
=====
2102900130
Internal
=====
2304558112
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2304558112P2
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304051180P2
Internal
=====
2LD0905181P2
Internal
=====
2304008180P2
Internal
=====
1N03301456
Launching
=====
2T01402249P24
Launching tahap 2
=====
2LM0801029
Launching tahap 2
=====
1101685360
Marketing
=====
1101656360
Marketing
=====
2T01402249P24
Internal
=====
2106386249P24
Internal
=====
2106386249P12
Internal
=====
2101888360
Marketing
=====
2101819360
Marketing
=====
2101845360
Marketing
=====
2101847360
Marketing
=====
2305551028P3
Internal
=====
2305551028
Internal
=====
2305507288
Internal
=====
2305545288
Internal
=====
2305559288
Internal
=====
2305584288
Internal
=====
2105028180P2
Internal
=====
1N01402250P24
Internal
=====
2LM0801029P2
Marketing
=====
PT25T41
Internal
=====
2104228230P2
Internal
=====
2104251230P2
Internal
=====
2T01402249P12
Internal
=====

In [31]:
### run 7
temp2 = selcen_new.copy()

temp2 = temp2.rename(columns = {'Nama Produk' : 'Product Name'})

data_SKU.loc[data_SKU['Price List NFI']=='-','Price List NFI']=0
data_SKU['Price List NFI'] = data_SKU['Price List NFI'].astype(float).astype('int64')

data_SKU['Real SKU'] = data_SKU['SKU'].astype(str)#.str.replace('(S)', '', regex = False)
data_SKU['Real Nama Produk'] = data_SKU['Nama Produk'].astype(str)

list_col = ['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand']

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(temp2.index)
for i in list_col:
    temp2[i] = temp_merge[str(i)]
    
list_col = ['SKU'] + data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['SKU']), how = 'left', left_on = 'Real SKU', right_on = 'SKU').set_index(temp2.index)

list_pcs = [x for x in temp_merge.columns if 'PCS' in x]
for i in list_pcs:
    temp_merge[i] = temp_merge[i] * temp_merge['Qty. Invoiced']

list_col = data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()
list_col=[x for x in list_col if any(i.isdigit() for i in x)]
list_col.insert(0, "Real SKU")#.insert(1, "SKU")
list_col
for i in list_col:
    temp2[i] = temp_merge[str(i)]
    
list_col = ['Real SKU', 'Price List NFI', 'Harga Cost']

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(temp2.index)
for i in list_col:
    if i == 'Real SKU':
        temp2[i] = temp_merge[str(i) + '_y']
    else :
        temp2[i] = temp_merge[str(i)]
    
temp2['Price List NFI'] = pd.to_numeric(temp2['Price List NFI']).astype(int)
temp2['Harga Cost'] = pd.to_numeric(temp2['Harga Cost']).astype(int)
temp2['Qty. Invoiced'] = pd.to_numeric(temp2['Qty. Invoiced']).astype(int)

temp2['Total Net'] = temp2['Price List NFI'] * temp2['Qty. Invoiced']
temp2['Total Harga Cost'] = temp2['Harga Cost'] * temp2['Qty. Invoiced']
temp2['Total Net Before PPN'] = temp2['Total Net']/1.1

print("Unbundling")
data_bundle1 = temp2[~temp2['Produk 1'].isnull()]
data_bundle1['Bundle Name'] = data_bundle1['Product Name']
data_bundle1['Product Name'] = data_bundle1['Produk 1']
data_bundle1['SKU'] = data_bundle1['SKU Produk 1']
data_bundle1['Qty. Invoiced'] = data_bundle1['PCS Produk 1']
data_bundle1['Price List NFI'] = data_bundle1['Price List NFI 1']
data_bundle1['Total Net'] = data_bundle1['Price List NFI 1']
data_bundle1['Bundle Flag'] = np.nan

data_bundle2 = temp2[~temp2['Produk 2'].isnull()]
data_bundle2['Bundle Name'] = data_bundle2['Product Name']
data_bundle2['Product Name'] = data_bundle2['Produk 2']
data_bundle2['SKU'] = data_bundle2['SKU Produk 2']
data_bundle2['Qty. Invoiced'] = data_bundle2['PCS Produk 2']
data_bundle2['Price List NFI'] = data_bundle2['Price List NFI 2']
data_bundle2['Total Net'] = data_bundle2['Price List NFI 2'] 
data_bundle2['Bundle Flag'] = np.nan

data_bundle3 = temp2[~temp2['Produk 3'].isnull()]
data_bundle3['Bundle Name'] = data_bundle3['Product Name']
data_bundle3['Product Name'] = data_bundle3['Produk 3']
data_bundle3['SKU'] = data_bundle3['SKU Produk 3']
data_bundle3['Qty. Invoiced'] = data_bundle3['PCS Produk 3']
data_bundle3['Price List NFI'] = data_bundle3['Price List NFI 3']
data_bundle3['Total Net'] = data_bundle3['Price List NFI 3'] 
data_bundle3['Bundle Flag'] = np.nan

data_bundle4 = temp2[~temp2['Produk 4'].isnull()]
data_bundle4['Bundle Name'] = data_bundle4['Product Name']
data_bundle4['Product Name'] = data_bundle4['Produk 4']
data_bundle4['SKU'] = data_bundle4['SKU Produk 4']
data_bundle4['Qty. Invoiced'] = data_bundle4['PCS Produk 4']
data_bundle4['Price List NFI'] = data_bundle4['Price List NFI 4']
data_bundle4['Total Net'] = data_bundle4['Price List NFI 4'] 
data_bundle4['Bundle Flag'] = np.nan

data_bundle5 = temp2[~temp2['Produk 5'].isnull()]
data_bundle5['Bundle Name'] = data_bundle5['Product Name']
data_bundle5['Product Name'] = data_bundle5['Produk 5']
data_bundle5['SKU'] = data_bundle5['SKU Produk 5']
data_bundle5['Qty. Invoiced'] = data_bundle5['PCS Produk 5']
data_bundle5['Price List NFI'] = data_bundle5['Price List NFI 5']
data_bundle5['Total Net'] = data_bundle5['Price List NFI 5']
data_bundle5['Bundle Flag'] = np.nan

data_bundle6 = temp2[~temp2['Produk 6'].isnull()]
data_bundle6['Bundle Name'] = data_bundle6['Product Name']
data_bundle6['Product Name'] = data_bundle6['Produk 6']
data_bundle6['SKU'] = data_bundle6['SKU Produk 6']
data_bundle6['Qty. Invoiced'] = data_bundle6['PCS Produk 6']
data_bundle6['Price List NFI'] = data_bundle6['Price List NFI 6']
data_bundle6['Total Net'] = data_bundle6['Price List NFI 6']
data_bundle6['Bundle Flag'] = np.nan

data_bundle7 = temp2[~temp2['Produk 7'].isnull()]
data_bundle7['Bundle Name'] = data_bundle7['Product Name']
data_bundle7['Product Name'] = data_bundle7['Produk 7']
data_bundle7['SKU'] = data_bundle7['SKU Produk 7']
data_bundle7['Qty. Invoiced'] = data_bundle7['PCS Produk 7']
data_bundle7['Price List NFI'] = data_bundle7['Price List NFI 7']
data_bundle7['Total Net'] = data_bundle7['Price List NFI 7']
data_bundle7['Bundle Flag'] = np.nan

data_bundle = data_bundle1.append([data_bundle2, data_bundle3, data_bundle4, data_bundle5, data_bundle6, data_bundle7], ignore_index = True, sort = False)
data_bundle['SKU'] = data_bundle['SKU'].astype(str)
data_bundle['SKU'] = data_bundle['SKU'].str.replace('\.0$', '', regex = True)
data_bundle[['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']] = data_bundle.merge(data_SKU[['Real SKU', 'Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU')[['Real SKU_y', 'Nama Produk', 'Brand_y', 'Sub Brand_y', 'Parent Item', 'Parent SKU']]

# print(data_bundle[data_bundle['ID Transaksi']==223220247768][['SKU','Product Name','Price List NFI']])
list_col = ['Real SKU', 'Price List NFI', 'Harga Cost']

data_bundle = data_bundle.drop(['Price List NFI', 'Harga Cost'], axis = 1)

temp_merge = data_bundle.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(data_bundle.index)
for i in list_col:
    if i == 'Real SKU':
        data_bundle[i] = temp_merge[str(i) + '_y']
    else :
        data_bundle[i] = temp_merge[str(i)]

# print(data_bundle[data_bundle['ID Transaksi']==223220247768][['SKU','Product Name','Price List NFI']])

data_bundle['Price List NFI'] = pd.to_numeric(data_bundle['Price List NFI']).astype(int)
data_bundle['Harga Cost'] = pd.to_numeric(data_bundle['Harga Cost']).astype(int)
data_bundle['Qty. Invoiced'] = pd.to_numeric(data_bundle['Qty. Invoiced']).astype(int)

data_bundle['Total Net'] = data_bundle['Price List NFI'] * data_bundle['Qty. Invoiced']
data_bundle['Total Harga Cost'] = data_bundle['Harga Cost'] * data_bundle['Qty. Invoiced']
data_bundle['Total Net Before PPN'] = data_bundle['Total Net']/1.1
# print(data_bundle[data_bundle['ID Transaksi']==223220247768][['SKU','Product Name','Price List NFI']])

for i in ['Biaya Pengiriman', 'Total Terbayar', 'Harga Produk']:
    data_bundle[i] = data_bundle[i].fillna(0) * data_bundle['Total Net Before PPN']/data_bundle.groupby(['ID Transaksi', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

print("Pricing")
temp2 = temp2.append(data_bundle, ignore_index = True, sort = False)
# print(data_bundle2[data_bundle2['ID Transaksi']==223220247768][['SKU','Product Name','Price List NFI']])

temp2['Price List NFI'] = pd.to_numeric(temp2['Price List NFI']).astype(int)
temp2['Harga Cost'] = pd.to_numeric(temp2['Harga Cost']).astype(int)
temp2['Qty. Invoiced'] = pd.to_numeric(temp2['Qty. Invoiced']).astype(int)

temp2['Total Net'] = temp2['Price List NFI'] * temp2['Qty. Invoiced']
temp2['Total Harga Cost'] = temp2['Harga Cost'] * temp2['Qty. Invoiced']
temp2['Total Net Before PPN'] = temp2['Total Net']/1.1

Unbundling

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Pricing

In [32]:
temp2[temp2['Price List NFI'].isnull()]

Empty DataFrame
Columns: [Tanggal, ID Transaksi, Transaksi Dropshipper, Nama Dropshipper, Detail Dropshipper, Penjual, Pembeli, Username Pembeli, HP Pembeli, Alamat Pembeli, Kecamatan Pembeli, Kota Pembeli, Propinsi Pembeli, Kode Pos Pembeli, Product Name, Harga Produk, Biaya Pengiriman, Biaya Asuransi, Total Terbayar, Qty. Invoiced, SKU, Berat Per SKU, Varian, Kurir, Kode Tracking, Status, Source, Year, Month, true datetime, Pemilik Budget, Real SKU, Real Nama Produk, Brand, Sub Brand, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Berat 1, Volume 1, Berat 2, Volume 2, Berat 3, Volume 3, Berat 4, Volume 4, Berat 5, Volume 5, Berat 6, Volume 6, Berat 7, Volume 7, Alias SKU 1, Alias Nama 1, ...]
Index: []

In [33]:
## run 8
selcen_sku = temp2.copy()

In [34]:
## run 9
j_conv = pd.read_excel("Settlement Project\Rumus Realisasi.xlsx", sheet_name = 'Paket Brand')
j_conv = j_conv.iloc[:,:5]
j_conv = j_conv.rename(columns = {'SKU' : 'Real SKU', 'SKU.1' : 'SKU Produk'})
j_conv = j_conv[j_conv['Real SKU'].notnull()]
j_conv['SKU Produk'] = j_conv['SKU Produk'].astype(str).str.replace('.0', '',regex = False)

temp_all = selcen_sku.copy()

temp_all['Real SKU'] = temp_all['Real SKU'].astype(str)
j_conv['Real SKU'] = j_conv['Real SKU'].astype(str)

temp_all = temp_all.merge(j_conv, how = 'left', on = 'Real SKU')

paket_j = temp_all[temp_all['SKU Produk'].notnull()]

paket_j['Bundle Name'] = paket_j['Product Name']
paket_j['Product Name'] = paket_j['Name']
paket_j['SKU'] = paket_j['SKU Produk']
paket_j['Qty. Invoiced'] = paket_j['Qty. Invoiced'] * paket_j['Konversi ke UOM'].astype(float)
paket_j['Bundle Flag'] = np.nan

data_SKU['Real SKU'] = data_SKU['SKU'].astype(str)
data_SKU['Real Nama Produk'] = data_SKU['Nama Produk'].astype(str)
if 'Real SKU_y' in paket_j.columns:
    paket_j = paket_j.drop('Real SKU_y', axis = 1)
paket_j['SKU'] = paket_j['SKU'].astype(str)
paket_j[['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU', 'Price List NFI']] = paket_j.merge(data_SKU[['Real SKU', 'Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU', 'Price List NFI']].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(paket_j.index)[['Real SKU_y', 'Nama Produk', 'Brand_y', 'Sub Brand_y', 'Parent Item_y', 'Parent SKU_y', 'Price List NFI_y']]

paket_j['Total Net'] = paket_j['Price List NFI'] * paket_j['Qty. Invoiced']

for i in ['Biaya Pengiriman', 'Total Terbayar', 'Harga Produk']:
    paket_j[i] = paket_j[i] * paket_j['Total Net']/paket_j.groupby(['ID Transaksi', 'Bundle Name'])['Total Net'].transform('sum')

paket_j = paket_j.drop(['Nama Paket', 'SKU Produk', 'Name', 'Konversi ke UOM'], axis = 1)
selcen_sku = selcen_sku.append(paket_j, ignore_index = True, sort = False)
indeks = selcen_sku[selcen_sku['Product Name'].isin(paket_j['Bundle Name'])].index.to_list()
selcen_sku['Brand'][indeks] = 'Bundle'

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [35]:
## run 10
indeks = selcen_sku[(selcen_sku['Real SKU'].astype(str).str.contains('^\(B\)', regex = True)) &
      (~selcen_sku['Brand'].isin(['Bonus Produk', 'Gimmick']))].index.to_list()

selcen_sku['Brand'][indeks] = 'Bonus Produk'

indeks = selcen_sku[(selcen_sku['Real SKU'].astype(str).str.contains('^\(U\)', regex = True)) &
      (~selcen_sku['Brand'].isin(['Bonus Produk', 'Gimmick']))].index.to_list()

selcen_sku['Brand'][indeks] = 'Bonus Produk'

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [36]:
## run 11
source = pd.read_csv(r"D:\6. settlement\Code\Settlement Project\Backup\Realisasi Jan 2022\Runningan Bukalapak Jan 2021 - Jan 2022 Rev 1.csv", sep = ';')

source['True datetime'] = pd.to_datetime(source['True datetime'])
source = source[(source['Year'] > 2021) & (source['True datetime']<'2022-02-01')]

selcen_sku['ID Transaksi'] = selcen_sku['ID Transaksi'].astype(str)
source['Order #'] = source['Order #'].astype(str)

selcen_old = selcen_sku[selcen_sku['ID Transaksi'].isin(source['Order #'])]

source['Product Name'] = source['Product Name'].fillna(source['Real Nama Produk'])

selcen_old_merge = selcen_old.merge(source[['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Price List NFI', 'Qty. Invoiced']].drop_duplicates(['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced']), how = 'left', left_on = ['ID Transaksi', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'], right_on = ['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced']) 

selcen_old_null = selcen_old_merge[selcen_old_merge['Price List NFI_y'].isnull()]

selcen_old_null = selcen_old_null.drop(['Order #', 'Price List NFI_y'], axis = 1)
selcen_old_null = selcen_old_null.rename(columns = {'Price List NFI_x' : 'Price List NFI'})

selcen_old_null = selcen_old_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Price List NFI']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name', 'Price List NFI']), how = 'left', left_on = ['ID Transaksi', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(selcen_old_null.index) 
selcen_old_merge['Price List NFI_y'][selcen_old_null.index] = selcen_old_null['Price List NFI_y']

selcen_old_null = selcen_old_merge[selcen_old_merge['Price List NFI_y'].isnull()]

# source2 = source.copy()

# # source2['Real SKU'] = source2['Real SKU'].astype(str).str.replace('2309005305', '2309005300')

# # indeks = source2[source2['Real SKU'] == '(B)2101809250'].index.to_list()
# # source2['Real SKU'][indeks] = '(U)2101809250'

# # indeks = source2[source2['Real SKU'] == 'PH48(3)B35'].index.to_list()
# # source2['Real SKU'][indeks] = '2101941250P4'

# # indeks = source2[source2['Real SKU'] == 'PH39(3)B17'].index.to_list()
# # source2['Real SKU'][indeks] = '2101809250P4'

# selcen_old_null = selcen_old_null.drop(['Order #', 'Price List NFI_y'], axis = 1)
# selcen_old_null = selcen_old_null.rename(columns = {'Price List NFI_x' : 'Price List NFI'})

# selcen_old_null = selcen_old_null.merge(source2[['Order #', 'Real SKU', 'Bundle Name', 'Price List NFI']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Real SKU',  'Bundle Name'], right_on = ['Order #', 'Real SKU', 'Bundle Name']).set_index(selcen_old_null.index) 

# selcen_old_merge['Price List NFI_y'][selcen_old_null.index] = selcen_old_null['Price List NFI_y']

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [37]:
## run 12
selcen_old_merge = selcen_old_merge.drop(['Price List NFI_x', 'Order #'], axis = 1)
selcen_old_merge = selcen_old_merge.rename(columns = {'Price List NFI_y' : 'Price List NFI'})

selcen_old_merge['Price List NFI'] = pd.to_numeric(selcen_old_merge['Price List NFI']).astype(float)
selcen_old_merge['Qty. Invoiced'] = pd.to_numeric(selcen_old_merge['Qty. Invoiced']).astype(float)

selcen_old_merge['Total Net'] = selcen_old_merge['Price List NFI'] * selcen_old_merge['Qty. Invoiced']

selcen_sku = selcen_sku[~selcen_sku['ID Transaksi'].isin(selcen_old_merge['ID Transaksi'])]
selcen_sku = selcen_sku.append(selcen_old_merge, ignore_index = True, sort = False)

selcen_sku['Total Net Before PPN'] = selcen_sku['Total Net']/1.11

In [38]:
## run 13
bukalapak_merge = selcen_sku.copy()

In [39]:
### run 14
import pandas as pd
import numpy as np
import pypyodbc

conn = pypyodbc.connect('Driver={SQL Server};'
                        'Server=NFI-DB-01;'
                        'Database=gudang;'
                        # 'UID=andra.miftah;'
                        # 'PWD=24nutrifoodindonesia21;'
                        'Trusted_Connection=yes;'                        
                )

cursor = conn.cursor()
wms_telkom = pd.read_sql(r"""SELECT t1.id, t1.order_id,t1.status, t1.quantity, t1.product_id, t2.id,  t2.order_number, t2.invoice_number, t2.channel, t2.order_date, t3.id, t3.sku, t3.name
  FROM [gudang].[dbo].[outbound_items] as t1
  left join orders as t2
  on t1.order_id = t2.id
  left join products as t3
  on t1.product_id = t3.id
  where t2.channel = 'Bukalapak'""", conn)

In [20]:
## run 14 alternative

wms_telkom=pd.read_excel(r"D:\Downloads\Data Gudang 20221122 (1).xlsx")
wms_telkom=wms_telkom[wms_telkom['channel']=='Bukalapak']

In [40]:
## run 15

# import pandas as pd
# import numpy as np
# import pypyodbc

# conn = pypyodbc.connect('Driver={SQL Server};'
#                 'Server=NFI-DB-01;'
#                 'Database=gudang;'
#                 'UID=andra.miftah;'
#                 'PWD=24nutrifoodindonesia21;'
#                 )

# cursor = conn.cursor()
# wms_telkom = pd.read_sql(r"""SELECT t1.id, t1.order_id,t1.status, t1.quantity, t1.product_id, t2.id,  t2.order_number, t2.invoice_number, t2.channel, t2.order_date, t3.id, t3.sku, t3.name
#   FROM [gudang].[dbo].[outbound_items] as t1
#   left join orders as t2
#   on t1.order_id = t2.id
#   left join products as t3
#   on t1.product_id = t3.id
#   where t2.channel = 'Bukalapak'""", conn)

# outbound_items = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/outbound_items.csv', sep = ';')
# orders = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/orders.csv', sep = ';')
# products = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/products.csv', sep = ';')

# wms_telkom2 = outbound_items[['id', 'order_id','status', 'quantity', 'product_id']].merge(
#     orders[['id',  'order_number', 'invoice_number', 'channel', 'order_date']], how = 'left', left_on = 'order_id', right_on = 'id'
# ).merge(
#     products[['id', 'sku', 'name']], how = 'left', left_on = 'product_id', right_on = 'id'
# )
# wms_telkom2 = wms_telkom2[wms_telkom2['channel'].isin(['Bukalapak'])]
if 'STATUS' in wms_telkom.columns:
    wms_telkom = wms_telkom.rename(columns = {'STATUS':'status'})
wms_telkom = wms_telkom[['order_number','invoice_number', 'sku', 'status', 'quantity']]
# wms_telkom2 = wms_telkom2[['order_number','invoice_number', 'sku', 'status', 'quantity']].drop_duplicates()
wms_telkom['invoice_number'] = wms_telkom['invoice_number'].astype(str).str.replace('.0', '', regex = False)
# wms_telkom2['sku'] = wms_telkom2['sku'].astype(str).str.replace('.0', '', regex = False)
# wms_telkom2['invoice_number'] = wms_telkom2['invoice_number'].astype(str).str.replace('.0', '', regex = False)
# wms_telkom2['sku'] = wms_telkom2['sku'].astype(str).str.replace('.0', '', regex = False)
# wms_telkom = wms_telkom.append(wms_telkom2, ignore_index = True, sort = False)

min1 = wms_telkom[wms_telkom['order_number'].astype(str).str.contains('-1')]
wms_telkom = wms_telkom[~wms_telkom['order_number'].astype(str).str.contains('-1')]
min1['order_number'] = min1['order_number'].astype(str).str.replace('-1', '', regex = False)

temp_telkom = wms_telkom.merge(min1, how = 'left', on = ['order_number', 'sku']).set_index(wms_telkom.index)
indeks = temp_telkom[temp_telkom['invoice_number_y'].notnull()].index.to_list()
temp_min1 = temp_telkom[temp_telkom['invoice_number_y'].notnull()][['order_number', 'invoice_number_y', 'sku', 'status_y', 'quantity_y']]
temp_min1.columns = ['order_number', 'invoice_number', 'sku', 'status', 'quantity']
wms_telkom = wms_telkom.drop(indeks, axis = 0)
# wms_telkom = wms_telkom.drop('order_number', axis = 1)
wms_telkom = wms_telkom.append(temp_min1, ignore_index = True, sort = False)

min2 = wms_telkom[wms_telkom['order_number'].astype(str).str.contains('-2')]
wms_telkom = wms_telkom[~wms_telkom['order_number'].astype(str).str.contains('-2')]
min2['order_number'] = min2['order_number'].astype(str).str.replace('-2', '', regex = False)


temp_telkom = wms_telkom.merge(min2, how = 'left', on = ['order_number', 'sku']).set_index(wms_telkom.index)
indeks = temp_telkom[temp_telkom['invoice_number_y'].notnull()].index.to_list()
temp_min2 = temp_telkom[temp_telkom['invoice_number_y'].notnull()][['order_number', 'invoice_number_y', 'sku', 'status_y', 'quantity_y']]
temp_min2.columns = ['order_number', 'invoice_number', 'sku', 'status', 'quantity']
wms_telkom = wms_telkom.drop(indeks, axis = 0)
# wms_telkom = wms_telkom.drop('order_number', axis = 2)
wms_telkom = wms_telkom.append(temp_min2, ignore_index = True, sort = False)

In [41]:
wms_telkom

      order_number  invoice_number         sku     status  quantity
0      SO111072558    213180019460  2105084180  confirmed       1.0
1      SO111082850    213180178622  1101987453  confirmed       1.0
2      SO111082850    213180178622  1101588453  confirmed       1.0
3      SO111082850    213180178622  2105500225  confirmed       2.0
4      SO111086752    213180228779  2104010270    shipped       1.0
...            ...             ...         ...        ...       ...
27668  SO127226713  223400187606-1  2T00803164  confirmed       2.0
27669  SO131821023    233580394113  2304558112  confirmed       1.0
27670  SO116292697    223224857352  2101453195  confirmed       1.0
27671  SO124225425    223300927968  1101538453  confirmed       1.0
27672  SO116292697    223224857352  2101651195  confirmed       1.0

[27673 rows x 5 columns]

In [42]:
## run 16

# import pandas as pd
# import numpy as np
# import pypyodbc

# conn = pypyodbc.connect('Driver={SQL Server};'
#                 'Server=NFI-DB-01;'
#                 'Database=gudang;'
#                 'UID=andra.miftah;'
#                 'PWD=24nutrifoodindonesia21;'
#                 )

# cursor = conn.cursor()
# wms_telkom = pd.read_sql(r"""SELECT t1.id, t1.order_id,t1.status, t1.quantity, t1.product_id, t2.id,  t2.order_number, t2.invoice_number, t2.channel, t2.order_date, t3.id, t3.sku, t3.name
#   FROM [gudang].[dbo].[outbound_items] as t1
#   left join orders as t2
#   on t1.order_id = t2.id
#   left join products as t3
#   on t1.product_id = t3.id
#   where t2.channel = 'Bukalapak'""", conn)

# # outbound_items = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/outbound_items.csv', sep = ';')
# # orders = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/orders.csv', sep = ';')
# # products = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/products.csv', sep = ';')

# # wms_telkom2 = outbound_items[['id', 'order_id','status', 'quantity', 'product_id']].merge(
# #     orders[['id',  'order_number', 'invoice_number', 'channel', 'order_date']], how = 'left', left_on = 'order_id', right_on = 'id'
# # ).merge(
# #     products[['id', 'sku', 'name']], how = 'left', left_on = 'product_id', right_on = 'id'
# # )
# # wms_telkom2 = wms_telkom2[wms_telkom2['channel'].isin(['Bukalapak'])]
# wms_telkom = wms_telkom[['order_number','invoice_number', 'sku', 'status', 'quantity']].drop_duplicates()
# # wms_telkom2 = wms_telkom2[['order_number','invoice_number', 'sku', 'status', 'quantity']].drop_duplicates()
# wms_telkom['invoice_number'] = wms_telkom['invoice_number'].astype(str).str.replace('.0', '', regex = False)
# # wms_telkom2['sku'] = wms_telkom2['sku'].astype(str).str.replace('.0', '', regex = False)
# # wms_telkom2['invoice_number'] = wms_telkom2['invoice_number'].astype(str).str.replace('.0', '', regex = False)
# # wms_telkom2['sku'] = wms_telkom2['sku'].astype(str).str.replace('.0', '', regex = False)
# # wms_telkom = wms_telkom.append(wms_telkom2, ignore_index = True, sort = False)

# min1 = wms_telkom[wms_telkom['order_number'].astype(str).str.contains('-1')]
# min1['order_number'] = min1['order_number'].astype(str).str.replace('-1', '', regex = False)

# temp_telkom = wms_telkom.merge(min1, how = 'left', on = ['order_number', 'sku'])
# indeks = temp_telkom[temp_telkom['invoice_number_y'].notnull()].index.to_list()
# wms_telkom = wms_telkom.drop(indeks, axis = 0)
# wms_telkom = wms_telkom.drop('order_number', axis = 1)

wms_telkom['WH'] = 'Telkom'
wms_telkom = wms_telkom.rename(columns = {'invoice_number' : 'ID Transaksi', 'status':'Outbound Status', 'sku' : 'SKU WH', 'quantity' : 'Outbound Qty'})

colname = wms_telkom.columns.to_list()
wms_telkom_all = wms_telkom.merge(j_conv, how = 'left', left_on = ['SKU WH'], right_on = ['Real SKU'])
wms_j = wms_telkom_all[wms_telkom_all['SKU Produk'].notnull()]

wms_j['SKU WH'] = wms_j['SKU Produk']
wms_j['Outbound Qty'] = wms_j['Outbound Qty'] * wms_j['Konversi ke UOM'].astype(float)

wms_telkom = wms_telkom.append(wms_j, ignore_index = True, sort = False)
wms_telkom = wms_telkom[colname]

temp_telkom = bukalapak_merge.copy()

# temp_telkom = temp_telkom.drop('ID Transaksi', axis = 1)

temp_telkom['ID Transaksi'] = temp_telkom['ID Transaksi'].astype(str)
wms_telkom['ID Transaksi'] = wms_telkom['ID Transaksi'].astype(str)

temp_telkom['Real SKU'] = temp_telkom['Real SKU'].astype(str).str.replace('.0', '', regex = False)
wms_telkom['SKU WH'] = wms_telkom['SKU WH'].astype(str)

wms_telkom = wms_telkom.groupby(['WH', 'ID Transaksi', 'Outbound Status', 'SKU WH'], dropna = False)['Outbound Qty'].sum().reset_index()

temp_telkom = temp_telkom.merge(wms_telkom.drop_duplicates(['ID Transaksi', 'SKU WH']), how = 'left', left_on = ['ID Transaksi', 'Real SKU'], right_on = ['ID Transaksi', 'SKU WH'])
temp_telkom['Outbound Qty'] = temp_telkom['Outbound Qty'] * temp_telkom['Qty. Invoiced']/temp_telkom.groupby(['ID Transaksi', 'Real SKU'])['Qty. Invoiced'].transform('sum')


temp_telkom_bundle = temp_telkom[temp_telkom['Brand'] == 'Bundle']

temp_buat_bundle = temp_telkom.groupby(['ID Transaksi', 'Bundle Name']).agg({'WH' : 'first', 'Outbound Status' : 'first', 'Outbound Qty' : 'max', 'Qty. Invoiced' : 'max'}).reset_index()
temp_buat_bundle['Outbound Qty'] = temp_buat_bundle['Outbound Qty']/temp_buat_bundle['Qty. Invoiced']
temp_buat_bundle = temp_buat_bundle.drop('Qty. Invoiced', axis = 1)

temp_telkom_bundle = temp_telkom_bundle.merge(temp_buat_bundle.drop_duplicates(['ID Transaksi', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Product Name'], right_on = ['ID Transaksi', 'Bundle Name']).set_index(temp_telkom_bundle.index)
temp_telkom_bundle['Outbound Qty_y'] = temp_telkom_bundle['Outbound Qty_y']*temp_telkom_bundle['Qty. Invoiced']

temp_telkom['Outbound Status'][temp_telkom_bundle.index] = temp_telkom_bundle['Outbound Status_y']
temp_telkom['WH'][temp_telkom_bundle.index] = temp_telkom_bundle['WH_y']
temp_telkom['Outbound Qty'][temp_telkom_bundle.index] = temp_telkom_bundle['Outbound Qty_y']

buka_wms = temp_telkom.copy()

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
### run 17
buka_null = buka_wms[buka_wms['WH'].isnull()]

indeks = wms_telkom[wms_telkom['SKU WH'] == '1101996453'].index.to_list()
wms_telkom['SKU WH'][indeks] = '(E)1101996453'

indeks = wms_telkom[wms_telkom['SKU WH'] == '2309005305'].index.to_list()
wms_telkom['SKU WH'][indeks] = '2309005300'

temp_telkom = buka_null[buka_null['ID Transaksi'].astype(str).isin(wms_telkom['ID Transaksi'].astype(str))]

temp_telkom = temp_telkom.drop(['WH', 'Outbound Status', 'SKU WH', 'Outbound Qty'], axis = 1)
temp_telkom['ID Transaksi'] = temp_telkom['ID Transaksi'].astype(str)
wms_telkom['ID Transaksi'] = wms_telkom['ID Transaksi'].astype(str)

temp_telkom['Real SKU'] = temp_telkom['Real SKU'].astype(str).str.replace('.0', '', regex = False)
wms_telkom['SKU WH'] = wms_telkom['SKU WH'].astype(str)

temp_telkom = temp_telkom.merge(wms_telkom.drop_duplicates(['ID Transaksi', 'SKU WH']), how = 'left', left_on = ['ID Transaksi', 'Real SKU'], right_on = ['ID Transaksi', 'SKU WH']).set_index(temp_telkom.index)

temp_telkom_bundle = temp_telkom[temp_telkom['Brand'] == 'Bundle']

temp_buat_bundle = temp_telkom.groupby(['ID Transaksi', 'Bundle Name']).agg({'WH' : 'first', 'Outbound Status' : 'first', 'Outbound Qty' : 'max', 'Qty. Invoiced' : 'max'}).reset_index()
temp_buat_bundle['Outbound Qty'] = temp_buat_bundle['Outbound Qty']/temp_buat_bundle['Qty. Invoiced']
temp_buat_bundle = temp_buat_bundle.drop('Qty. Invoiced', axis = 1)

temp_telkom_bundle = temp_telkom_bundle.merge(temp_buat_bundle.drop_duplicates(['ID Transaksi', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Product Name'], right_on = ['ID Transaksi', 'Bundle Name']).set_index(temp_telkom_bundle.index)
temp_telkom_bundle['Outbound Qty_y'] = temp_telkom_bundle['Outbound Qty_y']*temp_telkom_bundle['Qty. Invoiced']

temp_telkom['Outbound Status'][temp_telkom_bundle.index] = temp_telkom_bundle['Outbound Status_y']
temp_telkom['WH'][temp_telkom_bundle.index] = temp_telkom_bundle['WH_y']
temp_telkom['Outbound Qty'][temp_telkom_bundle.index] = temp_telkom_bundle['Outbound Qty_y']

buka_wms['Outbound Status'][temp_telkom.index] = temp_telkom['Outbound Status']
buka_wms['WH'][temp_telkom.index] = temp_telkom['WH']
buka_wms['Outbound Qty'][temp_telkom.index] = temp_telkom['Outbound Qty']

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [82]:
buka_wms[(buka_wms['WH'].isnull())
            & (buka_wms['Brand'] != 'Bundle') &
            (buka_wms['ID Transaksi'].isin(wms_telkom['ID Transaksi']))].groupby(['Product Name','SKU','Real Nama Produk', 'Real SKU','SKU WH'], dropna = False)['ID Transaksi'].first().reset_index()

,Product Name,SKU,Real Nama Produk,Real SKU,SKU WH,ID Transaksi
0,(PBS) L-Men Hi Protein 2 Go Chocolate,(U)2307061250,(PBS) L-Men Hi Protein 2 Go Chocolate,(U)2307061250,NaN,223244237436
1,HiLo School RTD Vanila Vegiberi 200ml,2HF1401250,HiLo School RTD Vanila Vegiberi 200ml,2HF1401250,NaN,223256397075

In [44]:
### run 18
import os
import pandas as pd

settlement = pd.DataFrame()
for i in os.listdir('Settlement Project\Bukalapak\Settlement'):
    if 'csv' in i:
        print(i)
        temp = pd.read_csv('Settlement Project\Bukalapak\Settlement/' + str(i))
        temp['Source'] = i
        true_col = ['Waktu', 'Mutasi', 'Saldo', 'Keterangan', 'Source']
        if temp.columns.to_list() == true_col :
            print('Column sama')
        else:
            print('Column beda')
            print([x for x in true_col if x not in temp.columns.to_list()])
            print([x for x in temp.columns.to_list() if x not in true_col])
        if 'Keterangan' in settlement.columns:
            temp=temp[~temp['Keterangan'].isin(settlement['Keterangan'].unique())]
        settlement = settlement.append(temp, ignore_index = True, sort = False)

Mutasi BukaDompet 2020-12-29 s.d. 2021-01-06.csv
Column sama
Mutasi BukaDompet 2021-01-05 s.d. 2021-01-14.csv
Column sama
Mutasi BukaDompet 2021-01-12 s.d. 2021-01-20.csv
Column sama
Mutasi BukaDompet 2021-01-19 s.d. 2021-01-27.csv
Column sama
Mutasi BukaDompet 2021-01-26 s.d. 2021-02-05.csv
Column sama
Mutasi BukaDompet 2021-02-05 s.d. 2021-02-10.csv
Column sama
Mutasi BukaDompet 2021-02-10 s.d. 2021-02-24.csv
Column sama
Mutasi BukaDompet 2021-02-24 s.d. 2021-03-03.csv
Column sama
Mutasi BukaDompet 2021-03-03 s.d. 2021-03-10.csv
Column sama
Mutasi BukaDompet 2021-03-10 s.d. 2021-03-17.csv
Column sama
Mutasi BukaDompet 2021-03-17 s.d. 2021-03-25.csv
Column sama
Mutasi BukaDompet 2021-03-24 s.d. 2021-03-30.csv
Column sama
Mutasi BukaDompet 2021-03-30 s.d. 2021-04-07.csv
Column sama
Mutasi BukaDompet 2021-04-07 s.d. 2021-04-14.csv
Column sama
Mutasi BukaDompet 2021-04-13 s.d. 2021-04-21.csv
Column sama
Mutasi BukaDompet 2021-04-20 s.d. 2021-04-28.csv
Column sama
Mutasi BukaDompet 2021-04-28 s.d. 2021-05-05.csv
Column sama
Mutasi BukaDompet 2021-05-05 s.d. 2021-05-12.csv
Column sama
Mutasi BukaDompet 2021-05-12 s.d. 2021-05-19.csv
Column sama
Mutasi BukaDompet 2021-05-19 s.d. 2021-05-28.csv
Column sama
Mutasi BukaDompet 2021-05-28 s.d. 2021-06-02.csv
Column sama
Mutasi BukaDompet 2021-06-02 s.d. 2021-06-04.csv
Column sama
Mutasi BukaDompet 2021-06-04 s.d. 2021-06-09.csv
Column sama
Mutasi BukaDompet 2021-06-09 s.d. 2021-06-11.csv
Column sama
Mutasi BukaDompet 2021-06-11 s.d. 2021-06-16.csv
Column sama
Mutasi BukaDompet 2021-06-16 s.d. 2021-06-23.csv
Column sama
Mutasi BukaDompet 2021-06-23 s.d. 2021-06-26.csv
Column sama
Mutasi BukaDompet 2021-06-26 s.d. 2021-06-30.csv
Column sama
Mutasi BukaDompet 2021-06-30 s.d. 2021-07-07.csv
Column sama
Mutasi BukaDompet 2021-07-07 s.d. 2021-07-14.csv
Column sama
Mutasi BukaDompet 2021-07-13 s.d. 2021-07-21.csv
Column sama
Mutasi BukaDompet 2021-07-20 s.d. 2021-07-30.csv
Column sama
Mutasi BukaDompet 2021-07-30 s.d. 2021-08-04.csv
Column sama
Mutasi BukaDompet 2021-08-01 s.d. 2021-08-10.csv
Column sama
Mutasi BukaDompet 2021-08-10 s.d. 2021-08-23.csv
Column sama
Mutasi BukaDompet 2021-08-23 s.d. 2021-08-30.csv
Column sama
Mutasi BukaDompet 2021-08-30 s.d. 2021-09-01.csv
Column sama
Mutasi BukaDompet 2021-09-01 s.d. 2021-09-08.csv
Column sama
Mutasi BukaDompet 2021-09-08 s.d. 2021-09-13.csv
Column sama
Mutasi BukaDompet 2021-09-13 s.d. 2021-09-22.csv
Column sama
Mutasi BukaDompet 2021-09-22 s.d. 2021-09-27.csv
Column sama
Mutasi BukaDompet 2021-09-27 s.d. 2021-10-06.csv
Column sama
Mutasi BukaDompet 2021-10-06 s.d. 2021-10-21.csv
Column sama
Mutasi BukaDompet 2021-10-21 s.d. 2021-10-25.csv
Column sama
Mutasi BukaDompet 2021-10-25 s.d. 2021-10-26.csv
Column sama
Mutasi BukaDompet 2021-10-26 s.d. 2021-11-04.csv
Column sama
Mutasi BukaDompet 2021-11-04 s.d. 2021-11-09.csv
Column sama
Mutasi BukaDompet 2021-11-09 s.d. 2021-11-17.csv
Column sama
Mutasi BukaDompet 2021-11-17 s.d. 2021-11-26.csv
Column sama
Mutasi BukaDompet 2021-11-26 s.d. 2021-11-29.csv
Column sama
Mutasi BukaDompet 2021-11-29 s.d. 2021-12-08.csv
Column sama
Mutasi BukaDompet 2021-12-08 s.d. 2021-12-13.csv
Column sama
Mutasi BukaDompet 2021-12-13 s.d. 2021-12-22.csv
Column sama
Mutasi BukaDompet 2021-12-22 s.d. 2022-01-07.csv
Column sama
Mutasi BukaDompet 2022-01-07 s.d. 2022-01-10.csv
Column sama
Mutasi BukaDompet 2022-01-10 s.d. 2022-01-19.csv
Column sama
Mutasi BukaDompet 2022-01-19 s.d. 2022-01-26.csv
Column sama
Mutasi BukaDompet 2022-01-26 s.d. 2022-01-28.csv
Column sama
Mutasi BukaDompet 2022-01-28 s.d. 2022-02-05.csv
Column sama
Mutasi BukaDompet 2022-02-05 s.d. 2022-02-12.csv
Column sama
Mutasi BukaDompet 2022-02-12 s.d. 2022-02-16.csv
Column sama
Mutasi BukaDompet 2022-02-16 s.d. 2022-02-22.csv
Column sama
Mutasi BukaDompet 2022-02-22 s.d. 2022-02-24.csv
Column sama
Mutasi BukaDompet 2022-02-24 s.d. 2022-02-25.csv
Column sama
Mutasi BukaDompet 2022-02-25 s.d. 2022-03-07.csv
Column sama
Mutasi BukaDompet 2022-03-07 s.d. 2022-03-14.csv
Column sama
Mutasi BukaDompet 2022-03-14 s.d. 2022-03-23.csv
Column sama
Mutasi BukaDompet 2022-03-23 s.d. 2022-04-04.csv
Column sama
Mutasi BukaDompet 2022-04-04 s.d. 2022-04-05.csv
Column sama
Mutasi BukaDompet 2022-04-04 s.d. 2022-04-16.csv
Column sama
Mutasi BukaDompet 2022-04-16 s.d. 2022-04-18.csv
Column sama
Mutasi BukaDompet 2022-04-18 s.d. 2022-04-20.csv
Column sama
Mutasi BukaDompet 2022-04-20 s.d. 2022-04-26.csv
Column sama
Mutasi BukaDompet 2022-04-26 s.d. 2022-05-10.csv
Column sama
Mutasi BukaDompet 2022-05-05 s.d. 2022-05-12.csv
Column sama
Mutasi BukaDompet 2022-05-12 s.d. 2022-05-17.csv
Column sama
Mutasi BukaDompet 2022-05-17 s.d. 2022-05-20.csv
Column sama
Mutasi BukaDompet 2022-05-20 s.d. 2022-05-25.csv
Column sama
Mutasi BukaDompet 2022-05-25 s.d. 2022-06-13.csv
Column sama
Mutasi BukaDompet 2022-06-13 s.d. 2022-06-24.csv
Column sama
Mutasi BukaDompet 2022-06-24 s.d. 2022-06-27.csv
Column sama
Mutasi BukaDompet 2022-06-27 s.d. 2022-07-05.csv
Column sama
Mutasi BukaDompet 2022-07-05 s.d. 2022-07-12.csv
Column sama
Mutasi BukaDompet 2022-07-07 s.d. 2022-07-22.csv
Column sama
Mutasi BukaDompet 2022-07-22 s.d. 2022-08-18.csv
Column sama
Mutasi BukaDompet 2022-08-18 s.d. 2022-08-24.csv
Column sama
Mutasi BukaDompet 2022-08-24 s.d. 2022-09-23.csv
Column sama
Mutasi BukaDompet 2022-09-23 s.d. 2022-10-25.csv
Column sama
Mutasi BukaDompet 2022-10-25 s.d. 2022-11-12.csv
Column sama
Mutasi BukaDompet 2022-11-12 s.d. 2022-11-19.csv
Column sama
Mutasi BukaDompet 2022-11-19 s.d. 2022-11-23.csv
Column sama
Mutasi BukaDompet 2022-11-23 s.d. 2022-12-19.csv
Column sama
Mutasi BukaDompet 2022-12-19 s.d. 2023-01-06.csv
Column sama
Mutasi BukaDompet 2023-01-06 s.d. 2023-01-27.csv
Column sama
Mutasi BukaDompet 2023-01-27 s.d. 2023-02-20.csv
Column sama
Mutasi BukaDompet 2023-02-20 s.d. 2023-02-25.csv
Column sama
Mutasi BukaDompet 2023-02-25 s.d. 2023-03-24.csv
Column sama
Mutasi BukaDompet 2023-03-24 s.d. 2023-04-21.csv
Column sama
Mutasi BukaDompet 2023-04-21 s.d. 2023-05-25.csv
Column sama

In [45]:
### run 19

converter = pd.read_excel(r'Settlement Project\Bukalapak/Converter Settlement.xlsx')
converter = converter[['Group', 'Kategori']].drop_duplicates()

settlement['Group'] = settlement['Keterangan'].astype(str).str.split(' #', expand = True)[0]
settlement['ID Transaksi'] = settlement['Keterangan'].astype(str).str.split(' #', expand = True)[1]

settlement = settlement.merge(converter, how = 'left', on = 'Group')

settlement = settlement.drop_duplicates(['Waktu', 'Mutasi', 'Saldo', 'Keterangan'])

set_pivot = pd.pivot_table(settlement, values = 'Mutasi', index = 'ID Transaksi', columns = 'Kategori', aggfunc=np.sum).reset_index()

set_pivot['Bi Produk'] = set_pivot['Total Transfer'].fillna(0) + set_pivot['BTL Cost'].fillna(0)
set_pivot['Bi Provider'] = set_pivot['Ongkir']


bundling = buka_wms[buka_wms['Bundle Name'].notnull()]
real_trx = buka_wms[buka_wms['Bundle Name'].isnull()]

real_trx['ID Transaksi'] = real_trx['ID Transaksi'].astype(str)
set_pivot['ID Transaksi'] = set_pivot['ID Transaksi'].astype(str)

real_trx = real_trx.merge(set_pivot[['ID Transaksi','ComFee', 'Bi Produk', 'Bi Provider']], how = 'left', left_on = 'ID Transaksi', right_on = 'ID Transaksi')

non_prop = real_trx[real_trx['Brand'].isin(['Bonus Produk', 'Gimmick'])]
real_trx = real_trx[~real_trx['Brand'].isin(['Bonus Produk', 'Gimmick'])]

real_trx['Bi Produk Prop'] = real_trx['Bi Produk'].fillna(0) * real_trx['Total Net Before PPN']/real_trx.groupby(['ID Transaksi'])['Total Net Before PPN'].transform('sum')
real_trx['Bi Provider Prop'] = real_trx['Bi Provider'].fillna(0) * real_trx['Qty. Invoiced']/real_trx.groupby(['ID Transaksi'])['Qty. Invoiced'].transform('sum')
real_trx['ComFee Prop'] = real_trx['ComFee'].fillna(0) * real_trx['Total Net Before PPN']/real_trx.groupby(['ID Transaksi'])['Total Net Before PPN'].transform('sum')

non_prop['Bi Produk Prop'] = 0
non_prop['Bi Provider Prop'] = 0
non_prop['ComFee Prop'] = 0

real_trx = real_trx.append(non_prop, ignore_index = True, sort = False)

bundling['ID Transaksi'] = bundling['ID Transaksi'].astype(str)

bundling = bundling.merge(real_trx[['ID Transaksi', 'Product Name', 'Bi Produk Prop', 'ComFee Prop', 'Bi Provider Prop']].drop_duplicates(['ID Transaksi', 'Product Name']), how = 'left', left_on = ['ID Transaksi', 'Bundle Name'], right_on = ['ID Transaksi', 'Product Name'])

non_prop = bundling[bundling['Brand'].isin(['Bonus Produk', 'Gimmick'])]
bundling = bundling[~bundling['Brand'].isin(['Bonus Produk', 'Gimmick'])]

bundling['Bi Produk Prop'] = bundling['Bi Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['ID Transaksi', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling['Bi Provider Prop'] = bundling['Bi Provider Prop'].fillna(0) * bundling['Qty. Invoiced']/bundling.groupby(['ID Transaksi', 'Bundle Name'])['Qty. Invoiced'].transform('sum')
bundling['ComFee Prop'] = bundling['ComFee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['ID Transaksi', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

non_prop['Bi Produk Prop'] = 0
non_prop['Bi Provider Prop'] = 0
non_prop['ComFee Prop'] = 0

bundling = bundling.append(non_prop, ignore_index = True, sort = False)

total_trx = real_trx.append(bundling, ignore_index = True, sort = False)

total_trx['Product Name'] = total_trx['Product Name'].fillna(total_trx['Product Name_x'])

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
### run 20

total_trx['Product Name'] = total_trx['Product Name'].fillna(total_trx['Product Name_x'])

In [47]:
total_trx[(total_trx['ID Transaksi'].isin(set_pivot['ID Transaksi'])) & 
         ((total_trx['Bi Produk Prop'].isnull()) | (total_trx['Bi Produk Prop'] == 0)) &
         (~total_trx['Brand'].isin(['Bonus Produk', 'Gimmick']))].groupby(['Brand', 'Real SKU'])['ID Transaksi'].first().reset_index()
## cek mutasi settlement kalau total nya 0 lanjut saja

    Brand      Real SKU  ID Transaksi
0  Bundle  2305551106P2  223259686503
1    HiLo    2101584180  223240192653
2   L-Men    2304051151  223295245308
3   L-Men    2305551106  223259686503
4      NS    1101930453  223237446102

In [34]:
settlement[settlement['Keterangan'].str.contains('223237446102')]#['Real Nama Produk']
# data_SKU[data_SKU['SKU']=='2101584180']
# settlement[(settlement['Group']=='Refund sebagian untuk transaksi')]#[['Group']].values
# real_trx[real_trx['ID Transaksi']=='223259686503']
# total_trx[total_trx['ID Transaksi']=='223259686503']
# settlement[settlement['Kategori'].isnull()]['Group'].values

,Waktu,Mutasi,Saldo,Keterangan,Source,Group,ID Transaksi,Kategori
35948,03 March 2022 17:17,0,2691733,Refund sebagian untuk transaksi #223237446102,Mutasi BukaDompet 2022-02-25 s.d. 2022-03-07.csv,Refund sebagian untuk transaksi,223237446102,Total Transfer

In [48]:
### run 21
total_trx['True datetime'] = pd.to_datetime(total_trx['Tanggal'])

In [49]:
### run 22
total_trx['Paid'] = np.nan

indeks = total_trx[total_trx['ID Transaksi'].isin(set_pivot['ID Transaksi'])].index.to_list()
total_trx['Paid'][indeks] = 'Paid'
total_trx['Paid'] = total_trx['Paid'].fillna('Unpaid')

indeks = total_trx[(total_trx['Outbound Status'] == 'unavailable') & (total_trx['Bi Produk'] > 0)].index.to_list()
total_trx['Outbound Status'][indeks] = 'confirmed'
total_trx['Paid'][indeks] = 'Half Paid'

indeks = total_trx[(total_trx['Outbound Status'] == 'unavailable') & (total_trx['Bi Produk'] == 0) & (total_trx['Paid'] == 'Unpaid')].index.to_list()
total_trx['Paid'][indeks] = 'Cancel'

indeks = total_trx[(total_trx['Status'] == 'Dikembalikan') & (total_trx['Bi Produk'] == 0) & (total_trx['Paid'] == 'Unpaid')].index.to_list()
total_trx['Outbound Status'][indeks] = 'confirmed'
total_trx['Paid'][indeks] = 'Refund'
total_trx['Bi Produk Prop'][indeks] = total_trx['Total Terbayar'][indeks] * (-1)

indeks = total_trx[(total_trx['Paid'] == 'Paid')].index.to_list()
total_trx['Outbound Status'][indeks] = 'confirmed'

indeks = total_trx[(total_trx['Paid'] == 'Paid') &
      (total_trx['True datetime'] > '2021-07-28') &
       (total_trx['True datetime'] < '2021-09-06')
      ].index.to_list()
total_trx['Outbound Status'][indeks] = 'confirmed'
total_trx['Outbound Qty'][indeks] = total_trx['Qty. Invoiced'][indeks]

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
### run 23

total_trx['Bi Produk Prop Adj'] = total_trx['Bi Produk Prop']/1.11
total_trx['BTL Cost'] = total_trx['Bi Produk Prop Adj'] - total_trx['Total Net Before PPN']

In [51]:
#### run 24

total_trx_full = total_trx.rename(columns = {
    'Bukalapak SKU' : 'Product ID',
    'Total Terbayar' : 'Total Selcen',
    'Status Seller Centre' : 'Order Status_y',
    'Outbound Status' : 'SO STATUS',
    'Bi Produk Prop' : 'Total Produk Prop',
    'ComFee Prop' : 'Comfee Prop',
    'Tanggal' : 'Order Date Seller Centre',
    'Outbound Qty' : 'Warehouse Quantity',
    'Bi Provider Prop' : 'Shipment Fee',
    'Bi Produk Prop Adj' : 'Bi Bahan Produk Final Adj'
})
total_trx_full['Warehouse Origin'] = total_trx_full['WH']

total_trx_full = total_trx_full.rename(columns = {
    'Total Selcen' : 'Total Seller Centre', 
    'Order Status_y' : 'Order Status Seller Centre',
    'SO STATUS' : 'Status Gudang',
    'Shipment Fee' : 'Shipping Fee', 
    'Bi Bahan Produk Final Adj' : 'Total Produk Prop Adj'
})

In [52]:
### run 25

tambah_unpaid = pd.read_excel(r'Settlement Project/unpaid order to Andra.xlsx', sheet_name = 'Unpaid to cancel or not found')
tambah_unpaid2 = pd.read_excel(r'Settlement Project/Unpaid Mar.xlsx', sheet_name = 'Bukalapak')
tambah_unpaid['ID Transaksi'] = tambah_unpaid['Order #'].astype(str)
tambah_unpaid = tambah_unpaid.append(tambah_unpaid2, ignore_index = True, sort = False)
indeks = total_trx_full[total_trx_full['ID Transaksi'].isin(tambah_unpaid['ID Transaksi'])].index.to_list()
print(len(indeks))
total_trx_full['Status'][indeks] = 'Cancel'
total_trx_full['Paid'][indeks] = 'Cancel'

rumus_status = pd.read_excel(r'Settlement Project/Rumus Status.xlsx', sheet_name = 'Bukalapak')
if len(rumus_status != 0):
    for i in range(len(rumus_status)):
        stat = rumus_status['Status'][i]
        indeks = total_trx_full[(total_trx_full['Paid'] == 'Unpaid') &
                             (total_trx_full['Status'].str.lower() == stat.lower())].index.to_list()
        total_trx_full['Status'][indeks] = 'Cancel'
        total_trx_full['Paid'][indeks] = 'Cancel'

0

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
### run 26

total_trx_merge = total_trx_full.merge(source[['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced']), how = 'left', left_on = ['ID Transaksi', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'], right_on = ['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'])

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

total_trx_null = total_trx_null.drop(['Order #', 'Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net', 
                                                  'Total Produk Prop_x' : 'Total Produk Prop',
                                                  'Comfee Prop_x' : 'Comfee Prop'})

total_trx_null = total_trx_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(total_trx_null.index) 
total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

total_trx_null = total_trx_null.drop(['Order #', 'Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net',
                                                  'Total Produk Prop_x' : 'Total Produk Prop',
                                                  'Comfee Prop_x' : 'Comfee Prop'})

total_trx_null = total_trx_null.merge(source[['Order #', 'Real SKU', 'Bundle Name', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Real SKU',  'Bundle Name'], right_on = ['Order #', 'Real SKU', 'Bundle Name']).set_index(total_trx_null.index) 
total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

# source2 = source.copy()

# source2['Real SKU'] = source2['Real SKU'].astype(str).str.replace('2309005305', '2309005300')

# # indeks = source2[source2['Real SKU'] == '(B)2101809250'].index.to_list()
# # source2['Real SKU'][indeks] = '(U)2101809250'

# # indeks = source2[source2['Real SKU'] == 'PH48(3)B35'].index.to_list()
# # source2['Real SKU'][indeks] = '2101941250P4'

# # indeks = source2[source2['Real SKU'] == 'PH39(3)B17'].index.to_list()
# # source2['Real SKU'][indeks] = '2101809250P4'

# total_trx_null = total_trx_null.drop(['Order #', 'Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
# total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net', 
#                                                   'Total Produk Prop_x' : 'Total Produk Prop',
#                                                   'Comfee Prop_x' : 'Comfee Prop'})

# total_trx_null = total_trx_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(total_trx_null.index) 
# total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
# total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
# total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
total_trx_merge[(total_trx_merge['ID Transaksi'].isin(source['Order #'])) & (total_trx_merge['Total Net_y'].isnull())]

Empty DataFrame
Columns: [Order Date Seller Centre, ID Transaksi, Transaksi Dropshipper, Nama Dropshipper, Detail Dropshipper, Penjual, Pembeli, Username Pembeli, HP Pembeli, Alamat Pembeli, Kecamatan Pembeli, Kota Pembeli, Propinsi Pembeli, Kode Pos Pembeli, Product Name, Harga Produk, Biaya Pengiriman, Biaya Asuransi, Total Seller Centre, Qty. Invoiced, SKU, Berat Per SKU, Varian, Kurir, Kode Tracking, Status, Source, Year, Month, true datetime, Pemilik Budget, Real SKU, Real Nama Produk, Brand, Sub Brand, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Berat 1, Volume 1, Berat 2, Volume 2, Berat 3, Volume 3, Berat 4, Volume 4, Berat 5, Volume 5, Berat 6, Volume 6, Berat 7, Volume 7, Alias SKU 1, Alias Nama 1, ...]
Index: []

[0 rows x 151 columns]

In [55]:
### run 27
total_trx_merge = total_trx_merge.rename(columns = {'Total Produk Prop_x' : 'Total Produk Prop by Selcen', 
                                                   'Total Produk Prop_y' : 'Total Produk Prop Real Jan',
                                                   'Total Net_x' : 'Total Net by Selcen', 
                                                   'Total Net_y' : 'Total Net Real Jan',
                                                   'Fullfee Prop_x' : 'Fullfee Prop by Selcen', 
                                                   'Fullfee Prop_y' : 'Fullfee Prop Real Jan',
                                                   'Comfee Prop_x' : 'Comfee Prop by Selcen', 
                                                   'Comfee Prop_y' : 'Comfee Prop Real Jan'})

total_trx_merge['Delta Total Net'] = total_trx_merge['Total Net by Selcen'] - total_trx_merge['Total Net Real Jan']
total_trx_merge['Delta Total Produk Prop'] = total_trx_merge['Total Produk Prop by Selcen'] - total_trx_merge['Total Produk Prop Real Jan']
total_trx_merge['Delta Comfee Prop'] = total_trx_merge['Comfee Prop by Selcen'] - total_trx_merge['Comfee Prop Real Jan']

In [56]:
### run 28

from datetime import date
total_trx_merge.to_csv(r'Settlement Project\Backup\Realisasi May 2023\Final Result\Before Compare/Buka Testing by Selcen Compare v3.csv', sep = ';', index = False)

In [ ]:
#### skip this 27 Mei 2022

In [2]:
import pandas as pd
import numpy as np
import os

total_trx=total_trx_merge.copy()
# total_trx = pd.read_csv(r"D:\settlement\Code\Settlement Project\Backup\Realisasi Mei 2022\Final Result\Before Compare\Buka Testing by Selcen Compare v3.csv", sep = ';')

total_trx_full = total_trx.rename(columns = {'Total Produk Prop by Selcen': 'Total Produk Prop', 
                                                   'Total Net by Selcen' : 'Total Net', 
                                                   'Fullfee Prop by Selcen' : 'Fullfee Prop', 
                                                   'Comfee Prop by Selcen' : 'Comfee Prop'})


total_trx_full = total_trx_full.drop(['Order #', 'Total Net Real Jan', 'Total Produk Prop Real Jan',
       'Comfee Prop Real Jan', 'Delta Total Net', 'Delta Total Produk Prop',
       'Delta Comfee Prop'], axis = 1)

source = pd.read_csv(r"D:\6. settlement\Code\Settlement Project\Backup\Realisasi Apr 2023\Final Result\Raw Unpivoted\CSV\Runningan Bukalapak By Selcen Jan 2022 - Apr 2023.csv", sep = ';')

source['True datetime'] = pd.to_datetime(source['True datetime'])
source = source[(source['Year'] > 2021)]

# selcen_sku['OrderId'] = selcen_sku['OrderId'].astype(str)
source['Order #'] = source['Order #'].astype(str)
source['Real SKU'] = source['Real SKU'].astype(str)
total_trx_full['ID Transaksi'] = total_trx_full['ID Transaksi'].astype(str)

# selcen_old = selcen_sku[selcen_sku['OrderId'].isin(source['Order #'])]

source['Product Name'] = source['Product Name'].fillna(source['Real Nama Produk'])

total_trx_merge = total_trx_full.merge(source[['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Paid February', 'Qty. Invoiced', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced']), how = 'left', left_on = ['ID Transaksi', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'], right_on = ['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'])

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

total_trx_null = total_trx_null.drop(['Order #', 'Paid February','Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net', 
                                                  'Total Produk Prop_x' : 'Total Produk Prop',
                                                  'Comfee Prop_x' : 'Comfee Prop'})

total_trx_null = total_trx_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Paid February','Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(total_trx_null.index) 
total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']
total_trx_merge['Paid February'][total_trx_null.index] = total_trx_null['Paid February']

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

total_trx_null = total_trx_null.drop(['Order #', 'Paid February','Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net',
                                                  'Total Produk Prop_x' : 'Total Produk Prop',
                                                  'Comfee Prop_x' : 'Comfee Prop'})

total_trx_null = total_trx_null.merge(source[['Order #', 'Real SKU', 'Bundle Name', 'Paid February','Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Real SKU',  'Bundle Name'], right_on = ['Order #', 'Real SKU', 'Bundle Name']).set_index(total_trx_null.index) 
total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']
total_trx_merge['Paid February'][total_trx_null.index] = total_trx_null['Paid February']

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

# source2 = source.copy()

# source2['Real SKU'] = source2['Real SKU'].astype(str).str.replace('2309005305', '2309005300')

# # indeks = source2[source2['Real SKU'] == '(B)2101809250'].index.to_list()
# # source2['Real SKU'][indeks] = '(U)2101809250'

# # indeks = source2[source2['Real SKU'] == 'PH48(3)B35'].index.to_list()
# # source2['Real SKU'][indeks] = '2101941250P4'

# # indeks = source2[source2['Real SKU'] == 'PH39(3)B17'].index.to_list()
# # source2['Real SKU'][indeks] = '2101809250P4'

# total_trx_null = total_trx_null.drop(['Order #', 'Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
# total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net', 
#                                                   'Total Produk Prop_x' : 'Total Produk Prop',
#                                                   'Comfee Prop_x' : 'Comfee Prop'})

# total_trx_null = total_trx_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(total_trx_null.index) 
# total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
# total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
# total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']

C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\andra.miftah\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
total_trx_merge[(total_trx_merge['ID Transaksi'].isin(source['Order #'])) & (total_trx_merge['Total Net_y'].isnull())]

Empty DataFrame
Columns: [Order Date Seller Centre, ID Transaksi, Transaksi Dropshipper, Nama Dropshipper, Detail Dropshipper, Penjual, Pembeli, Username Pembeli, HP Pembeli, Alamat Pembeli, Kecamatan Pembeli, Kota Pembeli, Propinsi Pembeli, Kode Pos Pembeli, Product Name, Harga Produk, Biaya Pengiriman, Biaya Asuransi, Total Seller Centre, Qty. Invoiced, SKU, Berat Per SKU, Varian, Kurir, Kode Tracking, Status, Source, Year, Month, Real SKU, Real Nama Produk, Brand, Sub Brand, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Harga Organik 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Harga Organik 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Harga Organik 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Harga Organik 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Harga Organik 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Harga Organik 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Harga Organik 7, Price List NFI, Harga Cost, Total Net_x, Total Harga Cost, Total Net Before PPN, Bundle Name, Bundle Flag, Parent Item, Parent SKU, WH, Status Gudang, ...]
Index: []

[0 rows x 120 columns]

In [5]:
total_trx_merge = total_trx_merge.rename(columns = {'Total Produk Prop_x' : 'Total Produk Prop by Selcen', 
                                                   'Total Produk Prop_y' : 'Total Produk Prop Real Jan',
                                                   'Total Net_x' : 'Total Net by Selcen', 
                                                   'Total Net_y' : 'Total Net Real Jan',
                                                   'Fullfee Prop_x' : 'Fullfee Prop by Selcen', 
                                                   'Fullfee Prop_y' : 'Fullfee Prop Real Jan',
                                                   'Comfee Prop_x' : 'Comfee Prop by Selcen', 
                                                   'Comfee Prop_y' : 'Comfee Prop Real Jan'})

total_trx_merge['Delta Total Net'] = total_trx_merge['Total Net by Selcen'] - total_trx_merge['Total Net Real Jan']
total_trx_merge['Delta Total Produk Prop'] = total_trx_merge['Total Produk Prop by Selcen'] - total_trx_merge['Total Produk Prop Real Jan']
total_trx_merge['Delta Comfee Prop'] = total_trx_merge['Comfee Prop by Selcen'] - total_trx_merge['Comfee Prop Real Jan']

In [6]:
total_trx_merge.to_csv(r'D:\Backup\Backup 26 Mei\Settlement Project Backup/Buka Testing by Selcen Compare vPaid.csv', sep = ';', index = False)

In [9]:
source[source['Order #'].astype(str) == '213219097736']

Empty DataFrame
Columns: [Order #, Sales Order ID, AWB, Paid Date, Order date, Week, Date, Month, Quarter, Year, Channel, SKU, Brand, Product Name, Bundle Name, Price List NFI, Qty. Invoiced, Total Net, Sub Brand, Real SKU, Real Nama Produk, Parent Item, Parent SKU, Bundle Flag, Shipping Courier, Store, True datetime, Store Type, Region Group, PL Before PPN, Total Net Before PPN, Category Baru, Exported Parent Item, Order Date Seller Centre, Product ID, Total Seller Centre, Order Status Seller Centre, Warehouse Origin, Paid February, Status Gudang, WH, Warehouse Quantity, Total Produk Prop, Comfee Prop, BTL Cost, Shipping Fee, Total Produk Prop Adj, Paid January, Paid Beda]
Index: []

[0 rows x 49 columns]

In [ ]:
######## langsung sini aja kali ya after export before compare

In [65]:
### run 29 ubah bulan ke prev month 

import pandas as pd
import numpy as np
import os

# total_trx=total_trx_merge.copy()
total_trx = pd.read_csv(r"Settlement Project\Backup\Realisasi May 2023\Final Result\Before Compare\Buka Testing by Selcen Compare v3.csv", sep = ';')

total_trx_full = total_trx.rename(columns = {'Total Produk Prop by Selcen': 'Total Produk Prop', 
                                                   'Total Net by Selcen' : 'Total Net', 
                                                   'Fullfee Prop by Selcen' : 'Fullfee Prop', 
                                                   'Comfee Prop by Selcen' : 'Comfee Prop'})


total_trx_full = total_trx_full.drop(['Order #', 'Total Net Real Jan', 'Total Produk Prop Real Jan',
       'Comfee Prop Real Jan', 'Delta Total Net', 'Delta Total Produk Prop',
       'Delta Comfee Prop'], axis = 1)

source = pd.read_csv(r"D:\6. settlement\Code\Settlement Project\Backup\Realisasi Apr 2023\Final Result\Raw Unpivoted\CSV\Runningan Bukalapak By Selcen Jan 2022 - Apr 2023.csv", sep = ';')


source['True datetime'] = pd.to_datetime(source['True datetime'])
source = source[(source['Year'] > 2021)]

# selcen_sku['OrderId'] = selcen_sku['OrderId'].astype(str)

source['Order #'] = source['ID Transaksi'].astype(str)
# source['ID Transaksi'] = source['ID Transaksi'].astype(str)
source['Real SKU'] = source['Real SKU'].astype(str)
total_trx_full['ID Transaksi'] = total_trx_full['ID Transaksi'].astype(str)

# selcen_old = selcen_sku[selcen_sku['OrderId'].isin(source['Order #'])]

source['Product Name'] = source['Product Name'].fillna(source['Real Nama Produk'])

total_trx_merge = total_trx_full.merge(source[['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Paid April', 'Qty. Invoiced', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced']), how = 'left', left_on = ['ID Transaksi', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'], right_on = ['Order #', 'Real SKU', 'Real Nama Produk', 'Bundle Name', 'Qty. Invoiced'])

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

total_trx_null = total_trx_null.drop(['Order #', 'Paid April','Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net', 
                                                  'Total Produk Prop_x' : 'Total Produk Prop',
                                                  'Comfee Prop_x' : 'Comfee Prop'})

total_trx_null = total_trx_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Paid April','Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(total_trx_null.index) 
total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']
total_trx_merge['Paid April'][total_trx_null.index] = total_trx_null['Paid April']

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

total_trx_null = total_trx_null.drop(['Order #', 'Paid April','Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net',
                                                  'Total Produk Prop_x' : 'Total Produk Prop',
                                                  'Comfee Prop_x' : 'Comfee Prop'})

total_trx_null = total_trx_null.merge(source[['Order #', 'Real SKU', 'Bundle Name', 'Paid April','Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Real SKU',  'Bundle Name'], right_on = ['Order #', 'Real SKU', 'Bundle Name']).set_index(total_trx_null.index) 
total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']
total_trx_merge['Paid April'][total_trx_null.index] = total_trx_null['Paid April']

total_trx_null = total_trx_merge[total_trx_merge['Total Net_y'].isnull()]

# source2 = source.copy()

# source2['Real SKU'] = source2['Real SKU'].astype(str).str.replace('2309005305', '2309005300')

# # indeks = source2[source2['Real SKU'] == '(B)2101809250'].index.to_list()
# # source2['Real SKU'][indeks] = '(U)2101809250'

# # indeks = source2[source2['Real SKU'] == 'PH48(3)B35'].index.to_list()
# # source2['Real SKU'][indeks] = '2101941250P4'

# # indeks = source2[source2['Real SKU'] == 'PH39(3)B17'].index.to_list()
# # source2['Real SKU'][indeks] = '2101809250P4'

# total_trx_null = total_trx_null.drop(['Order #', 'Total Net_y', 'Total Produk Prop_y', 'Comfee Prop_y'], axis = 1)
# total_trx_null = total_trx_null.rename(columns = {'Total Net_x' : 'Total Net', 
#                                                   'Total Produk Prop_x' : 'Total Produk Prop',
#                                                   'Comfee Prop_x' : 'Comfee Prop'})

# total_trx_null = total_trx_null.merge(source[['Order #', 'Product Name', 'Bundle Name', 'Total Net', 'Total Produk Prop', 'Comfee Prop']].drop_duplicates(['Order #', 'Product Name', 'Bundle Name']), how = 'left', left_on = ['ID Transaksi', 'Product Name',  'Bundle Name'], right_on = ['Order #', 'Product Name', 'Bundle Name']).set_index(total_trx_null.index) 
# total_trx_merge['Total Net_y'][total_trx_null.index] = total_trx_null['Total Net_y']
# total_trx_merge['Total Produk Prop_y'][total_trx_null.index] = total_trx_null['Total Produk Prop_y']
# total_trx_merge['Comfee Prop_y'][total_trx_null.index] = total_trx_null['Comfee Prop_y']

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (30,50,57,63,109,111,112,113,126,128,140,141) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (50,65,94,96,108,109,117) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [59]:
total_trx_merge[(total_trx_merge['Month']=='August')&(total_trx_merge['Paid Beda']=='Beda')]['Order Date Seller Centre'].min()#['ID Transaksi'].nunique()

'2022-08-16 13:45:17 +0700'

In [66]:
## run 30

total_trx_merge['Paid Beda'] = np.nan

indeks = total_trx_merge[total_trx_merge['Paid'] != total_trx_merge['Paid April']].index.to_list()
total_trx_merge['Paid Beda'][indeks] = 'Beda'

total_trx_merge['Paid Beda'] = total_trx_merge['Paid Beda'].fillna('Sama')
# total_trx_merge[total_trx_merge['Paid Beda'] == 'Beda'][['Order #','Brand','Real SKU','Month', 'Paid_x', 'Paid_y', 'Paid Beda']]
total_trx_merge[total_trx_merge['Paid Beda'] == 'Beda'].groupby(['Month', 'Paid', 'Paid April'], dropna = False)['ID Transaksi'].nunique()

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Month  Paid    Paid April
April  Cancel  Unpaid         1
       Paid    Unpaid         2
               NaN           14
May    Cancel  NaN            5
       Paid    NaN           76
       Unpaid  NaN           26
Name: ID Transaksi, dtype: int64

In [67]:
## run 31
total_trx_merge = total_trx_merge.rename(columns = {'Paid' : 'Paid May'})

total_trx_merge = total_trx_merge.rename(columns = {'Total Produk Prop_x' : 'Total Produk Prop by Selcen', 
                                                   'Total Produk Prop_y' : 'Total Produk Prop Real Jan',
                                                   'Total Net_x' : 'Total Net by Selcen', 
                                                   'Total Net_y' : 'Total Net Real Jan',
                                                   'Fullfee Prop_x' : 'Fullfee Prop by Selcen', 
                                                   'Fullfee Prop_y' : 'Fullfee Prop Real Jan',
                                                   'Comfee Prop_x' : 'Comfee Prop by Selcen', 
                                                   'Comfee Prop_y' : 'Comfee Prop Real Jan'})

total_trx_merge['Delta Total Net'] = total_trx_merge['Total Net by Selcen'] - total_trx_merge['Total Net Real Jan']
total_trx_merge['Delta Total Produk Prop'] = total_trx_merge['Total Produk Prop by Selcen'] - total_trx_merge['Total Produk Prop Real Jan']
total_trx_merge['Delta Comfee Prop'] = total_trx_merge['Comfee Prop by Selcen'] - total_trx_merge['Comfee Prop Real Jan']

In [68]:
## run 32
total_trx_merge = total_trx_merge.rename(columns = {'Total Produk Prop by Selcen': 'Total Produk Prop', 
                                                   'Total Net by Selcen' : 'Total Net', 
                                                   'Fullfee Prop by Selcen' : 'Fullfee Prop', 
                                                   'Comfee Prop by Selcen' : 'Comfee Prop'})


total_trx_merge = total_trx_merge.drop(['Order #', 'Total Net Real Jan', 'Total Produk Prop Real Jan',
                                        'Comfee Prop Real Jan', 'Delta Total Net', 'Delta Total Produk Prop',
                                        'Delta Comfee Prop'], axis = 1)

In [69]:
## run 33
hasilakhir=pd.read_excel("Settlement Project\Backup\Realisasi Oct 2022\Final Result\Raw Unpivoted\Excel\Runningan Bukalapak By Selcen Jan 2022 - Oct 2022.xlsx")
# hasilakhir=hasilakhir.rename(columns={'Paid February':'Paid March 1'})
hasilakhir=hasilakhir.rename(columns={'Paid October':'Paid May'})
hasilakhir=hasilakhir.rename(columns={'Paid September':'Paid April'})
hasilakhir['Pemilik Budget']=np.nan
# col=hasilakhir.columns.to_list()
# col#.delete

In [70]:
hasilakhir['Pemilik Budget']=np.nan

In [71]:
total_trx_merge[hasilakhir.columns]

,Order Date Seller Centre,ID Transaksi,Transaksi Dropshipper,Nama Dropshipper,Detail Dropshipper,Penjual,Pembeli,Username Pembeli,HP Pembeli,Alamat Pembeli,Kecamatan Pembeli,Kota Pembeli,Propinsi Pembeli,Kode Pos Pembeli,Product Name,Harga Produk,Biaya Pengiriman,Biaya Asuransi,Total Seller Centre,Qty. Invoiced,SKU,Berat Per SKU,Varian,Kurir,Kode Tracking,Status,Source,Year,Month,Real SKU,Real Nama Produk,Brand,Sub Brand,Produk 1,SKU Produk 1,PCS Produk 1,Price List NFI 1,Subtotal Produk 1,Harga Display 1,Harga Cost 1,Harga Organik 1,Produk 2,SKU Produk 2,PCS Produk 2,Price List NFI 2,Subtotal Produk 2,Harga Display 2,Harga Cost 2,Harga Organik 2,Produk 3,SKU Produk 3,PCS Produk 3,Price List NFI 3,Subtotal Produk 3,Harga Display 3,Harga Cost 3,Harga Organik 3,Produk 4,SKU Produk 4,PCS Produk 4,Price List NFI 4,Subtotal Produk 4,Harga Display 4,Harga Cost 4,Harga Organik 4,Produk 5,SKU Produk 5,PCS Produk 5,Price List NFI 5,Subtotal Produk 5,Harga Display 5,Harga Cost 5,Harga Organik 5,Produk 6,SKU Produk 6,PCS Produk 6,Price List NFI 6,Subtotal Produk 6,Harga Display 6,Harga Cost 6,Harga Organik 6,Produk 7,SKU Produk 7,PCS Produk 7,Price List NFI 7,Subtotal Produk 7,Harga Display 7,Harga Cost 7,Harga Organik 7,Price List NFI,Harga Cost,Total Net,Total Harga Cost,Total Net Before PPN,Bundle Name,Bundle Flag,Parent Item,Parent SKU,WH,Status Gudang,SKU WH,Warehouse Quantity,ComFee,Bi Produk,Bi Provider,Total Produk Prop,Shipping Fee,Comfee Prop,Product Name_x,Product Name_y,True datetime,Paid May,Total Produk Prop Adj,BTL Cost,Warehouse Origin,Paid April,Paid Beda,Pemilik Budget
0,2022-01-01 00:00:05 +0700,213219097736,Tidak,-,-,Nutrimart,Irene A Wulansari,irene_a_wulansari,6281295551670,Perum. Wisma Jaya. Jl. Kusuma Timur VII A B...,Bekasi Timur,Bekasi,Jawa Barat,17111,Twin Pack - HiLo Teen Taro 500g - Susu Tinggi ...,176800.0,10000.00000,0,132700.000000,1.0,2101609180P2,1100,NaN,SiCepat REG,001446035095,Diterima & Selesai,BL Jan 2022.xlsx,2022,January,2101609180P2,HiLo Teen Taro 500g (2pcs),Bundle,NaN,HiLo Teen Taro 500gr,2101609180,2.0,84360.0,168720.0,199000.0,168720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168720.0,168720,168720.0,168720,152000.000000,NaN,NaN,NaN,NaN,Telkom,confirmed,NaN,1.0,-3981.0,132700.0,NaN,132700.0,0.0,-3981.0,NaN,NaN,2022-01-01 00:00:05+07:00,Paid,119549.54955,-32450.450450,Telkom,Paid,Sama,NaN
1,2022-01-10 21:31:55 +0700,223222433349,Tidak,-,-,Nutrimart,Bayu Indrawan,bayuindrawan887799,6282112553867,jl hj oding kp cinyosog rt01 rw02 .patokan rum...,Setu,Kab. Bekasi,Jawa Barat,17324,Nutrisari Florida Orange 40s,42100.0,10000.00000,0,52100.000000,1.0,1101907331,650,NaN,SiCepat REG,NaN,Cancel,BL Jan 2022.xlsx,2022,January,1101907331,Nutrisari Florida Orange (40 Sch),NS,NS TRADITIONAL,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,45510.0,45510,45510.0,45510,41000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,2022-01-10 21:31:55+07:00,Cancel,0.00000,-41000.000000,NaN,Cancel,Sama,NaN
2,2022-01-11 23:56:11 +0700,223222910976,Tidak,-,-,Nutrimart,yoseva ayu sari,yoseva_ayu_sari,6287896212956,jalan perintis kp.teriti RT.01 RW.05 karet Sep...,Sepatan,Kab. Tangerang,Banten,15522,Twin Pack - HiLo Teen Taro 500g - Susu Tinggi ...,134900.0,10000.00000,0,144900.000000,1.0,2101609180P2,1100,NaN,SiCepat REG,NaN,Cancel,BL Jan 2022.xlsx,2022,January,2101609180P2,HiLo Teen Taro 500g (2pcs),Bundle,NaN,HiLo Teen Taro 500gr,2101609180,2.0,84360.0,168720.0,199000.0,168720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168720.0,168720,168720.0,168720,152000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,2022-01-11 23:56:11+07:00,Cancel,0.00000,-152000.000000,NaN,Cancel,Sama,NaN
3,2022-01-11 23:58:29 +0700,223222910946,Tidak,-,-,Nutrimart,Penny N R L,nova_rotinsulu,6281285770623,jl. raya halim P. K no. 79 Rt. 001/Rw.08 kelur...,Makasar,Jakarta Timur,DKI Jakarta,13560,Twin Pack - HiLo Teen Taro 500g - Susu Tinggi ...,134900.0,10000.00000,0,144900.000000,1.0,2101609180P2,1100,NaN,SiCepat REG,NaN,Cancel,BL Jan 2022.xlsx,2022,January,2101609180P2,HiLo Teen Taro 500g (2pcs),Bundle,NaN,HiLo Teen Taro 500gr,2101609180,2.0,84360.0,168720.0,199000.0,168720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168720.0,168720,168720.0,168720,152000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,2022-01-11 23:58:29+07:00,Cancel,0.00000,-152000.000000,NaN,Cancel,Sama,NaN
4,2022-01-16 21:29:46 +0700,223224502473,Tidak,-,-,Nutrimart,Asep Cepot ( Ibu Juriah),ace_king_shop,6281389253075,"Jl. Cisadane 9, Kp. Baru Rt.003/004 No. 53, De...",Karawaci,Tangerang,Banten,15116,Lokalate Kopi Gula Aren 10 Sachet,25000.0,1388.14546,0,10702.601496,2.0,1101681318,155,NaN,SiCepat HALU,NaN,Cancel,BL Jan 2022.xlsx,2022,January,1101681318,Lokalate Kopi Aren 10 sachet Renceng,W'dank,WDANK TRADITIONAL,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,15151.0,15151,30302.0,30302,27299.099099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,2022-01-16 21:29:46+07:00,Cancel,0.00000,-27299.099099,NaN,Cancel,Sama,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24478,2022-01-18 16:17:22 +0700,223225074561,Tidak,-,-,Nutrimart,yoseva ayu sari,yoseva_ayu_sari,6287896212956,jalan perintis kp.teriti RT.01 RW.05 karet Sep...,Sepatan,Kab. Tangerang,Banten,15522,(FREE) Lunch Bag,0.0,0.00000,0,0.000000,1.0,(B)71210170,1100,NaN,SiCepat HALU,001446435710,Diterima & Selesai,BL Jan 2022.xlsx,2022,January,(B)71210170,(FREE) Lunch Bag,Gimmick,NM Gimmick,HiLo School Chocolate 1000 gr,2101453195,1.0,149850.0,149850.0,186800.0,149850.0,NaN,(FREE) Lunch Bag,(B)71210170,1.0,0.0,0.0,20000.0,5235.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5235,0.0,5235,0.000000,HiLo School Chocolate 1000 gr - Susu Tinggi K...,NaN,(FREE) Lunch Bag,NaN,Telkom,confirmed,(B)71210170,1.0,NaN,NaN,NaN,0.0,0.0,0.0,(FREE) Lunch Bag,HiLo School Chocolate 1000 gr - Susu Tinggi K...,2022-01-18 16:17:22+07:00,Paid,0.00000,0.000000,Telkom,Paid,Sama,NaN
24479,2022-01-18 16:35:30 +0700,223225074756,Tidak,-,-,Nutrimart,yoseva ayu sari,yoseva_ayu_sari,6287896212956,jalan perintis kp.teriti RT.01 RW.05 karet Sep...,Sepatan,Kab. Tangerang,Banten,15522,(FREE) Lunch Bag,0.0,0.00000,0,0.000000,1.0,(B)71210170,1100,NaN,SiCepat REG,001446435698,Diterima & Selesai,BL Jan 2022.xlsx,2022,January,(B)71210170,(FREE) Lunch Bag,Gimmick,NM Gimmick,HiLo School Chocolate 1000 gr,2101453195,1.0,149850.0,149850.0,186800.0,149850.0,NaN,(FREE) Lunch Bag,(B)71210170,1.0,0.0,0.0,20000.0,5235.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5235,0.0,5235,0.000000,HiLo School Chocolate 1000 gr - Susu Tinggi K...,NaN,(FREE) Lunch Bag,NaN,Telkom,confirmed,(B)71210170,1.0,NaN,NaN,NaN,0.0,0.0,0.0,(FREE) Lunch Bag,HiLo School Chocolate 1000 gr - Susu Tinggi K...,2022-01-18 16:35:30+07:00,Paid,0.00000,0.000000,Telkom,Paid,Sama,NaN
24480,2022-01-18 22:47:31 +0700,223225071639,Tidak,-,-,Nutrimart,brenda,mawar_melati_379399,6281645424844,jalan perintis KP teriti RT 1 RW 5 karet Sepat...,Sepatan,Kab. Tangerang,Banten,15522,(FREE) Lunch Bag,0.0,0.00000,0,0.000000,1.0,(B)71210170,1100,NaN,SiCepat REG,001446435685,Diterima & Selesai,BL Jan 2022.xlsx,2022,January,(B)71210170,(FREE) Lunch Bag,Gimmick,NM Gimmick,HiLo Teen Chocolate 1000 gr,2101651195,1.0,155400.0,155400.0,183400.0,155400.0,NaN,(FREE) Lunch Bag,(B)71210170,1.0,0.0,0.0,20000.0,5235.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5235,0.0,5235,0.000000,HiLo Teen Chocolate 1000 gr - Susu Tinggi Kalsium,NaN,(FREE) Lunch Bag,NaN,Telkom,confirmed,(B)71210170,1.0,NaN,NaN,NaN,0.0,0.0,0.0,(FREE) Lunch Bag,HiLo Teen Chocolate 1000 gr - Susu Tinggi Kalsium,2022-01-18 22:47:31+07:00,Paid,0.00000,0.000000,Telkom,Paid,Sama,NaN
24481,2022-01-07 11:10:59 +0700,223221244239,Tidak,-,-,Nutrimart,PAK UDRUS,mbafajar,6285691749881,PLN GARDU INDUK JABABEKA \nJL. JABABEKA IX F B...,Cikarang Utara,Kab. Bekasi,Jawa Barat,17530,(FREE) Kaos Lokalate Biru,0.0,0.00000,0,0.000000,1.0,(B)71210187,500,NaN,SiCepat REG,001446163079,Diterima & Selesai,BL Jan 2022.xlsx,2022,January,(B)71210187,(FREE) Kaos Lokalate Biru,Gimmick,NM Gimmick,Lokalate Kopi Pisang Bakar Epe 10 sch,1101692318,1.0,15151.0,15151.0,18300.0,15151.0,NaN,Lokalate Kopi Kawista 10 sch,1101686036,1.0,16650.0,16650.0,19800.0,16650.0,NaN,(FREE) Kaos Lokalate Biru,(B)71210187,1.0,0.0,0.0,75000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0,0.000000,GRATIS T-Shirt - Lokalate Kopi Pisang Bakar Ep...,NaN,(FREE) Kaos Lokalate Biru,NaN,Telkom,confirmed,(B)71210187,1.0,NaN,NaN,NaN,0.0,0.0,0.0,(FREE) Kaos Lokalate Biru,GRATIS T-Shirt - Lokalate Kopi Pisang Bakar Ep...,2022-01-07 11:10:59+07:00,Paid,0.00000,0.000000,Telkom,Paid,Sama,NaN
24482,2022-01-11 13:04:32 +0700,223222702281,Tidak,-,-,Nutrimart,yubi,ahmad_qolyubi,6285711327299,Puri serpong 1 cluster vila magnolia blok D no...,Setu,Tangerang Selatan,Banten,15314,(FREE) Kartu Ucapan HiLo Melukis Indonesia,0.0,0.00000,0,0.000000,4.0,(G)71210208,1150,NaN,JNE Trucking,BLJT223222702281,Diterima & Selesai,BL Jan 2022.xlsx,2022,January,(G)71210208,(FREE) Kartu Ucapan HiLo Melukis Indonesia,Gimmick,NM Gimmick,HiLo Active Chocolate 1000 gr,2101452195,4.0,129870.0,129870.0,199800.0,129870.0,NaN,(FREE) Tote Bag HiLo Melukis Indonesia,(G)71210207,4.0,0.0,0.0,40000.0,0.0,NaN,(FREE) Kartu Ucapan HiLo Melukis Indonesia,(G)71210208,4.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0,0,0.000000,Free Tote Bag - HiLo Active Chocolate 1000g - ...,NaN,(FREE) Kartu Ucapan HiLo Melukis Indonesia,NaN,Telkom,confirmed,(G)71210208,4.0,NaN,NaN,NaN,0.0,0.0,0.0,(FREE) Kartu Ucapan HiLo Melukis Indonesia,Free Tote Bag - HiLo Active Chocolate 1000g - ...,2022-01-11 13:04:32+07:00,Paid,0.00000,0.000000,Telkom,Paid,Sama,NaN

In [72]:
## run 34 ganti bulan
total_trx_merge[hasilakhir.columns].to_excel(r'Settlement Project\Backup\Realisasi May 2023\Final Result\Raw Unpivoted\Excel/Runningan Bukalapak By Selcen Jan 2022 - May 2023.xlsx', index = False)
print('excel sdh')
total_trx_merge[hasilakhir.columns].to_csv(r'Settlement Project\Backup\Realisasi May 2023\Final Result\Raw Unpivoted\CSV/Runningan Bukalapak By Selcen Jan 2022 - May 2023.csv',sep=';', index = False)

excel sdh

Exception ignored in: <function Connection.__del__ at 0x0000016E72ACCBF8>
Traceback (most recent call last):
  File "C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pypyodbc.py", line 2682, in __del__
    self.close()
  File "C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pypyodbc.py", line 2695, in close
    self.rollback()
  File "C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pypyodbc.py", line 2618, in rollback
    check_success(self, ret)
  File "C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pypyodbc.py", line 1009, in check_success
    ctrl_err(SQL_HANDLE_DBC, ODBC_obj.dbc_h, ret, ODBC_obj.ansi)
  File "C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pypyodbc.py", line 983, in ctrl_err
    raise OperationalError(state,err_text)
pypyodbc.OperationalError: ('01000', '[01000] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionWrite (send()).')