# Read WMS Receipt

In [1]:
## run 1
import pandas as pd
import numpy as np
import pypyodbc

conn = pypyodbc.connect('Driver={SQL Server};'
                        'Server=NFI-DB-01;'
                        'Database=gudang;'
                        # 'UID=andra.miftah;'
                        # 'PWD=24nutrifoodindonesia21;'
                        'Trusted_Connection=yes;'
                )

cursor = conn.cursor()

wms_telkom = pd.read_sql(r"""SELECT t1.*, t2.*, t3.id, t3.sku, t3.name
    FROM [gudang].[dbo].[order_products] as t1
    left join orders as t2
    on t1.order_id = t2.id
    left join products as t3
    on t1.product_id = t3.id""", conn)
    
# wms_telkom

In [2]:
wms_anchanto=pd.read_excel(r"D:\6. settlement\Code\Settlement Project\Manual\Order Anchanto 2024.xlsx")

In [3]:
### for display only
pd.options.display.max_columns = 150

In [5]:
### tentative if need backup
wms_telkom.to_csv(r"Settlement Project\Manual\backup wms/WMS20240628.csv", index = False)

In [2]:
### run 1 alternative
import pandas as pd
import numpy as np
import pypyodbc
# wms_telkom=pd.read_csv(r"C:\Users\timotius.giovandi\Documents\wmssep25.csv")
wms_telkom=pd.read_excel(r"D:\6. settlement\Code\Settlement Project\Manual\backup wms\data_wms_telkom 1 Feb 2024.xlsx")

In [6]:
wms_anchanto_cp[wms_anchanto_cp['Order Number']=='(GRAB)GM-114']

,Marketplace,WH Name,Order Date,Order Number,Seller Sku,Item Name,Ordered Quantity,Order Status,Order Picking Date,Order Picking Time,Order Packing Time,Delivery Date (DD/MM/YYYY),Picking Time,Packing Time,Total Fulfillment Time,Completed At
31678,NutrIMart_GrabMart,NutriMart Jakarta,12/06/2024 12:08:13,(GRAB)GM-114,2307061250,L-MEN RTD HIGH PROTEIN 2GO CHOCOLATE 24PX200ML,24,manifest_created,NaN,12/06/2024 12:11:45,12/06/2024 12:12:37,NaN,NaN,NaN,240.0 hours,NaN

In [11]:
# wms_anchanto_cp[wms_anchanto_cp['Order Number'].str.contains('grab',case=False)]

In [12]:
### for backup
wms_telkom_cp = wms_telkom.copy()
wms_anchanto_cp = wms_anchanto.copy()

In [9]:
# wms_telkom['channel'].unique()
# wms_telkom.columns

In [136]:
### for backup
wms_telkom = wms_telkom_cp.copy()
wms_anchanto = wms_anchanto_cp.copy()

In [13]:
wms_anchanto.head(5)
if 'Ordered Quantity' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'Ordered Quantity':'quantity'})
if 'Order Date' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'Order Date':'order_date'})
    wms_anchanto['order_date']=pd.to_datetime(wms_anchanto['order_date'],dayfirst=True)
    wms_anchanto['created_at']=wms_anchanto['order_date']
    wms_anchanto['updated_at']=wms_anchanto['order_date']
if 'Order Number' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'Order Number':'order_number'})
    wms_anchanto['invoice_number']=wms_anchanto['order_number']
if 'Marketplace' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'Marketplace':'channel'})
if 'Seller Sku' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'Seller Sku':'sku'})
if 'Item Name' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'Item Name':'name'})
if 'Order Status' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'Order Status':'status'})
if 'Shipment Type Name' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'Shipment Type Name':'shipping_method'})
if 'AWB' in wms_anchanto.columns:
    wms_anchanto=wms_anchanto.rename(columns={'AWB':'awb_number'})
# wms_anchanto['Marketplace'].unique()
# wms_anchanto.head(5)
# wms_anchanto.info()

In [14]:
wms_telkom=wms_telkom.loc[:,~wms_telkom.columns.duplicated()].copy()
wms_telkom=wms_telkom.append(wms_anchanto,ignore_index=True)

In [15]:
## run 2
## tambahan timo nov 2022 tarikan IT ada yang 1922 year nya

print(len(wms_telkom[wms_telkom['order_date'].astype(str).str.contains('1922')]))
wms_telkom.loc[wms_telkom['order_date'].astype(str).str.contains('1922'),'order_date']=wms_telkom['order_date'].astype(str).str.replace('1922','2022')
print(len(wms_telkom[wms_telkom['order_date'].astype(str).str.contains('1922')]))
print('harus null')

10
0
harus null

In [16]:
wms_telkom.loc[wms_telkom['channel']=='NutrIMart_GrabMart','channel']='Grab Mart'
wms_telkom.loc[wms_telkom['channel']=='GrabMart','channel']='Grab Mart'
wms_telkom.loc[wms_telkom['channel']=='NutriMart_Orami','channel']='Orami'
wms_telkom.loc[wms_telkom['channel']=='NutriMart_YM','channel']='Nutrimart-WA'
wms_telkom['channel'].unique()

array(['Bukalapak', 'JD Indonesia', 'Lazada', 'Tokopedia', 'Nutrimart',
       'TikTok Commerce', 'Komplain', 'PPP', 'IndoHp', 'Sehatq',
       'Peminjaman', 'Nutrimart-WA', 'Grab Mart', 'Relationship',
       'Non Sales Order', 'nutrimart', 'Shopee', 'Aladin Mall', 'Orami',
       None, 'Evermos', 'NutriMart', 'Nonsales Order',
       '2022-06-20 06:03:15', '2022-06-19 23:25:12', 'PBG', 'Tik Tok',
       'Nutrmart', 'Nutrimart ', 'Nurimart', 'Nutriimart',
       'NonSales Order', 'Lazada Indonesia', 'Bukalapak Indonesia-1',
       'Shopify', 'Tokopedia Indonesia', 'NutriMart_Magento', nan,
       'Blibli  Nutrimart', 'Blibli L-Men', 'Blibli-Nutrimart',
       'Nutrimart Lazada Global'], dtype=object)

In [17]:
## run 3
wms_telkom['sku']=wms_telkom['sku'].astype(str) ### tambahan timo nov 2022 import dari excel tarikan IT

In [308]:
## run 4
wms_telkom_filt = wms_telkom[wms_telkom['channel'].isin(['IndoHp', 'Sehatq','Nutrimart-WA', 'Grab Mart', 'Orami','Evermos'])]

In [309]:
## run 5
wms_telkom_filt['channel'].unique()

array(['IndoHp', 'Sehatq', 'Nutrimart-WA', 'Grab Mart', 'Orami',
       'Evermos'], dtype=object)

In [310]:
## run 6
j_conv = pd.read_excel("Settlement Project\Rumus Realisasi.xlsx", sheet_name = 'Paket Brand')
j_conv = j_conv.iloc[:,:5]
j_conv = j_conv.rename(columns = {'SKU' : 'Real SKU', 'SKU.1' : 'SKU Produk', 'Name' : 'Nama Produk'})
j_conv = j_conv[j_conv['Real SKU'].notnull()]
j_conv['SKU Produk'] = j_conv['SKU Produk'].astype(str).str.replace('.0', '',regex = False)

In [311]:
## run 7
wms_telkom_filt = wms_telkom[wms_telkom['channel'].isin(['IndoHp', 'Sehatq','Nutrimart-WA', 'Grab Mart', 'Orami','Evermos'])]

colname = wms_telkom_filt.columns.to_list() + ['Bundle Name']
wms_telkom_filt_all = wms_telkom_filt.merge(j_conv, how = 'left', left_on = ['sku'], right_on = ['Real SKU'])
wms_j = wms_telkom_filt_all[wms_telkom_filt_all['SKU Produk'].notnull()]

wms_j['sku'] = wms_j['SKU Produk']
wms_j['Bundle Name'] = wms_j['name']
wms_j['name'] = wms_j['Nama Produk']
wms_j['quantity'] = wms_j['quantity'] * wms_j['Konversi ke UOM'].astype(float)

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [312]:
## run 8
dropped = [x for x in wms_j.columns if x not in wms_telkom_filt.columns]
wms_j = wms_j.drop(dropped, axis = 1)

In [313]:
## run 9
wms_telkom_filt = wms_telkom[wms_telkom['channel'].isin(['IndoHp', 'Sehatq','Nutrimart-WA', 'Grab Mart', 'Orami','Evermos'])]

dropped = [x for x in wms_telkom_filt.columns if wms_telkom_filt.columns.to_list().count(x) > 1]
wms_telkom_filt = wms_telkom_filt.drop(dropped, axis = 1)

colname = wms_telkom_filt.columns.to_list() + ['Bundle Name']
wms_telkom_filt_all = wms_telkom_filt.merge(j_conv, how = 'left', left_on = ['sku'], right_on = ['Real SKU'])
wms_j = wms_telkom_filt_all[wms_telkom_filt_all['SKU Produk'].notnull()]

wms_j['sku'] = wms_j['SKU Produk']
wms_j['Bundle Name'] = wms_j['name']
wms_j['name'] = wms_j['Nama Produk']
wms_j['quantity'] = wms_j['quantity'] * wms_j['Konversi ke UOM'].astype(float)

# dropped = [x for x in wms_j.columns if x not in wms_telkom_filt.columns and x != 'Bundle Name']
# wms_j = wms_j.drop(dropped, axis = 1)

wms_telkom_filt = pd.concat([wms_telkom_filt, wms_j])
wms_telkom_filt = wms_telkom_filt[colname]

wms_telkom_filt['Paid Date'] = pd.to_datetime(wms_telkom_filt['order_date'])
wms_telkom_filt['Order Date'] = pd.to_datetime(wms_telkom_filt['order_date'])
wms_telkom_filt['True datetime'] = pd.to_datetime(wms_telkom_filt['order_date'])
wms_telkom_filt['Bundle Flag'] = np.nan
wms_telkom_filt['Store Type'] = np.nan
wms_telkom_filt['Store'] = wms_telkom_filt['channel']

wms_telkom_filt = wms_telkom_filt.rename(columns = {
    'order_number' : 'Order #',
     'invoice_number' : 'Sales Order ID',
    'awb_number' : 'AWB',
    'channel' : 'Channel',
    'sku' : 'SKU',
    'name' : 'Product Name',
    'quantity' : 'Qty. Invoiced',
    'shipping_method' : 'Shipping Courier',
    'shipping_province' : 'Region Group',
    'status' : 'Order Status'    
})


wms_telkom_filt['Week'] = wms_telkom_filt['Order Date'].dt.week
wms_telkom_filt['Date'] = wms_telkom_filt['Order Date'].dt.day
wms_telkom_filt['Month'] = wms_telkom_filt['Order Date'].dt.month_name()
wms_telkom_filt['Year'] = wms_telkom_filt['Order Date'].dt.year

wms_telkom_filt['Warehouse Quantity'] = wms_telkom_filt['Qty. Invoiced']

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == "":
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:43: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [314]:
## run 10
indeks = wms_telkom_filt[(pd.to_datetime(wms_telkom_filt['Order Date']).dt.strftime('%d').astype(int) <= 12) & (wms_telkom_filt['Channel'] == 'Sehatq')].index.to_list()
wms_telkom_filt['Date'][indeks] = pd.to_datetime(pd.to_datetime(wms_telkom_filt['Order Date'][indeks]).dt.strftime('%Y-%d-%m %H:%M')).dt.day
wms_telkom_filt['Month'][indeks] = pd.to_datetime(pd.to_datetime(wms_telkom_filt['Order Date'][indeks]).dt.strftime('%Y-%d-%m %H:%M')).dt.month_name()
wms_telkom_filt['Year'][indeks] = pd.to_datetime(pd.to_datetime(wms_telkom_filt['Order Date'][indeks]).dt.strftime('%Y-%d-%m %H:%M')).dt.year

non_indeks = wms_telkom_filt[~wms_telkom_filt.index.isin(indeks) & (wms_telkom_filt['Channel'] == 'Sehatq')].index.to_list()
wms_telkom_filt['Date'][non_indeks] = pd.to_datetime(wms_telkom_filt['Order Date'][non_indeks]).dt.day
wms_telkom_filt['Month'][non_indeks] = pd.to_datetime(wms_telkom_filt['Order Date'][non_indeks]).dt.month_name()
wms_telkom_filt['Year'][non_indeks] = pd.to_datetime(wms_telkom_filt['Order Date'][non_indeks]).dt.year

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [315]:
## run 11
wms_telkom_filt = wms_telkom_filt[[x for x in wms_telkom_filt.columns if x in ['Order #',
 'Sales Order ID',
 'AWB',
 'Paid Date',
 'Order date',
 'Week',
 'Date',
 'Month',
 'Quarter',
 'Year',
 'Channel',
 'SKU',
 'Brand',
 'Product Name',
 'Bundle Name',
 'Price List NFI',
 'Qty. Invoiced',
 'Total Net',
 'Sub Brand',
 'Real SKU',
 'Real Nama Produk',
 'Parent Item',
 'Parent SKU',
 'Bundle Flag',
 'Shipping Courier',
 'Store',
 'True datetime',
 'Store Type',
 'Region Group',
 'PL Before PPN',
 'Total Net Before PPN',
 'Category Baru',
 'Exported Parent Item',
 'Order Date Seller Centre',
 'Product ID',
 'Total Selcen',
 'Order Status',
 'Warehouse Origin',
 'Paid',
 'SO STATUS',
 'WH',
 'Warehouse Quantity',
 'Total Produk Prop',
 'Fullfee Prop',
 'Comfee Prop',
 'BTL Cost',
 'Total Produk Prop Adj',     
 ]]]

In [316]:
wms_telkom_filt.columns

Index(['Qty. Invoiced', 'Order Status', 'Order #', 'Shipping Courier',
       'Sales Order ID', 'AWB', 'Channel', 'Region Group', 'SKU',
       'Product Name', 'Bundle Name', 'Paid Date', 'True datetime',
       'Bundle Flag', 'Store Type', 'Store', 'Week', 'Date', 'Month', 'Year',
       'Warehouse Quantity'],
      dtype='object')

In [317]:
## run 12
temp2 = wms_telkom_filt.copy()

import time
import pandas as pd
import numpy as np
import math

import smtplib 
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from smtplib import SMTP
import smtplib
import sys
import requests
import os
    
data_SKU = pd.read_excel(r"D:\1. Masterdata\SKU_File\data_SKU.xlsx")

s = requests.Session()
s.get("https://tatanama.pythonanywhere.com")
s.post("https://tatanama.pythonanywhere.com", data = {'username' : 'ecommerce', 'password' : 'ttnmecom24'})
r = s.get("https://tatanama.pythonanywhere.com/download")

with open(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx", 'wb') as output:
    output.write(r.content)

if os.path.isfile(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx") :    
    SKU_append = pd.read_excel(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx")
    SKU_append.columns = [x.replace('_', ' ') for x in SKU_append.columns]
    data_SKU = data_SKU[~data_SKU['SKU'].astype(str).isin(SKU_append['SKU'].astype(str))]
    data_SKU = data_SKU.append(SKU_append, ignore_index = True, sort = False)

to_excel = data_SKU.to_excel(r"D:\1. Masterdata\SKU_File\data_SKU.xlsx", index = False)
data_SKU.loc[data_SKU['Price List NFI'].isin(['-']), 'Price List NFI'] = 0
data_SKU['Price List NFI'] = data_SKU['Price List NFI'].astype(float).astype('int64')

data_SKU['Real SKU'] = data_SKU['SKU'].astype(str)
data_SKU['Real Nama Produk'] = data_SKU['Nama Produk'].astype(str)

list_col = ['Real SKU', 'Real Nama Produk']

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(temp2.index)
for i in list_col:
    temp2[i] = temp_merge[str(i)]

list_col = ['SKU'] + data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()
temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['SKU']), how = 'left', left_on = 'Real SKU', right_on = 'SKU').set_index(temp2.index)
list_pcs = [x for x in temp_merge.columns if 'PCS' in x and '_y' in x]
for i in list_pcs:
    temp_merge[i] = temp_merge[i] * temp_merge['Qty. Invoiced']

list_col = data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()    
for i in list_col:
    temp2[i] = temp_merge[str(i)]
    
    
print("Unbundling")
data_bundle1 = temp2[~temp2['Produk 1'].isnull()]
data_bundle1['Bundle Name'] = data_bundle1['Product Name']
data_bundle1['Product Name'] = data_bundle1['Produk 1']
data_bundle1['SKU'] = data_bundle1['SKU Produk 1']
data_bundle1['Qty. Invoiced'] = data_bundle1['PCS Produk 1']
data_bundle1['Price List NFI'] = data_bundle1['Price List NFI 1']
data_bundle1['Total Net'] = data_bundle1['Price List NFI 1']
data_bundle1['Bundle Flag'] = np.nan

data_bundle2 = temp2[~temp2['Produk 2'].isnull()]
data_bundle2['Bundle Name'] = data_bundle2['Product Name']
data_bundle2['Product Name'] = data_bundle2['Produk 2']
data_bundle2['SKU'] = data_bundle2['SKU Produk 2']
data_bundle2['Qty. Invoiced'] = data_bundle2['PCS Produk 2']
data_bundle2['Price List NFI'] = data_bundle2['Price List NFI 2']
data_bundle2['Total Net'] = data_bundle2['Price List NFI 2'] 
data_bundle2['Bundle Flag'] = np.nan

data_bundle3 = temp2[~temp2['Produk 3'].isnull()]
data_bundle3['Bundle Name'] = data_bundle3['Product Name']
data_bundle3['Product Name'] = data_bundle3['Produk 3']
data_bundle3['SKU'] = data_bundle3['SKU Produk 3']
data_bundle3['Qty. Invoiced'] = data_bundle3['PCS Produk 3']
data_bundle3['Price List NFI'] = data_bundle3['Price List NFI 3']
data_bundle3['Total Net'] = data_bundle3['Price List NFI 3'] 
data_bundle3['Bundle Flag'] = np.nan

data_bundle4 = temp2[~temp2['Produk 4'].isnull()]
data_bundle4['Bundle Name'] = data_bundle4['Product Name']
data_bundle4['Product Name'] = data_bundle4['Produk 4']
data_bundle4['SKU'] = data_bundle4['SKU Produk 4']
data_bundle4['Qty. Invoiced'] = data_bundle4['PCS Produk 4']
data_bundle4['Price List NFI'] = data_bundle4['Price List NFI 4']
data_bundle4['Total Net'] = data_bundle4['Price List NFI 4'] 
data_bundle4['Bundle Flag'] = np.nan

data_bundle5 = temp2[~temp2['Produk 5'].isnull()]
data_bundle5['Bundle Name'] = data_bundle5['Product Name']
data_bundle5['Product Name'] = data_bundle5['Produk 5']
data_bundle5['SKU'] = data_bundle5['SKU Produk 5']
data_bundle5['Qty. Invoiced'] = data_bundle5['PCS Produk 5']
data_bundle5['Price List NFI'] = data_bundle5['Price List NFI 5']
data_bundle5['Total Net'] = data_bundle5['Price List NFI 5']
data_bundle5['Bundle Flag'] = np.nan

data_bundle6 = temp2[~temp2['Produk 6'].isnull()]
data_bundle6['Bundle Name'] = data_bundle6['Product Name']
data_bundle6['Product Name'] = data_bundle6['Produk 6']
data_bundle6['SKU'] = data_bundle6['SKU Produk 6']
data_bundle6['Qty. Invoiced'] = data_bundle6['PCS Produk 6']
data_bundle6['Price List NFI'] = data_bundle6['Price List NFI 6']
data_bundle6['Total Net'] = data_bundle6['Price List NFI 6']
data_bundle6['Bundle Flag'] = np.nan

data_bundle7 = temp2[~temp2['Produk 7'].isnull()]
data_bundle7['Bundle Name'] = data_bundle7['Product Name']
data_bundle7['Product Name'] = data_bundle7['Produk 7']
data_bundle7['SKU'] = data_bundle7['SKU Produk 7']
data_bundle7['Qty. Invoiced'] = data_bundle7['PCS Produk 7']
data_bundle7['Price List NFI'] = data_bundle7['Price List NFI 7']
data_bundle7['Total Net'] = data_bundle7['Price List NFI 7']
data_bundle7['Bundle Flag'] = np.nan

data_bundle = data_bundle1.append([data_bundle2, data_bundle3, data_bundle4, data_bundle5, data_bundle6, data_bundle7], ignore_index = True, sort = False)
data_bundle['SKU'] = data_bundle['SKU'].astype(str)
data_bundle['SKU'] = data_bundle['SKU'].str.replace('\.0$', '', regex = True)
data_bundle[['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']] = data_bundle.merge(data_SKU[['Real SKU', 'Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU')[['Real SKU_y', 'Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']]

print("Pricing")
temp2 = temp2.append(data_bundle, ignore_index = True, sort = False)
list_col = ['Real SKU', 'Price List NFI', 'Harga Cost']

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(temp2.index)
for i in list_col:
    if i == 'Real SKU' or i == 'Price List NFI':
        temp2[i] = temp_merge[str(i) + '_y']
    else :
        temp2[i] = temp_merge[str(i)]
    
temp2['Price List NFI'] = pd.to_numeric(temp2['Price List NFI']).astype(int)
temp2['Harga Cost'] = pd.to_numeric(temp2['Harga Cost']).astype(int)
temp2['Qty. Invoiced'] = pd.to_numeric(temp2['Qty. Invoiced'])

temp2['Total Net'] = temp2['Price List NFI'] * temp2['Qty. Invoiced']
temp2['Total Harga Cost'] = temp2['Harga Cost'] * temp2['Qty. Invoiced']

indeks = temp2[temp2['Product Name'].isin(wms_j['Bundle Name'])].index.to_list()
temp2['Brand'][indeks] = 'Bundle'

Unbundling
Pricing

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [318]:
# temp2.columns
# len(data_bundle.columns)

In [319]:
## run 13
temp2[temp2['Price List NFI'].isnull()]
## harus kosong yaaa

Empty DataFrame
Columns: [Qty. Invoiced, Order Status, Order #, Shipping Courier, Sales Order ID, AWB, Channel, Region Group, SKU, Product Name, Bundle Name, Paid Date, True datetime, Bundle Flag, Store Type, Store, Week, Date, Month, Year, Warehouse Quantity, Real SKU, Real Nama Produk, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Harga Organik 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Harga Organik 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Harga Organik 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Harga Organik 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Harga Organik 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Harga Organik 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Harga Organik 7, Price List NFI, Total Net, Brand, Sub Brand, Parent Item, Parent SKU, Harga Cost, Total Harga Cost]
Index: []

In [320]:
## run 14
temp2['Total Net Before PPN'] = temp2['Total Net']/1.11

In [321]:
## run 15
wms_telkom_filt = temp2.copy()

In [322]:
## run 16
wms_telkom_filt['Channel'].unique()

array(['IndoHp', 'Sehatq', 'Nutrimart-WA', 'Grab Mart', 'Orami',
       'Evermos'], dtype=object)

In [323]:
## run 17
wms_telkom_filt[['Month', 'Year']].drop_duplicates()
# temp2
wms_telkom_filt[wms_telkom_filt['Year']==1922]

Empty DataFrame
Columns: [Qty. Invoiced, Order Status, Order #, Shipping Courier, Sales Order ID, AWB, Channel, Region Group, SKU, Product Name, Bundle Name, Paid Date, True datetime, Bundle Flag, Store Type, Store, Week, Date, Month, Year, Warehouse Quantity, Real SKU, Real Nama Produk, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Harga Organik 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Harga Organik 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Harga Organik 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Harga Organik 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Harga Organik 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Harga Organik 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Harga Organik 7, Price List NFI, Total Net, Brand, Sub Brand, Parent Item, Parent SKU, Harga Cost, Total Harga Cost, Total Net Before PPN]
Index: []

In [324]:
wms_telkom_filt['Store'].unique()

array(['IndoHp', 'Sehatq', 'Nutrimart-WA', 'Grab Mart', 'Orami',
       'Evermos'], dtype=object)

In [325]:
## for backup
wms_telkom_filt_copy=wms_telkom_filt.copy()

In [326]:
## for backup
wms_telkom_filt=wms_telkom_filt_copy.copy()

# IndoHP

In [327]:
## run 18
indohp = pd.read_excel(r"Settlement Project\Manual\Settlement Indohp 2022 - ok.xlsx")

In [328]:
## run 19
for i in indohp.columns:
    if 'Unnamed' in i:
        indohp = indohp.drop(i, axis = 1)
indohp

wms_indohp = wms_telkom_filt[wms_telkom_filt['Store'] == 'IndoHp']
wms_indohp['Order #'] = wms_indohp['Order #'].astype(str).str.strip()
indohp['No Order'] = indohp['No Order'].astype(str).str.strip()
wms_indohp = wms_indohp.merge(indohp[['No Order', 'Nominal']], how = 'left', left_on = 'Order #', right_on = 'No Order')

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [329]:
## run 20
non_bundle = wms_indohp[wms_indohp['Bundle Name'].isnull()]
bundling = wms_indohp[wms_indohp['Bundle Name'].notnull()]

non_bundle['Total Produk'] = non_bundle['Nominal']
non_bundle['Total Produk Prop'] = non_bundle['Total Produk'].fillna(0) * wms_indohp['Total Net Before PPN']/wms_indohp.groupby(['Order #'])['Total Net Before PPN'].transform('sum')

bundling = bundling.merge(non_bundle[['Order #', 'Product Name', 'Total Produk Prop']].drop_duplicates(['Order #', 'Product Name']), how = 'left', left_on = ['Order #', 'Bundle Name'], right_on = ['Order #', 'Product Name'])
bundling['Total Produk Prop'] = bundling['Total Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

wms_indohp = non_bundle.append(bundling, ignore_index = True, sort = False)

In [330]:
wms_indohp[wms_indohp['Bundle Name'].notnull()]

Empty DataFrame
Columns: [Qty. Invoiced, Order Status, Order #, Shipping Courier, Sales Order ID, AWB, Channel, Region Group, SKU, Product Name, Bundle Name, Paid Date, True datetime, Bundle Flag, Store Type, Store, Week, Date, Month, Year, Warehouse Quantity, Real SKU, Real Nama Produk, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Harga Organik 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Harga Organik 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Harga Organik 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Harga Organik 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Harga Organik 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Harga Organik 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Harga Organik 7, Price List NFI, Total Net, Brand, Sub Brand, Parent Item, Parent SKU, Harga Cost, Total Harga Cost, Total Net Before PPN, No Order, Nominal, Total Produk, Total Produk Prop, Product Name_x, Product Name_y]
Index: []

In [331]:
## run 21
wms_indohp = wms_indohp.drop(['No Order', 'Nominal'], axis = 1)

In [332]:
## run 22
wms_telkom_filt = wms_telkom_filt[wms_telkom_filt['Store'] != 'IndoHp']
wms_telkom_filt = wms_telkom_filt.append(wms_indohp, ignore_index = True, sort = False)

# evermos

In [333]:
## run 17.1
evermos = pd.read_excel(r"D:\6. settlement\Code\Settlement Project\Manual\12. Settlement Evermos 2023.xlsx")

In [334]:
## run 17.2
for i in evermos.columns:
    if 'Unnamed' in i:
        evermos = evermos.drop(i, axis = 1)
evermos

wms_evermos = wms_telkom_filt[wms_telkom_filt['Store'] == 'Evermos']
wms_evermos['Order #'] = wms_evermos['Order #'].astype(str).str.strip()
evermos['No Order'] = evermos['ID Order'].astype(str).str.strip()
evermos['Nominal']=evermos['Amount']
wms_evermos = wms_evermos.merge(evermos[['No Order', 'Nominal']], how = 'left', left_on = 'Order #', right_on = 'No Order')

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [335]:
## run 17.3

if 'Product Name_y' in wms_evermos.columns:
    wms_evermos = wms_evermos.drop('Product Name_y', axis = 1)#.rename(columns = {'Product Name_x' : 'Product Name'})
if 'Product Name_x' in wms_evermos.columns:
    wms_evermos = wms_evermos.drop('Product Name_x', axis = 1)

non_bundle = wms_evermos[wms_evermos['Bundle Name'].isnull()]
bundling = wms_evermos[wms_evermos['Bundle Name'].notnull()]

non_bundle['Total Produk'] = non_bundle['Nominal']
non_bundle['Total Produk Prop'] = non_bundle['Total Produk'].fillna(0) * wms_evermos['Total Net Before PPN']/wms_evermos.groupby(['Order #'])['Total Net Before PPN'].transform('sum')

bundling = bundling.drop(['Total Produk Prop'], axis = 1)
bundling = bundling.merge(non_bundle[['Order #', 'Product Name', 'Total Produk Prop']].drop_duplicates(['Order #', 'Product Name']), how = 'left', left_on = ['Order #', 'Bundle Name'], right_on = ['Order #', 'Product Name'])
bundling['Total Produk Prop'] = bundling['Total Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')

# non_bundle = non_bundle.drop('Product Name_y', axis = 1).rename(columns = {'Product Name_x' : 'Product Name'})
# bundling = bundling.drop('Product Name_y', axis = 1).rename(columns = {'Product Name_x' : 'Product Name'})
wms_evermos = non_bundle.append(bundling, ignore_index = True, sort = False)

In [336]:
## run 17.4
wms_evermos = wms_evermos.drop(['No Order', 'Nominal'], axis = 1)

In [337]:
## run 17.5
wms_telkom_filt = wms_telkom_filt[wms_telkom_filt['Store'] != 'Evermos']
wms_telkom_filt = wms_telkom_filt.append(wms_evermos, ignore_index = True, sort = False)

# Sehatq

In [338]:
## run 23
sehatq22 = pd.read_excel(r"Settlement Project\Manual\Settlement SehatQ 2022-ok.xlsx")

sehatq22 = sehatq22[sehatq22['Transaction id'].notnull()]
sehatq22 = sehatq22[sehatq22['Transaction id'] != 'Mo Number']
for i in sehatq22.columns:
    if 'Unnamed' in i:
        sehatq22 = sehatq22.drop(i, axis = 1)
sehatq22


sehatq23 = pd.read_excel(r"Settlement Project\Manual\10. Settlement SehatQ 2023.xlsx")
sehatq23=sehatq23.rename(columns={'Mo Number':'Transaction id','Paid Date':'Transaction date','Complete Date':'Complete date','Name Product':'Product Name','qty':'Qty','Total Harga Product':'Selling Price','PPN 11%':'PPN 10%','Transaction Value':'Transaction value'})[sehatq22.columns]
sehatq=pd.concat([sehatq22,sehatq23],ignore_index=True)

In [339]:
## run 24
sehatq = sehatq[sehatq['Transaction id'].notnull()]
sehatq = sehatq[sehatq['Transaction id'] != 'Mo Number']
for i in sehatq.columns:
    if 'Unnamed' in i:
        sehatq = sehatq.drop(i, axis = 1)
sehatq

,No,Transaction id,Transaction date,Complete date,Product Name,Qty,Selling Price,Fee,Fee Rp,PPN 10%,Transaction value
0,1,TQ0921R9RIQ5-01,2021-09-28 00:00:00,2021-09-30 00:00:00,HiLo Gold Chocolate 750 g,1,105000,0.05,5250,525,99225
1,2,TQ0921SXLHH5-01,2021-09-29 00:00:00,2021-09-29 00:00:00,HiLo Active Ketan Hitam,1,30000,0.05,1500,150,28350
2,3,TQ0921SXLHH5-01,2021-09-29 00:00:00,2021-09-29 00:00:00,L-Men Protein Crunch BBQ Beef 20 g,2,20000,0.05,1000,100,18900
3,4,TQ0921SXLHH5-01,2021-09-29 00:00:00,2021-09-29 00:00:00,Tropicana Slim Avocado Coffee (1 Box @ 4 Sachet),1,6360,0.05,318,31.8,6010.2
4,1,TQ1121LPC0QL-01,2021-11-20 00:00:00,2021-11-22 00:00:00,Tropicana Slim Mayonnaise 200 g,1,20200,0.05,1010,101,19089
...,...,...,...,...,...,...,...,...,...,...,...
82,1,TQ0223OUAXTS-02,2/28/2023 19:38,3/7/2023 13:47,Tropicana Slim Sweetener I-Sweet (1 Box @ 25 S...,2,58000,0.05,2900,319,54781
83,2,TQ0223OUAXTS-02,2/28/2023 19:38,3/7/2023 13:47,Tropicana Slim Klepon Cookies (1 Box @ 5 Sachet),3,80400,0.05,4020,442.2,75937.8
84,3,TQ0223OUAXTS-02,2/28/2023 19:38,3/7/2023 13:47,Tropicana Slim Korean Goguma Cookies (1 Box @ ...,3,80400,0.05,4020,442.2,75937.8
85,4,TQ0223OUAXTS-02,2/28/2023 19:38,3/7/2023 13:47,Tropicana Slim Sweet Orange (1 Box @ 10 Sachet),2,46200,0.05,2310,254.1,43635.9
86,5,TQ0223OUAXTS-02,2/28/2023 19:38,3/7/2023 13:47,Tropicana Slim White Coffee (1 Box @ 4 Sachet),7,168700,0.05,8435,927.85,159337.15

In [340]:
## run 25
sehatq_sku = pd.read_excel(r'Settlement Project/Manual/active sehatq 6 january 2022.xlsx')

sehatq['Product Name'] = sehatq['Product Name'].str.strip()
sehatq['Transaction id'] = sehatq['Transaction id'].str.strip()
sehatq_sku['Nama Produk'] = sehatq_sku['Nama Produk'].str.strip()

sehatq = sehatq.merge(sehatq_sku[['Nama Produk', 'Sku Merchant']].drop_duplicates('Nama Produk'), how = 'left', left_on = 'Product Name', right_on = 'Nama Produk')

In [341]:
## run 26
wms_sehatq = wms_telkom_filt[wms_telkom_filt['Store'] == 'Sehatq']
wms_sehatq = wms_sehatq.drop(['Product Name_x', 'Product Name_y'], axis = 1) ##### ini timo comment 25 may


sehatq['Transaction id'] = sehatq['Transaction id'].astype(str)
wms_sehatq['Order #'] = wms_sehatq['Order #'].astype(str)
wms_sehatq['Real SKU'] = wms_sehatq['Real SKU'].astype(str)
sehatq['Sku Merchant'] = sehatq['Sku Merchant'].astype(str)

wms_sehatq = wms_sehatq.merge(sehatq[['Transaction id', 'Sku Merchant', 'Fee Rp', 'Transaction value']], how = 'left', left_on = ['Order #', 'Real SKU'], right_on = ['Transaction id', 'Sku Merchant'])
wms_sehatq = wms_sehatq.drop(['Transaction id', 'Sku Merchant'], axis = 1)

In [342]:
# wms_telkom_filt['Product Name']

In [343]:
## run 27
non_bundle = wms_sehatq[wms_sehatq['Bundle Name'].isnull()]
bundling =  wms_sehatq[wms_sehatq['Bundle Name'].notnull()]

non_bundle['Total Produk'] = non_bundle['Transaction value']
non_bundle['Total Produk Prop'] = non_bundle['Transaction value']
non_bundle['Comfee'] = non_bundle['Fee Rp']
non_bundle['Comfee Prop'] = non_bundle['Fee Rp']

bundling = bundling.drop(['Total Produk Prop'], axis = 1)
bundling = bundling.merge(non_bundle[['Order #', 'Product Name', 'Total Produk Prop','Comfee Prop']].drop_duplicates(['Order #', 'Product Name']), how = 'left', left_on = ['Order #', 'Bundle Name'], right_on = ['Order #', 'Product Name'])

bundling['Total Produk Prop'] = bundling['Total Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling['Comfee Prop'] = bundling['Comfee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling = bundling.drop('Product Name_y', axis = 1).rename(columns = {'Product Name_x' : 'Product Name'})

# wms_sehatq = non_bundle.append(bundling, ignore_index = True, sort = False)

In [344]:
# run 28
wms_sehatq = non_bundle.append(bundling, ignore_index = True, sort = False)

In [345]:
## run 29
wms_sehatq = wms_sehatq.drop(['Fee Rp', 'Transaction value'], axis = 1)

In [346]:
## run 30
wms_sehatq['Comfee Prop'] = wms_sehatq['Comfee Prop'] * (-1)

In [347]:
## run 31
wms_telkom_filt = wms_telkom_filt[wms_telkom_filt['Store'] != 'Sehatq']
wms_telkom_filt = wms_telkom_filt.append(wms_sehatq, ignore_index = True, sort = False)

# Nutrimart WA

In [348]:
## run 32

wa = pd.DataFrame()

for i in os.listdir(r'D:\6. settlement\Code\Settlement Project\Manual\xendit ym/'):
    if 'csv' in i:
        temp = pd.read_csv(r'D:\6. settlement\Code\Settlement Project\Manual\xendit ym/' + str(i))
        # wa = wa.append(temp, ignore_index = True, sort = False)
    else:
        temp = pd.read_excel(r'D:\6. settlement\Code\Settlement Project\Manual\xendit ym/' + str(i))
    temp['source']=i
    wa = wa.append(temp, ignore_index = True, sort = False)
# wa22 = pd.read_excel(r"Settlement Project\Manual\Settlement YM - Xendit YM -ok.xlsx")
# wa23 = pd.read_excel(r"Settlement Project\Manual\11. Settlement Xendit_YM 2023.xlsx")
# wa24 = pd.read_excel(r"Settlement Project\Manual\02. Settlement Xendit_YM 2024.xlsx")
# wa23.columns= wa23.columns.str.lower()

# wa=pd.concat([wa22,wa23,wa24],ignore_index=True)

wa = wa.rename(columns = {
    'Transaction Type' : 'type',
})

wa.columns = [x.lower() for x in wa.columns]

In [349]:
## run 33
ref = pd.read_excel(r"Settlement Project\Manual\Wa Set Reference.xlsx")
ref=ref.drop_duplicates()

In [350]:
## run 34
for i in wa.columns:
    if 'Unnamed' in i:
        wa = wa.drop(i, axis = 1)
wa

,no,product id,transaction id,type,line type,payment channel,reference,currency,amount,balance,debit or credit,created date iso,time zone,created date,payment date,settlement date,completed date,bank code,account number,channel reference,name,description,invoice id,ledger sequence,unnamed: 24,tanggal transaksi,keterangan,cabang,jumlah,unnamed: 29,source,status,external id,email,created timestamp,paid timestamp,expiry date,settled timestamp,timezone,payment method,fee,received amount,va number,bank name,promotion(s),customer name,customer email,customer mobile number,unnamed: 23,cek,final cek
0,7.0,6592ebaa6150fda22b5b1fac,37b1b61c-a440-45cb-a842-d9168c53dbf5,VA_PAYMENT,TRANSACTION,MANDIRI,WA-1704127319,IDR,126700,126700.0,CREDIT,2024-01-01T16:43:22.746Z,'+0700 UTC,"01 Jan 2024, 23:43:22","01 Jan 2024, 23:43:22","01 Jan 2024, 23:43:22","01 Jan 2024, 23:43:22",MANDIRI,889087248465772,NaN,Nutrimart,Nutrimart,6592eb580d167bd8cc4d88ad,3.629972e+09,NaN,2024-01-24 00:00:00,BI-FAST CR TRANSFER DR 523 Nutrimart,0.0,"323,530.00 CR",ECOM NFI- YELLOW MESSENGER,02. Settlement Xendit_YM 2024.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.0,6592ebaa6150fda22b5b1fac,37b1b61c-a440-45cb-a842-d9168c53dbf5,VA_PAYMENT Fee,FEE,NaN,WA-1704127319,IDR,3500,123200.0,DEBIT,2024-01-01T16:43:22.746Z,'+0700 UTC,"01 Jan 2024, 23:43:22",NaN,NaN,"01 Jan 2024, 23:43:23",NaN,NaN,NaN,NaN,NaN,NaN,3.629972e+09,NaN,2024-01-24 00:00:00,BI-FAST CR TRANSFER DR 523 Nutrimart,0.0,"323,530.00 CR",ECOM NFI- YELLOW MESSENGER,02. Settlement Xendit_YM 2024.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,6592ebaa6150fda22b5b1fac,37b1b61c-a440-45cb-a842-d9168c53dbf5,VA_PAYMENT VAT,VAT,NaN,WA-1704127319,IDR,385,122815.0,DEBIT,2024-01-01T16:43:22.746Z,'+0700 UTC,"01 Jan 2024, 23:43:22",NaN,NaN,"01 Jan 2024, 23:43:23",NaN,NaN,NaN,NaN,NaN,NaN,3.629972e+09,NaN,2024-01-24 00:00:00,BI-FAST CR TRANSFER DR 523 Nutrimart,0.0,"323,530.00 CR",ECOM NFI- YELLOW MESSENGER,02. Settlement Xendit_YM 2024.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,659f7474fd07262ae1aa2339,b7306d7f-99b2-464f-a3c4-6b216660e18b,VA_PAYMENT,TRANSACTION,MANDIRI,WA-1704948783,IDR,204600,327415.0,CREDIT,2024-01-11T04:54:12.342Z,'+0700 UTC,"11 Jan 2024, 11:54:12","11 Jan 2024, 11:54:11","11 Jan 2024, 11:54:12","11 Jan 2024, 11:54:12",MANDIRI,889087248861214,NaN,Nutrimart,Checkout Nutrimart WA-1704948783,659f7430966876385ebcde33,3.684981e+09,NaN,2024-01-24 00:00:00,BI-FAST CR TRANSFER DR 523 Nutrimart,0.0,"323,530.00 CR",ECOM NFI- YELLOW MESSENGER,02. Settlement Xendit_YM 2024.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,659f7474fd07262ae1aa2339,b7306d7f-99b2-464f-a3c4-6b216660e18b,VA_PAYMENT Fee,FEE,NaN,WA-1704948783,IDR,3500,323915.0,DEBIT,2024-01-11T04:54:12.342Z,'+0700 UTC,"11 Jan 2024, 11:54:12",NaN,NaN,"11 Jan 2024, 11:54:12",NaN,NaN,NaN,NaN,NaN,NaN,3.684981e+09,NaN,2024-01-24 00:00:00,BI-FAST CR TRANSFER DR 523 Nutrimart,0.0,"323,530.00 CR",ECOM NFI- YELLOW MESSENGER,02. Settlement Xendit_YM 2024.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,5.0,disb-90766d9d-7f7e-4546-b485-53be1922ae43,de30d524-e63b-4917-a20b-537feb8397ac,WITHDRAWAL,TRANSACTION,NaN,wid-658bb3f2-ec84-4072-9c4a-11781517b1ac,IDR,374657,0.0,DEBIT,2022-09-13T10:00:54.529Z,'+0700 UTC,"13 Sep 2022, 17:00:54","13 Sep 2022, 17:00:54",NaN,"13 Sep 2022, 17:02:27",ID_BCA,943026006,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Settlement YM - Xendit YM -ok.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-374657.0,NaN,NaN
163,4.0,63229922024eb60725777e7a,8c3f2542-d88b-429b-9d26-f4649493f592,VA_PAYMENT,TRANSACTION,MANDIRI,WA-1663210304,IDR,1667000,1667000.0,CREDIT,2022-09-15T03:16:50.806Z,'+0700 UTC,"15 Sep 2022, 10:16:50","15 Sep 2022, 10:16:47","15 Sep 2022, 10:16:50","15 Sep 2022, 10:16:50",MANDIRI,889087248569171,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Settlement YM - Xendit YM -ok.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1667000.0,NaN,NaN
164,3.0,63229922024eb60725777e7a,8c3f2542-d88b-429b-9d26-f4649493f592,VA_PAYMENT Fee,FEE,NaN,WA-1663210304,IDR,3500,1663500.0,DEBIT,2022-09-15T03:16:50.806Z,'+0700 UTC,"15 Sep 2022, 10:16:50",NaN,NaN,"15 Sep 2022, 10:16:50",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Settlement YM - Xendit YM -ok.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3500.0,NaN,NaN
165,2.0,63229922024eb60725777e7a,8c3f2542-d88b-429b-9d26-f4649493f592,VA_PAYMENT VAT,VAT,NaN,WA-1663210304,IDR,385,1663115.0,DEBIT,2022-09-15T03:16:50.806Z,'+0700 UTC,"15 Sep 2022, 10:16:50",NaN,NaN,"15 Sep 2022, 10:16:50",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Settlement YM - Xendit YM -ok.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-385.0,NaN,NaN
166,1.0,disb-34713337-9a43-4e08-9414-eb799d98e99a,d0d6cf03-ad0c-4d46-9311-77aed4ede174,WITHDRAWAL,TRANSACTION,NaN,wid-5c618ab1-b19d-4c25-ba94-e651929dce4a,IDR,1663115,0.0,DEBIT,2022-09-22T06:14:17.467Z,'+0700 UTC,"22 Sep 2022, 13:14:17","22 Sep 2022, 13:14:17",NaN,"22 Sep 2022, 13:14:22",ID_BCA,943026006,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Settlement YM - Xendit YM -ok.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1663115.0,NaN,NaN

In [351]:
## run 35
wa_merge = wa.merge(ref, how = 'left', left_on = 'type', right_on = 'Nama')

In [352]:
## check must null
pd.DataFrame(wa_merge[wa_merge['Kategori'].isnull()]['type'].unique())
# wa_merge[wa_merge['Kategori'].isnull()]['source']

     0
0  NaN

In [353]:
## run 36
index = wa_merge[wa_merge['Negatif'] == 'Negatif'].index.to_list()
wa_merge['amount'][index] = wa_merge['amount'][index] * -1

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [354]:
## run 37
wa_pivot = pd.pivot_table(wa_merge, index = 'reference', columns = 'Kategori', values = 'amount', aggfunc=np.sum).reset_index()

In [355]:
## run 38
wa_pivot['Total Produk'] = wa_pivot['Total Transfer'] + wa_pivot['Payment Fee']

In [356]:
## run 38.1
for i in wms_telkom_filt.loc[(wms_telkom_filt['Store'] == 'Nutrimart-WA')&
                    (wms_telkom_filt['Order #'].str.contains(")",regex=False))]['Order #'].unique():
    print(i)
    wms_telkom_filt.loc[wms_telkom_filt['Order #']==i,'Order #']=i[i.find(")")+1:]
    print(i[i.find(")")+1:])

(JNE)WA-1713226254
WA-1713226254
(JNE)WA-1713148596
WA-1713148596
(JNE)WA-1713778073
WA-1713778073
(JNE)WA-1713784376
WA-1713784376
(JNE)WA-1713926764
WA-1713926764
(GOSEND)WA-1713926764_1
WA-1713926764_1
(JNE)WA-1714043119
WA-1714043119
(JNE)WA-1715571644
WA-1715571644
(JNE)WA-1716157772
WA-1716157772
(JNE)WA-1717491692
WA-1717491692
(JNE)WA-1719472391
WA-1719472391

In [357]:
## run 39
wms_wa = wms_telkom_filt[wms_telkom_filt['Store'] == 'Nutrimart-WA']

wms_wa = wms_wa.drop(['Product Name_x', 'Product Name_y'], axis = 1)

wms_wa['Order #'] = wms_wa['Order #'].astype(str)
wa_pivot['reference'] = wa_pivot['reference'].astype(str)

wms_wa = wms_wa.drop(['Total Produk'], axis = 1)
wms_wa = wms_wa.merge(wa_pivot[['reference', 'Payment Fee', 'Total Produk']], how = 'left', left_on = 'Order #', right_on = 'reference')

In [358]:
## run 40
transfer1 = pd.read_excel(r'Settlement Project\Manual/Transaksi YM Bank Transfer-ok.xlsx', sheet_name = '2021')
transfer2 = pd.read_excel(r'Settlement Project\Manual/Transaksi YM Bank Transfer-ok.xlsx', sheet_name = '2022')

## timo jan 23
if "IDOrder" in transfer2.columns:
    print('renama col idorder')
    transfer2=transfer2.rename(columns={'IDOrder':'ID Order'})
                                        
                                        
transfer2 = transfer2[~transfer2['ID Order'].isin(transfer1['ID Order'])]
#tambah aug 22
if 617 not in transfer2.columns:
    if 'Jumlah' in transfer2.columns:
        print('ya')
        transfer2=transfer2.rename(columns={'Jumlah':617})
#sampai sini tambah aug 22
transfer = transfer1.append(transfer2, ignore_index = True, sort = False)
transfer.loc[transfer['ID Order'].str.contains('\n',na=False),'ID Order']=transfer['ID Order'].str.replace('\n','') ### tambah aug 22

transfer = transfer[(transfer[617].notnull())&(transfer[617]!='Jumlah')]### ignore si jumlah
transfer['Transfer'] = pd.to_numeric(transfer[617].astype(str).str.replace('.00 CR','', regex = False).str.replace('.00','', regex = False).str.replace(',','', regex = False).str.replace(' ','', regex = False)).astype(int)
# cek=transfer.copy()
transfer = transfer.rename(columns = {'ID Order' : 'Order ID'})
transfer['Order ID'] = transfer['Order ID'].astype(str).str.replace('.0', '', regex = False)

wa_transfer = wms_wa[wms_wa['Order #'].isin(transfer['Order ID'])]
non_transfer = wms_wa[~wms_wa['Order #'].isin(transfer['Order ID'])]

wa_transfer['Payment Fee'] = np.nan

wa_real = wa_transfer[wa_transfer['Bundle Name'].isnull()]
wa_bundle = wa_transfer[wa_transfer['Bundle Name'].notnull()]

wa_real['Order #'] = wa_real['Order #'].astype(str)
transfer['Order ID'] = transfer['Order ID'].astype(str)
transfer = transfer.rename(columns =  {'Order ID' : 'Order #'})
transfer_short = transfer[['Order #', 'Transfer']].drop_duplicates('Order #')

wa_transfer = wa_real.merge(transfer_short, how = 'left', on = ['Order #'])
# wa_transfer['Transfer'] = wa_transfer['Transfer'].fillna(0) * wa_transfer['Total Net Before PPN']/wa_transfer.groupby(['Order #'])['Total Net Before PPN'].transform('sum')
wa_transfer['Total Produk'] = wa_transfer['Transfer']

wa_aft_transfer = wa_transfer.append(non_transfer, ignore_index = True, sort = False)

renama col idorder
ya

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [359]:
## run 41
non_bundle = wa_aft_transfer[wa_aft_transfer['Bundle Name'].isnull()]
bundling = wa_aft_transfer[wa_aft_transfer['Bundle Name'].notnull()]

In [360]:
## run 42
non_bundle['Total Produk Prop'] = non_bundle['Total Produk'].fillna(0) * non_bundle['Total Net Before PPN']/non_bundle.groupby(['Order #'])['Total Net Before PPN'].transform('sum')
non_bundle['Payment Fee Prop'] = non_bundle['Payment Fee'].fillna(0) * non_bundle['Total Net Before PPN']/non_bundle.groupby(['Order #'])['Total Net Before PPN'].transform('sum')

In [361]:
## run 43
non_bundle = non_bundle.drop(['reference'], axis = 1)

In [362]:
## run 44
# wa_jan = pd.read_excel("Settlement Project\Backup\Realisasi Jan 2022\Running Manual Jan 2022.xlsx")
wa_jan=pd.read_excel(r"D:\6. settlement\Code\Settlement Project\Backup\Realisasi Jan 2023\Final Result\Raw Unpivoted\Excel\Running Manual Jan 23.xlsx")
wa_jan = wa_jan[(wa_jan['Channel'] == 'Nutrimart-WA') & (wa_jan['Paid January'] == 'Paid')&(wa_jan['Year']==2021)]
null_wa = non_bundle[(non_bundle['Total Produk'].isnull()) & (non_bundle['Order #'].isin(wa_jan['Order #']))]
null_wa = null_wa.drop(['Total Produk Prop', 'Payment Fee Prop', 'Total Produk'], axis = 1)

null_wa['Order #'] = null_wa['Order #'].astype(str)
null_wa['Real SKU'] = null_wa['Real SKU'].astype(str)

wa_jan['Order #'] = wa_jan['Order #'].astype(str)
wa_jan['Real SKU'] = wa_jan['Real SKU'].astype(str)

null_wa = null_wa.merge(wa_jan[['Order #', 'Real SKU', 'Bundle Name', 'Total Produk', 'Total Produk Prop', 'Payment Fee Prop']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', on = ['Order #', 'Real SKU', 'Bundle Name']).set_index(null_wa.index)

non_bundle['Total Produk'][null_wa.index] = null_wa['Total Produk']
non_bundle['Total Produk Prop'][null_wa.index] = null_wa['Total Produk Prop']
non_bundle['Payment Fee Prop'][null_wa.index] = null_wa['Payment Fee Prop']

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [363]:
## run 45
bundling = bundling.drop(['Total Produk Prop'], axis = 1)
bundling = bundling.merge(non_bundle[['Order #', 'Product Name', 'Total Produk Prop','Payment Fee Prop']].drop_duplicates(['Order #', 'Product Name']), how = 'left', left_on = ['Order #', 'Bundle Name'], right_on = ['Order #', 'Product Name'])

bundling['Total Produk Prop'] = bundling['Total Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling['Payment Fee Prop'] = bundling['Payment Fee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling = bundling.drop('Product Name_y', axis = 1).rename(columns = {'Product Name_x' : 'Product Name'})

In [364]:
## run 46
wa_aft_transfer = non_bundle.append(bundling, ignore_index = True, sort = False)

In [365]:
wa_aft_transfer
non_bundle

,Qty. Invoiced,Order Status,Order #,Shipping Courier,Sales Order ID,AWB,Channel,Region Group,SKU,Product Name,Bundle Name,Paid Date,True datetime,Bundle Flag,Store Type,Store,Week,Date,Month,Year,Warehouse Quantity,Real SKU,Real Nama Produk,Produk 1,SKU Produk 1,PCS Produk 1,Price List NFI 1,Subtotal Produk 1,Harga Display 1,Harga Cost 1,Harga Organik 1,Produk 2,SKU Produk 2,PCS Produk 2,Price List NFI 2,Subtotal Produk 2,Harga Display 2,Harga Cost 2,Harga Organik 2,Produk 3,SKU Produk 3,PCS Produk 3,Price List NFI 3,Subtotal Produk 3,Harga Display 3,Harga Cost 3,Harga Organik 3,Produk 4,SKU Produk 4,PCS Produk 4,Price List NFI 4,Subtotal Produk 4,Harga Display 4,Harga Cost 4,Harga Organik 4,Produk 5,SKU Produk 5,PCS Produk 5,Price List NFI 5,Subtotal Produk 5,Harga Display 5,Harga Cost 5,Harga Organik 5,Produk 6,SKU Produk 6,PCS Produk 6,Price List NFI 6,Subtotal Produk 6,Harga Display 6,Harga Cost 6,Harga Organik 6,Produk 7,SKU Produk 7,PCS Produk 7,Price List NFI 7,Subtotal Produk 7,Harga Display 7,Harga Cost 7,Harga Organik 7,Price List NFI,Total Net,Brand,Sub Brand,Parent Item,Parent SKU,Harga Cost,Total Harga Cost,Total Net Before PPN,Total Produk Prop,Comfee,Comfee Prop,Payment Fee,Total Produk,Transfer,Payment Fee Prop
0,2.0,packing,1637118866,None,None,0,Nutrimart-WA,Daerah Khusus Ibukota Jakarta,2101200180,Tropicana Slim Milk Skim Fiber Pro Plain 500gr,NaN,2021-11-17 03:14:00,2021-11-17 03:14:00,NaN,NaN,Nutrimart-WA,46,17,November,2021,2.0,2101200180,Tropicana Slim Milk Skim Fiber Pro Plain 500gr,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,115440,230880.0,NaN,NaN,NaN,NaN,115440,230880.0,208000.000000,222000.00000,NaN,NaN,NaN,222000.0,222000.0,0.0
1,10.0,packing,1637218273,None,None,0,Nutrimart-WA,JAWA TIMUR,1101694318,Lokalate Kopi Andaliman 10 Sachet,NaN,2021-11-18 06:51:00,2021-11-18 06:51:00,NaN,NaN,Nutrimart-WA,46,18,November,2021,10.0,1101694318,Lokalate Kopi Andaliman 10 Sachet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15151,151510.0,NaN,NaN,NaN,NaN,15151,151510.0,136495.495495,175000.00000,NaN,NaN,NaN,175000.0,175000.0,0.0
2,2.0,packing,1637215465,None,None,0,Nutrimart-WA,DKI JAKARTA,2101651195,HiLo Teen Chocolate 1000 gr,NaN,2021-11-18 06:04:00,2021-11-18 06:04:00,NaN,NaN,Nutrimart-WA,46,18,November,2021,2.0,2101651195,HiLo Teen Chocolate 1000 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155400,310800.0,NaN,NaN,NaN,NaN,155400,310800.0,280000.000000,287129.62963,NaN,NaN,NaN,443000.0,443000.0,0.0
3,2.0,packing,1637215465,None,None,0,Nutrimart-WA,DKI JAKARTA,2101683180,HiLo Teen Strawberry Milkshake 500g,NaN,2021-11-18 06:04:00,2021-11-18 06:04:00,NaN,NaN,Nutrimart-WA,46,18,November,2021,2.0,2101683180,HiLo Teen Strawberry Milkshake 500g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84360,168720.0,NaN,NaN,NaN,NaN,84360,168720.0,152000.000000,155870.37037,NaN,NaN,NaN,443000.0,443000.0,0.0
4,4.0,packing,WA-1637630513,None,None,0,Nutrimart-WA,DKI JAKARTA,2101683180,HiLo Teen Strawberry Milkshake 500g,NaN,2021-11-23 01:21:00,2021-11-23 01:21:00,NaN,NaN,Nutrimart-WA,47,23,November,2021,4.0,2101683180,HiLo Teen Strawberry Milkshake 500g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84360,337440.0,NaN,NaN,NaN,NaN,84360,337440.0,304000.000000,306400.00000,NaN,NaN,NaN,306400.0,306400.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,1.0,manifest_created,WA-1716157772,NaN,(JNE)WA-1716157772,NaN,Nutrimart-WA,NaN,1102070337,NS LYCHEE TEA REF 12BAGX400G,NaN,2024-05-20 11:24:49,2024-05-20 11:24:49,NaN,NaN,Nutrimart-WA,21,20,May,2024,1.0,1102070337,NutriSari Lychee Tea Refill 400 gram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37185,37185.0,NaN,NaN,NaN,NaN,37185,37185.0,33500.000000,0.00000,NaN,NaN,NaN,NaN,NaN,0.0
269,1.0,manifest_created,WA-1716157772,NaN,(JNE)WA-1716157772,NaN,Nutrimart-WA,NaN,1102611337,NS LEMON TEA REF 12BAGX400G,NaN,2024-05-20 11:24:49,2024-05-20 11:24:49,NaN,NaN,Nutrimart-WA,21,20,May,2024,1.0,1102611337,NutriSari Lemon Tea 400 gram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37185,37185.0,NaN,NaN,NaN,NaN,37185,37185.0,33500.000000,0.00000,NaN,NaN,NaN,NaN,NaN,0.0
270,5.0,manifest_created,WA-1717491692,NaN,(JNE)WA-1717491692,NaN,Nutrimart-WA,NaN,2104153110,TS SFD CAFFE-LATTE 10S (12D),NaN,2024-06-05 15:34:01,2024-06-05 15:34:01,NaN,NaN,Nutrimart-WA,23,5,June,2024,5.0,2104153110,Tropicana Slim Cafe Latte (10 sch),NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,29970,149850.0,NaN,NaN,NaN,NaN,29970,149850.0,135000.000000,0.00000,NaN,NaN,NaN,NaN,NaN,0.0
271,1.0,awaiting_dispatch,WA-1719472391,NaN,(JNE)WA-1719472391,NaN,Nutrimart-WA,NaN,1102561453,NutriSari 4 Rasa Local Package 40 sachet - Min...,NaN,2024-07-15 09:42:18,2024-07-15 09:42:18,NaN,NaN,Nutrimart-WA,29,15,July,2024,1.0,1102561453,NutriSari 4 Rasa Local Package 40 sachet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43290,43290.0,NaN,NaN,NaN,NaN,43290,43290.0,39000.000000,52057.50000,NaN,NaN,-3885.0,104115.0,NaN,-1942.5
272,1.0,awaiting_dispatch,WA-1719472391,NaN,(JNE)WA-1719472391,NaN,Nutrimart-WA,NaN,1102560453,NutriSari 4 Rasa Summer Package 40 sachet - Mi...,NaN,2024-07-15 09:42:18,2024-07-15 09:42:18,NaN,NaN,Nutrimart-WA,29,15,July,2024,1.0,1102560453,Nutrisari 4 Rasa Summer Package 40 sachet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43290,43290.0,NaN,NaN,NaN,NaN,43290,43290.0,39000.000000,52057.50000,NaN,NaN,-3885.0,104115.0,NaN,-1942.5

In [366]:
## run 47
wms_telkom_filt = wms_telkom_filt[wms_telkom_filt['Store'] != 'Nutrimart-WA']
wms_telkom_filt = wms_telkom_filt.append(wa_aft_transfer, ignore_index = True, sort = False)

In [367]:
wms_telkom_filtcp=wms_telkom_filt.copy()

In [460]:
wms_telkom_filt=wms_telkom_filtcp.copy()

# Grab Mart

In [461]:
## run 48
grab22 = pd.read_excel(r"Settlement Project\Manual\Settlement GrabMart 2022 - ok.xlsx")
grab23= pd.read_excel("Settlement Project\Manual\Settlement GrabMart.xlsx")
grab24= pd.read_excel("Settlement Project\Manual\Settlement GrabMart 2024.xlsx")
grab24a= pd.read_excel(r"Settlement Project\Manual\05. Settlement GrabMart 2024.xlsx")

grab=grab22[grab23.columns].append(grab23,ignore_index=True).append(grab24,ignore_index=True).append(grab24a,ignore_index=True)

for i in grab.columns:
    if 'Unnamed' in i:
        grab = grab.drop(i, axis = 1)
grab['No Pesanan'] = grab['No Pesanan'].astype(str).str.replace('-', ' ')
grab['No Pesanan'] = grab['No Pesanan'].astype(str).str.split(' ', expand = True)[0] + ' ' + grab['No Pesanan'].astype(str).str.split(' ', expand = True)[1]
# # grab

In [398]:
grab[grab['No Pesanan'].str.contains('183')]

,Month,Date,No Pesanan,Nilai Pesanan,PB1,Biaya layanan restoran,Promosi yang Dibiayai Merchant,Total Komisi & Pajak,Diskon Ongkos Kirim yang Dibiayai,Total Pendapatan
40,Maret,10,GM 183,184600,0,0,32625,10632.17,0,141342.83

In [462]:
## run 48 tambahan
grab.loc[(grab['No Pesanan']=='GM 057')&
         (grab['Month']=='Oktober')&
        (grab['Date']==21),'No Pesanan']=grab['No Pesanan']+"a"
grab.loc[(grab['No Pesanan']=='GM 362')&
         (grab['Month']=='Juni')&
        (grab['Date']==23),'No Pesanan']=grab['No Pesanan']+"a"
grab.loc[(grab['No Pesanan']=='GM 265')&
         (grab['Month']=='Maret')&
        (grab['Date']==28),'No Pesanan']=grab['No Pesanan']+"a"
grab.loc[(grab['No Pesanan']=='GM 802')&
         (grab['Month']=='Juli')&
        (grab['Date']==18),'No Pesanan']=grab['No Pesanan']+"a"
grab.loc[(grab['No Pesanan']=='GM 998')&
         (grab['Month']=='Mei')&
        (grab['Date']==29),'No Pesanan']=grab['No Pesanan']+"a"

In [463]:
# grab[grab['No Pesanan']=='GM 998']

In [464]:
## run 49 harus kosong
print('duplicate di settlement')
cek=grab.groupby(['No Pesanan'])[['Nilai Pesanan']].nunique().sort_values('Nilai Pesanan',ascending=False)
display(cek[cek['Nilai Pesanan']>1].reset_index())

duplicate di settlement

Empty DataFrame
Columns: [No Pesanan, Nilai Pesanan]
Index: []

In [467]:
## run 49.1
# wms_telkom_filt['Order #']=wms_telkom_filt['Order #'].str.replace(' ','')
for i in wms_telkom_filt.loc[(wms_telkom_filt['Store'] == 'Grab Mart')&
                             (wms_telkom_filt['Order #'].str.contains(")",regex=False))]['Order #'].unique():
    print(i)
    wms_telkom_filt.loc[wms_telkom_filt['Order #']==i,'Order #']=i[i.find(")")+1:].replace(" ",'')
    
    print(i[i.find(")")+1:])
    
wms_telkom_filt[(wms_telkom_filt['Store'] == 'Grab Mart')&
                (wms_telkom_filt['Order #'].str.contains(' '))]['Order #'].unique()

array(['GM 930', 'GM 287', '111021 GM 743', '251021 GM-813',
       '241021 GM 057', '251021 GM 397F', '291021 GM 213',
       '291021 GM 513', '081121 GM 061', '081121 GM 677', '221121 GM 766',
       '011221 GM 578', '011221 GM 043', '071221 GM 475', '131221 GM 297',
       '131221 GM 728', '151221 GM 350', '151221 GM 687', '151221 GM 751',
       '271221 GM 705', '271221 GM 407', '291221 GM 533', '301221 GM 047',
       '030122 GM 692', '050122 GM 635', '200122 GM 104', '310122 GM 671',
       '040222 GM 158', '100222 GM 311', '150222 GM 185', '170222 GM 477',
       '230222 GM 008', '250222 GM 315', '040322 GM 172', '100322 GM 183',
       '100322 GM 515', '100322 GM 277', '140322 GM 183',
       '140322 GM 183_1', '240322 GM 253', '250322 GM 290',
       '060422 GM 597', '080422 GM 914', '220422 GM 274', '280422 GM 046',
       '090522 GM 187', '230522 GM 017', '230522 GM 335', '110622 GM 154',
       '080622 GM 276', '230622 GM 362', '240622 GM 865', '270622 GM 970',
       'GM 998', 'GM 261', '270722 GM 265', '030822 GM 168', 'GM 170',
       'GM 737', 'GM 030', 'GM 057', 'GM 262', 'GM 814', 'GM-520 131222',
       'GM-501 271222', 'GM 189', 'GM 415', 'GM 978', 'GM 124', 'GM 125',
       'GM 272', 'GM 214', 'GM 602', 'GM 702', 'GM 702-1', 'GM 702-2',
       'GM 414', 'GM 731', 'GM 169F', 'GM 159', 'GM 741', 'GM 265'],
      dtype=object)

In [466]:
## run 50
wms_grab = wms_telkom_filt[wms_telkom_filt['Store'] == 'Grab Mart']
wms_grab = wms_grab[wms_grab['Order Status'] != 'cancelled'] # tambahan timo jan 23

wms_grab = wms_grab.drop(['Product Name_x', 'Product Name_y'], axis = 1)

indeks = wms_grab[~wms_grab['Order #'].astype(str).str.contains('^GM')].index.to_list()
wms_grab['Order #'][indeks] = wms_grab['Order #'][indeks].astype(str).str.split(n = 1).str[1].str.replace('-', ' ')
# wms_grab['Order #'][indeks]=wms_grab['Sales Order ID'][indeks]
# wms_grab['Order #']=wms_grab['Order #'].str.replace('-',' ')

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [469]:
# wms_grab

In [470]:
# wms_grab.loc[wms_grab['Order #'].str[0:2]=='GM','Order #']=wms_grab.loc[wms_grab['Order #'].str[0:2]=='GM']['Order #'].str[0:6]
wms_grab['Order #']=wms_grab['Order #'].str.replace('-',' ')

In [471]:
## run  50.1
wms_grab.loc[wms_grab['Order #'].isnull(),'Order #']=wms_grab.loc[wms_grab['Order #'].isnull(),'Sales Order ID']

In [472]:
# run 50 tambahan , harus allign sama run 48 tambahan
wms_grab.loc[(wms_grab['Order #']=='GM 057')&
         (wms_grab['Month']=='October')&
        (wms_grab['Date']==20),'Order #']=wms_grab['Order #']+"a"
wms_grab.loc[(wms_grab['Order #']=='GM 265')&
         (wms_grab['Month']=='March')&
        (wms_grab['Date']==28),'Order #']=wms_grab['Order #']+"a"
wms_grab.loc[(wms_grab['Order #']=='GM 265')&
         (wms_grab['Month']=='March')&
        (wms_grab['Date']==28),'Order #']=wms_grab['Order #']+"a"
wms_grab.loc[(wms_grab['Order #']=='GM 061')&
         (wms_grab['Month']=='May')&
        (wms_grab['Date']==31),'Order #']=wms_grab['Order #']+"a"
wms_grab.loc[(wms_grab['Order #']=='GM 183')&
         (wms_grab['Month']=='March')&
        (wms_grab['Date']==14),'Order #']=wms_grab['Order #']+"a"
wms_grab.loc[(wms_grab['Order #']=='GM 998')&
         (wms_grab['Month']=='May')&
        (wms_grab['Date']==29),'Order #']=wms_grab['Order #']+"a"

In [473]:
### run 51
print('duplicate di wms')
cek=wms_grab.groupby(['Order #'])[['True datetime']].nunique()#.sort_values('True datetime',ascending=False)
display(cek[cek['True datetime']>1])
# cek

duplicate di wms

Empty DataFrame
Columns: [True datetime]
Index: []

In [474]:
# wms_grab[wms_grab['Order #']=='GM 998']
# grab[grab['No Pesanan']=='GM 998']

In [475]:
### run 52
min1 = wms_grab[wms_grab['Order #'].astype(str).str.contains('_1')]
min1['Order #'] = min1['Order #'].astype(str).str.replace('_1', '', regex = False)

temp_telkom = wms_grab.merge(min1, how = 'left', on = ['Order #', 'Real SKU']).set_index(wms_grab.index)
indeks = temp_telkom[temp_telkom['Order Status_y'].notnull()].index.to_list()
wms_grab = wms_grab.drop(indeks, axis = 0)

wms_grab['Order #'] = wms_grab['Order #'].astype(str).str.replace('_1', '', regex = False)

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [476]:
## run 53
wms_grab = wms_grab.merge(grab[['No Pesanan', 'Total Komisi & Pajak', 'Total Pendapatan']], how = 'left', left_on = 'Order #', right_on = 'No Pesanan')

In [477]:
## run 54
wms_grab['Total Produk'] = wms_grab['Total Pendapatan']
wms_grab['Comfee'] = wms_grab['Total Komisi & Pajak']

In [478]:
## run 55
non_bundle = wms_grab[wms_grab['Bundle Name'].isnull()]
bundling = wms_grab[wms_grab['Bundle Name'].notnull()]

In [479]:
## run 56
non_bundle.loc[non_bundle['Comfee']=='10293,70','Comfee']=10293.7

In [480]:
## run 57
non_bundle['Total Produk Prop'] = non_bundle['Total Produk'].fillna(0) * non_bundle['Total Net Before PPN']/non_bundle.groupby(['Order #'])['Total Net Before PPN'].transform('sum')
non_bundle['Comfee Prop'] = non_bundle['Comfee'].fillna(0) * non_bundle['Total Net Before PPN']/non_bundle.groupby(['Order #'])['Total Net Before PPN'].transform('sum')

In [481]:
## run 58
bundling = bundling.drop(['Total Produk Prop', 'Comfee Prop'], axis = 1)
bundling = bundling.merge(non_bundle[['Order #', 'Product Name', 'Total Produk Prop','Comfee Prop']].drop_duplicates(['Order #', 'Product Name']), how = 'left', left_on = ['Order #', 'Bundle Name'], right_on = ['Order #', 'Product Name'])

bundling['Total Produk Prop'] = bundling['Total Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling['Payment Fee Prop'] = bundling['Comfee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling = bundling.drop('Product Name_y', axis = 1).rename(columns = {'Product Name_x' : 'Product Name'})

In [482]:
## ru 59
wms_grab = non_bundle.append(bundling, ignore_index = True, sort = False)

In [483]:
## run 60
wms_grab = wms_grab.drop(['No Pesanan', 'Total Komisi & Pajak', 'Total Pendapatan'], axis = 1)

In [484]:
## run 61
wms_grab['Payment Fee Prop'] = wms_grab['Payment Fee Prop'] * (-1)

In [485]:
## run 62
wms_telkom_filt['Channel'].unique()

array(['Grab Mart', 'Orami', 'IndoHp', 'Evermos', 'Sehatq',
       'Nutrimart-WA'], dtype=object)

In [486]:
## run 63
wms_telkom_filt = wms_telkom_filt[wms_telkom_filt['Store'] != 'Grab Mart']
wms_telkom_filt = wms_telkom_filt.append(wms_grab, ignore_index = True, sort = False)

# Orami

In [487]:
## run 64
orami22 = pd.read_excel(r'Settlement Project\Manual/Settlement Orami 2022 - ok.xlsx')

orami23=pd.read_excel(r"Settlement Project\Manual\05. Settlement Orami 2023.xlsx")
if 'Amount' in orami23.columns:
    orami23=orami23.rename(columns={'Amount':'Total Transfer'})
    
orami24=pd.read_excel(r"Settlement Project\Manual\04. Settlement Orami 2024.xlsx")
if 'Amount' in orami24.columns:
    orami24=orami24.rename(columns={'Amount':'Total Transfer'})
    
orami23[['Tahun','Bulan','Tanggal','Type Transaksi','Keterangan','Total Transfer']]
orami24[['Tahun','Bulan','Tanggal','Type Transaksi','Keterangan','Total Transfer']]

orami=orami22.append(orami23,ignore_index=True).append(orami24,ignore_index=True)

orami = orami[orami['Type Transaksi'] == 'Penghasilan']
orami['Order ID'] = orami['Keterangan'].astype(str).str.split('#', expand = True)[1].str.replace('.0', '', regex = False)

In [488]:

# orami

In [489]:
## run 65
# wms_orami = wms_telkom_filt[wms_telkom_filt['Store'] == 'Orami']
wms_orami = wms_telkom_filt[(wms_telkom_filt['Store'] == 'Orami')&(wms_telkom_filt['Order Status']!='cancelled')] ## tambahan timo nov 2022
wms_orami = wms_orami.drop(['Product Name_x', 'Product Name_y'], axis = 1)

In [490]:
# wms_grab.loc[wms_grab['Order #'].isnull(),'Order #']=wms_grab.loc[wms_grab['Order #'].isnull(),'Sales Order ID']
for i in wms_orami.loc[(wms_orami['Store'] == 'Orami')&
                       (wms_orami['Order #'].str.contains(")",regex=False))]['Order #'].unique():
    print(i)
    wms_orami.loc[wms_orami['Order #']==i,'Order #']=i[i.find(")")+1:]
    print(i[i.find(")")+1:])

(JNE)25387884
25387884

In [491]:
## run 66
min1 = wms_orami[wms_orami['Order #'].astype(str).str.contains('_1')]
min1['Order #'] = min1['Order #'].astype(str).str.replace('_1', '', regex = False)

temp_telkom = wms_orami.merge(min1, how = 'left', on = ['Order #', 'Real SKU']).set_index(wms_orami.index)
indeks = temp_telkom[temp_telkom['Order Status_y'].notnull()].index.to_list()
wms_orami = wms_orami.drop(indeks, axis = 0)

wms_orami['Order #'] = wms_orami['Order #'].astype(str).str.replace('_1', '', regex = False)

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [492]:
## run 67
min1 = wms_orami[wms_orami['Order #'].astype(str).str.contains('-1')]
min1['Order #'] = min1['Order #'].astype(str).str.replace('-1', '', regex = False)

temp_telkom = wms_orami.merge(min1, how = 'left', on = ['Order #', 'Real SKU']).set_index(wms_orami.index)
indeks = temp_telkom[temp_telkom['Order Status_y'].notnull()].index.to_list()
wms_orami = wms_orami.drop(indeks, axis = 0)

wms_orami['Order #'] = wms_orami['Order #'].astype(str).str.replace('-1', '', regex = False)

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [493]:
## run 68
wms_orami = wms_orami.merge(orami[['Keterangan', 'Order ID', 'Total Transfer']], how = 'left', left_on = 'Order #', right_on = 'Order ID')
wms_orami['Total Produk'] = wms_orami['Total Transfer'] ###knp error ya

In [494]:
## run 69
non_bundle = wms_orami[wms_orami['Bundle Name'].isnull()]
bundling = wms_orami[wms_orami['Bundle Name'].notnull()]

In [495]:
## run 70
non_bundle['Total Produk Prop'] = non_bundle['Total Produk'].fillna(0) * non_bundle['Total Net Before PPN']/non_bundle.groupby(['Order #'])['Total Net Before PPN'].transform('sum')

non_bundle = non_bundle.drop(['Keterangan', 'Order ID', 'Total Transfer'], axis = 1)

bundling = bundling.drop(['Total Produk Prop'], axis = 1)
bundling = bundling.merge(non_bundle[['Order #', 'Product Name', 'Total Produk Prop']].drop_duplicates(['Order #', 'Product Name']), how = 'left', left_on = ['Order #', 'Bundle Name'], right_on = ['Order #', 'Product Name'])

bundling['Total Produk Prop'] = bundling['Total Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling = bundling.drop('Product Name_y', axis = 1).rename(columns = {'Product Name_x' : 'Product Name'})

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [496]:
## run 71
wms_orami = non_bundle.append(bundling, ignore_index = True, sort = False)

In [497]:
## run 72
wms_telkom_filt = wms_telkom_filt[wms_telkom_filt['Store'] != 'Orami']
wms_telkom_filt = wms_telkom_filt.append(wms_orami, ignore_index = True, sort = False)

# Finalize

In [498]:
### run 73
wms_telkom_filt['Paid'] = np.nan

indeks = wms_telkom_filt[
    (wms_telkom_filt['Order #'].isin(indohp['No Order'])) |
    (wms_telkom_filt['Order #'].isin(sehatq['Transaction id'])) |
    (wms_telkom_filt['Order #'].isin(wa_pivot['reference'])) |
    (wms_telkom_filt['Order #'].isin(transfer['Order #'])) |
    (wms_telkom_filt['Order #'].isin(grab['No Pesanan'])) |
    (wms_telkom_filt['Order #'].isin(orami['Order ID'])) |
    (wms_telkom_filt['Order #'].isin(wa_jan['Order #']))|
    (wms_telkom_filt['Order #'].isin(evermos['ID Order']))
].index.to_list()

wms_telkom_filt['Paid'][indeks] = 'Paid'

tanpa_bayar = pd.read_excel(r'Settlement Project\Manual/Transaksi YM Bank Transfer-ok.xlsx', sheet_name = 'Rekap Tanpa Bayar')

print(len(tanpa_bayar))

indeks = wms_telkom_filt[wms_telkom_filt['Order #'].isin(tanpa_bayar['ID Order'])].index.to_list()
wms_telkom_filt['Paid'][indeks] = 'Paid'

print(len(indeks))

cancel = pd.read_excel(r'Settlement Project\Manual/Transaksi YM Bank Transfer-ok.xlsx', sheet_name = 'Transaksi Cancel')

print(len(cancel))
indeks = wms_telkom_filt[wms_telkom_filt['Order #'].isin(cancel['Order #'])].index.to_list()
wms_telkom_filt['Paid'][indeks] = 'Cancel'

print(len(indeks))

wms_telkom_filt['Paid'] = wms_telkom_filt['Paid'].fillna('Unpaid')

wms_telkom_filt['Total Produk Prop Adj'] = wms_telkom_filt['Total Produk Prop']/1.11
wms_telkom_filt['BTL Cost'] = (wms_telkom_filt['Total Produk Prop Adj']) - wms_telkom_filt['Total Net Before PPN']

1
2
2
0

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [499]:
## run 74
wms_telkom_filt['Order #'] = wms_telkom_filt['Order #'].astype(str)

In [500]:
# wms_telkom_filt

In [501]:
# prev[prev['Store']=='Grab Mart'][['Order #','Paid May','Paid June']]
# current[current['Store']=='Grab Mart']['Order #'].unique()#[current['Order #']=='GM 287']
# current[current['Order #'].str.contains('287')]

In [508]:
## run 75
import pandas as pd

prev = pd.read_csv(r"D:\6. settlement\Code\Settlement Project\Backup\Realisasi Jun 2024\Final Result\Raw Unpivoted\CSV\Running Manual Jun 24.csv", sep = ';')
prev_month = 'June'
prev = prev.rename(columns = {'Paid' : 'Paid ' + prev_month})

#tambahan timo nov 2022
# prev.loc[prev['Order #'].str.contains('\n'),'Order #']=prev['Order #'].str.replace('\n','')

# prev['Qty. Invoiced'] = prev['Qty. Invoiced'].astype(float)
current = wms_telkom_filt.copy()
# current = pd.read_csv("D:\Backup\Backup 26 Mei\Settlement Project Backup\Realisasi Januari 2022\Final Result\Running Nutrimart Jan Jan 2022.csv", sep = ';')

prev['Order #'] = prev['Order #'].astype(str)
prev['Real SKU'] = prev['Real SKU'].astype(str)

prev.loc[(prev['Store']=='Grab Mart')&
         (prev['Order #'].str.contains('-')),'Order #']=prev.loc[(prev['Store']=='Grab Mart')&(prev['Order #'].str.contains('-'))]['Order #'].str.replace('-',' ')
# display(prev[prev['Order #']=='13769264'])
current['Order #'] = current['Order #'].astype(str)
current['Real SKU'] = current['Real SKU'].astype(str)

prev['Bundle Name'] = prev['Bundle Name'].astype(str)
indeks = prev[prev['Bundle Name'] == 'nan'].index.to_list()
prev['Bundle Name'][indeks] = np.nan

merged = current.merge(prev[['Order #','Real SKU', 'Paid ' + prev_month, 'Bundle Name']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', on = ['Order #', 'Real SKU', 'Bundle Name'])
import numpy as np

merged['Paid Beda'] = np.nan

indeks = merged[merged['Paid'] != merged['Paid ' + prev_month]].index.to_list()
merged['Paid Beda'][indeks] = 'Beda'

merged['Paid Beda'] = merged['Paid Beda'].fillna('Sama')
# merged[merged['Paid Beda'] == 'Beda'][['Order #','Brand','Real SKU','Month', 'Paid_x', 'Paid_y', 'Paid Beda']]
merged[merged['Paid Beda'] == 'Beda'].groupby(['Year', 'Month','Store', 'Paid', 'Paid ' + prev_month], dropna = False)['Order #'].nunique()

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Year  Month    Store         Paid    Paid June
2023  January  Grab Mart     Paid    Unpaid       2
      June     Grab Mart     Paid    Unpaid       1
      March    Grab Mart     Paid    Unpaid       2
      May      Grab Mart     Paid    Unpaid       4
2024  April    Grab Mart     Paid    NaN          1
                             Unpaid  NaN          3
      January  Grab Mart     Paid    Unpaid       1
      July     Nutrimart-WA  Paid    NaN          1
      June     Grab Mart     Paid    Unpaid       2
                                     NaN          2
      May      Grab Mart     Paid    NaN          1
                             Unpaid  NaN          1
Name: Order #, dtype: int64

In [509]:
temp = prev[['Order #','Real SKU', 'Paid ' + prev_month, 'Bundle Name']].applymap(type)

for i in temp.columns :
    print(i)
    print(temp[i].unique())

Order #
[<class 'str'>]
Real SKU
[<class 'str'>]
Paid June
[<class 'str'>]
Bundle Name
[<class 'float'> <class 'str'>]

In [510]:
## run 76
merged = merged.rename(columns = {'Paid' : 'Paid July'})
# merged.to_csv('D:\settlement\Code\Settlement Project\Backup\Realisasi Mei 2022\Final Result\Raw Unpivoted\CSV\Running Manual Mei 22.csv', sep = ';', index = False)

In [511]:
## run 77
finres=pd.read_excel("Settlement Project\Backup\Realisasi Apr 2023\Final Result\Raw Unpivoted\Excel\Running Manual Apr 23.xlsx")

In [512]:
## run 78

finres=finres.rename(columns={'Paid March':'Paid June'})
finres=finres.rename(columns={'Paid April':'Paid July'})

In [513]:
## run 79
merged[finres.columns].to_excel('Settlement Project\Backup\Realisasi Jul 2024\Final Result\Raw Unpivoted\Excel\Running Manual Jul 24.xlsx', index = False)

In [514]:
## run 80
merged[finres.columns].to_csv('Settlement Project\Backup\Realisasi Jul 2024\Final Result\Raw Unpivoted\CSV\Running Manual Jul 24.csv',sep=';', index = False)

In [ ]:
#### selesai ####

In [516]:
merged[finres.columns]

,Qty. Invoiced,Order Status,Order #,Shipping Courier,Sales Order ID,AWB,Channel,Region Group,SKU,Product Name,Bundle Name,Paid Date,True datetime,Bundle Flag,Store Type,Store,Week,Date,Month,Year,Warehouse Quantity,Real SKU,Real Nama Produk,Produk 1,SKU Produk 1,PCS Produk 1,Price List NFI 1,Subtotal Produk 1,Harga Display 1,Harga Cost 1,Harga Organik 1,Produk 2,SKU Produk 2,PCS Produk 2,Price List NFI 2,Subtotal Produk 2,Harga Display 2,Harga Cost 2,Harga Organik 2,Produk 3,SKU Produk 3,PCS Produk 3,Price List NFI 3,Subtotal Produk 3,Harga Display 3,Harga Cost 3,Harga Organik 3,Produk 4,SKU Produk 4,PCS Produk 4,Price List NFI 4,Subtotal Produk 4,Harga Display 4,Harga Cost 4,Harga Organik 4,Produk 5,SKU Produk 5,PCS Produk 5,Price List NFI 5,Subtotal Produk 5,Harga Display 5,Harga Cost 5,Harga Organik 5,Produk 6,SKU Produk 6,PCS Produk 6,Price List NFI 6,Subtotal Produk 6,Harga Display 6,Harga Cost 6,Harga Organik 6,Produk 7,SKU Produk 7,PCS Produk 7,Price List NFI 7,Subtotal Produk 7,Harga Display 7,Harga Cost 7,Harga Organik 7,Price List NFI,Total Net,Brand,Sub Brand,Parent Item,Parent SKU,Harga Cost,Total Harga Cost,Total Net Before PPN,Total Produk,Total Produk Prop,Product Name_x,Product Name_y,Comfee,Comfee Prop,Payment Fee,Transfer,Payment Fee Prop,reference,Keterangan,Order ID,Total Transfer,Paid July,Total Produk Prop Adj,BTL Cost,Paid June,Paid Beda
0,1.00,packing,INVP2021092735054,Sicepat,INVP2021092735054,0,IndoHp,0,2104390210,Tropicana Slim Kecap Manis 200ml,NaN,2021-09-28,2021-09-28,NaN,NaN,IndoHp,39,28,September,2021,1.00,2104390210,Tropicana Slim Kecap Manis 200ml,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,28305,28305.0,NaN,NaN,NaN,NaN,28305,28305.0,25500.0,25020.0,25020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paid,22540.540541,-2959.459459,Paid,Sama
1,2.00,packing,INVP2021103138937,Sicepat,INVP2021103138937,0,IndoHp,0,1101569360,NutriSari Jeruk Peras Refill 500 gr,NaN,2021-11-01,2021-11-01,NaN,NaN,IndoHp,44,1,November,2021,2.00,1101569360,NutriSari Jeruk Peras Refill 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38850,77700.0,NaN,NaN,NaN,NaN,38850,77700.0,70000.0,62540.0,62540.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paid,56342.342342,-13657.657658,Paid,Sama
2,2.00,packing,INVP2021103038846,Sicepat,INVP2021103038846,0,IndoHp,0,1101569360,NutriSari Jeruk Peras Refill 500 gr,NaN,2021-11-01,2021-11-01,NaN,NaN,IndoHp,44,1,November,2021,2.00,1101569360,NutriSari Jeruk Peras Refill 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38850,77700.0,NaN,NaN,NaN,NaN,38850,77700.0,70000.0,62540.0,62540.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paid,56342.342342,-13657.657658,Paid,Sama
3,1.00,packing,INVP2021110639617,Sicepat,INVP2021110639617,0,IndoHp,0,1101569360,NutriSari Jeruk Peras Refill 500 gr,NaN,2021-11-06,2021-11-06,NaN,NaN,IndoHp,44,6,November,2021,1.00,1101569360,NutriSari Jeruk Peras Refill 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38850,38850.0,NaN,NaN,NaN,NaN,38850,38850.0,35000.0,31270.0,31270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paid,28171.171171,-6828.828829,Paid,Sama
4,1.00,packing,INVP2021110739688,Sicepat,INVP2021110739688,0,IndoHp,0,1101569360,NutriSari Jeruk Peras Refill 500 gr,NaN,2021-11-08,2021-11-08,NaN,NaN,IndoHp,45,8,November,2021,1.00,1101569360,NutriSari Jeruk Peras Refill 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38850,38850.0,NaN,NaN,NaN,NaN,38850,38850.0,35000.0,31270.0,31270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paid,28171.171171,-6828.828829,Paid,Sama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,1.00,packing,15115734,0,15115734,0,Orami,0,2104589105,TS COOKIES KLEPON 12DX5SX20G,Parsel Nutrimart - Wonderful Sweetness,2022-04-26,2022-04-26,NaN,NaN,Orami,17,26,April,2022,1.00,2104589105,Tropicana Slim Klepon Cookies (5 Sch),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24420,24420.0,NaN,NaN,NaN,NaN,24420,24420.0,22000.0,75000.0,22297.297297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pesanan nomor #15115734,15115734,75000.0,Paid,20087.655223,-1912.344777,Paid,Sama
1043,1.00,packing,15115734,0,15115734,0,Orami,0,2104148164,TS MINT COCOA 12DX4SX15G,Parsel Nutrimart - Wonderful Sweetness,2022-04-26,2022-04-26,NaN,NaN,Orami,17,26,April,2022,1.00,2104148164,Tropicana Slim Mint Cocoa 4 Sachet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17760,17760.0,NaN,NaN,NaN,NaN,17760,17760.0,16000.0,75000.0,16216.216216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pesanan nomor #15115734,15115734,75000.0,Paid,14609.203798,-1390.796202,Paid,Sama
1044,0.25,packing,15115734,0,15115734,0,Orami,0,1101522453,NS BLEWAH PLS 4PX40SX11G,Parsel Nutrimart - Wonderful Sweetness,2022-04-26,2022-04-26,NaN,NaN,Orami,17,26,April,2022,0.25,1101522453,NutriSari Blewah (40 sch),NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,47730,11932.5,NaN,NaN,NaN,NaN,47730,11932.5,10750.0,75000.0,10895.27027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pesanan nomor #15115734,15115734,75000.0,Paid,9815.558802,-934.441198,Paid,Sama
1045,0.25,packing,15115734,0,15115734,0,Orami,0,1101989453,NS ES CINCAU PLS 4PX40SX13G,Parsel Nutrimart - Wonderful Sweetness,2022-04-26,2022-04-26,NaN,NaN,Orami,17,26,April,2022,0.25,1101989453,NutriSari Es Cincau 40 sch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47730,11932.5,NaN,NaN,NaN,NaN,47730,11932.5,10750.0,75000.0,10895.27027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pesanan nomor #15115734,15115734,75000.0,Paid,9815.558802,-934.441198,Paid,Sama
1046,1.00,packing,15115734,0,15115734,0,Orami,0,2101864443,HILO ES PISANG IJO PLS 8RX10SX15G,Parsel Nutrimart - Wonderful Sweetness,2022-04-26,2022-04-26,NaN,NaN,Orami,17,26,April,2022,1.00,2101864443,HiLo Es Pisang Ijo 10 Sch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16095,16095.0,NaN,NaN,NaN,NaN,16095,16095.0,14500.0,75000.0,14695.945946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pesanan nomor #15115734,15115734,75000.0,Paid,13239.590942,-1260.409058,Paid,Sama

In [ ]:
transfer2 = pd.read_excel(r'Settlement Project\Manual/Transaksi YM Bank Transfer.xlsx', sheet_name = '2022', keep_default_na=False)
transfer2

# Tiktok

In [2]:
## run -1

import pandas as pd
import numpy as np
import os

tiktok = pd.DataFrame()
for i in os.listdir(r'Settlement Project/Manual/Tiktok/Seller Centre/'):
    temp = pd.read_excel(r'Settlement Project/Manual/Tiktok/Seller Centre/' + str(i), sheet_name = 'OrderSKUList',engine='xlrd')
    temp['Source'] = i
    print(i)
    true_col = ['Order ID', 'Order Status', 'Order Substatus',
       'Cancelation/Return Type', 'Normal or Pre-order', 'SKU ID',
       'Seller SKU', 'Product Name', 'Variation', 'Quantity',
       'Sku Quantity of return', 'SKU Unit Original Price',
       'SKU Subtotal Before Discount', 'SKU Platform Discount',
       'SKU Seller Discount', 'SKU Subtotal After Discount',
       'Shipping Fee After Discount', 'Original Shipping Fee',
       'Shipping Fee Seller Discount', 'Shipping Fee Platform Discount',
       'Taxes', 'Order Amount', 'Order Refund Amount', 'Created Time',
       'Paid Time', 'RTS Time', 'Shipped Time', 'Delivered Time',
       'Cancelled Time', 'Cancel By', 'Cancel Reason', 'Fulfillment Type',
       'Warehouse Name', 'Tracking ID', 'Delivery Option',
       'Shipping Provider Name', 'Buyer Message', 'Buyer Username',
       'Recipient', 'Phone #', 'Zipcode', 'Country', 'Province',
       'Regency and City', 'Districts', 'Villages', 'Detail Address',
       'Payment Method', 'Weight(kg)', 'Product Category',
       'Shipping Label Print Status', 'Picking List Print Status', 'Source']
    temp = temp[temp['Order ID'] != 'Platform unique order ID.']
    if len(tiktok) != 0:
        temp = temp[~temp['Order ID'].isin(tiktok['Order ID'])]
    tiktok = tiktok.append(temp, ignore_index = True, sort = False)
    if temp.columns.to_list() == true_col:
        print('Column Sama')
    else :
        print('Column Beda')
        print([x for x in true_col if x not in temp.columns.to_list()])
        print([x for x in temp.columns.to_list() if x not in true_col])

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.
  if __name__ == "__main__":

Orders-2023-01.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-02.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-03.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-04.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-05.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-06.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-07.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-08.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-09.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-10.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2023-12.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2024-01.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Payment platform discount', 'Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2024-02.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Payment platform discount', 'Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2024-03.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Payment platform discount', 'Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2024-04.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Payment platform discount', 'Buyer Service Fee', 'Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2024-05.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Payment platform discount', 'Buyer Service Fee', 'Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2024-06.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Payment platform discount', 'Buyer Service Fee', 'Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2024-07.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Payment platform discount', 'Buyer Service Fee', 'Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']
Orders-2024-08.xlsx
Column Beda
['Shipping Label Print Status', 'Picking List Print Status']
['Payment platform discount', 'Buyer Service Fee', 'Additional address information', 'Package ID', 'Seller Note', 'Checked Status', 'Checked Marked by']

In [2]:
# temp[['Buyer Service Fee']]

In [ ]:
pip list

In [3]:
## for backup
tiktok_ori=tiktok.copy()

In [70]:
## for backup
tiktok=tiktok_ori.copy()

In [4]:
### run - 2
### komen 15 aug
tiktok = tiktok.rename(columns = {
    'Order ID' : 'Order #',
    'Seller SKU' : 'SKU',
    'Quantity' : 'Qty. Invoiced',
    'Created Time' : 'Order date',
    'Paid Time' : 'Paid Date',
    'Tracking ID' : 'AWB',
    'Shipping Provider Name' : 'Shipping Courier',
    'Province' : 'Region Group'
})


### new 15 aug
# tiktok = tiktok.rename(columns = {
#     'Order ID' : 'Order #',
#     'Seller SKU' : 'SKU',
#     'Quantity' : 'Qty. Invoiced',
#     'Created Time' : 'Order date',
#     'Paid Time' : 'Paid Date',
#     'Tracking ID' : 'AWB',
#     'Shipping Provider Name' : 'Shipping Courier',
#     'Province' : 'Region Group',
#     'Package ID' : 'Order # WMS',
# })

tiktok['Sales Order ID'] = tiktok['Order #']
tiktok['SKU'] = tiktok['SKU'].astype(str).str.replace('\t', '', regex = False)

In [5]:
### run -3
tiktok = tiktok[[x for x in tiktok.columns if x in ['Order #',
 'Sales Order ID',
 'AWB',
 'Paid Date',
 'Order date',
 'Week',
 'Date',
 'Month',
 'Quarter',
 'Year',
 'Channel',
 'SKU',
 'Brand',
 'Product Name',
 'Bundle Name',
 'Price List NFI',
 'Qty. Invoiced',
 'Total Net',
 'Sub Brand',
 'Real SKU',
 'Real Nama Produk',
 'Parent Item',
 'Parent SKU',
 'Bundle Flag',
 'Shipping Courier',
 'Store',
 'True datetime',
 'Store Type',
 'Region Group',
 'PL Before PPN',
 'Total Net Before PPN',
 'Category Baru',
 'Exported Parent Item',
 'Order Date Seller Centre',
 'Product ID',
 'Total Selcen',
 'Order Status',
 'Warehouse Origin',
 'Paid',
 'SO STATUS',
 'WH',
 'Warehouse Quantity',
 'Total Produk Prop',
 'Fullfee Prop',
 'Comfee Prop',
 'BTL Cost',
 'Total Produk Prop Adj','Package ID'     
 ]]]

In [6]:
### run 3.1
tiktok['true datetime']=pd.to_datetime(pd.to_datetime(tiktok['Order date']).dt.strftime('%Y-%m-%d %H:%M:%S'))

In [16]:
### run -4
temp2 = tiktok.copy()

import time
import pandas as pd
import numpy as np
import math

import smtplib 
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from smtplib import SMTP
import smtplib
import sys
import requests
import os
    
data_SKU = pd.read_excel(r"D:\1. Masterdata\SKU_File\data_SKU.xlsx")

s = requests.Session()
s.get("https://tatanama.pythonanywhere.com")
s.post("https://tatanama.pythonanywhere.com", data = {'username' : 'ecommerce', 'password' : 'ttnmecom24'})
r = s.get("https://tatanama.pythonanywhere.com/download")

with open(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx", 'wb') as output:
    output.write(r.content)

if os.path.isfile(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx") :    
    SKU_append = pd.read_excel(r"D:\1. Masterdata\SKU_File\Master tatanama.xlsx")
    SKU_append.columns = [x.replace('_', ' ') for x in SKU_append.columns]
    data_SKU = data_SKU[~data_SKU['SKU'].astype(str).isin(SKU_append['SKU'].astype(str))]
    data_SKU = data_SKU.append(SKU_append, ignore_index = True, sort = False)

to_excel = data_SKU.to_excel(r"D:\1. Masterdata\SKU_File\data_SKU.xlsx", index = False)

data_SKU.loc[data_SKU['Price List NFI']=='-','Price List NFI']=0
data_SKU['Price List NFI'] = data_SKU['Price List NFI'].astype(float).astype('int64')

data_SKU['Real SKU'] = data_SKU['SKU'].astype(str)
data_SKU['Real Nama Produk'] = data_SKU['Nama Produk'].astype(str)

In [17]:
# data_SKU

In [18]:
### run 4.1
dfalias=pd.DataFrame()
for i in [x for x in data_SKU if 'Alias SKU' in x]:
    dfaliastemp=data_SKU[data_SKU[i].notnull()][['Real SKU',i]].rename(columns={i:'SKU Alias'})
    # dfaliastemp['SKU Alias']=dfaliastemp['SKU Alias'].astype(str)
    dfalias=dfalias.append(dfaliastemp)
cek=temp2[~temp2['SKU'].isin(data_SKU['Real SKU'].unique())]['SKU'].unique()
# dfalias[dfalias['SKU Alias'].isin(cek)]
for i in cek:
    skualias=dfalias[dfalias['SKU Alias']==i]['Real SKU'].unique()[0]
    temp2.loc[temp2['SKU']==i,'SKU']=skualias

1101588453
2101500195
2101751112P2
2106386249P4
2T01402249P4
2101700166P2
2HG0103050P2
PT6T7
PT7T8
2HG0103050P2
2101500195
2T00805043P2
2305551028
2101699155P2
1NC1711075
PE15(2)T6
1N00840454
1N00840454P4

In [19]:
### run 4.2

from datetime import datetime,timedelta
listjanjian=requests.get('http://event.l-men.com/apiv1?type=janjian')
for i in listjanjian.json():
    sku=i['realsku']
    print(sku)
    start=datetime.fromtimestamp(int(i['startdate']/1000)).replace(hour=0)
    end=datetime.fromtimestamp(int(i['enddate']/1000)).replace(hour=23)
    print(i['notes'])
    temp2.loc[(temp2['SKU']==sku)&(temp2['true datetime']>=start)&(temp2['true datetime']<end),'Pemilik Budget']=i['notes']
    print('=====')

2T00803164
Launching tahap 2
=====
2T00803164P3
Launching tahap 2
=====
2T02703229P2
Launching
=====
PT25T74
Launching
=====
2T02703229
Launching tahap 2
=====
2104115110
Launching tahap 2
=====
2104115110P2
Launching tahap 2
=====
2104148024
Launching tahap 2
=====
2104148024P2
Launching tahap 2
=====
1N01402250P24
Marketing
=====
1N01402250P4
Marketing
=====
2104010270
Marketing
=====
1101909331
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
2HF0114021
Launching tahap 2
=====
2101751112
Marketing
=====
2101751112P2
Marketing
=====
2101700166P2
Marketing
=====
2101700166
Marketing
=====
2101384106
Internal
=====
2101384106P3
Internal
=====
2105055180P2
Internal
=====
2104523105P3
Internal
=====
2104508105P3
Internal
=====
2104543105P3
Internal
=====
2104589105P3
Internal
=====
2104241210P2
Internal
=====
2106386249P24
Internal
=====
2101000195
Internal
=====
2101151180
Internal
=====
2101150180
Internal
=====
2101200180
Internal
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102500125P2
Internal
=====
2102500130P2
Internal
=====
2102900125
Internal
=====
2102900130
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2309005305P20
Marketing
=====
2T01813126P2
Launching
=====
PH22T17
Marketing
=====
PH22T41
Marketing
=====
PH19H22
Launching
=====
PH22H95G277
Marketing
=====
1101685360
Marketing
=====
1101656360
Marketing
=====
2101847360
Marketing
=====
2101845360
Marketing
=====
2101819360
Marketing
=====
2101888360
Marketing
=====
PH19H103
Launching
=====
PH35H103
Launching
=====
2305551028
Launching
=====
2HF0113021
Launching tahap 2
=====
2HF0112021
Launching tahap 2
=====
1N01402250P4
Internal
=====
1N01402250P24
Internal
=====
2T00803164
Internal
=====
2T00803164P2
Internal
=====
2T00803164P3
Internal
=====
1101686318
Marketing
=====
1101694318
Marketing
=====
1N01402250P4
Marketing
=====
2T00803164
Marketing
=====
1N01402250P24
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
1101618318P2
Marketing
=====
1101618318
Marketing
=====
2309005305
Marketing
=====
2309005305P5
Marketing
=====
2309005305P10
Marketing
=====
2101700166
Marketing
=====
2101700166
Marketing
=====
2101700166P2
Marketing
=====
2101700166P2
Marketing
=====
2309005305P20
Marketing
=====
2309005305P20
Marketing
=====
(E)2101469180
Marketing
=====
1N01402250P4
Marketing
=====
1N01402250P24
Marketing
=====
2T01402249P4
Launching
=====
2T01402249P24
Launching
=====
1100534034
Launching
=====
2HC0109021
Launching tahap 2
=====
2305551028
Launching tahap 2
=====
PH19H22
Marketing
=====
PH22T41
Marketing
=====
PH22T17
Marketing
=====
(E)2101487148
Marketing
=====
(E)2101487148
Marketing
=====
2T01813126
Launching tahap 2
=====
2T01813126P2
Launching tahap 2
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102500125P2
Internal
=====
2102900125
Internal
=====
2102500130P2
Internal
=====
2102900130
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2101150180
Internal
=====
2101151180
Internal
=====
2101200180
Internal
=====
2101000195
Internal
=====
2101000195P2
Internal
=====
2101150180P2
Internal
=====
2101151180P2
Internal
=====
2101200180P2
Internal
=====
2304097159
Internal
=====
2104394210P2
Internal
=====
2104394210
Internal
=====
PT26T54
Internal
=====
2T01705164P2
Launching
=====
2305551028
Launching tahap 2
=====
PH22H95G277
Marketing
=====
1101665318
Marketing
=====
1101677318
Marketing
=====
1101653318
Marketing
=====
1101618318
Marketing
=====
2HH0813443P2
Launching
=====
2HF0114021P2
Marketing
=====
2LL1402249P4
Launching
=====
2LL1402249P24
Launching
=====
2LM0801029
Launching
=====
PL32L33
Launching
=====
2HF0114021
Marketing
=====
2101651195
Marketing
=====
2101651195P2
Marketing
=====
2101453195
Marketing
=====
2305551028
Internal
=====
2101453195P2
Marketing
=====
2101486195
Marketing
=====
2101486195P2
Marketing
=====
2309005305P20
Marketing
=====
(E)1101505453
Internal
=====
2304051180
Internal
=====
2LD0905181
Internal
=====
2304008180
Internal
=====
2TA0102180
Launching tahap 2
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102900125
Internal
=====
2102000180
Internal
=====
2102500125P2
Internal
=====
2102500130P2
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2102000180P2
Internal
=====
2102900130
Internal
=====
2304558112
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2304558112P2
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304051180P2
Internal
=====
2LD0905181P2
Internal
=====
2304008180P2
Internal
=====
1N03301456
Launching
=====
2T01402249P24
Launching tahap 2
=====
2LM0801029
Launching tahap 2
=====
1101685360
Marketing
=====
1101656360
Marketing
=====
2T01402249P24
Internal
=====
2106386249P24
Internal
=====
2106386249P12
Internal
=====
2101888360
Marketing
=====
2101819360
Marketing
=====
2101845360
Marketing
=====
2101847360
Marketing
=====
2305551028P3
Internal
=====
2305551028
Internal
=====
2305507288
Internal
=====
2305545288
Internal
=====
2305559288
Internal
=====
2305584288
Internal
=====
2105028180P2
Internal
=====
1N01402250P24
Internal
=====
2LM0801029P2
Marketing
=====
PT25T41
Internal
=====
2104228230P2
Internal
=====
2104251230P2
Internal
=====
2T01402249P12
Internal
=====
2304097159
Marketing
=====
2T00805043P2
Launching
=====
2T00805043P2
Launching tahap 2
=====
2105028180P2
Internal
=====
2T01402249P12
Internal
=====
2T01402249P24
Internal
=====
2304051180P2
Marketing
=====
PL7(2)G26
Internal
=====
PL25(2)G26
Internal
=====
PL27(2)G26
Internal
=====
2304558112P2
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304051180P4
Internal
=====
PL6(2)L28L31
Internal
=====
2304558112P4
Internal
=====
(E)2101907250P4
Marketing
=====
(E)2101845360
Marketing
=====
2101478180
Internal
=====
2101452195
Internal
=====
2101452190
Internal
=====
2101466148
Internal
=====
2101485195
Internal
=====
2101485180
Internal
=====
2101524180
Internal
=====
2101551195
Internal
=====
2101551190
Internal
=====
2101551180
Internal
=====
2101500180
Internal
=====
2101500190
Internal
=====
2101000195
Internal
=====
2101150180P2
Internal
=====
2101151180P2
Internal
=====
2101000195P2
Internal
=====
2T02703229P2
Internal
=====
1N00838454
Launching
=====
2101500195
Internal
=====
2101578180
Internal
=====
2101452180
Internal
=====
2304558112P4
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304558112P2
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2101459180
Internal
=====
2101479180
Internal
=====
2101401180
Internal
=====
2101444180
Internal
=====
2101428180
Internal
=====
2101428180P2
Internal
=====
2101401180P2
Internal
=====
PL25(2)G26
Internal
=====
PL27(2)G26
Internal
=====
PL7(2)G26
Internal
=====
2HC0112021P2
Launching
=====
2HG0103050P2
Launching
=====
2101584180
Internal
=====
2101478180P2
Internal
=====
2101452195P2
Internal
=====
2101452180P2
Internal
=====
2101452190P2
Internal
=====
2101466148P2
Internal
=====
2101485195P2
Internal
=====
2101485180P2
Internal
=====
2101524180P2
Internal
=====
2101551195P2
Internal
=====
2101551180P2
Internal
=====
2101551190P2
Internal
=====
2101500180P2
Internal
=====
2101500190P2
Internal
=====
2101500195P2
Internal
=====
2101578180P2
Internal
=====
2101584180P2
Internal
=====
2HC0112021
Launching tahap 2
=====
2HC0112021P2
Launching tahap 2
=====
2104406
Marketing
=====
(E)1101693318
Internal
=====
2101845360
Marketing
=====
2101888360
Marketing
=====
2101847360
Marketing
=====
2101819360
Marketing
=====
1101685360
Marketing
=====
1101656360
Marketing
=====
2101710110
Marketing
=====
2101710110P2
Marketing
=====
2304558112
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2T00805043P2
Internal
=====
2306551173P2
Marketing
=====
2306551173
Marketing
=====
2304051180
Internal
=====
2304034180
Internal
=====
2304008180
Internal
=====
2304051180P2
Internal
=====
2304034180P2
Internal
=====
2304008180P2
Internal
=====
2LD0905181
Internal
=====
2LD0905181P2
Internal
=====
2304051180P4
Internal
=====
(E)2309005305P20
Marketing
=====
2T01813126
Internal
=====
2T00805043P2
Internal
=====
2T01814125P2
Launching
=====
1N01402250P24
Internal
=====
2T00806053P2
Launching
=====
2T00806053P2
Launching
=====
2T00806053P2
Launching
=====
2T01705024P2
Launching
=====
2HH0816450P2
Launching
=====
2101454302P3
Marketing
=====
2101484302P3
Marketing
=====
2HF0111003P3
Marketing
=====
2HG0103050P2
Launching tahap 2
=====
(E)2101845360
Marketing
=====
2T01403249P24
Launching
=====
2T01403249P4
Launching
=====
2T00806053P2
Launching tahap 2
=====
2T01705024P2
Launching tahap 2
=====
2T01814125P2
Launching tahap 2
=====
2T01814125
Launching tahap 2
=====
2T01403249P24
Launching tahap 2
=====
2T01403249P4
Launching tahap 2
=====
(E)2106317152P2
Marketing
=====
(E)2106317152
Marketing
=====
2103300316
Marketing
=====
PT79T81
Internal
=====
2305551028P3
Internal
=====
(E)2101469180
Marketing
=====
(E)2101487148
Marketing
=====
(E)2101466148
Marketing
=====
2101454302P3
Marketing
=====
2101484302P3
Internal
=====
2HF0111003P3
Marketing
=====
2106386249P24
Internal
=====
2106386249P12
Internal
=====
2T01402249P24
Internal
=====
2T01402249P12
Internal
=====
2T01403249P12
Internal
=====
2T01403249P24
Internal
=====
2T00805043P2
Internal
=====
2T00805043P2
Internal
=====
2101000195
Internal
=====
2101000195P2
Internal
=====
2102900130P2
Internal
=====
2102500130P2
Internal
=====
2LG0906288
Launching
=====
2LG0906288
Launching
=====
PH107(2)G331
Marketing
=====
PT79T81
Internal
=====
(E)2305551288P2
Internal
=====
(E)2305551288P3
Internal
=====
1N00804229
Launching
=====
2T00804164P2
Launching
=====
2T01705024P2
Internal
=====
2HC0112021P2
Internal
=====
2HC0113021P2
Launching
=====
2HF0113021
Marketing
=====
2HF0112021
Marketing
=====
2101609180
Marketing
=====
2104241210
Marketing
=====
2104153110
Marketing
=====
LN00000002
Marketing
=====
2LG0906288
Launching tahap 2
=====
2104115110P2
Marketing
=====
2T01813126
Internal
=====
2LD0905181
Internal
=====
2LD0905181P2
Internal
=====
PL32L33
Internal
=====
PL6(2)L32
Marketing
=====
(E)2104406P2
Marketing
=====
(E)2104406
Marketing
=====
PH106H109(2)G334
Launching
=====
PH64H109(2)G334
Launching
=====
2305551028P3
Internal
=====
(E)2101524180P2
Marketing
=====
(E)2305551288
Internal
=====
(E)2HF0112021
Marketing
=====
2101454302P3
Marketing
=====
2101484302P3
Marketing
=====
2HF0111003P3
Marketing
=====
2304051180
Internal
=====
2304051180P2
Internal
=====
2304051180P4
Internal
=====
2304008180
Internal
=====
2304008180P2
Internal
=====
2304558112
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2304558112P2
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304558112P4
Internal
=====
2T01402249P4
Internal
=====
2106386249P4
Internal
=====
2T01403249P4
Internal
=====
2LC0903181P2
Launching
=====
2LH1204172P2
Launching
=====
2T01813126
Internal
=====
2101700037
Internal
=====
2T02603203P2
Launching
=====
2HH1409249P4
Launching
=====
2HH1409249P24
Launching
=====
(E)2101469180
Marketing
=====
(E)2101487148
Marketing
=====
(E)2101466148
Marketing
=====
(E)2LD0905181
Internal
=====
(E)2LD0905181P2
Internal
=====
PB121H107
Launching
=====
PH107B23
Launching
=====
2HC0112021P2
Internal
=====
2HC0113021P2
Launching
=====
2HC0113021
Launching tahap 2
=====
2HG0103050
Launching
=====
2HH0817441P2
Launching
=====
(E)2106317152P2
Marketing
=====
2103300316
Marketing
=====
2T02603203P2
Launching tahap 2
=====
(E)2HF0112021
Marketing
=====
(E)2101864443
Marketing
=====
2LC0903181
Launching tahap 2
=====
2LH1204172
Launching tahap 2
=====
2HH1409249P4
Launching tahap 2
=====
2HH1409249P24
Launching tahap 2
=====
2104405
Marketing
=====
2104405P2
Marketing
=====
2106023014P3
Marketing
=====
(E)2LD0905181
Marketing
=====
2HH0817441
Launching tahap 2
=====
2305507288
Internal
=====
2305545288
Internal
=====
2101684195
Launching
=====
2305551028P3
Internal
=====
2T01812126
Marketing
=====
2T00805043
Marketing
=====
2HH1409249P4
Marketing
=====
2HH1409249P24
Marketing
=====
2HH1409249P24
Launching tahap 2
=====
2HH1409249P4
Launching tahap 2
=====
2T00806053
Marketing
=====
2T01705024
Marketing
=====
2104148024
Marketing
=====
2HC0112021
Marketing
=====
2106023014P1
Marketing
=====
2HC0113021
Marketing
=====
2105028180
Marketing
=====
2T03201001
Marketing
=====
2101609180
Marketing
=====
2104241210
Marketing
=====
2104394210
Marketing
=====
2102300105
Marketing
=====
1N01402250P24
Marketing
=====
1101182250P24
Marketing
=====
1N00838454
Marketing
=====
2LH1204172
Marketing
=====
1N03301456
Marketing
=====
2LH1204172
Launching tahap 2
=====
1N00804229
Marketing
=====
2LC0903181
Marketing
=====
1101656318
Marketing
=====
2304515112
Marketing
=====
2304008180
Marketing
=====
1101677318
Marketing
=====
2LM0801029
Marketing
=====
2T01403249P4
Marketing
=====
2T01403249P24
Marketing
=====
2T02603203
Marketing
=====
1N01402250P4
Marketing
=====
1101182250P4
Marketing
=====
2HG0103050
Marketing
=====
2304008180
Marketing
=====
2304051180
Marketing
=====
PL32L33
Marketing
=====
PL30L32
Marketing
=====
PL32L35
Marketing
=====
PL6L32
Marketing
=====
PL7L32
Marketing
=====
2101684195
Launching tahap 2
=====
2T01402249P4
Marketing
=====
2T01402249P24
Marketing
=====
2T01403249P4
Marketing
=====
2T01403249P24
Marketing
=====
2106386249P4
Marketing
=====
2106386249P24
Marketing
=====
2HF0113021
Marketing
=====
2HF0113021P2
Marketing
=====
2HF0112021
Marketing
=====
2HF0112021P2
Marketing
=====
2HF0114021P2
Marketing
=====
2101699155P2
Marketing
=====
2T00806053P2
Marketing
=====
2T01813126P2
Marketing
=====
2T00806053P2
Marketing
=====
2T00806053P2
Marketing
=====
2T03201001P2
Marketing
=====
2T00803164P2
Marketing
=====
2T00804164P2
Marketing
=====
2104405
Marketing
=====
2LM0801029
Marketing
=====
PL6L32
Marketing
=====
PL32L33
Launching
=====
PL7L32
Marketing
=====
PL32L35
Marketing
=====
PL30L32
Marketing
=====
2T02604203P2
Launching
=====
2306551173
Marketing
=====
2LH1204172
Marketing
=====
PT79T86(4)
Launching
=====
2HF0114021
Marketing
=====
2HF0114021P2
Marketing
=====
2T01813126P2
Marketing
=====
2T01813126
Marketing
=====
LN00000002
Marketing
=====
2T01404249P4
Launching
=====
2T00803164P2
Marketing
=====
2T00804164P2
Marketing
=====
2T03201001P2
Marketing
=====
2LC0903181
Marketing
=====
2LG0908060
Marketing
=====
2T03201001P2
Marketing
=====
2T01813126
Marketing
=====
2T00805043
Marketing
=====
2T00805043P2
Marketing
=====
2HF0112021
Marketing
=====
2HF0113021
Marketing
=====
2HF0114021
Marketing
=====
2T00805043P2
Marketing
=====
2T00804024P2
Launching
=====
2101452195
Marketing
=====
2101485195
Marketing
=====
2101651195
Marketing
=====
2101684195
Marketing
=====
2101453195
Marketing
=====
2101486195
Marketing
=====
2101500195
Marketing
=====
2101551195
Marketing
=====
2HC0113021
Marketing
=====
2T00806053P2
Internal
=====
2HC0112021
Marketing
=====
2HH1409249P4
Marketing
=====
2101751112
Marketing
=====
2101700166
Marketing
=====
2HG0103050
Marketing
=====
2LC0903181
Marketing
=====
2HH0817441
Marketing
=====
2HC0112021P2
Marketing
=====
2HC0113021P2
Marketing
=====
2101700166P2
Marketing
=====
2HH1409249P24
Marketing
=====
2T02604203P2
Launching tahap 2
=====
2304097159
Marketing
=====
2T01404249P4
Launching tahap 2
=====
2T01404249P24
Launching tahap 2
=====
1N03302456
Launching
=====
2T02604203
Launching tahap 2
=====
PT79T85
Launching tahap 2
=====
2304051288
Launching
=====
PN125N150
Launching
=====
1102560453
Launching
=====
1N01402250P4
Launching
=====
1N01402250P24
Launching
=====
PT79G342
Internal
=====
PT79G343
Internal
=====
2T01705024P2
Marketing
=====
2T01705024P2
Marketing
=====
2304051288P2
Launching
=====
2304051288
Launching tahap 2
=====
1N00840454
Launching
=====
1N00840454
Launching
=====
1N00840454
Launching
=====
2HF0115003P2
Launching
=====
1101677104
Launching
=====
2T01705024
Marketing
=====
2104115110
Marketing
=====
2104115110P2
Marketing
=====
2T00803164
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
2104148024
Marketing
=====
2104148024P2
Marketing
=====
2104119110
Marketing
=====
2104119110P2
Marketing
=====
2T00804024
Launching tahap 2
=====
2T02604203
Internal
=====
2T00805043P2
Internal
=====
2HC0113021P2
Marketing
=====
2HC0112021P2
Marketing
=====
2306551173
Internal
=====
2LH1204172
Internal
=====
1NC1710075
Launching
=====
1NC1711075
Launching
=====
2LC0903181
Marketing
=====
2LC0903181P2
Marketing
=====
2104119110
Marketing
=====
2104119110P2
Marketing
=====
2305507288
Marketing
=====
2305559288
Marketing
=====
2106395308
Marketing
=====
2106395308P2
Marketing
=====
2106395308P3
Marketing
=====
2102300105
Marketing
=====
2304008180
Marketing
=====
2304008180P2
Marketing
=====
2106023014
Marketing
=====
2106023014P2
Marketing
=====
2106023014P3
Marketing
=====
2T02604203P2
Internal
=====
2T02604203
Internal
=====
1N00804229P2
Marketing
=====
2103300316
Marketing
=====
2HF0115003
Launching tahap 2
=====
2304576112
Marketing
=====
2304576112P2
Marketing
=====
2304515112C2
Marketing
=====
2LM0801029
Marketing
=====
2LM0801029P2
Marketing
=====
PL32L33
Marketing
=====
2305551028
Marketing
=====
(J)71110157
Launching
=====
(J)71110158
Launching
=====
1N00841454
Launching
=====
2LH1204172
Marketing
=====
2T02604203
Internal
=====
2T02604203P2
Internal
=====
2304008180
Marketing
=====
2304008180P2
Marketing
=====
2304576112
Marketing
=====
2304576112P2
Marketing
=====
2T01705024P2
Marketing
=====
2104115110
Marketing
=====
2104115110P2
Marketing
=====
2T00803164
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
2104148024
Marketing
=====
2104148024P2
Marketing
=====
2104119110
Marketing
=====
2104119110P2
Marketing
=====
2105055180
Marketing
=====
2105055180P2
Marketing
=====
2HF0113021
Marketing
=====
2LH1204172
Marketing
=====
2T00806053
Internal
=====
2305507288
Marketing
=====
2305559288
Marketing
=====
2LG0908060
Marketing
=====
2304051180
Marketing
=====
2304051288
Marketing
=====

In [20]:
## run 4.3
list_col = ['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand']

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(temp2.index)
for i in list_col:
    temp2[i] = temp_merge[str(i)]

list_col = ['SKU'] + data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()
temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['SKU']), how = 'left', left_on = 'Real SKU', right_on = 'SKU').set_index(temp2.index)
list_pcs = [x for x in temp_merge.columns if 'PCS' in x]
for i in list_pcs:
    temp_merge[i] = temp_merge[i].fillna(0).astype(int) * temp_merge['Qty. Invoiced'].astype(int)

list_col = data_SKU.columns[data_SKU.columns.get_loc('Produk 1'):data_SKU.columns.get_loc('Harga Organik 7')+1].to_list()    
for i in list_col:
    temp2[i] = temp_merge[str(i)]
    
    
print("Unbundling")
data_bundle1 = temp2[~temp2['Produk 1'].isnull()]
data_bundle1['Bundle Name'] = data_bundle1['Product Name']
data_bundle1['Bundle SKU'] = data_bundle1['SKU']
data_bundle1['Product Name'] = data_bundle1['Produk 1']
data_bundle1['SKU'] = data_bundle1['SKU Produk 1']
data_bundle1['Qty. Invoiced'] = data_bundle1['PCS Produk 1']
data_bundle1['Price List NFI'] = data_bundle1['Price List NFI 1']
data_bundle1['Total Net'] = data_bundle1['Price List NFI 1']
data_bundle1['Bundle Flag'] = np.nan

data_bundle2 = temp2[~temp2['Produk 2'].isnull()]
data_bundle2['Bundle Name'] = data_bundle2['Product Name']
data_bundle2['Bundle SKU'] = data_bundle2['SKU']
data_bundle2['Product Name'] = data_bundle2['Produk 2']
data_bundle2['SKU'] = data_bundle2['SKU Produk 2']
data_bundle2['Qty. Invoiced'] = data_bundle2['PCS Produk 2']
data_bundle2['Price List NFI'] = data_bundle2['Price List NFI 2']
data_bundle2['Total Net'] = data_bundle2['Price List NFI 2'] 
data_bundle2['Bundle Flag'] = np.nan

data_bundle3 = temp2[~temp2['Produk 3'].isnull()]
data_bundle3['Bundle Name'] = data_bundle3['Product Name']
data_bundle3['Bundle SKU'] = data_bundle3['SKU']
data_bundle3['Product Name'] = data_bundle3['Produk 3']
data_bundle3['SKU'] = data_bundle3['SKU Produk 3']
data_bundle3['Qty. Invoiced'] = data_bundle3['PCS Produk 3']
data_bundle3['Price List NFI'] = data_bundle3['Price List NFI 3']
data_bundle3['Total Net'] = data_bundle3['Price List NFI 3'] 
data_bundle3['Bundle Flag'] = np.nan

data_bundle4 = temp2[~temp2['Produk 4'].isnull()]
data_bundle4['Bundle Name'] = data_bundle4['Product Name']
data_bundle4['Bundle SKU'] = data_bundle4['SKU']
data_bundle4['Product Name'] = data_bundle4['Produk 4']
data_bundle4['SKU'] = data_bundle4['SKU Produk 4']
data_bundle4['Qty. Invoiced'] = data_bundle4['PCS Produk 4']
data_bundle4['Price List NFI'] = data_bundle4['Price List NFI 4']
data_bundle4['Total Net'] = data_bundle4['Price List NFI 4'] 
data_bundle4['Bundle Flag'] = np.nan

data_bundle5 = temp2[~temp2['Produk 5'].isnull()]
data_bundle5['Bundle Name'] = data_bundle5['Product Name']
data_bundle5['Bundle SKU'] = data_bundle5['SKU']
data_bundle5['Product Name'] = data_bundle5['Produk 5']
data_bundle5['SKU'] = data_bundle5['SKU Produk 5']
data_bundle5['Qty. Invoiced'] = data_bundle5['PCS Produk 5']
data_bundle5['Price List NFI'] = data_bundle5['Price List NFI 5']
data_bundle5['Total Net'] = data_bundle5['Price List NFI 5']
data_bundle5['Bundle Flag'] = np.nan

data_bundle6 = temp2[~temp2['Produk 6'].isnull()]
data_bundle6['Bundle Name'] = data_bundle6['Product Name']
data_bundle6['Bundle SKU'] = data_bundle6['SKU']
data_bundle6['Product Name'] = data_bundle6['Produk 6']
data_bundle6['SKU'] = data_bundle6['SKU Produk 6']
data_bundle6['Qty. Invoiced'] = data_bundle6['PCS Produk 6']
data_bundle6['Price List NFI'] = data_bundle6['Price List NFI 6']
data_bundle6['Total Net'] = data_bundle6['Price List NFI 6']
data_bundle6['Bundle Flag'] = np.nan

data_bundle7 = temp2[~temp2['Produk 7'].isnull()]
data_bundle7['Bundle Name'] = data_bundle7['Product Name']
data_bundle7['Bundle SKU'] = data_bundle7['SKU']
data_bundle7['Product Name'] = data_bundle7['Produk 7']
data_bundle7['SKU'] = data_bundle7['SKU Produk 7']
data_bundle7['Qty. Invoiced'] = data_bundle7['PCS Produk 7']
data_bundle7['Price List NFI'] = data_bundle7['Price List NFI 7']
data_bundle7['Total Net'] = data_bundle7['Price List NFI 7']
data_bundle7['Bundle Flag'] = np.nan

data_bundle = data_bundle1.append([data_bundle2, data_bundle3, data_bundle4, data_bundle5, data_bundle6, data_bundle7], ignore_index = True, sort = False)
data_bundle['SKU'] = data_bundle['SKU'].astype(str)
data_bundle['SKU'] = data_bundle['SKU'].str.replace('\.0$', '', regex = True)
data_bundle[['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']] = data_bundle.merge(data_SKU[['Real SKU', 'Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU']].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU')[['Real SKU_y', 'Nama Produk', 'Brand_y', 'Sub Brand_y', 'Parent Item', 'Parent SKU']]

print("Pricing")
temp2 = temp2.append(data_bundle, ignore_index = True, sort = False)
list_col = ['Real SKU', 'Price List NFI', 'Harga Cost']

temp_merge = temp2.merge(data_SKU[list_col].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(temp2.index)
for i in list_col:
    if i == 'Real SKU' or i == 'Price List NFI':
        temp2[i] = temp_merge[str(i) + '_y']
    else :
        temp2[i] = temp_merge[str(i)]
    
temp2['Price List NFI'] = pd.to_numeric(temp2['Price List NFI']).astype(int)
temp2['Harga Cost'] = pd.to_numeric(temp2['Harga Cost']).astype(int)
temp2['Qty. Invoiced'] = pd.to_numeric(temp2['Qty. Invoiced']).astype(int)

temp2['Total Net'] = temp2['Price List NFI'] * temp2['Qty. Invoiced']
temp2['Total Harga Cost'] = temp2['Harga Cost'] * temp2['Qty. Invoiced']

Unbundling

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:

Pricing

In [21]:
## run -5
temp2[temp2['Price List NFI'].isnull()]['SKU']
## harus null

Series([], Name: SKU, dtype: object)

In [22]:
## run -6
temp2[temp2['Real SKU'].isnull()]
## harus null

Empty DataFrame
Columns: [Order #, Order Status, SKU, Product Name, Qty. Invoiced, Order date, Paid Date, AWB, Shipping Courier, Region Group, Package ID, Sales Order ID, true datetime, Pemilik Budget, Real SKU, Real Nama Produk, Brand, Sub Brand, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Harga Organik 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Harga Organik 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Harga Organik 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Harga Organik 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Harga Organik 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Harga Organik 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Harga Organik 7, Bundle Name, Bundle SKU, Price List NFI, Total Net, Bundle Flag, Parent Item, Parent SKU, Harga Cost, Total Harga Cost]
Index: []

[0 rows x 83 columns]

In [23]:
## run 6.1
for i in listjanjian.json():
    sku=i['realsku']
    print(sku)
    start=datetime.fromtimestamp(int(i['startdate']/1000)).replace(hour=0)
    end=datetime.fromtimestamp(int(i['enddate']/1000)).replace(hour=23)
    print(i['notes'])
    temp2.loc[(temp2['Pemilik Budget'].isnull())&(temp2['SKU']==sku)&(temp2['true datetime']>=start)&(temp2['true datetime']<end),'Pemilik Budget']=i['notes']
    print('=====')

2T00803164
Launching tahap 2
=====
2T00803164P3
Launching tahap 2
=====
2T02703229P2
Launching
=====
PT25T74
Launching
=====
2T02703229
Launching tahap 2
=====
2104115110
Launching tahap 2
=====
2104115110P2
Launching tahap 2
=====
2104148024
Launching tahap 2
=====
2104148024P2
Launching tahap 2
=====
1N01402250P24
Marketing
=====
1N01402250P4
Marketing
=====
2104010270
Marketing
=====
1101909331
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
2HF0114021
Launching tahap 2
=====
2101751112
Marketing
=====
2101751112P2
Marketing
=====
2101700166P2
Marketing
=====
2101700166
Marketing
=====
2101384106
Internal
=====
2101384106P3
Internal
=====
2105055180P2
Internal
=====
2104523105P3
Internal
=====
2104508105P3
Internal
=====
2104543105P3
Internal
=====
2104589105P3
Internal
=====
2104241210P2
Internal
=====
2106386249P24
Internal
=====
2101000195
Internal
=====
2101151180
Internal
=====
2101150180
Internal
=====
2101200180
Internal
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102500125P2
Internal
=====
2102500130P2
Internal
=====
2102900125
Internal
=====
2102900130
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2309005305P20
Marketing
=====
2T01813126P2
Launching
=====
PH22T17
Marketing
=====
PH22T41
Marketing
=====
PH19H22
Launching
=====
PH22H95G277
Marketing
=====
1101685360
Marketing
=====
1101656360
Marketing
=====
2101847360
Marketing
=====
2101845360
Marketing
=====
2101819360
Marketing
=====
2101888360
Marketing
=====
PH19H103
Launching
=====
PH35H103
Launching
=====
2305551028
Launching
=====
2HF0113021
Launching tahap 2
=====
2HF0112021
Launching tahap 2
=====
1N01402250P4
Internal
=====
1N01402250P24
Internal
=====
2T00803164
Internal
=====
2T00803164P2
Internal
=====
2T00803164P3
Internal
=====
1101686318
Marketing
=====
1101694318
Marketing
=====
1N01402250P4
Marketing
=====
2T00803164
Marketing
=====
1N01402250P24
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
1101618318P2
Marketing
=====
1101618318
Marketing
=====
2309005305
Marketing
=====
2309005305P5
Marketing
=====
2309005305P10
Marketing
=====
2101700166
Marketing
=====
2101700166
Marketing
=====
2101700166P2
Marketing
=====
2101700166P2
Marketing
=====
2309005305P20
Marketing
=====
2309005305P20
Marketing
=====
(E)2101469180
Marketing
=====
1N01402250P4
Marketing
=====
1N01402250P24
Marketing
=====
2T01402249P4
Launching
=====
2T01402249P24
Launching
=====
1100534034
Launching
=====
2HC0109021
Launching tahap 2
=====
2305551028
Launching tahap 2
=====
PH19H22
Marketing
=====
PH22T41
Marketing
=====
PH22T17
Marketing
=====
(E)2101487148
Marketing
=====
(E)2101487148
Marketing
=====
2T01813126
Launching tahap 2
=====
2T01813126P2
Launching tahap 2
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102500125P2
Internal
=====
2102900125
Internal
=====
2102500130P2
Internal
=====
2102900130
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2101150180
Internal
=====
2101151180
Internal
=====
2101200180
Internal
=====
2101000195
Internal
=====
2101000195P2
Internal
=====
2101150180P2
Internal
=====
2101151180P2
Internal
=====
2101200180P2
Internal
=====
2304097159
Internal
=====
2104394210P2
Internal
=====
2104394210
Internal
=====
PT26T54
Internal
=====
2T01705164P2
Launching
=====
2305551028
Launching tahap 2
=====
PH22H95G277
Marketing
=====
1101665318
Marketing
=====
1101677318
Marketing
=====
1101653318
Marketing
=====
1101618318
Marketing
=====
2HH0813443P2
Launching
=====
2HF0114021P2
Marketing
=====
2LL1402249P4
Launching
=====
2LL1402249P24
Launching
=====
2LM0801029
Launching
=====
PL32L33
Launching
=====
2HF0114021
Marketing
=====
2101651195
Marketing
=====
2101651195P2
Marketing
=====
2101453195
Marketing
=====
2305551028
Internal
=====
2101453195P2
Marketing
=====
2101486195
Marketing
=====
2101486195P2
Marketing
=====
2309005305P20
Marketing
=====
(E)1101505453
Internal
=====
2304051180
Internal
=====
2LD0905181
Internal
=====
2304008180
Internal
=====
2TA0102180
Launching tahap 2
=====
2102500125
Internal
=====
2102500130
Internal
=====
2102900125
Internal
=====
2102000180
Internal
=====
2102500125P2
Internal
=====
2102500130P2
Internal
=====
2102900125P2
Internal
=====
2102900130P2
Internal
=====
2102000180P2
Internal
=====
2102900130
Internal
=====
2304558112
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2304558112P2
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304051180P2
Internal
=====
2LD0905181P2
Internal
=====
2304008180P2
Internal
=====
1N03301456
Launching
=====
2T01402249P24
Launching tahap 2
=====
2LM0801029
Launching tahap 2
=====
1101685360
Marketing
=====
1101656360
Marketing
=====
2T01402249P24
Internal
=====
2106386249P24
Internal
=====
2106386249P12
Internal
=====
2101888360
Marketing
=====
2101819360
Marketing
=====
2101845360
Marketing
=====
2101847360
Marketing
=====
2305551028P3
Internal
=====
2305551028
Internal
=====
2305507288
Internal
=====
2305545288
Internal
=====
2305559288
Internal
=====
2305584288
Internal
=====
2105028180P2
Internal
=====
1N01402250P24
Internal
=====
2LM0801029P2
Marketing
=====
PT25T41
Internal
=====
2104228230P2
Internal
=====
2104251230P2
Internal
=====
2T01402249P12
Internal
=====
2304097159
Marketing
=====
2T00805043P2
Launching
=====
2T00805043P2
Launching tahap 2
=====
2105028180P2
Internal
=====
2T01402249P12
Internal
=====
2T01402249P24
Internal
=====
2304051180P2
Marketing
=====
PL7(2)G26
Internal
=====
PL25(2)G26
Internal
=====
PL27(2)G26
Internal
=====
2304558112P2
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304051180P4
Internal
=====
PL6(2)L28L31
Internal
=====
2304558112P4
Internal
=====
(E)2101907250P4
Marketing
=====
(E)2101845360
Marketing
=====
2101478180
Internal
=====
2101452195
Internal
=====
2101452190
Internal
=====
2101466148
Internal
=====
2101485195
Internal
=====
2101485180
Internal
=====
2101524180
Internal
=====
2101551195
Internal
=====
2101551190
Internal
=====
2101551180
Internal
=====
2101500180
Internal
=====
2101500190
Internal
=====
2101000195
Internal
=====
2101150180P2
Internal
=====
2101151180P2
Internal
=====
2101000195P2
Internal
=====
2T02703229P2
Internal
=====
1N00838454
Launching
=====
2101500195
Internal
=====
2101578180
Internal
=====
2101452180
Internal
=====
2304558112P4
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304558112P2
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2101459180
Internal
=====
2101479180
Internal
=====
2101401180
Internal
=====
2101444180
Internal
=====
2101428180
Internal
=====
2101428180P2
Internal
=====
2101401180P2
Internal
=====
PL25(2)G26
Internal
=====
PL27(2)G26
Internal
=====
PL7(2)G26
Internal
=====
2HC0112021P2
Launching
=====
2HG0103050P2
Launching
=====
2101584180
Internal
=====
2101478180P2
Internal
=====
2101452195P2
Internal
=====
2101452180P2
Internal
=====
2101452190P2
Internal
=====
2101466148P2
Internal
=====
2101485195P2
Internal
=====
2101485180P2
Internal
=====
2101524180P2
Internal
=====
2101551195P2
Internal
=====
2101551180P2
Internal
=====
2101551190P2
Internal
=====
2101500180P2
Internal
=====
2101500190P2
Internal
=====
2101500195P2
Internal
=====
2101578180P2
Internal
=====
2101584180P2
Internal
=====
2HC0112021
Launching tahap 2
=====
2HC0112021P2
Launching tahap 2
=====
2104406
Marketing
=====
(E)1101693318
Internal
=====
2101845360
Marketing
=====
2101888360
Marketing
=====
2101847360
Marketing
=====
2101819360
Marketing
=====
1101685360
Marketing
=====
1101656360
Marketing
=====
2101710110
Marketing
=====
2101710110P2
Marketing
=====
2304558112
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2T00805043P2
Internal
=====
2306551173P2
Marketing
=====
2306551173
Marketing
=====
2304051180
Internal
=====
2304034180
Internal
=====
2304008180
Internal
=====
2304051180P2
Internal
=====
2304034180P2
Internal
=====
2304008180P2
Internal
=====
2LD0905181
Internal
=====
2LD0905181P2
Internal
=====
2304051180P4
Internal
=====
(E)2309005305P20
Marketing
=====
2T01813126
Internal
=====
2T00805043P2
Internal
=====
2T01814125P2
Launching
=====
1N01402250P24
Internal
=====
2T00806053P2
Launching
=====
2T00806053P2
Launching
=====
2T00806053P2
Launching
=====
2T01705024P2
Launching
=====
2HH0816450P2
Launching
=====
2101454302P3
Marketing
=====
2101484302P3
Marketing
=====
2HF0111003P3
Marketing
=====
2HG0103050P2
Launching tahap 2
=====
(E)2101845360
Marketing
=====
2T01403249P24
Launching
=====
2T01403249P4
Launching
=====
2T00806053P2
Launching tahap 2
=====
2T01705024P2
Launching tahap 2
=====
2T01814125P2
Launching tahap 2
=====
2T01814125
Launching tahap 2
=====
2T01403249P24
Launching tahap 2
=====
2T01403249P4
Launching tahap 2
=====
(E)2106317152P2
Marketing
=====
(E)2106317152
Marketing
=====
2103300316
Marketing
=====
PT79T81
Internal
=====
2305551028P3
Internal
=====
(E)2101469180
Marketing
=====
(E)2101487148
Marketing
=====
(E)2101466148
Marketing
=====
2101454302P3
Marketing
=====
2101484302P3
Internal
=====
2HF0111003P3
Marketing
=====
2106386249P24
Internal
=====
2106386249P12
Internal
=====
2T01402249P24
Internal
=====
2T01402249P12
Internal
=====
2T01403249P12
Internal
=====
2T01403249P24
Internal
=====
2T00805043P2
Internal
=====
2T00805043P2
Internal
=====
2101000195
Internal
=====
2101000195P2
Internal
=====
2102900130P2
Internal
=====
2102500130P2
Internal
=====
2LG0906288
Launching
=====
2LG0906288
Launching
=====
PH107(2)G331
Marketing
=====
PT79T81
Internal
=====
(E)2305551288P2
Internal
=====
(E)2305551288P3
Internal
=====
1N00804229
Launching
=====
2T00804164P2
Launching
=====
2T01705024P2
Internal
=====
2HC0112021P2
Internal
=====
2HC0113021P2
Launching
=====
2HF0113021
Marketing
=====
2HF0112021
Marketing
=====
2101609180
Marketing
=====
2104241210
Marketing
=====
2104153110
Marketing
=====
LN00000002
Marketing
=====
2LG0906288
Launching tahap 2
=====
2104115110P2
Marketing
=====
2T01813126
Internal
=====
2LD0905181
Internal
=====
2LD0905181P2
Internal
=====
PL32L33
Internal
=====
PL6(2)L32
Marketing
=====
(E)2104406P2
Marketing
=====
(E)2104406
Marketing
=====
PH106H109(2)G334
Launching
=====
PH64H109(2)G334
Launching
=====
2305551028P3
Internal
=====
(E)2101524180P2
Marketing
=====
(E)2305551288
Internal
=====
(E)2HF0112021
Marketing
=====
2101454302P3
Marketing
=====
2101484302P3
Marketing
=====
2HF0111003P3
Marketing
=====
2304051180
Internal
=====
2304051180P2
Internal
=====
2304051180P4
Internal
=====
2304008180
Internal
=====
2304008180P2
Internal
=====
2304558112
Internal
=====
2304515112
Internal
=====
2304576112
Internal
=====
2304558112P2
Internal
=====
2304515112C2
Internal
=====
2304576112P2
Internal
=====
2304558112P4
Internal
=====
2T01402249P4
Internal
=====
2106386249P4
Internal
=====
2T01403249P4
Internal
=====
2LC0903181P2
Launching
=====
2LH1204172P2
Launching
=====
2T01813126
Internal
=====
2101700037
Internal
=====
2T02603203P2
Launching
=====
2HH1409249P4
Launching
=====
2HH1409249P24
Launching
=====
(E)2101469180
Marketing
=====
(E)2101487148
Marketing
=====
(E)2101466148
Marketing
=====
(E)2LD0905181
Internal
=====
(E)2LD0905181P2
Internal
=====
PB121H107
Launching
=====
PH107B23
Launching
=====
2HC0112021P2
Internal
=====
2HC0113021P2
Launching
=====
2HC0113021
Launching tahap 2
=====
2HG0103050
Launching
=====
2HH0817441P2
Launching
=====
(E)2106317152P2
Marketing
=====
2103300316
Marketing
=====
2T02603203P2
Launching tahap 2
=====
(E)2HF0112021
Marketing
=====
(E)2101864443
Marketing
=====
2LC0903181
Launching tahap 2
=====
2LH1204172
Launching tahap 2
=====
2HH1409249P4
Launching tahap 2
=====
2HH1409249P24
Launching tahap 2
=====
2104405
Marketing
=====
2104405P2
Marketing
=====
2106023014P3
Marketing
=====
(E)2LD0905181
Marketing
=====
2HH0817441
Launching tahap 2
=====
2305507288
Internal
=====
2305545288
Internal
=====
2101684195
Launching
=====
2305551028P3
Internal
=====
2T01812126
Marketing
=====
2T00805043
Marketing
=====
2HH1409249P4
Marketing
=====
2HH1409249P24
Marketing
=====
2HH1409249P24
Launching tahap 2
=====
2HH1409249P4
Launching tahap 2
=====
2T00806053
Marketing
=====
2T01705024
Marketing
=====
2104148024
Marketing
=====
2HC0112021
Marketing
=====
2106023014P1
Marketing
=====
2HC0113021
Marketing
=====
2105028180
Marketing
=====
2T03201001
Marketing
=====
2101609180
Marketing
=====
2104241210
Marketing
=====
2104394210
Marketing
=====
2102300105
Marketing
=====
1N01402250P24
Marketing
=====
1101182250P24
Marketing
=====
1N00838454
Marketing
=====
2LH1204172
Marketing
=====
1N03301456
Marketing
=====
2LH1204172
Launching tahap 2
=====
1N00804229
Marketing
=====
2LC0903181
Marketing
=====
1101656318
Marketing
=====
2304515112
Marketing
=====
2304008180
Marketing
=====
1101677318
Marketing
=====
2LM0801029
Marketing
=====
2T01403249P4
Marketing
=====
2T01403249P24
Marketing
=====
2T02603203
Marketing
=====
1N01402250P4
Marketing
=====
1101182250P4
Marketing
=====
2HG0103050
Marketing
=====
2304008180
Marketing
=====
2304051180
Marketing
=====
PL32L33
Marketing
=====
PL30L32
Marketing
=====
PL32L35
Marketing
=====
PL6L32
Marketing
=====
PL7L32
Marketing
=====
2101684195
Launching tahap 2
=====
2T01402249P4
Marketing
=====
2T01402249P24
Marketing
=====
2T01403249P4
Marketing
=====
2T01403249P24
Marketing
=====
2106386249P4
Marketing
=====
2106386249P24
Marketing
=====
2HF0113021
Marketing
=====
2HF0113021P2
Marketing
=====
2HF0112021
Marketing
=====
2HF0112021P2
Marketing
=====
2HF0114021P2
Marketing
=====
2101699155P2
Marketing
=====
2T00806053P2
Marketing
=====
2T01813126P2
Marketing
=====
2T00806053P2
Marketing
=====
2T00806053P2
Marketing
=====
2T03201001P2
Marketing
=====
2T00803164P2
Marketing
=====
2T00804164P2
Marketing
=====
2104405
Marketing
=====
2LM0801029
Marketing
=====
PL6L32
Marketing
=====
PL32L33
Launching
=====
PL7L32
Marketing
=====
PL32L35
Marketing
=====
PL30L32
Marketing
=====
2T02604203P2
Launching
=====
2306551173
Marketing
=====
2LH1204172
Marketing
=====
PT79T86(4)
Launching
=====
2HF0114021
Marketing
=====
2HF0114021P2
Marketing
=====
2T01813126P2
Marketing
=====
2T01813126
Marketing
=====
LN00000002
Marketing
=====
2T01404249P4
Launching
=====
2T00803164P2
Marketing
=====
2T00804164P2
Marketing
=====
2T03201001P2
Marketing
=====
2LC0903181
Marketing
=====
2LG0908060
Marketing
=====
2T03201001P2
Marketing
=====
2T01813126
Marketing
=====
2T00805043
Marketing
=====
2T00805043P2
Marketing
=====
2HF0112021
Marketing
=====
2HF0113021
Marketing
=====
2HF0114021
Marketing
=====
2T00805043P2
Marketing
=====
2T00804024P2
Launching
=====
2101452195
Marketing
=====
2101485195
Marketing
=====
2101651195
Marketing
=====
2101684195
Marketing
=====
2101453195
Marketing
=====
2101486195
Marketing
=====
2101500195
Marketing
=====
2101551195
Marketing
=====
2HC0113021
Marketing
=====
2T00806053P2
Internal
=====
2HC0112021
Marketing
=====
2HH1409249P4
Marketing
=====
2101751112
Marketing
=====
2101700166
Marketing
=====
2HG0103050
Marketing
=====
2LC0903181
Marketing
=====
2HH0817441
Marketing
=====
2HC0112021P2
Marketing
=====
2HC0113021P2
Marketing
=====
2101700166P2
Marketing
=====
2HH1409249P24
Marketing
=====
2T02604203P2
Launching tahap 2
=====
2304097159
Marketing
=====
2T01404249P4
Launching tahap 2
=====
2T01404249P24
Launching tahap 2
=====
1N03302456
Launching
=====
2T02604203
Launching tahap 2
=====
PT79T85
Launching tahap 2
=====
2304051288
Launching
=====
PN125N150
Launching
=====
1102560453
Launching
=====
1N01402250P4
Launching
=====
1N01402250P24
Launching
=====
PT79G342
Internal
=====
PT79G343
Internal
=====
2T01705024P2
Marketing
=====
2T01705024P2
Marketing
=====
2304051288P2
Launching
=====
2304051288
Launching tahap 2
=====
1N00840454
Launching
=====
1N00840454
Launching
=====
1N00840454
Launching
=====
2HF0115003P2
Launching
=====
1101677104
Launching
=====
2T01705024
Marketing
=====
2104115110
Marketing
=====
2104115110P2
Marketing
=====
2T00803164
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
2104148024
Marketing
=====
2104148024P2
Marketing
=====
2104119110
Marketing
=====
2104119110P2
Marketing
=====
2T00804024
Launching tahap 2
=====
2T02604203
Internal
=====
2T00805043P2
Internal
=====
2HC0113021P2
Marketing
=====
2HC0112021P2
Marketing
=====
2306551173
Internal
=====
2LH1204172
Internal
=====
1NC1710075
Launching
=====
1NC1711075
Launching
=====
2LC0903181
Marketing
=====
2LC0903181P2
Marketing
=====
2104119110
Marketing
=====
2104119110P2
Marketing
=====
2305507288
Marketing
=====
2305559288
Marketing
=====
2106395308
Marketing
=====
2106395308P2
Marketing
=====
2106395308P3
Marketing
=====
2102300105
Marketing
=====
2304008180
Marketing
=====
2304008180P2
Marketing
=====
2106023014
Marketing
=====
2106023014P2
Marketing
=====
2106023014P3
Marketing
=====
2T02604203P2
Internal
=====
2T02604203
Internal
=====
1N00804229P2
Marketing
=====
2103300316
Marketing
=====
2HF0115003
Launching tahap 2
=====
2304576112
Marketing
=====
2304576112P2
Marketing
=====
2304515112C2
Marketing
=====
2LM0801029
Marketing
=====
2LM0801029P2
Marketing
=====
PL32L33
Marketing
=====
2305551028
Marketing
=====
(J)71110157
Launching
=====
(J)71110158
Launching
=====
1N00841454
Launching
=====
2LH1204172
Marketing
=====
2T02604203
Internal
=====
2T02604203P2
Internal
=====
2304008180
Marketing
=====
2304008180P2
Marketing
=====
2304576112
Marketing
=====
2304576112P2
Marketing
=====
2T01705024P2
Marketing
=====
2104115110
Marketing
=====
2104115110P2
Marketing
=====
2T00803164
Marketing
=====
2T00803164P2
Marketing
=====
2T00803164P3
Marketing
=====
2104148024
Marketing
=====
2104148024P2
Marketing
=====
2104119110
Marketing
=====
2104119110P2
Marketing
=====
2105055180
Marketing
=====
2105055180P2
Marketing
=====
2HF0113021
Marketing
=====
2LH1204172
Marketing
=====
2T00806053
Internal
=====
2305507288
Marketing
=====
2305559288
Marketing
=====
2LG0908060
Marketing
=====
2304051180
Marketing
=====
2304051288
Marketing
=====

In [24]:
## run 6.11 ### jan 23 timo
selcen_sku = temp2.copy()

In [25]:
## run 6.2 ### jan 23 timo
j_conv = pd.read_excel("Settlement Project\Rumus Realisasi.xlsx", sheet_name = 'Paket Brand')
j_conv = j_conv.iloc[:,:5]
j_conv = j_conv.rename(columns = {'SKU' : 'Real SKU', 'SKU.1' : 'SKU Produk'})
j_conv = j_conv[j_conv['Real SKU'].notnull()]
j_conv['SKU Produk'] = j_conv['SKU Produk'].astype(str).str.replace('.0', '',regex = False)

temp_all = selcen_sku.copy()

temp_all['Real SKU'] = temp_all['Real SKU'].astype(str)
j_conv['Real SKU'] = j_conv['Real SKU'].astype(str)

temp_all = temp_all.merge(j_conv, how = 'left', on = 'Real SKU')

paket_j = temp_all[temp_all['SKU Produk'].notnull()]

paket_j['Bundle Name'] = paket_j['Product Name']
paket_j['Product Name'] = paket_j['Name']
paket_j['SKU'] = paket_j['SKU Produk']
paket_j['Qty. Invoiced'] = paket_j['Qty. Invoiced'] * paket_j['Konversi ke UOM'].astype(float)
paket_j['Bundle Flag'] = np.nan

data_SKU['Real SKU'] = data_SKU['SKU'].astype(str)
data_SKU['Real Nama Produk'] = data_SKU['Nama Produk'].astype(str)
if 'Real SKU_y' in paket_j.columns:
    paket_j = paket_j.drop('Real SKU_y', axis = 1)
paket_j['SKU'] = paket_j['SKU'].astype(str)
paket_j[['Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU', 'Price List NFI']] = paket_j.merge(data_SKU[['Real SKU', 'Nama Produk', 'Brand', 'Sub Brand', 'Parent Item', 'Parent SKU', 'Price List NFI']].drop_duplicates(['Real SKU']), how = 'left', left_on = 'SKU', right_on = 'Real SKU').set_index(paket_j.index)[['Real SKU_y', 'Nama Produk', 'Brand_y', 'Sub Brand_y', 'Parent Item_y', 'Parent SKU_y', 'Price List NFI_y']]

paket_j['Total Net'] = paket_j['Price List NFI'] * paket_j['Qty. Invoiced']

# for i in ['Biaya Pengiriman', 'Total Terbayar', 'Harga Produk']:
#     paket_j[i] = paket_j[i] * paket_j['Total Net']/paket_j.groupby(['ID Transaksi', 'Bundle Name'])['Total Net'].transform('sum')

paket_j = paket_j.drop(['Nama Paket', 'SKU Produk', 'Name', 'Konversi ke UOM'], axis = 1)
selcen_sku = selcen_sku.append(paket_j, ignore_index = True, sort = False)
indeks = selcen_sku[selcen_sku['Product Name'].isin(paket_j['Bundle Name'])].index.to_list()
selcen_sku['Brand'][indeks] = 'Bundle'

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
## run for check, jika ingin di unbundling isi rumus realisasi xlsx sheet paket brand
selcen_sku[(selcen_sku['Real SKU'].str.contains('J'))&~(selcen_sku['Real SKU'].isin(j_conv['Real SKU'].unique()))][['Real SKU','Real Nama Produk']].drop_duplicates()

          Real SKU       Real Nama Produk
29058  (J)71110138  Box Packing NutriMart

In [27]:
## run -7
# for_wms = temp2.copy() ## komen timo jan 23
for_wms = selcen_sku.copy()

In [28]:
## run -8
import pandas as pd
import numpy as np
import pypyodbc

conn = pypyodbc.connect('Driver={SQL Server};'
                        'Server=NFI-DB-01;'
                        'Database=gudang;'
                        # 'UID=andra.miftah;'
                        # 'PWD=24nutrifoodindonesia21;'
                        'Trusted_Connection=yes;'
                )

cursor = conn.cursor()
wms_telkom = pd.read_sql(r"""SELECT t1.id, t1.order_id,t1.status, t1.quantity, t1.product_id, t2.id,  t2.order_number, t2.invoice_number, t2.channel, t2.order_date, t3.id, t3.sku, t3.name
  FROM [gudang].[dbo].[outbound_items] as t1
  left join orders as t2
  on t1.order_id = t2.id
  left join products as t3
  on t1.product_id = t3.id
  where t2.channel = 'TikTok Commerce'""", conn)

print('pull from wms done')

wms_telkom_ori=wms_telkom.copy()

pull from wms done

In [ ]:
### run -8 alternative
wms_telkom=pd.read_excel("D:\Downloads\Data Gudang 20221122 (1).xlsx")
wms_telkom=wms_telkom[wms_telkom['channel']=='TikTok Commerce']
wms_telkom_ori=wms_telkom.copy()

In [20]:
## for backup
wms_telkom=wms_telkom_ori.copy()

In [ ]:
wms_telkom

In [29]:
## run -9

# timo 19 aug
dfpackid=tiktok[tiktok['Package ID'].notnull()][['Order #','Package ID']].drop_duplicates().rename(columns={'Package ID':'invoice_number'})

for i in wms_telkom['invoice_number'].unique():
    # print(i)
    ordid=dfpackid[dfpackid['invoice_number']==i]['Order #'].unique()
    if len(ordid)!=0:
        wms_telkom.loc[wms_telkom['invoice_number']==i,'real order id']=ordid[0]
if 'real order id' not in wms_telkom.columns:
    wms_telkom['real order id']=np.nan
wms_telkom.loc[wms_telkom['real order id'].isnull(),'real order id']=wms_telkom['invoice_number']
print('done masking')

# wms_telkom = wms_telkom[wms_telkom['channel'] == 'TikTok Commerce']

# outbound_items = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/outbound_items.csv', sep = ';')
# orders = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/orders.csv', sep = ';')
# products = pd.read_csv(r'Backup Gudang 4 Sept 2021 Gudang Baru/products.csv', sep = ';')

# wms_telkom2 = outbound_items[['id', 'order_id','status', 'quantity', 'product_id']].merge(
#     orders[['id',  'order_number', 'invoice_number', 'channel', 'order_date']], how = 'left', left_on = 'order_id', right_on = 'id'
# ).merge(
#     products[['id', 'sku', 'name']], how = 'left', left_on = 'product_id', right_on = 'id'
# )
# wms_telkom2 = wms_telkom2[wms_telkom2['channel'].isin(['TikTok Commerce'])]


#timo nov 2022
if "STATUS" in wms_telkom.columns:
    wms_telkom=wms_telkom.rename(columns = {'STATUS' :'status'})
# wms_telkom = wms_telkom[['invoice_number', 'sku', 'status', 'quantity']] ### komen 19 aug
wms_telkom = wms_telkom[['real order id', 'sku', 'status', 'quantity']] ### timo 19 aug

# wms_telkom2 = wms_telkom2[['invoice_number', 'sku', 'status', 'quantity']].drop_duplicates()
# wms_telkom = wms_telkom.append(wms_telkom2, ignore_index = True, sort = False)

# wms_telkom = wms_telkom.groupby(['invoice_number', 'sku', 'status'])['quantity'].sum().reset_index()

wms_telkom['WH'] = 'Telkom'
# wms_telkom = wms_telkom.rename(columns = {'invoice_number' : 'Order #', 'status':'SO STATUS', 'sku' : 'SKU WH', 'quantity' : 'Warehouse Quantity'})  ### komen 19aug
wms_telkom = wms_telkom.rename(columns = {'real order id' : 'Order #', 'status':'SO STATUS', 'sku' : 'SKU WH', 'quantity' : 'Warehouse Quantity'})    ### new timo 19 aug

for_wms['Order #'] = for_wms['Order #'].astype(str)
wms_telkom['Order #'] = wms_telkom['Order #'].astype(str)

temp_telkom = for_wms[for_wms['Order #'].isin(wms_telkom['Order #'])]

# temp_telkom = temp_telkom.drop(['WH', 'Order #', 'SO STATUS', 'SKU WH', 'Warehouse Quantity'], axis = 1)
temp_telkom['Order #'] = temp_telkom['Order #'].astype(str)
wms_telkom['Order #'] = wms_telkom['Order #'].astype(str)

temp_telkom['Real SKU'] = temp_telkom['Real SKU'].astype(str).str.replace('.0', '', regex = False)
wms_telkom['SKU WH'] = wms_telkom['SKU WH'].astype(str)

cek=temp_telkom.copy()
temp_telkom = temp_telkom.merge(wms_telkom.drop_duplicates(['Order #', 'SKU WH']), how = 'left', left_on = ['Order #', 'Real SKU'], right_on = ['Order #', 'SKU WH'])

# temp_telkom['Warehouse Quantity'] = temp_telkom['Warehouse Quantity'] * temp_telkom['Qty. Invoiced']/temp_telkom.groupby(['Order #', 'Real Nama Produk'])['Qty. Invoiced'].transform('sum')

temp_telkom_bundle = temp_telkom[temp_telkom['Brand'] == 'Bundle']

temp_buat_bundle = temp_telkom[temp_telkom['Warehouse Quantity'].notnull()].groupby(['Order #', 'Bundle Name']).agg({'WH' : 'first', 'SO STATUS' : 'first', 'Warehouse Quantity' : 'max', 'Qty. Invoiced' : 'max'}).reset_index()
temp_buat_bundle['Warehouse Quantity'] = temp_buat_bundle['Warehouse Quantity']/temp_buat_bundle['Qty. Invoiced']
temp_buat_bundle = temp_buat_bundle.drop('Qty. Invoiced', axis = 1)

temp_telkom_bundle = temp_telkom_bundle.merge(temp_buat_bundle.drop_duplicates(['Order #', 'Bundle Name']), how = 'left', left_on = ['Order #', 'Product Name'], right_on = ['Order #', 'Bundle Name']).set_index(temp_telkom_bundle.index)
temp_telkom_bundle['Warehouse Quantity_y'] = temp_telkom_bundle['Warehouse Quantity_y']*temp_telkom_bundle['Qty. Invoiced']

temp_telkom['SO STATUS'][temp_telkom_bundle.index] = temp_telkom_bundle['SO STATUS_y']
temp_telkom['WH'][temp_telkom_bundle.index] = temp_telkom_bundle['WH_y']
temp_telkom['Warehouse Quantity'][temp_telkom_bundle.index] = temp_telkom_bundle['Warehouse Quantity_y']

for_wms = for_wms[~for_wms['Order #'].isin(wms_telkom['Order #'])]
for_wms = for_wms.append(temp_telkom, ignore_index = True, sort = False)

done masking

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
## just for display
pd.options.display.max_columns = 150

In [20]:
for_wms
temp_telkom

Empty DataFrame
Columns: [Order Status, SKU, Product Name, Qty. Invoiced, Order date, Paid Date, AWB, Shipping Courier, Region Group, Package ID, Sales Order ID, true datetime, Pemilik Budget, Real SKU, Real Nama Produk, Brand, Sub Brand, Produk 1, SKU Produk 1, PCS Produk 1, Price List NFI 1, Subtotal Produk 1, Harga Display 1, Harga Cost 1, Harga Organik 1, Produk 2, SKU Produk 2, PCS Produk 2, Price List NFI 2, Subtotal Produk 2, Harga Display 2, Harga Cost 2, Harga Organik 2, Produk 3, SKU Produk 3, PCS Produk 3, Price List NFI 3, Subtotal Produk 3, Harga Display 3, Harga Cost 3, Harga Organik 3, Produk 4, SKU Produk 4, PCS Produk 4, Price List NFI 4, Subtotal Produk 4, Harga Display 4, Harga Cost 4, Harga Organik 4, Produk 5, SKU Produk 5, PCS Produk 5, Price List NFI 5, Subtotal Produk 5, Harga Display 5, Harga Cost 5, Harga Organik 5, Produk 6, SKU Produk 6, PCS Produk 6, Price List NFI 6, Subtotal Produk 6, Harga Display 6, Harga Cost 6, Harga Organik 6, Produk 7, SKU Produk 7, PCS Produk 7, Price List NFI 7, Subtotal Produk 7, Harga Display 7, Harga Cost 7, Harga Organik 7, Bundle Name, Price List NFI, Total Net, Bundle Flag, Parent Item, Parent SKU, Harga Cost, Total Harga Cost, Order #, SKU WH, SO STATUS, Warehouse Quantity, WH]
Index: []

In [ ]:
# for_wms.to_csv(r'D:\Backup\Backup 26 Mei\Settlement Project Backup/Tiktok Qty.csv', index = False, sep = ';')

In [ ]:
# for_wms[
#     (for_wms['Order #'].isin(wms_telkom[wms_telkom['SO STATUS'] != 'cancelled']['Order #'])) &
#     (for_wms['Warehouse Quantity'].isnull())
# ].groupby(['Real SKU', 'Product Name'])['Order #'].first().reset_index()

In [ ]:
# display(for_wms[for_wms['Order #']=='576597372653373571'])
# wms_telkom[wms_telkom['Order #']=='576597372653373571']

In [ ]:
### old template

import pandas as pd
import numpy as np
import os

set_tiktok = pd.DataFrame()

cols = pd.read_excel(r'Settlement Project/Manual/Tiktok/Settlement/Tiktok.xlsx').columns.to_list()

for i in os.listdir(r'Settlement Project/Manual/Tiktok/Settlement/'):
    if r'$' not in i:
        temp = pd.read_excel(r'Settlement Project/Manual/Tiktok/Settlement/' + str(i))
        temp['ID'] = temp['ID'].astype(str).str.replace('\t', '', regex = False)
        temp['Source'] = i
        print(i)
        if '2022' in i:
            cols = cols[:4] + ['Total Earnings From Order'] + cols[4:5] + ['Product Price', 'Customer Shipping Fee', ] + cols[5:6] + ['Total Fees'] + cols[6:7] + ['Customer Order Refund', 'Platform Discount Refund'] + cols[7:9] + ['Actual Shipping Fee', 'Platform Shipping Fee Discount'] + cols[9:-1] + ['Related Order ID']  
            cols = cols  + ['Source']
            temp.columns = cols ###komen31 may
            print(cols)
            
            
        true_col = ['no', 'ID', 'Type', 'Time', 'Total Earnings From Order', 'User Pay', 'Product Price', 'Customer Shipping Fee', 'Platform Promotion', 'Total Fees', 'Refund', 'Customer Order Refund', 'Platform Discount Refund', 'Payment Fee', 'Shipping Fee', 'Actual Shipping Fee', 'Platform Shipping Fee Discount', 'Affiliate Commission', 'Shipping Fee Adjustment', 'Shipping Fee Rebate(IDR)', 'Charge Back', 'Customer Service Compensation', 'Promotion Adjustment', 'Other Adjustment', 'Settlement Amount', 'Related Order ID', 'Source']
        set_tiktok = set_tiktok.append(temp, ignore_index = True, sort = False)
        if temp.columns.to_list() == true_col:
            print('Column Sama')
        else :
            print('Column Beda')
            print([x for x in true_col if x not in temp.columns.to_list()])
            print([x for x in temp.columns.to_list() if x not in true_col])

In [30]:
### run -10
### new template

import pandas as pd
import numpy as np
import os

set_tiktok = pd.DataFrame()
cols = pd.read_excel(r'Settlement Project/Manual/Tiktok/Settlement/Tiktok.xlsx').columns.to_list()
dropcol=pd.read_excel(r"Settlement Project\Manual\Tiktok\Settlement\New folder\ren_col_juni22.xlsx",sheet_name='Sheet1')
rencol=pd.read_excel(r"Settlement Project\Manual\Tiktok\Settlement\New folder\ren_col_juni22.xlsx",sheet_name='Sheet2')
dropcol2=pd.read_excel(r"Settlement Project\Manual\Tiktok\Settlement\New folder\ren_col_juni22.xlsx",sheet_name='Sheet4')
rencol2=pd.read_excel(r"Settlement Project\Manual\Tiktok\Settlement\New folder\ren_col_juni22.xlsx",sheet_name='Sheet3')

cols = pd.read_excel(r'Settlement Project/Manual/Tiktok/Settlement/Tiktok.xlsx').columns.to_list()


for file in os.listdir(r'Settlement Project/Manual/Tiktok/Settlement/'):
# for file in ['income_20240624034913.xlsx']:
    listsheet=[]
    if '.xlsx' in file:
        print(file)
        temp = pd.read_excel(r'Settlement Project/Manual/Tiktok/Settlement/' + str(file),sheet_name=None)
        for name,sheet in temp.items():
            if 'Settlements' in name:
                listsheet.append(name)
        if len(listsheet)>1:
            for i in listsheet:
                print(i)
                temp=pd.read_excel(r'Settlement Project/Manual/Tiktok/Settlement/' + str(file),sheet_name=i)
                if 'before 2022.6.6' in i:
                    if len(temp)>0:
                        if 'Sample shipping fees' in temp.columns:
                            temp=temp.rename(columns={'Sample shipping fees':'Sample shipping fee'})
                        temp=temp.drop(columns=dropcol['drop'].unique()).rename(columns=dict(rencol.values))
                        temp['ID'] = temp['ID'].astype(str).str.replace('\t', '', regex = False)
                        temp['Source'] = file
                        temp=temp[[x for x in temp.columns.to_list() if 'Unnamed' not in x]]
                        # print(i)
                        if '2022' in i:
                            cols = cols[:4] + ['Total Earnings From Order'] + cols[4:5] + ['Product Price', 'Customer Shipping Fee', ] + cols[5:6] + ['Total Fees'] + cols[6:7] + ['Customer Order Refund', 'Platform Discount Refund'] + cols[7:9] + ['Actual Shipping Fee', 'Platform Shipping Fee Discount'] + cols[9:-1] + ['Related Order ID']  
                            cols = cols  + ['Source']
                            temp.columns = cols 
                    else:
                        print('kosong')
                else:
                    if 'Sample shipping fees' in temp.columns:
                        temp=temp.rename(columns={'Sample shipping fees':'Sample shipping fee'})
                    if 'Refund of seller discounts' in temp.columns:
                        temp=temp.rename(columns={'Refund of seller discounts':'Refund seller discounts'})
                    if 'Shipping fee rebate' in temp.columns:
                        temp=temp.rename(columns={'Shipping fee rebate':'Shipping Fee Rebate'})
                    temp=temp.drop(columns=dropcol2['drop'].unique()).rename(columns=dict(rencol2.values))
                    temp['ID'] = temp['ID'].astype(str).str.replace('\t', '', regex = False)
                    temp['Source'] = file
                    temp=temp[[x for x in temp.columns.to_list() if 'Unnamed' not in x]]
                if 'Order/adjustment ID' in temp.columns:
                    temp=temp.rename(columns={'Order/adjustment ID':'ID'})
                if 'ID' in set_tiktok.columns:
                    temp=temp[~temp['ID'].isin(set_tiktok['ID'].unique())]
                set_tiktok = set_tiktok.append(temp, ignore_index = True, sort = False)
            listsheet=[]        
        else:    
            temp = pd.read_excel(r'Settlement Project/Manual/Tiktok/Settlement/' + str(file))
            if len(listsheet)>0 and listsheet[0]=='Settlements after 2022.6.6':
                print('2023')
                temp=pd.read_excel(r'Settlement Project/Manual/Tiktok/Settlement/' + str(file),sheet_name=listsheet[0])
                dropcol3=dropcol2[dropcol2['drop'].isin(temp.columns)]
                temp=temp.drop(columns=dropcol3['drop'].unique()).rename(columns=dict(rencol2.values))
            if 'income' in file:
                print('format Mar 2024')
                if 'Order/adjustment ID  ' in temp.columns:
                    temp=temp.rename(columns={'Order/adjustment ID  ':'ID'})
                if 'Shipping cost' in temp.columns:
                    temp=temp.rename(columns={'Shipping cost':'Seller shipping fee'})
                if 'Total settlement amount' in temp.columns:
                    temp=temp.rename(columns={'Total settlement amount':'Settlement Amount'})
                if 'Refund subtotal after seller discounts' in temp.columns:
                    temp=temp.rename(columns={'Refund subtotal after seller discounts':'Refund'})
                if 'Payment fee' in temp.columns:
                    temp=temp.rename(columns={'Payment fee':'Payment Fee'})
                if 'Affiliate commission ' in temp.columns:
                    temp=temp.rename(columns={'Affiliate commission ':'Affiliate Commission'})
                temp=temp[['ID','Refund','Settlement Amount','Subtotal after seller discounts','TikTok Shop commission fee','Payment Fee','Affiliate Commission','Seller shipping fee','SFP service fee']]
            temp['ID'] = temp['ID'].astype(str).str.replace('\t', '', regex = False)
            temp['Source'] = file
            if '2022' in file:
                cols = cols[:4] + ['Total Earnings From Order'] + cols[4:5] + ['Product Price', 'Customer Shipping Fee', ] + cols[5:6] + ['Total Fees'] + cols[6:7] + ['Customer Order Refund', 'Platform Discount Refund'] + cols[7:9] + ['Actual Shipping Fee', 'Platform Shipping Fee Discount'] + cols[9:-1] + ['Related Order ID']  
                cols = cols  + ['Source']
                temp.columns = cols 
            if 'ID' in set_tiktok.columns:
                temp=temp[~temp['ID'].isin(set_tiktok['ID'].unique())]
                temp=temp.rename(columns={'Refund(IDR)':'Refund'})
            set_tiktok = set_tiktok.append(temp, ignore_index = True, sort = False)
            print("================")
set_tiktok=set_tiktok[set_tiktok['Type']!='Type']
set_tiktok_raw=set_tiktok.copy()

03. Settlement Tiktok 2024.xlsx
2023
================
06. Settlement Tiktok 2023.xlsx
2023
================
income_20240322030912.xlsx
format Mar 2024
================
income_20240424025632.xlsx
format Mar 2024
================
income_20240527024209.xlsx
format Mar 2024
================
income_20240624034913.xlsx
Settlements before 2022.6.6
kosong
Settlements after 2022.6.6
income_20240724031454.xlsx
format Mar 2024
================
income_20240827033225.xlsx
format Mar 2024
================
Settlement TikTok 2022 - TERUPDATE.xlsx
Settlements before 2022.6.6
Settlements after 2022.6.6
Tiktok.xlsx
================

In [4]:
set_tiktok.to_excel('settlement_tiktok.xlsx',index=False)

In [31]:
## run 10 id sample
idmin=set_tiktok_raw[(set_tiktok_raw['Settlement Amount']<0)&(set_tiktok_raw['Refund']==0)]['ID'].unique()#[['ID','Settlement Amount']]
idmin=set_tiktok_raw[set_tiktok_raw['ID'].isin(idmin)][['ID','Settlement Amount','Subtotal after seller discounts']].groupby(['ID'])[['Settlement Amount']].nunique().reset_index().sort_values('Settlement Amount')
idmin=idmin[idmin['Settlement Amount']<2]['ID'].unique()
# set_tiktok_raw[set_tiktok_raw['ID'].isin(idmin)][['ID','Source','Settlement Amount','Subtotal after seller discounts','TikTok Shop commission fee','Payment Fee','Affiliate Commission','Seller shipping fee','SFP service fee','Refund']]

In [177]:
# set_tiktok

In [175]:
### for backup
set_tiktok=set_tiktok_raw.copy()

In [32]:
### run -11
### harus kosong
display(set_tiktok[set_tiktok.duplicated()])
cek=set_tiktok.groupby('ID')[['Source']].nunique().reset_index()
cek[cek['Source']>1]

Empty DataFrame
Columns: [no, ID, Type, Time, User Pay, Subtotal before discounts, Platform Promotion, Refund(IDR), Refund of seller discounts, Payment Fee, Seller shipping fee, Affiliate commission, Affiliate partner commission, SFP service fee, Shipping fee adjustment, Shipping fee rebate, Chargeback , Customer service compensation, Other adjustments, Sample shipping fees, Deductions incurred by Seller, Promotion adjustment, Logistics reimbursement, Satisfaction compensation, Settlement amount, Related order ID, Source, Refund, Chargeback, Settlement Amount, Subtotal after seller discounts, TikTok Shop commission fee, Affiliate Commission, Time(Timezone=UTC), Currency, Total earnings from order, Customer payment, Subtotal after seller discounts , Customer shipping fee, Platform discount, Total fees, Customer order refund, Platform discount refund, Payment fee, Shipping fee, Actual shipping fee, Platform shipping fee discount, Actual return shipping fee, Settlement amount  , Total Earnings From Order, Product Price, Customer Shipping Fee, Total Fees, Customer Order Refund, Platform Discount Refund, Shipping Fee, Actual Shipping Fee, Platform Shipping Fee Discount, Shipping Fee Adjustment, Shipping Fee Rebate(IDR), Charge Back, Customer Service Compensation, Promotion Adjustment, Other Adjustment, Related Order ID]
Index: []

[0 rows x 65 columns]

Empty DataFrame
Columns: [ID, Source]
Index: []

In [33]:
### run -12
set_tiktok = set_tiktok[set_tiktok['no'] != 'no']
set_tiktok['ID'] = set_tiktok['ID'].astype(str).str.replace('\t', '', regex = False)
# set_tiktok['Shipping Fee'] = pd.to_numeric(set_tiktok['Customer Shipping Fee'], errors = 'coerce').fillna(0) + pd.to_numeric(set_tiktok['SFP service fee'], errors = 'coerce').fillna(0) - pd.to_numeric(set_tiktok['Shipping Fee'], errors = 'coerce').fillna(0)
set_tiktok['Shipping Fee'] = pd.to_numeric(set_tiktok['Seller shipping fee'], errors = 'coerce').fillna(0) + pd.to_numeric(set_tiktok['SFP service fee'], errors = 'coerce').fillna(0)

set_tiktok['Refund'] = pd.to_numeric(set_tiktok['Refund'], errors = 'coerce').fillna(0) ### timo 1 juli 2022
set_tiktok.loc[set_tiktok['TikTok Shop commission fee'].isnull(),'TikTok Shop commission fee']=0


#### timo jan 2023
set_tiktok.loc[set_tiktok['Settlement Amount'].isnull(),'Settlement Amount']=set_tiktok['Settlement amount']
set_tiktok.loc[set_tiktok['Affiliate Commission'].isnull(),'Affiliate Commission']=set_tiktok['Affiliate commission']




# set_tiktok = set_tiktok[['ID', 'Refund', 'Payment Fee', 'Settlement Amount', 'Shipping Fee']]## komen 23 sept
set_tiktok = set_tiktok[['ID', 'Refund', 'Payment Fee', 'Settlement Amount', 'Shipping Fee','Affiliate Commission','TikTok Shop commission fee']]
# set_tiktok['Payment Fee']=abs(set_tiktok['Payment Fee'].astype(int)) ### 20 juli ## komen 23 sept
set_tiktok['Payment Fee']=abs(set_tiktok['Payment Fee'].astype(int)+set_tiktok['Affiliate Commission'].astype(int)+set_tiktok['TikTok Shop commission fee'].astype(int)) ### 23 sept
set_tiktok = set_tiktok.rename(columns = {'Payment Fee' : 'Comfee'}) #### 1 juli 2022 timo

# set_tiktok['Settlement Amount'] = pd.to_numeric(set_tiktok['Settlement Amount'], errors = 'coerce').fillna(0) + pd.to_numeric(set_tiktok['Payment Fee'], errors = 'coerce').fillna(0)

for_wms['Order #'] = for_wms['Order #'].astype(str)
for_wms['Total Net Before PPN'] = for_wms['Total Net']/1.11
# paid_tiktok = for_wms.merge(set_tiktok, how = 'left', left_on = 'Order #', right_on = 'ID')

In [27]:
# set_tiktok[set_tiktok['ID']=='576958610265769648']

In [34]:
## run -13
bundling = for_wms[for_wms['Bundle Name'].notnull()]
real_trx = for_wms[for_wms['Bundle Name'].isnull()]

real_trx['Order #'] = real_trx['Order #'].astype(str)
set_tiktok['ID'] = set_tiktok['ID'].astype(str)

real_trx = real_trx.merge(set_tiktok, how = 'left', left_on = 'Order #', right_on = 'ID')

non_prop = real_trx[real_trx['Brand'].isin(['Bonus Produk', 'Gimmick'])]
real_trx = real_trx[~real_trx['Brand'].isin(['Bonus Produk', 'Gimmick'])]

real_trx['Settlement Amount'] = pd.to_numeric(real_trx['Settlement Amount'], errors = 'coerce')
# real_trx['Payment Fee'] = pd.to_numeric(real_trx['Payment Fee'], errors = 'coerce') #komen 1 juli 22
real_trx['Comfee'] = pd.to_numeric(real_trx['Comfee'], errors = 'coerce') # baru 1 juli

# real_trx['Total Produk'] = real_trx['Settlement Amount'] + real_trx['Payment Fee'].fillna(0) #komen 1 juli 22
real_trx['Total Produk'] = real_trx['Settlement Amount'] + real_trx['Comfee'].fillna(0) - real_trx['Shipping Fee'].fillna(0) # baru 1 juli -> update juni 2023



real_trx['Total Produk Prop'] = real_trx['Total Produk'].fillna(0) * real_trx['Total Net Before PPN']/real_trx.groupby(['Order #'])['Total Net Before PPN'].transform('sum')
# real_trx['Payment Fee Prop'] = real_trx['Payment Fee'].fillna(0) * real_trx['Qty. Invoiced']/real_trx.groupby(['Order #'])['Qty. Invoiced'].transform('sum') #komen 1juli 2022
# real_trx['Comfee Prop'] = real_trx['Comfee'].fillna(0) * real_trx['Qty. Invoiced']/real_trx.groupby(['Order #'])['Qty. Invoiced'].transform('sum') # baru 1 juli 2022 ini nnti benerin hehheh
real_trx['Comfee Prop'] = real_trx['Comfee'].fillna(0) * real_trx['Total Net Before PPN']/real_trx.groupby(['Order #'])['Total Net Before PPN'].transform('sum') ## 2024
real_trx['Shipping Fee Prop'] = real_trx['Shipping Fee'].fillna(0) * real_trx['Total Net Before PPN']/real_trx.groupby(['Order #'])['Total Net Before PPN'].transform('sum')

non_prop['Total Produk Prop'] = 0
# non_prop['Payment Fee Prop'] = 0 # komen 1 juli 2022
non_prop['Comfee Prop'] = 0 #baru 1 juli 2022
non_prop['Shipping Fee Prop'] = 0

real_trx = real_trx.append(non_prop, ignore_index = True, sort = False)

bundling['Order #'] = bundling['Order #'].astype(str)

# bundling = bundling.merge(real_trx[['Order #', 'Product Name', 'Total Produk Prop', 'Payment Fee Prop', 'Shipping Fee Prop']].drop_duplicates(['Order #', 'Product Name']), how = 'left', left_on = ['Order #', 'Bundle Name'], right_on = ['Order #', 'Product Name'])
#bundling = bundling.merge(real_trx[['Order #', 'Product Name', 'Total Produk Prop', 'Comfee Prop', 'Shipping Fee Prop']].drop_duplicates(['Order #', 'Product Name']), how = 'left', left_on = ['Order #', 'Bundle Name'], right_on = ['Order #', 'Product Name']) #komen 2024
bundling = bundling.merge(real_trx[['Order #', 'Product Name','Real SKU', 'Total Produk Prop', 'Comfee Prop', 'Shipping Fee Prop']].drop_duplicates(['Order #', 'Real SKU']), how = 'left', left_on = ['Order #', 'Bundle SKU'], right_on = ['Order #', 'Real SKU']) 


non_prop = bundling[bundling['Brand'].isin(['Bonus Produk', 'Gimmick'])]
bundling = bundling[~bundling['Brand'].isin(['Bonus Produk', 'Gimmick'])]

bundling_copy=bundling.copy()

### komen 2024
# bundling['Total Produk Prop'] = bundling['Total Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
# # bundling['Payment Fee Prop'] = bundling['Payment Fee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
# bundling['Comfee Prop'] = bundling['Comfee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')                                  
# bundling['Shipping Fee Prop'] = bundling['Shipping Fee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')


### ganti 2024
bundling['Total Produk Prop'] = bundling['Total Produk Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle SKU'])['Total Net Before PPN'].transform('sum')
# bundling['Payment Fee Prop'] = bundling['Payment Fee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle Name'])['Total Net Before PPN'].transform('sum')
bundling['Comfee Prop'] = bundling['Comfee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle SKU'])['Total Net Before PPN'].transform('sum')                                  
bundling['Shipping Fee Prop'] = bundling['Shipping Fee Prop'].fillna(0) * bundling['Total Net Before PPN']/bundling.groupby(['Order #', 'Bundle SKU'])['Total Net Before PPN'].transform('sum')
###

non_prop['Total Produk Prop'] = 0
# non_prop['Payment Fee Prop'] = 0
non_prop['Comfee Prop'] = 0                                    
non_prop['Shipping Fee Prop'] = 0

bundling = bundling.append(non_prop, ignore_index = True, sort = False)

# real_trx = real_trx.drop(['SKU_y', 'Real SKU_y', 'SKU_y'], axis = 1) 
# real_trx = real_trx.rename(columns = {'SKU_x' : 'SKU'})

bundling = bundling.drop(['Real SKU_y','Product Name_y'], axis = 1)
bundling = bundling.rename(columns = {'Real SKU_x':'Real SKU','SKU_x' : 'SKU', 'Product Name_x' : 'Product Name'})

total_trx = real_trx.append(bundling, ignore_index = True, sort = False)

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
### run -14
total_trx['Paid'] = np.nan

indeks = total_trx[total_trx['Order #'].isin(set_tiktok['ID'])].index.to_list()
total_trx['Paid'][indeks] = 'Paid'

set_tiktok['Settlement Amount'] = pd.to_numeric(set_tiktok['Settlement Amount'], errors = 'coerce').fillna(0)
# set_tiktok['Payment Fee'] = pd.to_numeric(set_tiktok['Payment Fee'], errors = 'coerce').fillna(0)
set_tiktok['Comfee'] = pd.to_numeric(set_tiktok['Comfee'], errors = 'coerce').fillna(0)

# indeks = total_trx[total_trx['Order #'].isin(set_tiktok[
#     (set_tiktok['Refund'].notnull()) &
#     (set_tiktok['Refund'] != 0) &
#     (set_tiktok['Settlement Amount'] + set_tiktok['Payment Fee'] <= 0)
# ]['ID'])].index.to_list()

indeks = total_trx[total_trx['Order #'].isin(set_tiktok[
    (set_tiktok['Refund'].notnull()) &
    (set_tiktok['Refund'] != 0) &
    (set_tiktok['Settlement Amount'] + set_tiktok['Comfee'] <= 0)
]['ID'])].index.to_list()
total_trx['Paid'][indeks] = 'Refund'

# indeks = total_trx[total_trx['Order #'].isin(set_tiktok[
#     (set_tiktok['Refund'].notnull()) &
#     (set_tiktok['Refund'] != 0) &
#     (set_tiktok['Settlement Amount'] + set_tiktok['Payment Fee'] > 0)
# ]['ID'])].index.to_list()
indeks = total_trx[total_trx['Order #'].isin(set_tiktok[
    (set_tiktok['Refund'].notnull()) &
    (set_tiktok['Refund'] != 0) &
    (set_tiktok['Settlement Amount'] + set_tiktok['Comfee'] > 0)
]['ID'])].index.to_list()
total_trx['Paid'][indeks] = 'Half Paid'

total_trx['Paid'] = total_trx['Paid'].fillna('Unpaid')

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [163]:
total_trx[total_trx['Product Name'].isnull()][['Real Nama Produk','Bundle SKU','Bundle Name']].drop_duplicates()
# total_trx[total_trx['Order #']=='576830780305999217']

,Real Nama Produk,Bundle SKU,Bundle Name
396128,Tropicana Slim Minyak Kanola 946ml,NaN,Green Packing - Tropicana Slim Minyak Kanola 9...
396129,L-Men Hi Protein 2 Go Chocolate,NaN,Green Packing - L-Men Hi Protein 2 Go Chocolat...
396130,Tropicana Slim Oat Drink 190 ml (RTD),NaN,Green Packing - Tropicana Slim Oat Drink 190 m...
396133,HiLo School RTD Coklat 200ml,NaN,Green Packing - HiLo School Chocolate Ready To...
396140,NutriSari RTD Squeezed Orange 200 ml,NaN,Green Packing - 4 pack - NutriSari RTD Squeeze...
396152,HiLo Teen RTD Coklat 200ml,NaN,Green Packing - Hilo Teen Chocolate Ready To D...
396214,Tropicana Slim RTD Oat Drink Melon 190 ml,NaN,Paket isi 4 - Tropicana Slim Plant Based RTD S...

In [157]:
# total_trx[['Product Name']]

In [36]:
### run -15
total_trx['Total Produk Prop Adj'] = total_trx['Total Produk Prop']/1.11
total_trx['BTL Cost'] = (total_trx['Total Produk Prop Adj']) - total_trx['Total Net Before PPN']
# total_trx['Payment Fee Prop'] = total_trx['Payment Fee Prop'] * (-1)
total_trx['Comfee Prop'] = total_trx['Comfee Prop'] * (-1)

In [37]:
### run -16  dari unbundling produk J
# total_trx['Product Name'] = total_trx['Product Name'].fillna(total_trx['Product Name_x'])
total_trx['Product Name'] = total_trx['Product Name'].fillna(total_trx['Real Nama Produk'])

# total_trx = total_trx.drop(['Product Name_x', 'Product Name_y'], axis = 1)

In [38]:
### run 16.5
total_trx.loc[total_trx['Order #'].isin(idmin),'Sample']='Sample'

In [39]:
### run -17

# total_trx_full = total_trx[['Order #', 'Order Status', 'SKU', 'Product Name', 'Qty. Invoiced',
#        'Order date', 'Paid Date', 'AWB', 'Shipping Courier', 'Region Group',
#        'Sales Order ID', 'Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand',
#          'Bundle Name',
#        'Price List NFI', 'Total Net', 'Bundle Flag', 'Parent Item',
#        'Parent SKU', 'Harga Cost', 'Total Harga Cost', 'SKU WH', 'SO STATUS',
#        'Warehouse Quantity', 'WH', 'Total Net Before PPN', 'ID', 'Refund',
#        'Payment Fee', 'Shipping Fee', 'Settlement Amount', 'Total Produk',
#        'Total Produk Prop', 'Payment Fee Prop', 'Shipping Fee Prop', 'Paid',
#        'Total Produk Prop Adj', 'BTL Cost']]
total_trx_full = total_trx[['Order #', 'Order Status', 'SKU', 'Product Name', 'Qty. Invoiced',
       'Order date', 'Paid Date', 'AWB', 'Shipping Courier', 'Region Group',
       'Sales Order ID', 'Real SKU', 'Real Nama Produk', 'Brand', 'Sub Brand',
         'Bundle Name',
       'Price List NFI', 'Total Net', 'Bundle Flag', 'Parent Item',
       'Parent SKU', 'Harga Cost', 'Total Harga Cost', 'SKU WH', 'SO STATUS',
       'Warehouse Quantity', 'WH', 'Total Net Before PPN', 'ID', 'Refund',
       'Comfee', 'Shipping Fee', 'Settlement Amount', 'Total Produk',
       'Total Produk Prop', 'Comfee Prop', 'Shipping Fee Prop', 'Paid',
       'Total Produk Prop Adj', 'BTL Cost','Pemilik Budget','Sample']]

total_trx_full['Year'] = pd.to_datetime(total_trx_full['Order date']).dt.year
total_trx_full['Month'] = pd.to_datetime(total_trx_full['Order date']).dt.month_name()
total_trx_full['Date'] = pd.to_datetime(total_trx_full['Order date']).dt.date
total_trx_full['Date'] = pd.to_datetime(total_trx_full['Order date']).dt.day # timo nov 2022


## tambahan timo Nov 2022
total_trx_full.loc[total_trx_full['Order date'].str.contains('/'),'Year']=pd.to_datetime(total_trx_full[total_trx_full['Order date'].str.contains('/')]['Order date'],format="%d/%m/%Y %H:%M:%S").dt.year
total_trx_full.loc[total_trx_full['Order date'].str.contains('/'),'Month']=pd.to_datetime(total_trx_full[total_trx_full['Order date'].str.contains('/')]['Order date'],format="%d/%m/%Y %H:%M:%S").dt.month_name()
total_trx_full.loc[total_trx_full['Order date'].str.contains('/'),'Date']=pd.to_datetime(total_trx_full[total_trx_full['Order date'].str.contains('/')]['Order date'],format="%d/%m/%Y %H:%M:%S").dt.day
# total_trx_full.loc[total_trx_full['Order date'].str.contains('/'),'Year']='year'
# total_trx_full.loc[total_trx_full['Order date'].str.contains('/'),'Month']='month'
# total_trx_full.loc[total_trx_full['Order date'].str.contains('/'),'Date']='date'

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [40]:
total_trx_full.to_csv(r"D:\6. settlement\Code\Settlement Project\Backup\Realisasi Aug 2024\Final Result\Before Compare\tiktok before compare.csv", sep = ';', index = False)

In [41]:
### run -18

import pandas as pd

prev = pd.read_csv(r"D:\6. settlement\Code\Settlement Project\Backup\Realisasi Jul 2024\Final Result\Raw Unpivoted\CSV\Running TikTok Jul 24.csv",sep=';')
# prev = pd.read_excel(r"D:\6. settlement\Code\Settlement Project\Backup\Realisasi Apr 2024\Final Result\Raw Unpivoted\Excel\Running TikTok Apr 24.xlsx")

prev_month = 'July'
prev = prev.rename(columns = {'Paid' : 'Paid ' + prev_month})
current = total_trx_full.copy()

# current = pd.read_csv("D:\Backup\Backup 26 Mei\Settlement Project Backup\Realisasi Januari 2022\Final Result\Running Nutrimart Jan Jan 2022.csv", sep = ';')

prev['Order #'] = prev['Order #'].astype(str)
prev['Order #']=prev['Order #'].str.extract('(\d+)')### tambahan timo nov 2022
prev['Real SKU'] = prev['Real SKU'].astype(str)
# prev['Bundle Name'] = prev['Bundle Name'].astype(str)
current['Order #'] = current['Order #'].astype(str)
current['Real SKU'] = current['Real SKU'].astype(str)
# current['Bundle Name'] = current['Bundle Name'].astype(str)

merged = current.merge(prev[['Order #','Real SKU', 'Paid ' + prev_month, 'Bundle Name']].drop_duplicates(['Order #', 'Real SKU', 'Bundle Name']), how = 'left', on = ['Order #', 'Real SKU', 'Bundle Name'])

#### merged null ini utk apa ya
merged_null = merged[merged['Paid ' + prev_month].isnull()]
merged_null = merged_null.drop('Paid ' + prev_month, axis = 1)
merged_null = merged_null.merge(prev[prev['AWB'].notnull()][['AWB','Real SKU', 'Paid ' + prev_month, 'Bundle Name']].drop_duplicates(['AWB', 'Real SKU', 'Bundle Name']), how = 'left', on = ['AWB', 'Real SKU', 'Bundle Name']).set_index(merged_null.index)
merged['Paid ' + prev_month][merged_null.index] = merged_null['Paid ' + prev_month]


import numpy as np

merged['Paid Beda'] = np.nan

indeks = merged[merged['Paid'] != merged['Paid ' + prev_month]].index.to_list()
merged['Paid Beda'][indeks] = 'Beda'

merged['Paid Beda'] = merged['Paid Beda'].fillna('Sama')
# merged[merged['Paid Beda'] == 'Beda'][['Order #','Brand','Real SKU','Month', 'Paid_x', 'Paid_y', 'Paid Beda']]
merged[merged['Paid Beda'] == 'Beda'].groupby(['Year', 'Month', 'Paid', 'Paid ' + prev_month], dropna = False)['Order #'].nunique()

C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (15,19,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\timotius.giovandi\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Year  Month   Paid       Paid July
2024  August  Half Paid  NaN              2
              Paid       NaN          19780
              Refund     NaN            187
              Unpaid     NaN           8996
      July    Half Paid  NaN              1
              Paid       Unpaid        3003
                         NaN           7591
              Refund     Unpaid           9
                         NaN             38
              Unpaid     NaN            840
      June    Paid       Unpaid           2
Name: Order #, dtype: int64

In [42]:
# run -19
merged['Order #'] = '="' + merged['Order #'] + '"'
merged['Sales Order ID'] = '="' + merged['Sales Order ID'] + '"'

In [43]:
# run -20
merged = merged.rename(columns = {'Paid' : 'Paid August'})

In [44]:
# run -21
merged.to_csv('Settlement Project\Backup\Realisasi Aug 2024\Final Result\Raw Unpivoted\CSV\Running TikTok Aug 24.csv', sep = ';', index = False)

In [45]:
# run -22
merged.to_excel('Settlement Project\Backup\Realisasi Aug 2024\Final Result\Raw Unpivoted\Excel\Running TikTok Aug 24.xlsx', index = False)

In [ ]:
#### done tiktok yayyy #####

In [ ]:
import requests
order_id = "WA-1646041245"
url = "https://app.yellow.ai/api/data/data/search/0-1?bot=x1631078626373&field=channel_order_id&query=" + order_id + "&collection=transaction_order"


payload = {}
headers = {
    'x-auth-token': 'e08ca85366b275af5788f621183c5bbbc31d4d0318a9fd0ecda068f880440f8b'
}

response = requests.request("GET", url, headers=headers, data=payload)

In [ ]:
response

In [ ]:


if len([x for x in response.json()['data'] if x['channel_order_id'] == order_id]) != 0:
    ref_id = [x for x in response.json()['data'] if x['channel_order_id'] == order_id][0]['_id']
    shipping_phone = [x for x in response.json()['data'] if x['channel_order_id'] == order_id][0]['shipping_phone']
    shipping_phone = re.sub('^0', '62', str(shipping_phone))

In [ ]:
[x for x in response.json()['data'] if x['channel_order_id'] == order_id]

In [ ]:
[x for x in response.json()['data']]

In [ ]:
len(response.json()['data']['records'][0])

In [ ]:
data = pd.read_excel(r"D:\Backup\Backup 26 Mei\Settlement Project Backup\Output File\Tiktok\Running Tiktok Jan 21 - Feb 22.xlsx", sheet_name = 'Running Tiktok Jan 21 - Feb 22')

In [ ]:
data.to_csv('D:\Backup\Backup 26 Mei\Settlement Project Backup\Running Tiktok Jan 21 - Feb 22 Testing.csv', sep = ';', index = False, float_format='%g')

In [ ]:
data['Order #'] = data['Order #'].astype(str)

In [ ]:
data